.block--views-package-comparison-hero {
	$overlay-opacity: 0.5; // opacity percentage as a decimal (0 - 1), use zero for no overlay;

  .node {
    background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
  }
	.slide-image-background {
		position: relative;
		min-height: 360px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: $overlay-opacity;
		}
	}
  .field--name-field-display-title {
		line-height: 1.1;
    margin-bottom: 0;
  }
  .field--name-field-intro {
		margin-top: 20px;
    margin-top: 10px;
		font-weight: 600;
	}
  .node__content {
    max-width: 800px;
		margin: auto;
		padding: 80px 20px 60px;
		position: relative;
    text-align: center;
  }
  @include breakpoint($tab) {
		.node__content {
			min-height: 520px;
		}
		.node__content {
			@include flexbox;
			flex-direction: column;
			justify-content: center;
			padding: 20px 20px 140px
		}
		.field--name-field-display-title {
			font-size: 3.0em;
		}
		.field--name-field-intro {
			font-size: 1.5em;
		}
	}
}

.node-type-package-comparison {
	@extend %package-comparison;
  &.not-front {
    .l-breadcrumb {
  		padding: 0;
  	}
  	.l-content {
  		max-width: 1200px;
  	}
  	.l-main {
  		max-width: none;
  		margin-top: 0;
  		margin-bottom: 0;
  		padding-bottom: 40px;
  	}
  }
	.field--name-body {
		display: none;
		text-align: center;
		max-width: 820px;
		margin: 0 auto 30px;
	}

	// mobile packages
	.field--name-field-package-features {
		.toggle-wrap {
		  > * {
			transition: 1s;
			opacity: 0;
			display: none;
		  }
		  &.open {
			> * {
			  opacity: 1;
			  display: flex;
			}
		  }
		}
		.toggle {
		  font-size: 15px;
		  font-weight: bold;
		  padding-top: 25px;
		  text-transform: uppercase;
		  cursor: pointer;
		}
		.fa {
		  font-size: 17px;
		}
		@include breakpoint($tab) {
		  .toggle {
			display: none;
		  }
		}
		.field__item {
		  margin-bottom: 20px;
		  @include flexbox;
		  align-items: center;
		  font-weight: bold;
		  text-align: left;
		  border-bottom: 2px solid #f1f1f1;
		  padding: 10px;
		  margin: 0;
		  &:before {
			content: "\f05d";
			font-family: "FontAwesome";
			color: #00833d;
			font-size: 27px;
			font-weight: 300;
			margin-right: 10px;
		  }
		  @include breakpoint($tab) {
			display: none;
		  }
		}
	  }
	.node--package {
		a.button {
			display: none;
		}
		.button {
			// @extend %button;
			display: block;
			max-width: 220px;
			margin: 20px auto 0;
			@include breakpoint($tab) {
				display: none;
			}
		}
	}

	// mobile cta
	.node--cta--teaser {
		.node__title {
		  font-size: 30px;
		}
		.field--name-body {
		  display: block;
		  p {
			font-size: 23px;
			font-weight: bold;
		  }
		}
	  }
	@include breakpoint($tab) {
		.block--sprowt-block-cta {
			display: none;
		}
	}

	@include breakpoint($tab) {
		.l-main {
			padding-bottom: 60px;
		}
		.l-content {
			position: relative;
		}
		.tabs--primary {
			position: absolute;
			z-index: 100;
			top: -90px;
		}
		.field--name-body {
			display: block;
			margin-bottom: 50px;
		}
		.field--name-field-packages {
			margin-top: -70px;
			> .field__items {
				> .field__item {
					margin-top: 0;
				}
			}
		}
	}

	@include breakpoint($desk){
		.field--name-body {
			h2 {
				font-size: 2em;
			}
		}
	}
}

// comparison table
.node--package-comparison--teaser,
.bean-package-comparison-table {
	display: none;
	table {
		max-width: 1010px;
		margin: 0 auto;
		border-collapse: collapse;
    border: 0;
		thead {
			th {
				width: 25%;
				&[scope=row] {
					text-align: left;
					padding: 20px 5px 20px 35px;
					.select-package {
						font-size: 1.35em;
						line-height: .9;
						font-weight: 600;
					}
					.questions {
						display: block;
						font-style: italic;
					}
				}
				&[scope=col] {
					font-size: 1.1em;
					line-height: 22px;
					font-weight: bold;
					vertical-align: middle;
				}
			}
			tr:nth-child(2) { // price per month row
				height: 60px;
				td {
					vertical-align: middle;
					font-size: 1.1em;
					font-weight: 600;
					.package-price {
						font-size: 1.5em;
						line-height: 1;
						font-weight: bold;
						position: relative;
						padding-left: 5px;
						&:before {
							@include faicon('\F155');
							font-size: 15px;
							font-weight: 600;
							position: absolute;
							left: -5px;
					    top: 50%;
					    transform: translateY(-50%);
						}
					}
					.initial-fee {
						display: block;
						font-size: .75em;
						font-weight: 400;
						font-style: italic;
					}
				}
			}
		}
		tbody {
			td {
				vertical-align: middle;
			}
		}
		th, td {
			text-align: center;
			border: solid 2px;
		}
		.row-heading {
			text-align: right;
			font-weight: 600;
			padding-right: 40px;
			line-height: 1.25em;
		}
		.package-buttons {
			td {
				padding: 20px;
				border: none;
			}
			.button {
				width: 100%;
			}
		}
	}
	@include breakpoint($tab) {
		display: block;
	}
}

// package comparison CTA field
.block--views-package-comparison-cta {
	margin: 50px auto 0;
	text-align: center;
	max-width: 1000px;
	.button {
		margin-top: 20px;
		min-width: 220px;
	}
	@include breakpoint($tab) {
		.button {
			margin-top: 0;
		}
	}
}
