.l-header {
	background: palette(primary, base);
	color: palette(white, pure);
	@include breakpoint($tab) {
    border-color: palette(white, pure);
	}
}

//front page header styling
.front {
	.l-header {
		background-image: $design-hero-bg, linear-gradient(to top, #0c5cad 350px, palette(primary, base) 350px);
	}
	.l-region--header-third {
		@include breakpoint($desk) {
			background-image: $design-border-bg;
		}
	}
}
