%button {
  background: $color-brand-primary;
  &:hover {
    background: $color-brand-primary-dark;
  }
}

.button {
  @extend %button;
}

.more-link {
  @extend %button;
  background: $color-brand-secondary;
  &:hover {
    background: $color-brand-secondary-dark;
  }
}
