.block--nav-utility-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  .menu {
    @include flexbox;
    justify-content: center;
    li {
      @include flexbox;
      justify-content: center;
      align-items: center;
      flex: 1 0 0px;
      text-align: center;
      a {
        @include flexbox;
        justify-content: center;
        align-items:center;
        width: 100%;
        padding: 15px 5px;
        font-weight: 600;
        &[href^='tel:'] {
          &:before {
            @include faicon($fa-var-phone);
            padding-right: 10px;
            font-size: 1.25em;
          }
        }
      }
    }
  }
  @include breakpoint($tab) {
    display: none;
  }
}
