.bean-video-bean {
  position: relative; }
  .bean-video-bean .field--name-field-video-name {
    color: #fff;
    width: 75%;
    text-align: center;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.15;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-57%);
    z-index: 10; }
  .bean-video-bean .video-modal img {
    min-height: 250px;
    max-width: 200%; }
  .bean-video-bean .play-button {
    top: 60%; }
    .bean-video-bean .play-button i {
      font-size: 2.5em;
      padding-bottom: 5px; }
    .bean-video-bean .play-button span {
      text-transform: uppercase; }
  @media (min-width: 768px) {
    .bean-video-bean .field--name-field-video-name {
      font-size: 1.875em;
      line-height: 1.25; }
    .bean-video-bean .video-modal img {
      max-width: 100%; } }
  @media (min-width: 1024px) {
    .bean-video-bean .field--name-field-video-name {
      width: auto;
      font-size: 2.25em;
      top: 43%; }
    .bean-video-bean .play-button {
      top: 56%; } }
