// header
.block--logo-block-logo {
  @include flexbox;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  .block__content {
    margin-right: 65px;
    a{
      img{
        max-width: 360px;
        max-height: 93px;
        height: auto;
        width: 206px;
        @extend %image-hover;
      }
    }
  }
  .mobile-menu-toggle {
    @include flexbox;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    i {
      font-size: 1.5em;
    }
    &.open i:before {
      @include faicon('\F00D');
    }
  }
  .tablet-menu-toggle {
    display: none;
  }
  @include breakpoint($tab) {
    margin-left: 45px;
    padding: 15px 20px;
    padding-left: 0;
    width: auto;
    .block__content {
      margin: 0;
      a{
        img{
          height: auto;
          width: 300px;
        }
      }
    }
    .mobile-menu-toggle {
      display: none;
    }
    .tablet-menu-toggle {
      @include flexbox;
      align-items: center;
      margin-left: auto;
      font-weight: 600;
      margin-right: percentage(150/1880);
      cursor: pointer;
      i {
        font-size: 1.25em;
        margin-right: 15px;
      }
    }
  }
  @include breakpoint($nav) {
    display: block;
    margin-left: 0;
    width: auto;
    .block__content{
      margin-right: 100px;
      a{
        img{
          min-width: 360px;
          min-height: 93px;
          height: 100%;
          width: 100%;
        }
      }

    }
    .tablet-menu-toggle {
      display: none;
    }
  }
}

// footer
.block--logo {
  margin: 20px 0;
  padding: 0 20px 0 0;
  text-align: center;
  @include breakpoint($desk) {
    text-align: left;
  }
}
