.block--views-services-all, .block--views-services-all-mobile {
  .node__title {
    @extend h3;
  }
}

.not-front {
  .block--views-services-all {
    div.more-link {
      display: none;
    }
  }
}

// homepage service listing
.front {
  .block--views-services-all, .block--views-services-all-mobile {
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    .block__title{
      font-size: 21px;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        margin: auto;
        width: 180px;
        height: 6px;
        background-color: #65a43c;
      }
    }
    .view-header{
      h3{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
        margin-top: 50px;
      }
    }
    .view-content {
      @include flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .views-row{
        max-width: 275px;
        flex: 1 1 50%;
        margin-top: 30px;
        .node--service--teaser, .node--service--alt-teaser{
          padding: 15px;
          @include flexbox;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: solid 4px transparent;
          header{
            @include flexbox;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .field--name-field-icon {
            border-radius: 50%;
            padding: 25px;
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            img {
              max-width: 55px;
              max-height: 160px;
            }
          }
          .node__title{
            font-size: 19px;
            font-weight: 600;
            line-height: 1.36;
            letter-spacing: .1px;
            margin-bottom: 15px;
          }
          .field--name-body{
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: .1px;
            .more-link{
              font-size: 17px;
              font-weight: 600;
              text-align: center;
              text-transform: uppercase;
              padding-top: 40px;
              &:after{
                @include faicon('\f101');
                font-size: 19px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
    .view-footer{
      text-align: center;
      padding-top: 45px;
      a{
        padding: 20px 80px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .2px;
      }
    }
    .view-services > .more-link {
      display: block;
      font: inherit;
      font-size: 17px;
      font-weight: 600;
      text-transform: capitalize;
      outline: 0;
      line-height: normal;
      letter-spacing: .2px;
      max-width: 300px;
      margin: 60px auto 0;
      text-align: center;
      a {
        padding: 15px 30px;
        border-radius: 25px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    @include breakpoint($tab){
      max-width: 1350px;
      .block__title{
        font-size: 21px
      }
      .view-header{
        h3{
          font-size: 36px;
        }
      }
      .view-content{
        padding: 0;
        margin-left: -20px;
        .views-row{
          + .views-row {
            padding-top: 0;
            margin-left: 20px;
          }
          .node--service--teaser, .node--service--alt-teaser{
            min-height: 415px;
            .field--name-field-icon {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
    }
    @include breakpoint($desk) {
      .view-header{
        h3{
          font-size: 42px;
        }
      }
      .view-content{
        .views-row{
          max-width: 350px;
          .node--service--teaser, .node--service--alt-teaser{
            min-height: auto;
            .field--name-field-icon {
              width: 172px;
              height: 172px;
              img {
                max-width: 84px;
                max-height: 117px;
              }
            }
            .node__title{
              font-size: 21px;
              font-weight: 700;
            }
          }
        }
      }
    }
    @include breakpoint(1160px){
      .view-content{
        .views-row{
          flex: 1 1 auto;
        }
      }
    }
  }
}

.front {
  .block--views-services-all.block--list, .block--views-services-all-mobile.block--list {
    .views-row {
      margin-top: 30px;
      border-top: none;
    }
  }
}

//our services listing
.block--views-services-our-services{
  .view-content{
    .views-row{
      padding: 40px 0;
      border-bottom: 2px solid;
      &:last-of-type{
        border-bottom: none;
      }
    }
  }
}

.node--service--quinary-teaser{
  @include flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  header{
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .field--name-field-icon{
    height: 110px;
    width: 110px;
    @include flexbox;
    justify-content: center;
    align-items: center;
    @extend %image-hover;
    .field__item{
      img{
        width: auto;
      }
    }
  }
  .node__content{
    @include flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .node__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: .1px;
    margin-bottom: 15px;
  }
  .field--name-body{
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: .1px;
    .more-link {
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.2px;
      margin: 20px auto 0;
      max-width: 225px;
      &:after{
        @include faicon('\f178');
        padding-left: 7px;
      }
    }
  }
  @include breakpoint($tab){
    flex-direction: row;
    justify-content: flex-start;
    header{
      margin-right: 30px;
    }
    .node__content{
      align-items: flex-start;
    }
    .field--name-body{
      text-align: left;
      .more-link{
        text-align: left;
        margin: 20px 0 0;
      }
    }
  }
}
