// homepage
.block--views-special-offers-front2{
  .view{
    @include flexbox;
    flex-direction: column;
  }
  .view-header{
    max-width: 375px;
    // margin: 0 20px;
    text-align: left;
    padding-bottom: 35px;
    h2{
      font-size: 21px;
      font-weight: bold;
      line-height: 1.1;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        right: auto;
        width: 180px;
        height: 5px;
        background-color: #65a43c;
      }
      @include breakpoint($tab) {
        font-size: 21px;
      }
    }
    h3 {
      text-transform: capitalize;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.1;
      margin-top: 70px;
      @include breakpoint($tab) {
        font-size: 42px;
      }
    }
    p + p{
      margin-top: 40px;
    }
    p{
      font-size: 18px;
      line-height: 1.67;
      a{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: .2px;
        &:after{
          @include faicon('\f178');
          padding-left: 7px;
        }
      }
    }
  }
  .view-content{
    @include flexbox;
    flex-direction: column;
    // margin: 0 20px;
    .views-row{
      box-shadow: 0 29px 49.2px 10.8px rgba(0, 0, 0, 0.18);
    }
  }
  @include breakpoint($tab) {
    padding: 0;
    .view-header{
      // margin: 0 50px;
      max-width: 580px;
    }
    .view-content{
      flex-direction: row;
      .views-row{
        width: 390px;
        min-height: 380px;
        + .views-row {
          margin-left: 20px;
        }
      }
    }
  }
  @include breakpoint($desk){
    .view-content{
      // margin: 0 50px;
      .views-row{
        &:hover{
          box-shadow: 0 29px 49.2px 10.8px rgba(0, 0, 0, 0.18);
        }
        &:first-of-type{
          margin-left: 0;
        }
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
  @include breakpoint(1170px) {
    .view{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .view-header{
      max-width: 415px;
      margin: 0;
      text-align: left;
      padding-bottom: 0;
      padding-right: 5px;
    }
    .view-content {
      margin: 0;
      .views-row {
        width: 390px;
      }
    }
  }
}


//sidebars
.block--views-special-offers-sidebar-sec, .block--views-096cf025523abc0c052989875f4f93fe{
  max-width: 305px;
  padding: 0;
  margin: 0 auto;
  @include breakpoint($tab) {
    padding: 0;
    .view-content{
      .views-row{
        min-width: 305px;
        min-height: 375px;
      }
    }
  }
}


// full page listing
.node-type-page.section-special-offers.enhanced, .node-type-page.section-coupons.enhanced{
  .l-main{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .node--page{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    .node__title{
      font-size: 30px;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 1.1;
      letter-spacing: .4px;
    }
    .field--name-field-subtitle{
      font-size: 19px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    .field--name-body{
      margin-bottom: 45px;
    }
  }
  @include breakpoint($tab){
    .l-main{
      max-width: 1250px;
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .l-content{
      max-width: 1250px;
    }
    .node--page{
      .node__title{
        font-size: 36px;
      }
    }
  }
  @include breakpoint($desk){
    .l-main{
      padding: 0 5px;
      margin-top: 3em;
      margin-bottom: 3em;
    }
    .node--page{
      .node__title{
        font-size: 42px;
      }
    }
  }
}

.block--views-special-offers-all-enhanced, .block--views-3a8319097bcee7958bed28c69e6f77ee{
  // exposed filter section
  .view-filters{
    margin-bottom: 60px;
    .views-exposed-widgets{
      @include flexbox;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .views-widget-filter-field_services_tid{
      @include flexbox;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      label{
        order: 1;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        padding: 5px 0;
        padding-right: 7px;
      }
      .views-widget{
        order: 3;
        padding: 5px 0;
        select{
          border-radius: 0 !important;
          border: solid 3px;
          font-size: 16px;
          font-weight: 600;
          height: 45px;
          width: 275px;
        }
      }
      .description{
        order: 2;
        font-size: 18px;
        line-height: 1.5;
        padding: 5px 0;
        padding-right: 20px;
      }
    }
    .views-submit-button{
      input{
        margin: 0;
        padding: 10px 30px;
      }
    }
  }

  // offers section
  .block__title{
    display: none;
  }
  .view{
    @include flexbox;
    flex-direction: column;
  }
  .view-content{
    @include flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .views-row{
      box-shadow: 0px 5px 17px 3px rgba(51, 51, 51, 0.2);
      margin: 0 auto 20px;
    }
  }
  @include breakpoint($tab){
    .view-content{
      flex-direction: row;
      margin: 0 30px;
      .views-row{
        flex: 1 0 50%;
        margin: 0 12px 20px;
      }
    }
  }
  @include breakpoint($desk){
    .view-content{
      margin: 0;
      justify-content: center;
      .views-row{
        flex: 1 0 31.33%;
        max-width: 389px;
      }
    }
  }
}
