//front testimonials
.block-front-testimonials{
  padding: 55px 20px;
  max-width: $container;
  margin: 0 auto;
  .block__title{
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
    position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        width: 180px;
        height: 6px;
        background-color: #65a43c;
      }
  }
 .block__content{
   .view-header{
     text-align: center;
     h2{
       font-family: $font-body;
       font-size: 32px;
       font-weight: 700;
       line-height: 1;
       text-align: center;
       text-transform: capitalize;
       padding-top: 35px;
     }
   }
   .view-content{
     padding-top: 35px;
     @include flexbox;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     .views-row{
       .node--testimonial--teaser{
         padding: 15px 30px;
         max-width: 380px;
         min-height: 305px;
         border-top: solid 9px;
         .reviewer{
           @include flexbox;
           div{
             font-size: 16px;
             font-weight: 600;
             font-style: normal;
             line-height: 2;
           }
           .field--title{
             font-size: 21px;
             font-weight: bold;
           }
           .field--name-field-market{
             .field__item{
               &:before{
                 content: ",";
                 padding-right: 7px;
               }
             }
           }
         }
         .field--name-body{
           p{
             font-size: 18px;
             line-height: 1.78;
           }
         }
       }
     }
   }
   .more-link{
     text-align: center;
     margin-top: 55px;
     a{
       font-weight: 600;
       text-transform: uppercase;
     }
   }
 }
 @include breakpoint($tab){
   .block__title{
     text-align: center;
   }
   .block__content{
     .view-header{
       h2{
         font-size: 36px;
         text-align: center;
       }
     }
     .view-content{
       .views-row{
         .node--testimonial--teaser{
           max-width: 340px;
           min-height: 345px;
           margin: 0 10px;
           .reviewer{
             display: block;
             padding: 5px 0 15px;
             div{
               line-height: 1;
             }
             .field--name-field-market{
               .field__item{
                 &:before{
                   content: '';
                   padding-right: 0;
                 }
               }
             }
           }
         }
       }
     }
   }
 }
 @include breakpoint($desk){
   padding: 55px 0;
   .block__content{
     .view-header{
       h2{
         font-size: 42px;
       }
     }
     .view-content{
       justify-content: space-around;
       .views-row{
         .node--testimonial--teaser{
           max-width: 340px;
           min-height: 305px;
           margin: 0;
           box-shadow: none;
           &:hover{
             box-shadow: 0 29px 49.2px -19.2px rgba(0, 0, 0, 0.18);
           }
           .reviewer{
             @include flexbox;
             padding: 0;
             div{
               line-height: 2;
             }
             .field--name-field-market{
               .field__item{
                 &:before{
                   content: ",";
                   padding-right: 7px;
                 }
               }
             }
           }
         }
       }
     }
   }
 }
}

%block--testimonials-sidebar {
  padding: 30px;
  .block__title {
    font-family: $font-body;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .fa-star {
    font-size: 14px;
  }
  .field--title,
  [itemprop="reviewRating"] {
    text-align: center;
  }
  .node--testimonial {
    .field--name-body {
      margin-bottom: 0;
      text-align: center;
      p {
        font-size: 19px;
        line-height: 1.79;
        &:before,
        &:after {
          content: '"';
        }
      }
    }
  }
  .field--title,
  .field--name-field-market {
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
  }
  @include breakpoint($tab) {
    padding: 40px 30px;
  }
}

.block--testimonials-sidebar {
  @extend %block--testimonials-sidebar;
}

.block--views-testimonials-random {
  @extend %block--testimonials-sidebar;
}

// LTP testimonial
.local-target-testimonial {
  .block__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    font-size: 1.5em;
    text-align: center;
  }
  .field--name-body {
    font-size: 0.8em;
    p {
      &:before,
      &:after {
        content: '"';
      }
    }
  }
  .field--title,
  .field--name-field-market {
    font-size: 15px;
  }
  @include breakpoint($tab) {
    .field--name-body {
      font-size: 1em;
    }
  }
}
