.node-ebooking {
  h1.node__title {
    color: palette(white, pure);
  }
  .l-main {
    background-color: palette(neutral, cool-gray);
    color: palette(white, pure);
  }
  .form-item {
    label {
      color: palette(black, pure);
    }
  }
  .date-option {
    .fieldset-legend:after {
      color: #f00;
    }
  }
}

.node-ebooking.processed {
  .panel {
    background-color: palette(white, pure);
  }
  .step-number {
    color: palette(primary, base);
  }
  .webform-component-markup[class*="title"] {
    h2, h3 {
      @extend %ebooking-panel-title;
    }
  }
  div[class*="if-business"] {
    background-color: palette(neutral, wild-sand);
    border-color: palette(primary, base);
  }
  .validation-error {
    background-color: #feefef;
    border-color: #fe2a2a;
    color: #2f2f2f;
    span {
      &:before {
        color: #fe2a2a;
      }
    }
  }
  .button {
    &.inactive {
      background-color: #bebebe;
    }
  }
  .basic-form {
    color: palette(primary, base);
    &:hover {
      color: palette(primary, dark);
    }
  }
  // package styling - this will likely change once we pull in packages as nodes
  .webform-component-optionsmarkup {
    @extend %ebooking-package;
  }
  .ebooking_summary {
    @extend %ebooking-panel;
    color: palette(black, pure);
  }
}

.node-ebooking.basic-form {
  .webform-component-markup {
    color: palette(black, pure);
  }
  .panel-form {
    color: palette(white, pure);
  }
}
