div.entity-paragraphs-item.plan-info-concerns {
    background-color: palette(white, pure);
    .paragraphs-item-body {
        background: palette(white, pure);
        .scm-links {
            a {
                color: palette(secondary, base);
                &:after{
                  color: palette(primary, base);
                }
            }
        }
    }

    .paragraphs-item-plan-information {
        .header {
            color: palette(secondary, base);
        }
        .field--name-field-plan-features {
            color: palette(secondary, base);
            .field__item:before{
              color: palette(primary, base);
            }
        }
        .field--name-field-intro{
          .concern-names{
            color: palette(primary, base);
          }
        }
    }

    .paragraphs-item-body {
        .content .field--name-field-intro {
            color: palette(secondary, base);
        }

        .field--name-field-header{
          background-color: palette(primary, dark);
        }
    }
}
