// branding
$color-brand-primary: #008a5b; // green
$color-brand-primary-dark: #057c56;
$color-brand-primary-light: #b4f8c3;
$color-brand-primary-darkest: #016f4a;
$color-brand-secondary: #f6943d; // orange
$color-brand-secondary-dark: darken($color-brand-secondary, 10);
$color-brand-tertiary: #fff697; // yellow
$color-brand-tertiary-dark: #fad861;

// affiliations background color
$color-neutral-1: #eee;

// gradients
$gradient-primary: linear-gradient($color-brand-primary, $color-brand-primary-dark);
$gradient-dark: linear-gradient(black, #333);

// base
$color-body-bg: $color-brand-primary;
$color-body-text: #333;
$color-body-link: #019e69;
$color-link: $color-brand-secondary;
$color-link-hover: $color-brand-secondary-dark;
$color-headings: $color-body-text;

// front
$color-front-content-bg: #f2f2f2;

//package page table
$color-package-table-header-1: $color-brand-secondary;
$color-package-table-header-2: $color-brand-primary;
