.block--views-localtarget-value-prop {
	$overlay-opacity: 0.8; // opacity percentage as a decimal (0 - 1), use zero for no overlay;

  .node {
    background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
  }
	.slide-image-background {
		position: relative;
		min-height: 360px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: $overlay-opacity;
		}
	}
  .field--name-field-display-title {
		line-height: 1.1;
    margin-bottom: 0;
  }
  .field--name-field-intro {
		margin-top: 20px;
    margin-top: 10px;
	}
  .node__content {
    max-width: 800px;
		margin: auto;
		padding: 80px 20px 60px;
		position: relative;
    text-align: center;
  }
  @include breakpoint($tab) {
		.slide-image-background {
			min-height: 520px;
		}
		.node__content {
			padding: 140px 20px 60px;
		}
		.field--name-field-display-title {
			font-size: 2em;
		}
	}
	@include breakpoint($desk) {
		.node__content {
			padding: 150px 20px 60px;
		}
		.field--name-field-display-title {
			font-size: 2.5em;
		}
	}
}
