.captcha {
  margin: 20px 0;
}

.captcha .fieldset-legend {
  display: none;
}

.captcha .fieldset-description {
  display: none;
}

.node--special-offer--teaser .field--name-field-expiration-date {
  margin-top: 20px;
}