
.front {
    
    .l-region--postscript-first {
        @include container;
        padding: 30px 20px;
    }
    
    
    .l-region--postscript-second {
        padding: 30px 20px;
        @include background-image($gradient-dark);
        color: white;
    }
    
    .l-region--postscript-third {
        padding: 30px 20px 20px;
        background: $color-front-content-bg;
    }
    
    .l-region--postscript-fourth {
        padding: 30px 20px;
        @include background-image($gradient-dark);
        color: white;
    }
    
    .l-footer {
        margin-top: 0;
    }
}

@include breakpoint($tab) {
    .front {
        .l-region--postscript-first {
            @include flexbox;
            @include align-content(center);
            @include justify-content(center);
            padding: 70px 0 60px;
        }
        
        .l-region--postscript-second {
            padding: 50px 20px;
        }
        
        .l-region--postscript-third {
            width: percentage(1210/1400);
            max-width: 1210px;
            margin: 50px auto;
            box-shadow: 0 0px 2px 0px rgba(black, .35);
        }
    }
}