.node--testimonial {
  [itemprop="reviewRating"] {
    margin-bottom: 1em;
    text-align: center;
  }
  .field--name-body {
    margin-bottom: 1em;
  }
  .field--name-field-market,
  .field--title {
    @extend %field--meta;
    margin-top: .5em;
  }
}
