@mixin flexslider-nav {
	.flex-control-nav {
		z-index: 51;
	}
	.flex-control-paging {
		li {
			margin: 0 8px;
			a {
				@include box-shadow(none);
				background: transparent;
				border: 2px solid white;
				&.flex-active {
					background: white;
				}
			}
		}
	}
	.flex-direction-nav {
		max-width: 1000px;
		margin: auto;
		a {
			@include text-shadow(none);
			@include background-image($color-gradient-primary);
			@include border-radius(100%);
			@include box-shadow($shadow);
			background-color: $color-brand-primary;
			z-index: 52;
			opacity: 1;
			font-size: 0;
			color: transparent;
			padding: 11px;
			&:before {
				font-family: "FontAwesome";
				font-size: 17px;
				color: white;
			}
			&:hover {
				background: $color-brand-primary;
			}
		}
		.flex-prev {
			left: 20px;
			padding-left: 12px;
			&:before {
				content: "\f053";
			}
		}
		.flex-next {
			right: 20px;
			padding-right: 12px;
			&:before {
				content: "\f054";
			}
		}
	}
	.flexslider {
		&:hover {
			.flex-direction-nav a {
				opacity: 1;
			}
		}
		.flex-direction-nav a {
			display: block;
		}
	}
}