.field--name-field-call-out {
  margin-top: 1.5em;
  padding: 20px;
  text-align: center;
  .field__items {
    margin: 0 auto;
    max-width: 600px;
  }
  h1, h2, h3, h4, h5 {
    margin-bottom: .7em;
  }
}
