.node-type-profile {
	.node--profile--full {
		.field--name-field-position {
			margin-bottom: 1em;
			font-size: 20px;
			font-style: italic;
			color: #666;
		}
		.field--name-field-image {
			display: none;
			margin: 0 auto;
			width: 50%;
			margin: 20px;
			width: 25%;
			padding-top: 5px;
			float: left;
			margin-left: 0;
			margin-top: 0;
			img {
				border-radius: 100%;
			}
			@include breakpoint($tab) {
				display: block;
			}
		}
	}
}
