.not-front .node--service {
  .field--name-field-display-title {
    line-height: 51px;
  }
  .field--name-field-image img {
    margin: 35px 0;
  }
  .field--name-field-call-out h3 {
    margin-bottom: 20px;
  }
}
