.l-region--sidebar {
	.block {
		background: palette(white, pure);
	}
	@include breakpoint($tab) {
		background: palette(white, pure);
		.block {
			&:last-child {
				border-color: palette(neutral, concrete);
			}
			+ .block {
				border-color: palette(neutral, concrete);
			}
		}
	}
}
