.node--profile--full {
  .field--name-field-image {
    img {
      border-radius: 50%;
      border: 2px solid;
    }
  }
  .flippy {
    border-top: 1px solid;
    margin: 30px 0 10px;
    padding-top: 20px;
    clear: both;
    text-align: center;
  }
  @include breakpoint($tab) {
    .field--name-field-image {
      float: right;
      margin: 0 0 20px 20px;
    }
    .flippy {
      text-align: left;
    }
  }
}
