%button {
  display: block;
  font: inherit;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  border: 2px solid;
  border-radius: 5px;
  outline: 0;
  line-height: normal;
  letter-spacing: .2px;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint($tab) {
    display: inline-block;
  }
}

.button {
  @extend %button;
}

@media print {
  %button {
    display: inline-block;
    padding: 0;
  }
}
