.front .l-main .node--page--full {
  color: #fff; }

.button {
  background-color: #47b649;
  color: #fff; }
  .button:hover, .button:focus {
    background-color: #3a933b;
    color: #fff; }

@media print {
  .button, .node--teaser .field--name-body .field__item > .more-link,
  .node--alt-teaser .field--name-body .field__item > .more-link, input[type=submit] {
    background-color: transparent !important;
    color: blue !important; } }

.node--teaser .field--name-body .field__item > .more-link,
.node--alt-teaser .field--name-body .field__item > .more-link {
  background-color: #47b649;
  color: #fff; }
  .node--teaser .field--name-body .field__item > .more-link:hover, .node--teaser .field--name-body .field__item > .more-link:focus,
  .node--alt-teaser .field--name-body .field__item > .more-link:hover,
  .node--alt-teaser .field--name-body .field__item > .more-link:focus {
    background-color: #3a933b;
    color: #fff; }

.flexslider {
  background-color: transparent; }

input, textarea, select {
  background-color: #fff;
  border-color: #e1e1e1 !important; }
  input:focus, textarea:focus, select:focus {
    border-color: #707972; }

input[type=submit] {
  background-color: #47b649;
  color: #fff; }
  input[type=submit]:hover, input[type=submit]:focus {
    background-color: #3a933b;
    color: #fff; }

table {
  background-color: #ddd; }

th {
  background-color: #e9b404;
  color: #fff; }

td {
  background-color: #fff; }

body {
  color: #58595b; }

a {
  color: #47b649; }
  a:hover {
    color: #e9b404; }

h1 {
  color: #58595b; }

h2 {
  color: #373d38; }

h3 {
  color: #373d38; }

h4 {
  color: #373d38; }

blockquote {
  border-left-color: #47b649; }

hr {
  border-bottom-color: #dddddd; }

.block--grid .node {
  background-color: #f4f4f4; }

.block--list .views-row + .views-row {
  border-top-color: #e1e1e1; }

.block--views-affiliates-list {
  background-color: #fff; }
  .block--views-affiliates-list .block__title {
    color: #373d38; }

.bean-anchor-link-bean {
  background-color: #e9b404;
  color: #373d38; }
  .bean-anchor-link-bean a {
    color: #373d38; }
    .bean-anchor-link-bean a:before {
      color: #47b649; }
    .bean-anchor-link-bean a:after {
      background-color: #47b649; }

.benefits-hero,
.local-target-benefits {
  background-color: #f4f4f4; }
  .benefits-hero .node,
  .local-target-benefits .node {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
  .benefits-hero .node__title,
  .local-target-benefits .node__title {
    color: #47b649; }
    .benefits-hero .node__title a,
    .local-target-benefits .node__title a {
      color: #47b649; }
      .benefits-hero .node__title a:hover,
      .local-target-benefits .node__title a:hover {
        color: #e9b404; }
  .benefits-hero .field--name-field-image img,
  .local-target-benefits .field--name-field-image img {
    border-color: #fff;
    background-color: #fff; }
  .benefits-hero .read-more,
  .local-target-benefits .read-more {
    color: #373d38; }
    .benefits-hero .read-more:after,
    .local-target-benefits .read-more:after {
      color: #e9b404; }
    .benefits-hero .read-more:hover,
    .local-target-benefits .read-more:hover {
      color: #e9b404; }

.front--solutions-finder .block--views-benefits-front, .front--solutions-finder .local-target-benefits, .ltp--solutions-finder .block--views-benefits-front, .ltp--solutions-finder .local-target-benefits {
  background-color: #fff; }

.node--concern--alt-teaser .field--name-field-icon-file {
  background: #47b649; }
  .node--concern--alt-teaser .field--name-field-icon-file svg .cls-1 {
    fill: #fff; }

.node--concern--alt-teaser .node__title {
  color: #47b649; }

.node--concern--teaser .field--name-field-icon-file {
  background: #47b649; }
  .node--concern--teaser .field--name-field-icon-file svg .cls-1 {
    fill: #fff; }

.node--concern--teaser .content .node__title a {
  color: #fdd244; }
  .node--concern--teaser .content .node__title a:hover {
    color: #47b649; }

.block--views-ref-seas-blocks-seasonal-block .block__title {
  color: #47b649; }

.block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns {
  background-color: #47b649;
  border-color: #e1e1e1; }
  .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file {
    background-color: transparent; }
    .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file svg .cls-1 {
      fill: #47b649; }
  .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .node__title {
    color: #47b649; }
  .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser:hover .field--name-field-icon-file {
    background-color: #47b649; }
    .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser:hover .field--name-field-icon-file svg .cls-1 {
      fill: #fff; }
  .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser:hover .node__title {
    color: #e9b404; }

.block--sprowt-settings-sprowt-copyright {
  color: #707972; }

.l-region--postscript-third .block--sprowt-block-cta {
  background-color: #e9b404;
  color: #fff; }
  .l-region--postscript-third .block--sprowt-block-cta a {
    color: inherit; }
  .l-region--postscript-third .block--sprowt-block-cta .node__title {
    color: inherit; }
  .l-region--postscript-third .block--sprowt-block-cta .button {
    background-color: #fff;
    color: #373d38; }
    .l-region--postscript-third .block--sprowt-block-cta .button:hover, .l-region--postscript-third .block--sprowt-block-cta .button:focus {
      background-color: #47b649;
      color: #fff; }

.block--form-sidebar {
  border-color: #f4f4f4;
  background-color: #fff;
  color: #707972; }
  .block--form-sidebar .block__title {
    color: #e9b404; }
  .block--form-sidebar label {
    color: #707972; }

.local-target-webform {
  background-color: #3a4648; }
  .local-target-webform .block__content {
    color: #eee; }
  .local-target-webform .node__title {
    color: #fff; }

.sidebar .block--views-learning-center-issue-links {
  background: #fdd244; }
  .sidebar .block--views-learning-center-issue-links h3 {
    color: #fff; }
    .sidebar .block--views-learning-center-issue-links h3 span {
      color: #eee; }
  .sidebar .block--views-learning-center-issue-links a {
    color: #fff; }
    .sidebar .block--views-learning-center-issue-links a:hover {
      color: #47b649; }

.block--views-localtarget-map-reviews h2 {
  background-color: #e9b404;
  color: #fff; }

.block--views-localtarget-map-reviews h3:before {
  color: #47b649; }

.block--views-localtarget-map-reviews .location-content {
  background-color: #fff; }

.block--views-localtarget-map-reviews .reviews-links {
  background-color: #fff; }
  .block--views-localtarget-map-reviews .reviews-links .field__item:before {
    color: #e9b404; }
  .block--views-localtarget-map-reviews .reviews-links .field__item + .field__item {
    border-top-color: #dddddd; }

.block--views-locations-list {
  color: #47b649; }
  .block--views-locations-list a {
    color: inherit; }
    .block--views-locations-list a:hover {
      color: inherit; }
  .block--views-locations-list h2 {
    color: #47b649; }
  @media (min-width: 768px) {
    .block--views-locations-list .field-street-address,
    .block--views-locations-list .field-locality, .block--views-locations-list .field-phone-number {
      border-left-color: #47b649; } }

.block--logo-block-logo .mobile-menu-toggle i {
  color: #47b649; }

@media (min-width: 768px) {
  .block--logo-block-logo .tablet-menu-toggle {
    color: #555555; }
    .block--logo-block-logo .tablet-menu-toggle i {
      color: #47b649; } }

.block-areas-map {
  background-color: #3a4648; }
  .block-areas-map .block__title {
    color: #fff; }
  .block-areas-map .block__content {
    color: #eee; }
  .block-areas-map ul a {
    color: #fff; }
    .block-areas-map ul a:hover {
      color: #e9b404; }
  .block-areas-map ul a::before {
    color: #e9b404; }

.block--views-packages-services .block__title,
.block--views-packages-localtarget .block__title {
  background-color: #47b649;
  color: #fff; }

.block--views-packages-services .view-content,
.block--views-packages-localtarget .view-content {
  border-color: #f4f4f4; }

.block--views-packages-services .views-row-odd,
.block--views-packages-localtarget .views-row-odd {
  background-color: #f4f4f4; }

.block--views-packages-services .views-row-even,
.block--views-packages-localtarget .views-row-even {
  background-color: white; }

.block--views-packages-services .node__title a,
.block--views-packages-localtarget .node__title a {
  color: #47b649; }
  .block--views-packages-services .node__title a:hover,
  .block--views-packages-localtarget .node__title a:hover {
    color: #e9b404; }

.block--views-packages-services .field--name-body .field__item .more-link,
.block--views-packages-localtarget .field--name-body .field__item .more-link {
  background-color: #47b649;
  color: #fff; }
  .block--views-packages-services .field--name-body .field__item .more-link:hover,
  .block--views-packages-localtarget .field--name-body .field__item .more-link:hover {
    background-color: #e9b404; }

.block--views-packages-services.block--grid .view-content,
.block--views-packages-localtarget.block--grid .view-content {
  background-color: #f4f4f4; }

.block--views-packages-services.block--grid .node,
.block--views-packages-localtarget.block--grid .node {
  background-color: transparent; }

.block--views-team-list.block--grid .node {
  background-color: transparent; }

.block--views-team-list.block--grid .field--name-field-image img {
  background-color: #fff;
  border-color: #eee; }

.block--views-services-front-all .block__content:before {
  background-color: #151616; }

.block--views-services-front-all .node:before {
  background-color: #151616; }

.block--views-services-front-all .node__title a {
  color: #fff; }
  .block--views-services-front-all .node__title a:hover {
    color: #e9b404; }

.block--views-services-front-all .node__content {
  color: #fff; }

.block--views-services-front-all .more-link {
  background-color: #e9b404;
  color: #fff; }
  .block--views-services-front-all .more-link:hover, .block--views-services-front-all .more-link:focus {
    background-color: #fdd244;
    color: #fff; }

.front .block--views-services-all .views-row {
  border-color: #fdd244; }

.front .block--views-services-all .node__title a {
  color: #fff; }
  .front .block--views-services-all .node__title a:hover {
    color: #47b649; }

.front .block--views-services-all .more-link.more-link {
  background-color: #47b649;
  color: #fff; }
  .front .block--views-services-all .more-link.more-link:hover {
    background-color: #3a933b;
    color: #fff; }

.front .block--views-services-all .field--name-body {
  color: #fff; }

.block--views-slideshow-front .node--slide,
.block--views-slideshow-localtarget .node--slide {
  background-color: #151616; }

.block--views-slideshow-front .slide-image:before,
.block--views-slideshow-localtarget .slide-image:before {
  background-color: #151616; }

.block--views-slideshow-front .slide-content,
.block--views-slideshow-localtarget .slide-content {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4); }

.block--views-slideshow-front .node__title,
.block--views-slideshow-localtarget .node__title {
  color: #fff; }

.block--views-slideshow-front .flex-direction-nav a:before,
.block--views-slideshow-localtarget .flex-direction-nav a:before {
  color: rgba(255, 255, 255, 0.7); }

.block--views-slideshow-front .field--name-body,
.block--views-slideshow-localtarget .field--name-body {
  color: #fff; }

.block--views-slideshow-front .button,
.block--views-slideshow-localtarget .button {
  background-color: #e9b404;
  text-shadow: none; }
  .block--views-slideshow-front .button:hover,
  .block--views-slideshow-localtarget .button:hover {
    background-color: #fdd244; }

.block--sprowt-settings-sprowt-social-media .block__content a {
  background-color: #47b649;
  color: #fff; }
  .block--sprowt-settings-sprowt-social-media .block__content a:hover {
    background-color: #3a933b; }

.block--views-special-offers-sidebar,
.block--views-special-offers-related-s4,
.block--views-special-offers-related-2 {
  background-color: #fff;
  border-color: #f4f4f4; }
  .block--views-special-offers-sidebar .block__title,
  .block--views-special-offers-related-s4 .block__title,
  .block--views-special-offers-related-2 .block__title {
    color: #58595b; }
  .block--views-special-offers-sidebar .views-row,
  .block--views-special-offers-related-s4 .views-row,
  .block--views-special-offers-related-2 .views-row {
    border-color: #f4f4f4; }
  .block--views-special-offers-sidebar .node__title,
  .block--views-special-offers-related-s4 .node__title,
  .block--views-special-offers-related-2 .node__title {
    color: #47b649; }
  .block--views-special-offers-sidebar .node__content,
  .block--views-special-offers-related-s4 .node__content,
  .block--views-special-offers-related-2 .node__content {
    color: #707972; }

.block--views-special-offers-list .node {
  border-color: #dddddd; }

.block-special-offers-intro .block__title {
  color: #373d38; }

.block--views-special-offers-front .block__title,
.block--views-special-offers-front-slideshow .block__title,
.local-target-special-offer .block__title,
.block--views-special-offers-ltp-slideshow .block__title {
  color: #373d38; }

.block--views-special-offers-front .node,
.block--views-special-offers-front-slideshow .node,
.local-target-special-offer .node,
.block--views-special-offers-ltp-slideshow .node {
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); }
  .block--views-special-offers-front .node:after,
  .block--views-special-offers-front-slideshow .node:after,
  .local-target-special-offer .node:after,
  .block--views-special-offers-ltp-slideshow .node:after {
    background-color: #e9b404;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); }

.block--views-special-offers-front .node__title,
.block--views-special-offers-front-slideshow .node__title,
.local-target-special-offer .node__title,
.block--views-special-offers-ltp-slideshow .node__title {
  color: #47b649; }

.block--views-special-offers-front .coupon-wrap,
.block--views-special-offers-front-slideshow .coupon-wrap,
.local-target-special-offer .coupon-wrap,
.block--views-special-offers-ltp-slideshow .coupon-wrap {
  border-color: #dddddd; }
  .block--views-special-offers-front .coupon-wrap:before,
  .block--views-special-offers-front-slideshow .coupon-wrap:before,
  .local-target-special-offer .coupon-wrap:before,
  .block--views-special-offers-ltp-slideshow .coupon-wrap:before {
    background-color: #fff; }

.block--views-special-offers-front .button,
.block--views-special-offers-front-slideshow .button,
.local-target-special-offer .button,
.block--views-special-offers-ltp-slideshow .button {
  background-color: transparent;
  color: #373d38; }
  .block--views-special-offers-front .button:after,
  .block--views-special-offers-front-slideshow .button:after,
  .local-target-special-offer .button:after,
  .block--views-special-offers-ltp-slideshow .button:after {
    color: #e9b404; }
  .block--views-special-offers-front .button:hover,
  .block--views-special-offers-front-slideshow .button:hover,
  .local-target-special-offer .button:hover,
  .block--views-special-offers-ltp-slideshow .button:hover {
    color: #e9b404; }

.block--views-special-offers-all-enhanced .view-content .views-row, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content .views-row {
  background: #fff; }

.block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid label, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid label {
  color: #3a933b; }

.block--views-special-offers-all-enhanced .view-filters .views-submit-button input, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-submit-button input {
  border-color: #47b649 !important; }

.block--testimonials-sidebar, .block--views-testimonials-random {
  background-color: #fff;
  border-color: #f4f4f4; }
  .block--testimonials-sidebar .block__title, .block--views-testimonials-random .block__title {
    color: #58595b; }
  .block--testimonials-sidebar .node__content, .block--views-testimonials-random .node__content {
    color: #707972; }
  .block--testimonials-sidebar .fa-star, .block--views-testimonials-random .fa-star {
    color: #47b649; }

.block--views-testimonials-front .block__content,
.local-target-testimonial .block__content {
  color: #373d38; }

.block--views-testimonials-front .rating,
.local-target-testimonial .rating {
  color: #47b649; }

.block--views-testimonials-front .field--title,
.block--views-testimonials-front .field--name-field-market,
.local-target-testimonial .field--title,
.local-target-testimonial .field--name-field-market {
  font-size: 15px;
  color: #47b649; }

.local-target-testimonial {
  background-color: #47b649; }
  .local-target-testimonial .fa-star {
    color: #fff; }
  .local-target-testimonial .block__content,
  .local-target-testimonial .field--title,
  .local-target-testimonial .field--name-field-market {
    color: #fff; }

.front--solutions-finder .block--views-testimonials-front {
  background-color: #f4f4f4; }

.field--name-field-call-out {
  padding: 20px;
  background-color: #47b649;
  color: #fff; }
  .field--name-field-call-out h1, .field--name-field-call-out h2, .field--name-field-call-out h3, .field--name-field-call-out h4, .field--name-field-call-out h5 {
    color: #fff; }
  .field--name-field-call-out .button {
    background-color: #e9b404; }
    .field--name-field-call-out .button:hover {
      background-color: #fdd244; }

.not-front .l-breadcrumb {
  background-color: #e9b404;
  color: #fff; }
  .not-front .l-breadcrumb a {
    color: inherit; }
    .not-front .l-breadcrumb a:hover {
      color: #e6e6e6; }

.block--nav-main .menu-block-wrapper a, .block--nav-main .menu-block-wrapper .nolink {
  background-color: #394548;
  color: #fff; }
  .block--nav-main .menu-block-wrapper a.open, .block--nav-main .menu-block-wrapper .nolink.open {
    background-color: #303739; }

.block--nav-main .menu-block-wrapper > .menu > li {
  border-bottom-color: #4a595d; }

.block--nav-main .menu-block-wrapper .active,
.block--nav-main .menu-block-wrapper .active-trail {
  color: #47b649; }

.block--nav-main.menu-processed .expanded .menu a, .block--nav-main.menu-processed .expanded .menu .nolink,
.block--nav-main.menu-processed .leaf .menu a,
.block--nav-main.menu-processed .leaf .menu .nolink {
  background-color: #303739; }

.block--nav-main.menu-processed .menu-child-toggle {
  background-color: #303739; }
  .block--nav-main.menu-processed .menu-child-toggle:after {
    color: #47b649; }

@media (min-width: 768px) {
  .block--nav-main {
    background-color: #394548; }
    .block--nav-main.menu-processed .block__title {
      background-color: #394548; }
      .block--nav-main.menu-processed .block__title:after {
        color: #9ca2a4;
        border-color: #4a595d; } }

@media (min-width: 1030px) {
  .block--nav-main {
    background-color: transparent;
    height: auto; }
    .block--nav-main .menu-block-wrapper a {
      background-color: #fff;
      color: #373d38; }
    .block--nav-main .menu-block-wrapper > .menu > li {
      background-color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > a {
      background-color: #fff;
      color: #000; }
    .block--nav-main .menu-block-wrapper > .menu > li.active > a,
    .block--nav-main .menu-block-wrapper > .menu > li.active-trail > a {
      color: #373d38; }
      .block--nav-main .menu-block-wrapper > .menu > li.active > a:hover,
      .block--nav-main .menu-block-wrapper > .menu > li.active-trail > a:hover {
        color: #000; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a {
      background-color: #47b649;
      color: #eee; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a:hover, .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a.active, .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a.active-trail {
        background-color: #fff;
        color: #47b649; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li.first:before {
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #47b649; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > .nolink {
      background-color: #47b649;
      color: #eee; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > .nolink:hover {
        background-color: #fff;
        color: #47b649; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li:hover > a,
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li:hover > .nolink {
      background-color: #fff;
      color: #47b649; }
    .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a {
      background-color: #47b649;
      color: #eee; }
      .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a:hover, .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a.active {
        background-color: #fff;
        color: #47b649; }
    .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > .nolink {
      background-color: #47b649;
      color: #eee; } }

.block--nav-mobile-utility .menu li:nth-of-type(odd) {
  background-color: #3a4648; }

.block--nav-mobile-utility .menu li:nth-of-type(even) {
  background-color: #516164; }

.block--nav-mobile-utility .menu li a {
  color: #fff; }

.block--nav-utility-footer .menu li.first {
  background-color: #3a4648; }

.block--nav-utility-footer .menu li.last {
  background-color: #47b649; }

.block--nav-utility-footer .menu a {
  color: #fff; }
  .block--nav-utility-footer .menu a[href^='tel:']:before {
    color: #47b649; }

.block--nav-submenu {
  background-color: #fff; }
  .block--nav-submenu .menu-block-wrapper > .menu > li + li {
    border-top-color: #f4f4f4; }
  .block--nav-submenu .menu-block-wrapper > .menu > li a,
  .block--nav-submenu .menu-block-wrapper > .menu > li .nolink {
    color: #292929;
    border-left-color: #fff; }
    .block--nav-submenu .menu-block-wrapper > .menu > li a:before,
    .block--nav-submenu .menu-block-wrapper > .menu > li .nolink:before {
      color: #47b649; }
    .block--nav-submenu .menu-block-wrapper > .menu > li a:hover,
    .block--nav-submenu .menu-block-wrapper > .menu > li .nolink:hover {
      border-left-color: #47b649; }
  .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail {
    background-color: #f4f4f4; }
    .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail a,
    .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail .nolink {
      border-left-color: #47b649; }
  .block--nav-submenu .menu-block-wrapper > .menu .menu {
    background-color: #fcfcfc; }
    .block--nav-submenu .menu-block-wrapper > .menu .menu li a,
    .block--nav-submenu .menu-block-wrapper > .menu .menu li .nolink {
      color: #707972; }
      .block--nav-submenu .menu-block-wrapper > .menu .menu li a:hover,
      .block--nav-submenu .menu-block-wrapper > .menu .menu li .nolink:hover {
        color: #292929; }
    .block--nav-submenu .menu-block-wrapper > .menu .menu li.active a {
      color: #373d38; }

.block--nav-utility {
  background-color: #47b649; }
  .block--nav-utility .menu-block-wrapper a {
    background-color: #47b649;
    color: #fff; }
  @media (min-width: 768px) {
    .block--nav-utility .menu li a:before {
      color: #fff; } }
  @media (min-width: 1030px) {
    .block--nav-utility {
      background-color: transparent; }
      .block--nav-utility .menu-block-wrapper a {
        background-color: #47b649;
        color: #fff; }
        .block--nav-utility .menu-block-wrapper a:hover, .block--nav-utility .menu-block-wrapper a:focus {
          background-color: #3a933b;
          color: #fff; }
        .block--nav-utility .menu-block-wrapper a[href^='tel:'] {
          background-color: transparent;
          color: #777777; }
          .block--nav-utility .menu-block-wrapper a[href^='tel:']:before {
            color: #47b649; }
          .block--nav-utility .menu-block-wrapper a[href^='tel:']:hover {
            color: #47b649; }
      .block--nav-utility .menu li:nth-child(1n) a[href^='tel:']:before {
        color: #47b649; } }

.block--views-city-pages-city-hero .node {
  background-color: #e9b404; }

.block--views-city-pages-city-hero .slide-image-background:before {
  background-color: #216e83; }

.block--views-city-pages-city-hero .field--name-field-display-title {
  color: #fff; }

.block--views-city-pages-city-hero .field--name-field-intro {
  color: #fff; }

.node--city-page--alt-teaser {
  background-color: #e9b404;
  color: #373d38; }
  .node--city-page--alt-teaser a {
    color: #373d38; }
    .node--city-page--alt-teaser a:before {
      color: #47b649; }
    .node--city-page--alt-teaser a:after {
      background-color: #47b649; }

.block--views-city-pages-benefits {
  background-color: #f4f4f4; }
  .block--views-city-pages-benefits .node__title {
    color: #47b649; }
    .block--views-city-pages-benefits .node__title a {
      color: #47b649; }
      .block--views-city-pages-benefits .node__title a:hover {
        color: #e9b404; }
  .block--views-city-pages-benefits .field--name-field-image img {
    border-color: #fff;
    background-color: #fff; }

.node-type-concern .node--concern--full .header-bar h2 {
  color: #47b649; }

.node-type-concern .node--concern--full h1, .node-type-concern .node--concern--full .field__label {
  color: #fdd244; }

.node-type-concern .node--concern--full h2 {
  color: #fdd244; }

.node-type-concern .node--concern--full .field--name-body h2 {
  color: #fdd244; }

.node-type-concern .node--concern--full .field--name-body h2 {
  color: #fdd244; }

.node-type-concern .node--concern--full .header .field--name-field-icon-file {
  background: #47b649; }
  .node-type-concern .node--concern--full .header .field--name-field-icon-file svg .cls-1 {
    fill: #fff; }

.node-type-concern .node--concern--full .field--name-field-call-out {
  background-color: #f0f0f0; }
  .node-type-concern .node--concern--full .field--name-field-call-out h2, .node-type-concern .node--concern--full .field--name-field-call-out h3 {
    color: #373d38; }
  .node-type-concern .node--concern--full .field--name-field-call-out p {
    color: #373d38; }

.node-ebooking.processed .webform-component-markup[class*="title"] h2, .node-ebooking.processed .webform-component-markup[class*="title"] h3 {
  color: #e9b404; }

.node-ebooking.processed .webform-component-optionsmarkup .package.selected:after, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:after {
  background-color: #e9b404; }

.node-ebooking.processed .webform-component-optionsmarkup .package:hover, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:hover, .node-ebooking.processed .webform-component-optionsmarkup .package.selected, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package.selected {
  border-color: #e9b404;
  background-color: white; }

.node-ebooking.processed .webform-component-optionsmarkup .package .current-price, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .current-price {
  color: #e9b404; }

.node-ebooking .l-main {
  background-color: #e9b404; }

.node-ebooking.processed .step-number {
  color: #47b649; }

.node-ebooking.processed div[class*="if-business"] {
  border-color: #e9b404; }
  .node-ebooking.processed div[class*="if-business"] .close-popup {
    color: #e9b404; }

.node-ebooking.processed .basic-form {
  color: #fdd244; }
  .node-ebooking.processed .basic-form:hover {
    color: #e9b404; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="review"] > h3 {
  color: #e9b404; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package {
  border-color: #e9b404;
  background-color: white; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] {
  border-color: #e9b404; }
  .node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] .close-tooltip {
    color: #e9b404; }

.front .l-main {
  background-color: #47b649; }
  .front .l-main .node--page--full h1 {
    color: #fff; }
  .front .l-main .node--page--full .field--name-body {
    color: #fff; }

.not-front.node-type-issue .node--issue--full .node-title .node__title {
  color: #47b649; }

.not-front.node-type-issue .node--issue--full h1 {
  color: #fdd244; }

.not-front.node-type-issue .node--issue--full h2 {
  color: #fdd244; }

.not-front.node-type-issue .node--issue--full h3, .not-front.node-type-issue .node--issue--full .field--name-field-subtitle {
  color: #fdd244; }

.not-front.node-type-issue .node--issue--full .field--name-body h2 {
  color: #fdd244; }

.not-front.node-type-issue .node--issue--full .field--name-body h2 {
  color: #fdd244; }

.not-front.node-type-issue .node--issue--full .body-content .field--name-body p {
  color: #fdd244; }

.not-front.node-type-issue .node--issue--full .identifications .field--name-field-identification-title {
  background: #e9b404; }
  .not-front.node-type-issue .node--issue--full .identifications .field--name-field-identification-title .field__item {
    color: #fff; }

.not-front.node-type-issue .node--issue--full .identifications .field-collection-container .entity-field-collection-item > .content .field--name-field-indentification-label {
  color: #e9b404;
  background-color: #e1e1e1; }

.not-front.node-type-issue .node--issue--full .identifications .field-collection-container .entity-field-collection-item > .content .field--name-field-identification-description {
  color: #e9b404;
  background-color: #f0f0f0; }

.node-type-page.page-node-42 .node--page--full .field--name-field-intro {
  color: #fdd244; }

.block--views-learning-center-learning-list .view-learning-center .views-row {
  border-color: #e1e1e1; }

.block--views-localtarget-value-prop .node {
  background-color: #151616; }

.block--views-localtarget-value-prop .node__content {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4); }

.block--views-localtarget-value-prop .slide-image-background:before {
  background-color: #151616; }

.block--views-localtarget-value-prop .field--name-field-display-title {
  color: #fff; }

.block--views-localtarget-value-prop .field--name-field-intro {
  color: #fff; }

.block--views-package-comparison-hero .node {
  background-color: #151616; }

.block--views-package-comparison-hero .slide-image-background:before {
  background-color: #151616; }

.node-type-package-comparison .field--name-field-packages header,
.bean-package-comparison .field--name-field-packages header {
  background-color: #47b649; }

.node--package-comparison--teaser table thead th[scope=col],
.bean-package-comparison-table table thead th[scope=col] {
  color: #47b649; }

.block--views-package-comparison-cta .button {
  background-color: #e9b404;
  color: #fff; }
  .block--views-package-comparison-cta .button:hover, .block--views-package-comparison-cta .button:focus {
    background-color: #fdd244;
    color: #fff; }

.node--profile--full .field--name-field-image img {
  background-color: #fff;
  border-color: #eee; }

.node--profile--full .flippy {
  border-top-color: #eee; }

.node-type-page.section-special-offers.enhanced .node--page .node__title, .node-type-page.section-coupons.enhanced .node--page .node__title {
  color: #3a933b; }

.node--special-offer--tertiary-teaser .node__content {
  outline-color: #d4d7d9; }

.node--special-offer--tertiary-teaser h2 {
  color: #3a933b; }

.node--special-offer--tertiary-teaser h3 {
  color: #292929; }

.node--special-offer--tertiary-teaser .field--name-field-button .button {
  background-color: #3a933b;
  color: #fff; }

.node--special-offer--tertiary-teaser .field--name-field-expiration-date {
  color: #c80108; }

.node--special-offer--tertiary-teaser.featured-offer .node__content {
  background-color: #3a933b;
  outline-color: rgba(255, 255, 255, 0.5); }

.node--special-offer--tertiary-teaser.featured-offer h2 {
  color: #fff; }

.node--special-offer--tertiary-teaser.featured-offer h3 {
  color: rgba(255, 255, 255, 0.9); }

.node--special-offer--tertiary-teaser.featured-offer .field--name-body {
  color: #fff; }

.node--special-offer--tertiary-teaser.featured-offer .field--name-field-button .button {
  background-color: #fff;
  color: #3a933b; }

.node--special-offer--tertiary-teaser.featured-offer .field--name-field-expiration-date {
  color: #fff; }

.paragraphs-item-city-service .field--name-field-title {
  color: #3a933b; }

.l-footer-wrap {
  background-color: #f4f4f4; }

@media (min-width: 1024px) {
  .l-region--header-first {
    background-color: #f1f1f1; } }

.l-region--postscript-first {
  background-color: #f4f4f4; }

.l-region--preface-fourth {
  background-color: #f4f4f5; }
