%ebooking-panel { // style for ebooking panels
  background-color: palette(white, pure);
}

%ebooking-panel-title {
  color: palette(primary, base);
  &:after {
    border-top-color: palette(neutral, alto);
  }
}

%ebooking-selected-package {
  &:after {
    background-color: palette(primary, base);
    color: palette(white, pure);
  }
}

// package styling - this will likely change once we pull in packages as nodes
%ebooking-package {
  .package {
    border-color: palette(neutral, wild-sand);
    background-color: palette(neutral, wild-sand);
    &:hover,
    &.selected {
      border-color: palette(primary, base);
    }
    &.selected {
      &:after {
        @extend %ebooking-selected-package;
      }
    }
    .current-price {
      color: palette(primary, base)
    };
    .bullet-points {
      span {
        &:before {
          color: palette(primary, base);
        }
      }
    }
  }
} // end package styling
