.field--name-field-call-out {
    margin-top: 30px;
    background-color: palette(primary, base);
    padding: 55px 20px;
    text-align: center;
    h2,
    h3,
    p {
        color: palette(white, pure);
    }
    h2,
    h3 {
        margin: 0 0 15px;
    }
    .button {
        width: auto;
    }
}
