.not-front .l-breadcrumb {
  background-color: palette(primary, dark);
  color: palette(white, pure);
  a {
    color: inherit;
    &:hover {
      color: palette(neutral, silver);
    }
  }
  li:last-of-type() {
    color: palette(neutral, silver);
  }
}
