@charset "UTF-8";
.bean-package-comparison .field-collection-container, .node-type-package-comparison .field-collection-container {
  border-bottom: 0; }

.bean-package-comparison .field--name-field-packages, .node-type-package-comparison .field--name-field-packages {
  position: relative;
  margin-bottom: 40px; }
  .bean-package-comparison .field--name-field-packages > .field__items > .field__item, .node-type-package-comparison .field--name-field-packages > .field__items > .field__item {
    max-width: 340px;
    margin: 90px auto 0; }
  .bean-package-comparison .field--name-field-packages .field-collection-view, .node-type-package-comparison .field--name-field-packages .field-collection-view {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 0;
    padding: 0;
    margin: 0;
    height: 100%; }
    .bean-package-comparison .field--name-field-packages .field-collection-view > *, .node-type-package-comparison .field--name-field-packages .field-collection-view > * {
      -ms-flex: 0 1 auto; }
    .bean-package-comparison .field--name-field-packages .field-collection-view .field__item, .node-type-package-comparison .field--name-field-packages .field-collection-view .field__item {
      height: 100%; }
    .bean-package-comparison .field--name-field-packages .field-collection-view .content, .node-type-package-comparison .field--name-field-packages .field-collection-view .content {
      display: -ms-flexbox;
      display: flex;
      height: 100%; }
      .bean-package-comparison .field--name-field-packages .field-collection-view .content > *, .node-type-package-comparison .field--name-field-packages .field-collection-view .content > * {
        -ms-flex: 0 1 auto; }
  .bean-package-comparison .field--name-field-packages .highlighted, .node-type-package-comparison .field--name-field-packages .highlighted {
    height: 100%; }
    .bean-package-comparison .field--name-field-packages .highlighted .node, .node-type-package-comparison .field--name-field-packages .highlighted .node {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
    .bean-package-comparison .field--name-field-packages .highlighted .banner-wrap, .node-type-package-comparison .field--name-field-packages .highlighted .banner-wrap {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .bean-package-comparison .field--name-field-packages .highlighted .banner-wrap::before, .node-type-package-comparison .field--name-field-packages .highlighted .banner-wrap::before {
        content: 'BEST VALUE';
        position: absolute;
        transform: rotate(45deg);
        right: -48px;
        top: 20px;
        font-size: 14px;
        font-weight: bold;
        width: 175px;
        padding: 10px;
        text-align: center; }
  .bean-package-comparison .field--name-field-packages .field--name-field-package, .node-type-package-comparison .field--name-field-packages .field--name-field-package {
    display: -ms-flexbox;
    display: flex; }
    .bean-package-comparison .field--name-field-packages .field--name-field-package > *, .node-type-package-comparison .field--name-field-packages .field--name-field-package > * {
      -ms-flex: 0 1 auto; }
  .bean-package-comparison .field--name-field-packages .node, .node-type-package-comparison .field--name-field-packages .node {
    margin: 0 auto;
    text-align: center;
    height: 100%; }
    .bean-package-comparison .field--name-field-packages .node:hover, .node-type-package-comparison .field--name-field-packages .node:hover {
      box-shadow: 0 15px 34.6px 3.4px rgba(14, 15, 15, 0.5); }
  .bean-package-comparison .field--name-field-packages .node__content, .node-type-package-comparison .field--name-field-packages .node__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100%; }
    .bean-package-comparison .field--name-field-packages .node__content > *, .node-type-package-comparison .field--name-field-packages .node__content > * {
      -ms-flex: 0 1 auto; }
  .bean-package-comparison .field--name-field-packages header, .node-type-package-comparison .field--name-field-packages header {
    padding: 0 20px 40px;
    position: relative; }
  .bean-package-comparison .field--name-field-packages .field--name-field-icon, .node-type-package-comparison .field--name-field-packages .field--name-field-icon {
    margin-bottom: 20px; }
    .bean-package-comparison .field--name-field-packages .field--name-field-icon img, .node-type-package-comparison .field--name-field-packages .field--name-field-icon img {
      margin-top: -60px;
      position: relative;
      z-index: 50;
      max-width: 135px;
      max-height: 135px;
      width: auto; }
  .bean-package-comparison .field--name-field-packages .node__title, .node-type-package-comparison .field--name-field-packages .node__title {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    position: relative;
    z-index: 5; }
  .bean-package-comparison .field--name-field-packages .field--name-field-starting-price, .node-type-package-comparison .field--name-field-packages .field--name-field-starting-price {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 5px; }
  .bean-package-comparison .field--name-field-packages .field--name-field-initial-fee, .node-type-package-comparison .field--name-field-packages .field--name-field-initial-fee {
    padding-top: 10px;
    font-style: italic;
    max-width: 250px;
    margin: 0 auto; }
  .bean-package-comparison .field--name-field-packages .content-wrap, .node-type-package-comparison .field--name-field-packages .content-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    padding: 30px 25px; }
    .bean-package-comparison .field--name-field-packages .content-wrap > *, .node-type-package-comparison .field--name-field-packages .content-wrap > * {
      -ms-flex: 0 1 auto; }
  .bean-package-comparison .field--name-field-packages .field--name-body, .node-type-package-comparison .field--name-field-packages .field--name-body {
    display: block;
    font-size: .95em;
    text-align: left;
    margin-bottom: 0; }
    .bean-package-comparison .field--name-field-packages .field--name-body p, .node-type-package-comparison .field--name-field-packages .field--name-body p {
      line-height: 1.5; }
  .bean-package-comparison .field--name-field-packages .feature-list, .node-type-package-comparison .field--name-field-packages .feature-list {
    padding-top: 10px;
    column-count: 2;
    text-align: left; }
  .bean-package-comparison .field--name-field-packages .feature, .node-type-package-comparison .field--name-field-packages .feature {
    display: block;
    position: relative;
    font-size: .95em;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px; }
    .bean-package-comparison .field--name-field-packages .feature:before, .node-type-package-comparison .field--name-field-packages .feature:before {
      font-family: "FontAwesome";
      font-weight: normal;
      content: "";
      position: absolute;
      left: 0;
      font-size: 13px; }
  .bean-package-comparison .field--name-field-packages .button, .node-type-package-comparison .field--name-field-packages .button {
    margin: 40px auto 0;
    max-width: 275px;
    width: 100%; }

@media (min-width: 768px) {
  .bean-package-comparison .field--name-field-packages, .node-type-package-comparison .field--name-field-packages {
    margin-bottom: 60px; }
    .bean-package-comparison .field--name-field-packages > .field__items, .node-type-package-comparison .field--name-field-packages > .field__items {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin-left: -10px;
      margin-right: -10px; }
      .bean-package-comparison .field--name-field-packages > .field__items > *, .node-type-package-comparison .field--name-field-packages > .field__items > * {
        -ms-flex: 0 1 auto; }
      .bean-package-comparison .field--name-field-packages > .field__items > .field__item, .node-type-package-comparison .field--name-field-packages > .field__items > .field__item {
        margin-left: 10px;
        margin-right: 10px;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
        width: 100%; }
    .bean-package-comparison .field--name-field-packages .banner-wrap, .node-type-package-comparison .field--name-field-packages .banner-wrap {
      display: none; }
  .bean-package-comparison .field--name-field-package > .field__items, .node-type-package-comparison .field--name-field-package > .field__items {
    width: 100%; } }

@media (min-width: 1200px) {
  .bean-package-comparison .field--name-field-packages > .field__items, .node-type-package-comparison .field--name-field-packages > .field__items {
    margin-left: -30px;
    margin-right: -30px; }
    .bean-package-comparison .field--name-field-packages > .field__items > .field__item, .node-type-package-comparison .field--name-field-packages > .field__items > .field__item {
      margin-left: 30px;
      margin-right: 30px; }
  .bean-package-comparison .field--name-field-packages .banner-wrap, .node-type-package-comparison .field--name-field-packages .banner-wrap {
    display: block; } }

.bean-package-comparison .field--name-field-packages .node {
  border: 1px solid;
  border-top: 0; }

.block--views-package-comparison-hero .node {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.block--views-package-comparison-hero .slide-image-background {
  position: relative;
  min-height: 360px; }
  .block--views-package-comparison-hero .slide-image-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; }

.block--views-package-comparison-hero .field--name-field-display-title {
  line-height: 1.1;
  margin-bottom: 0; }

.block--views-package-comparison-hero .field--name-field-intro {
  margin-top: 20px;
  margin-top: 10px;
  font-weight: 600; }

.block--views-package-comparison-hero .node__content {
  max-width: 800px;
  margin: auto;
  padding: 80px 20px 60px;
  position: relative;
  text-align: center; }

@media (min-width: 768px) {
  .block--views-package-comparison-hero .node__content {
    min-height: 520px; }
  .block--views-package-comparison-hero .node__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 20px 20px 140px; }
    .block--views-package-comparison-hero .node__content > * {
      -ms-flex: 0 1 auto; }
  .block--views-package-comparison-hero .field--name-field-display-title {
    font-size: 3.0em; }
  .block--views-package-comparison-hero .field--name-field-intro {
    font-size: 1.5em; } }

.node-type-package-comparison.not-front .l-breadcrumb {
  padding: 0; }

.node-type-package-comparison.not-front .l-content {
  max-width: 1200px; }

.node-type-package-comparison.not-front .l-main {
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40px; }

.node-type-package-comparison .field--name-body {
  display: none;
  text-align: center;
  max-width: 820px;
  margin: 0 auto 30px; }

@media (min-width: 768px) {
  .node-type-package-comparison .l-main {
    padding-bottom: 60px; }
  .node-type-package-comparison .l-content {
    position: relative; }
  .node-type-package-comparison .tabs--primary {
    position: absolute;
    z-index: 100;
    top: -90px; }
  .node-type-package-comparison .field--name-body {
    display: block;
    margin-bottom: 50px; }
  .node-type-package-comparison .field--name-field-packages {
    margin-top: -70px; }
    .node-type-package-comparison .field--name-field-packages > .field__items > .field__item {
      margin-top: 0; } }

@media (min-width: 1024px) {
  .node-type-package-comparison .field--name-body h2 {
    font-size: 2em; } }

.node--package-comparison--teaser,
.bean-package-comparison-table {
  display: none; }
  .node--package-comparison--teaser table,
  .bean-package-comparison-table table {
    max-width: 1010px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 0; }
    .node--package-comparison--teaser table thead th,
    .bean-package-comparison-table table thead th {
      width: 25%; }
      .node--package-comparison--teaser table thead th[scope=row],
      .bean-package-comparison-table table thead th[scope=row] {
        text-align: left;
        padding: 20px 5px 20px 35px; }
        .node--package-comparison--teaser table thead th[scope=row] .select-package,
        .bean-package-comparison-table table thead th[scope=row] .select-package {
          font-size: 1.35em;
          line-height: .9;
          font-weight: 600; }
        .node--package-comparison--teaser table thead th[scope=row] .questions,
        .bean-package-comparison-table table thead th[scope=row] .questions {
          display: block;
          font-style: italic; }
      .node--package-comparison--teaser table thead th[scope=col],
      .bean-package-comparison-table table thead th[scope=col] {
        font-size: 1.1em;
        line-height: 22px;
        font-weight: bold;
        vertical-align: middle; }
    .node--package-comparison--teaser table thead tr:nth-child(2),
    .bean-package-comparison-table table thead tr:nth-child(2) {
      height: 60px; }
      .node--package-comparison--teaser table thead tr:nth-child(2) td,
      .bean-package-comparison-table table thead tr:nth-child(2) td {
        vertical-align: middle;
        font-size: 1.1em;
        font-weight: 600; }
        .node--package-comparison--teaser table thead tr:nth-child(2) td .package-price,
        .bean-package-comparison-table table thead tr:nth-child(2) td .package-price {
          font-size: 1.5em;
          line-height: 1;
          font-weight: bold;
          position: relative;
          padding-left: 5px; }
          .node--package-comparison--teaser table thead tr:nth-child(2) td .package-price:before,
          .bean-package-comparison-table table thead tr:nth-child(2) td .package-price:before {
            font-family: "FontAwesome";
            font-weight: normal;
            content: "";
            font-size: 15px;
            font-weight: 600;
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%); }
        .node--package-comparison--teaser table thead tr:nth-child(2) td .initial-fee,
        .bean-package-comparison-table table thead tr:nth-child(2) td .initial-fee {
          display: block;
          font-size: .75em;
          font-weight: 400;
          font-style: italic; }
    .node--package-comparison--teaser table tbody td,
    .bean-package-comparison-table table tbody td {
      vertical-align: middle; }
    .node--package-comparison--teaser table th, .node--package-comparison--teaser table td,
    .bean-package-comparison-table table th,
    .bean-package-comparison-table table td {
      text-align: center;
      border: solid 2px; }
    .node--package-comparison--teaser table .row-heading,
    .bean-package-comparison-table table .row-heading {
      text-align: right;
      font-weight: 600;
      padding-right: 40px;
      line-height: 1.25em; }
    .node--package-comparison--teaser table .package-buttons td,
    .bean-package-comparison-table table .package-buttons td {
      padding: 20px;
      border: none; }
    .node--package-comparison--teaser table .package-buttons .button,
    .bean-package-comparison-table table .package-buttons .button {
      width: 100%; }
  @media (min-width: 768px) {
    .node--package-comparison--teaser,
    .bean-package-comparison-table {
      display: block; } }

.block--views-package-comparison-cta {
  margin: 50px auto 0;
  text-align: center;
  max-width: 1000px; }
  .block--views-package-comparison-cta .button {
    margin-top: 20px;
    min-width: 220px; }
  @media (min-width: 768px) {
    .block--views-package-comparison-cta .button {
      margin-top: 0; } }

.block--views-package-comparison-hero .slide-image-background:before {
  background-color: #000; }

.block--views-package-comparison-hero .field--name-field-display-title {
  color: #fff; }

.block--views-package-comparison-hero .field--name-field-intro {
  color: #fff; }

.bean-package-comparison .field--name-field-packages header, .node-type-package-comparison .field--name-field-packages header {
  background-color: #58595b;
  color: #fff; }
  .bean-package-comparison .field--name-field-packages header .node__title, .node-type-package-comparison .field--name-field-packages header .node__title {
    color: #fff; }
  .bean-package-comparison .field--name-field-packages header a, .node-type-package-comparison .field--name-field-packages header a {
    color: #fff; }

.bean-package-comparison .field--name-field-packages .content-wrap, .node-type-package-comparison .field--name-field-packages .content-wrap {
  background-color: #fff; }

.bean-package-comparison .feature:before, .node-type-package-comparison .feature:before {
  color: #c82127; }

.bean-package-comparison .banner-wrap:before, .node-type-package-comparison .banner-wrap:before {
  background-color: #212121; }

.bean-package-comparison .field--name-field-packages .node {
  border-color: #dddddd; }

.node-type-package-comparison .l-main {
  background-color: #ededed; }

.node--package-comparison--teaser table,
.bean-package-comparison-table table {
  background-color: transparent; }
  .node--package-comparison--teaser table th, .node--package-comparison--teaser table td,
  .bean-package-comparison-table table th,
  .bean-package-comparison-table table td {
    background-color: #fff;
    border-color: #ededed;
    color: #58595b; }
  .node--package-comparison--teaser table thead tr:nth-child(2) td,
  .bean-package-comparison-table table thead tr:nth-child(2) td {
    background-color: #f5f5f5; }

.node--package-comparison--teaser .fa-check,
.bean-package-comparison-table .fa-check {
  color: #93af39; }

.node--package-comparison--teaser .fa-times,
.bean-package-comparison-table .fa-times {
  color: #c82127; }

.node--package-comparison--teaser .package-buttons td,
.bean-package-comparison-table .package-buttons td {
  background-color: #f5f5f5; }
  .node--package-comparison--teaser .package-buttons td:first-child,
  .bean-package-comparison-table .package-buttons td:first-child {
    background-color: transparent; }
