// Our Blog page teaser-listing
.block--views-blog-list {
  .node {
    max-width: 320px;
    margin: 30px auto;
    background: palette(black, light);
    text-align: center;
  }
  .field--name-field-image {
    flex: 1 0 320px;
    img {
      display: block;
    }
  }
  .node__content {
    padding: 30px 20px;
  }
  .node__title {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 0;
    a {
      font-size: 22px;
      line-height: 24px;
    }
  }
  .field--name-body {
    font-size: 16px;
  }
  .more-link {
    @extend %button;
    display: block;
    margin: 20px auto;
  }
  @include breakpoint($desk) {
    .node {
      @include flexbox;
      max-width: 1000px;
      text-align: left;
    }
    .node__content {
      flex: 1 1 auto;
      padding: 30px;
    }
    .more-link {
      margin: 20px 0 0;
    }
  }
}
