// Front page
.block-areas-map {
  position: relative;
  background: url("../images/bg-service-areas.jpg") no-repeat center top;
  background-size: cover;
  padding: 30px 20px;
  text-align: center;
  .block__title {
    @include flower;
    margin-top: 0;
    font-weight: 900;
  }
  .map-embed {
    margin-top: 1em;
    border: 5px solid white;
    iframe {
      width: 100%;
      height: 50vh;
      max-height: 350px;
      display: block;
    }
  }
  @include breakpoint($tab) {
    padding: 50px 20px;
    .block__title {
      font-size: 47px;
      line-height: (50/47);
    }
    .block__content {
      @include container;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        margin: 8px;
        a {
          font-size: 22px;
          &:before {
            margin-right: 5px;
            font-family: "fontawesome";
            content: "\f041";
          }
        }
      }
    }
    .map-embed {
      margin-top: 30px;
    }
  }
}

//Areas we service percentage
.page-node-19 {
  .map-embed {
    iframe {
      width: 100%;
      height: 320px;
    }
  }
}
