// Front page

// .front {
//   .block--views-services-all {
//     margin: 50px 0;
//     @include breakpoint($tab) {
//       margin: 50px 0 70px;
//     }
//   }
// }

.block--views-services-all {
  text-align: center;
  .front & {
    margin-top: 20px;
  }
  .views-row {
    + .views-row {
      margin-top: 20px;
    }
  }
  .node--service {
    max-width: 320px;
    margin: 0 auto;
    background: palette(black, light);
  }
  .field--name-field-image {
    img {
      display: block;
    }
  }
  .node__content {
    padding: 20px;
  }
  .node__title {
    text-transform: uppercase;
    margin-top: 0;
  }
  .more-link {
    @extend %button;
    display: block;
    margin: 20px auto 0;
  }
  @include breakpoint($tab) {
    .view-content {
      @include flexbox;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;
    }
    .views-row {
      @include flexbox;
      margin: 0 10px;
      margin-top: 20px;
    }
    .node--service {
      @include flexbox;
      flex-direction: column;
    }
    .node__content {
      @include flexbox;
      flex-direction: column;
      flex: 1 1 auto;
    }
    .field--name-body {
      &,
      .field__items,
      .field__item {
        @include flexbox;
        flex-direction: column;
        flex: 1 1 auto;
      }
      .field__item {
        justify-content: space-between;
      }
    }
  }
  @include breakpoint($desk) {
    text-align: left;
    .node--service {
      @include container;
      @include flexbox;
      flex-direction: row;
    }
    .node__content {
      flex: 1 1 320px;
      padding: 30px;
    }
    .node__title {
      font-size: 22px;
    }
    .field--name-body {
      font-size: 16px;
    }
    .more-link {
      margin-left: 0;
    }
  }
}
