.block--views-file-library-media-library .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px; }
  .block--views-file-library-media-library .view-content > * {
    -ms-flex: 0 1 auto; }
  .block--views-file-library-media-library .view-content .views-row {
    padding: 10px;
    text-align: left; }

.block--views-file-library-media-library .view-footer {
  text-align: center;
  margin: 0 auto; }

@media (min-width: 1024px) {
  .block--views-file-library-media-library .view-content {
    -ms-flex-pack: justify;
        justify-content: space-between; } }

.node--file-download--teaser .field__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.node--file-download--teaser .field--name-field-file {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1px;
  max-width: 300px; }

.node--file-download--teaser span img {
  height: 18px;
  width: auto; }

@media (min-width: 768px) {
  .node--file-download--teaser .field--name-field-file {
    max-width: 340px; } }

@media (min-width: 1024px) {
  .node--file-download--teaser .field--name-field-file {
    max-width: 350px; } }

.block--views-file-library-all-files {
  padding-top: 10px; }
  .block--views-file-library-all-files .view-content {
    margin-left: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .block--views-file-library-all-files .view-content > * {
      -ms-flex: 0 1 auto; }
    .block--views-file-library-all-files .view-content .views-row {
      padding-bottom: 30px; }
  .block--views-file-library-all-files .views-field-field-file {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.1px;
    max-width: 300px; }
  .block--views-file-library-all-files span {
    position: relative; }
    .block--views-file-library-all-files span img {
      height: 25px;
      width: auto;
      position: absolute;
      left: -30px;
      top: 5px; }
  @media (min-width: 1024px) {
    .block--views-file-library-all-files .view-content {
      -ms-flex-pack: justify;
          justify-content: space-between; } }
