//local target full node
.node-type-localtarget{
	.l-content{
		.block__content{
			max-width: $content;
		}
		.field--name-field-display-title{
			font-size: 42px;
			font-weight: 700;
			line-height: 1.1;
			letter-spacing: .4px;
			margin-top: 0;
		}
		h2{
			font-size: 32px;
			font-weight: 700;
			line-height: 1.12;
			margin-top: 38px;
		}
		h3{
			font-weight: 700;
			font-size: 28px;
			line-height: 1.25;
		}
		h4{
			font-size: 24px;
			font-weight: 700;
			line-height: 1.25;
		}
		.field--name-field-call-out{
      margin-top: 55px;
      padding: 50px 25px;
      background-image: url('../images/bg-webform.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
			.field__items{
				max-width: 700px;
			}
      h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: .3em;
				margin-top: 0;
      }
      p{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
      }
    }
	}
}

//local content
.block--views-localtarget-ltp-local{
	background-image: url('../images/bg-texture.png');
	padding: 60px 20px;
	.view-display-id-ltp_local{
		max-width: 1100px;
		margin: 0 auto;
	}
	.node--localtarget--quaternary-teaser{
		@include flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.field--name-field-image{
			padding-bottom: 15px;
			img{
				border: solid 3px;
				height: auto;
			}
		}
		.teaser-content{
			max-width: 700px;
			width: 100%;
			h1{
				text-align: center;
				font-size: 42px;
				font-weight: 700;
				line-height: 1.1;
				letter-spacing: .4px;
			}
			.field--name-field-local-content{
				text-align: center;
				p{
					font-size: 18px;
					line-height: 1.67;
				}
			}
		}
	}
	@include breakpoint($tab){
		.node--localtarget--quaternary-teaser{
			.field--name-field-image{
				img{
					min-width: 370px;
				}
			}
		}
	}
	@include breakpoint($desk){
		.node--localtarget--quaternary-teaser{
			flex-direction: row;
			.field--name-field-image{
				padding-bottom: 0;
			}
			.teaser-content{
				padding-left: 35px;
				h1{
					text-align: left;
				}
				.field--name-field-local-content{
					text-align: left;
				}
			}
		}
	}
}

//other services sidebar
.ltp_other_services{
  padding: 35px 30px;
	.view-header{
		padding-bottom: 15px;
		h4{
			font-size: 17px;
			font-weight: 600;
			line-height: 2.13;
			letter-spacing: .4px;
			text-transform: uppercase;
			text-align: center;
		}
		p{
			font-size: 18px;
			line-height: 1.44;
		}
	}
	.view-content{
		.views-row{
			padding: 10px 0;
			&:last-of-type{
				padding-bottom: 0;
			}
		}
		a{
			font-size: 18px;
			line-height: 1.44;
			&:before{
				@include faicon('\f138');
				padding-right: 10px;
			}
		}
	}
}
