.block--nav-submenu {
	background: palette(primary, base);
	padding: 40px 10px;
	width: 100%;
	.block__title {
		margin: 0 0 10px 15px;
		color: palette(white, pure);
		font-size: 20px;
		font-weight: 500;
		line-height: (30/20);
		text-transform: uppercase;
	}
	.menu-block-wrapper {
		font-weight: 600;
		a,
		.nolink  {
			color: palette(white, pure);
			display: block;
			font-size: 14px;
			font-weight: 500;
			line-height: (31/14);
			text-transform: uppercase;
			&:hover {
				background: palette(tertiary, base);
			}
		}
		.nolink {
			padding-left: 25px;
		}
		li {
			list-style: none;
			padding-left: 26px;
		}
		.menu {
			.active-trail {
				> a {
					&:before {
						color: palette(white, pure);
					}
				}
				li {
					line-height: (31/14);
					padding: 5px 0 5px 20px;
				}
			}
			.expanded.active-trail {
				> a {
					&:before {
						content: "\f0d7";
						font-family: FontAwesome;
						margin: 0 5px;
					}
				}
			}
		}
		> .menu > li {
			line-height: (31/14);
			padding: 0 3px;
		}
		> .menu > li + li {
			margin-top: 5px;
		}
		> .menu > li > a {
			&:before {
				content: "\f0da";
				font-size: 15px;
				font-family: FontAwesome;
				color: palette(secondary, base);
				margin: 0 10px;
				&:hover {
					color: lighten(palette(secondary), 10);
				}
			}
		}
	}
}
