.block--nav-utility {
  display: none;
  padding: 10px 0;
  font-weight: 600;
  .menu-block-wrapper {
    a {
      padding: 10px 20px;
    }
  }
  .menu {
    text-align: center;
    li {
      + li {
        margin-top: 1px;
      }
    }
  }
  @include breakpoint($tab) {
    display: block;
    .menu {
      @include flexbox;
      justify-content: center;
      align-items: center;
      li {
        + li {
          margin-top: 0;
        }
        a {
          @include flexbox;
          align-items: center;
          text-transform: uppercase;
        }
        a:before {
          display: inline-block;
          margin-right: 15px;
          font-size: 32px;
        }
        &:nth-child(1) {
          a:before {
            @include faicon($fa-var-mobile);
          }
        }
        &:nth-child(2) {
          a:before {
            @include faicon($fa-var-dollar);
          }
        }
        &:nth-child(3) {
          a:before {
            @include faicon('\F044');
          }
        }
      }
    }
  }
  @include breakpoint($nav) {
    @include container;
    @include flexbox;
    justify-content: flex-end;
    padding: 10px 20px;
    .menu-block-wrapper {
      a {
        border-radius: 4px;
        text-transform: uppercase;
        padding: 7px 25px;
        font-weight: 600;
        font-size: 14px;
        &[href^='tel:'] {
          padding: 0;
          text-transform: none;
          font-size: 17px;
        }
      }
    }
    .menu {
      li {
        + li {
          margin-left: 1em;
        }
        &:nth-child(1n) {
          a:before {
            display: none;
          }
        }
      }
    }
  }
}
