@charset "UTF-8";
.front .bean-hero {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .front .bean-hero .content-wrap {
    position: relative;
    min-height: 360px;
    text-align: center; }
    .front .bean-hero .content-wrap:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6; }
  .front .bean-hero .content {
    max-width: 800px;
    width: 100%;
    padding: 50px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .front .bean-hero .block__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .6px;
    text-transform: capitalize; }
  .front .bean-hero .field--name-field-subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: .3px;
    margin: 0; }
  .front .bean-hero .field--name-field-body-text {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 1.95;
    margin-top: 20px; }
  .front .bean-hero .button {
    margin: 20px auto 0;
    max-width: 310px;
    width: 100%; }
  @media (min-width: 768px) {
    .front .bean-hero .content-wrap {
      min-height: 400px; }
    .front .bean-hero .content {
      padding: 100px 25px; }
      .front .bean-hero .content:after {
        font-size: 39px; }
    .front .bean-hero .block__title {
      font-size: 48px; }
    .front .bean-hero .field--name-field-subtitle {
      font-size: 24px; } }
  @media (min-width: 1024px) {
    .front .bean-hero .content-wrap {
      min-height: 520px; }
    .front .bean-hero .content {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%); }
    .front .bean-hero .block__title {
      font-size: 56px; }
    .front .bean-hero .field--name-field-subtitle {
      font-size: 26px; } }

.node-type-localtarget.ltp--solutions-finder .bean-hero {
  text-align: center;
  background-image: url("../images/hero-bg-pattern.png");
  background-size: contain;
  background-repeat: repeat; }
  .node-type-localtarget.ltp--solutions-finder .bean-hero .content-wrap {
    position: relative;
    min-height: 360px;
    text-align: center; }
  .node-type-localtarget.ltp--solutions-finder .bean-hero .content {
    max-width: 800px;
    margin: auto;
    position: relative;
    padding: 40px 15px 0px;
    z-index: 10; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .content:after {
      border-radius: 100%;
      padding: 3px 5px;
      font-family: "FontAwesome";
      font-weight: normal;
      content: "";
      font-size: 34px;
      line-height: .93;
      position: relative;
      top: 18px; }
  .node-type-localtarget.ltp--solutions-finder .bean-hero .block__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.37;
    letter-spacing: .3px;
    text-transform: capitalize; }
  .node-type-localtarget.ltp--solutions-finder .bean-hero .field--name-field-subtitle {
    font-size: 34px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: normal;
    margin: 0; }
  .node-type-localtarget.ltp--solutions-finder .bean-hero .field--name-field-body-text {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 1.95; }
  .node-type-localtarget.ltp--solutions-finder .bean-hero .button {
    display: none; }
  @media (min-width: 768px) {
    .node-type-localtarget.ltp--solutions-finder .bean-hero .content-wrap {
      min-height: 490px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .content {
      padding: 85px 25px; }
      .node-type-localtarget.ltp--solutions-finder .bean-hero .content:after {
        font-size: 39px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .block__title {
      font-size: 21px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .field--name-field-subtitle {
      font-size: 42px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .field--name-field-body-text {
      font-size: 18px; } }
  @media (min-width: 1024px) {
    .node-type-localtarget.ltp--solutions-finder .bean-hero .content-wrap {
      min-height: 520px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .content {
      padding: 80px 25px 30px; }
      .node-type-localtarget.ltp--solutions-finder .bean-hero .content:after {
        font-size: 44px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .block__title {
      font-size: 26px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .field--name-field-subtitle {
      font-size: 66px; }
    .node-type-localtarget.ltp--solutions-finder .bean-hero .field--name-field-body-text {
      padding-top: 20px;
      font-size: 21px; } }

.bean-hero {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dddddd; }
  .bean-hero .content-wrap:before {
    background-color: #dddddd; }
  .bean-hero .content:after {
    color: #fff; }
  .bean-hero .block__title {
    color: #fff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); }
  .bean-hero .field--name-field-subtitle {
    color: #fff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); }
  .bean-hero .field--name-field-body-text {
    color: #fff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); }
