.block--nav-header {
	padding: 20px;
	padding-top: 0;
	font-size: 14px;
	.block__content {
		a {
			display: block;
		}
	}
	.customer-login {
		font-weight: 600;
		&:before {
			@include faicon('\f0da');
			color: $color-brand-tertiary;
			margin-right: 5px;
		}
	}
	@include breakpoint($tab) {
		text-align: right;
		padding: 20px;
		padding-right: 0;
		.block__content {
			a {
				display: inline-block;
			}
		}
		.customer-login {
			+ .customer-login {
				padding-left: 20px;
			}
		}
		.button {
			margin-top: 15px;
		}
	}
}