.block--nav-mobile {
	background: $color-brand-primary;
	color: white;
	a {
		color: white;
		display: block;
	}
	.block__title {
		text-align: right;
		font: inherit;
		font-weight: bold;
		padding: 10px;
		cursor: pointer;
		background: $color-brand-secondary;
		margin-bottom: 0;
		&:after {
			@include faicon('\f0c9');
			margin-left: 5px;
		}
	}
	.block__content {
		a {
			background: $color-brand-primary-dark;
			padding: 10px;
		}
	}
	.menu {
		li + li {
			margin-top: 1px;
		}
	}
	@include breakpoint($nav) {
		display: none !important; // override js
	}
}