.front {
  .l-content {
    max-width: 100%;
    width: 100%;
    padding: 30px 20px;
  }
  .node--page--full {
    .node__content {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .field--name-field-display-title,
  .field--name-field-seo-title {
    @include flower;
    margin-top: 0;
    text-align: center;
  }
  .l-region--postscript-first {
    background: palette(primary, base);
  }
  @include breakpoint($tab) {
    .l-content {
      padding: 50px 0;
    }
    .node--page--full {
      .field--name-body {
        max-width: 830px;
        margin: 10px auto 0;
        font-size: 19px;
        line-height: (27/19);
      }
    }
    .l-region--postscript-first {
      display: flex;
      justify-content: center;
    }
  }
  @include breakpoint($desk) {
    .l-content {
      padding: 80px 0;
    }
  }
}
