.node-type-page.section-special-offers.enhanced, .node-type-page.section-coupons.enhanced{
  .l-main{
    padding: 50px 5px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @include breakpoint($tab){
    .l-main{
      padding: 50px 5px;
      max-width: 1210px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .l-content{
      max-width: 1210px;
    }
  }
  @include breakpoint($desk){
    .l-main{
      padding: 50px 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.block--views-special-offers-all-enhanced, .block--views-3a8319097bcee7958bed28c69e6f77ee{
  @include breakpoint($desk){
    .view-content{
      margin: 0;
      justify-content: flex-start;
      .views-row{
        flex: 1 0 31.33%;
        max-width: 380px;
      }
    }
  }
}
