@mixin button {
  background: palette(secondary, base);
  color: palette(white, pure);
  transition: background .3s, color .3s;
  &:hover {
    background: darken(palette(secondary, base), 10);
    color: palette(white, pure);
  }
}

%button {
  @include button;
  margin: auto;
  display: block;
  border-radius: 5px;
  width: 100%;
  max-width: 280px;
  text-align: center;
  padding: 12px 20px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  @include breakpoint($tab) {
    display: inline-block;
  }
}

.button {
  @extend %button;
}
