.block--sprowt-solution-finder-solution-finder {
  max-width: 350px;
  margin: 0 auto;
  margin-top: -70px;
  padding: 30px;
  position: relative;
  z-index: 5;
  background-color: #fefefe;
  border: solid 3px #dfe2e3;
  .block__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 580px;
    strong {
      font-weight: 800;
    }
    span {
      font-weight: 700;
      font-style: italic;
      border-bottom: 4px solid #333333;
    }
  }
  @include breakpoint(560px){
    max-width: 520px;
  }
  @include breakpoint($tab){
    max-width: 680px;
    margin-top: -196px;
    z-index: 5;
    .block__title{
      margin: 0 auto 50px;
    }
  }
  @include breakpoint(1000px){
    max-width: 850px;
    position: relative;
    margin-top: -13%;
  }
  @include breakpoint($desk){
    max-width: 1000px;
    margin-top: -150px;
    .block__title{
      max-width: 100%;
    }
  }
}

.solution-finder-form {
  .concerns-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > * {
      -ms-flex: 0 1 auto;
    }
  }
  .concern-wrap {
    display: flex;
    margin-bottom: 15px;
    min-width: 125px;
    > * {
      -ms-flex: 0 1 auto;
    }
    label {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      width: 100%;
      border: solid 3px transparent;
      text-align: center;
      > * {
        -ms-flex: 0 1 auto;
      }
      .name{
        max-width: 125px;
        line-height: 1.3;
      }
      img, svg {
        max-height: 45px;

      }
      .field--name-field-icon-file {
        margin-bottom: 10px;
        text-align: center;
      }
      &:hover, &.checked {
        border: solid 3px #dfe2e3;
        box-shadow: 0px 11px 15.5px 2.5px rgba(85, 85, 85, 0.36);
      }
      input {
        position: absolute;
        left: -9999;
        top: -9999;
        opacity: 0;
      }
    }
  }
  .actions {
    margin-top: 15px;
    .button {
      display: block;
      width: 100%;
      + .button {
        margin-top: 15px;
      }
    }
  }
  @include breakpoint(560px){
    .concern-wrap {
      width: 180px;
      margin-right: 10px;
      label{
        padding: 10px 20px;
        .name{
          max-width: 100%;
        }
      }
    }
  }
  @include breakpoint(768px){
    .concern-wrap{
      align-items: flex-start;
      width: 290px;
      label{
        text-align: left;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 19px;
        padding: 10px 40px;
        .field--name-field-icon-file {
          margin-right: 10px;
          margin-bottom: 0;
          width: 45px;
        }
      }
    }
    .actions {
      max-width: 640px;
      margin: 15px auto 0;
      display: flex;
      justify-content: space-between;
      > * {
        -ms-flex: 0 1 auto;
      }
      .button {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        + .button {
          margin-top: 0;
        }
      }
    }
  }
  @include breakpoint(1000px){
    .concern-wrap {
      width: 300px;
    }
  }
}
