.scm-modal-container {
  .mfp-content {
    max-width: 800px;
  }
  .scm-modal {
    padding: 30px;
    background: white;
    .field {
      label {
        font-size: 1.25rem;
        margin-bottom: 15px;
      }
      + .field {
        margin-top: 20px;
      }
    }
  }

  header {
    text-align: center;
    margin-bottom: 15px;
    h2 {
      margin: 0;
    }
  }

  .field--name-field-icon-file {
    text-align: center;
    margin-bottom: 15px;
  }
  .controls {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    > * {
      flex: 1 1 auto;
      margin: 0;
    }
  }

  @include breakpoint(768px) {
    .mfp-content {
      margin: 20px;
    }

    .scm-modal {
      padding: 50px 80px;
    }
  }

  @include breakpoint(1200px) {
    .mfp-content {
      max-width: 1100px;
    }

    .scm-modal {
      padding: 60px 130px 80px;
    }
  }
}