.scm-modal-container {
  .mfp-container {
    @include flexbox;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .mfp-content {
    max-width: 800px;
    height: 100vh;
    max-height: 900px;
    @include flexbox;
    flex-direction: column;
  }
  .scm-modal {
    padding: 30px;
    background: white;
    flex: 1 1 auto;
    overflow: auto;
    .field {
      label {
        font-size: 1.25rem;
        margin-bottom: 15px;
      }
      + .field {
        margin-top: 20px;
      }
    }
  }

  header {
    text-align: center;
    margin-bottom: 15px;
    h2 {
      margin: 0;
    }
  }

  .field--name-field-icon-file {
    text-align: center;
    margin-bottom: 15px;
  }
  .controls {
    order: 1;
    display: flex;
    > * {
      flex: 1 1 auto;
      margin: 0;
    }
  }

  @include breakpoint(768px) {
    .mfp-container {
      padding: 20px;
    }

    .scm-modal {
      padding: 50px 80px;
    }
  }

  @include breakpoint(1200px) {
    .mfp-content {
      max-width: 1100px;
    }

    .scm-modal {
      padding: 60px 130px 80px;
    }
  }
}