%button {
	@include border-radius(50px);
	@include background-image($color-button-bg);
	@include text-shadow(none);
	background-color: $color-brand-primary;
	color: $color-button-text;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	padding: 7px 30px 9px;
	&:hover {
		background: $color-button-hover-bg;
		color: $color-button-text;
	}
}

.button {
	@extend %button;
}