body {
	color: $color-body-text;
}

a {
	color: $color-brand-primary;
	&:hover {
		color: $color-brand-secondary;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $color-brand-secondary;
}

.not-front {
	h1 {
		margin-top: 0;
	}
}