div.entity-paragraphs-item.solution-annotated-image {
    h2 {
      font-weight: 800;
      font-size: 36px;
    }
    strong {
      font-weight: 800;
    }
    .field--name-field-annotation-label{
      font-size: 17px;
      text-align: left;
    }
    .field--name-field-intro {
        max-width: 1130px;
        margin: 0 auto;
        text-align: center;
    }
    .field--name-field-annotation-description {
      line-height: 1.53;
      text-align: left;
    }
  @include breakpoint($tab) {
    .paragraphs-item-annotated-image{
      > .content{
        flex-direction: column;
      }
    }
    .field--name-field-annotations{
      margin: 30px auto 0;
    }
  }
  @include breakpoint(920px){
    .paragraphs-item-annotated-image{
      > .content{
        flex-direction: row;
      }
    }
    .field--name-field-annotations{
      margin: 0;
      margin-left: 26px;
    }
  }
}
