div.entity.guarantee {
    max-width: 984px;
    margin: 40px auto 0;
    padding: 0;
    position: relative;
    h2,
    .field--name-field-header {
        font-family: $font-body;
    }
    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 0.4px;
    }
    .field--name-field-body-text {
        font-size: 21px;
        font-style: italic;
        line-height: 1.5;
    }
    > .content {
        padding: 40px 40px 50px;
        position: relative;
        z-index: 5;
        > * {
            max-width: 575px;
        }
    }
    @include breakpoint($tab) {
        &:after {
            content: url("../images/guarantee.png");
            position: absolute;
            top: -110px;
            right: -120px;
            transform: scale(0.35);
        }
    }
    @include breakpoint(1000px) {
        margin: 40px auto 70px;
    }
    @include breakpoint($desk) {
        &:after {
            top: -110px;
            right: -15px;
            transform: scale(0.7);
        }
    }

    // custom solution 2 page
  &.solution-2 {
    &:after{
      display: none;
    }
    .button {
      font-style: normal;
    }
    > .content {
      padding: 270px 20px 50px;
      text-align: center;
      &:after{
        content: url('../images/guarantee.png');
        position: absolute;
        top: -55px;
        right: 0;
        left: 0;
        transform: scale(.6);
      }
      > * {
        max-width: 100%;
      }
      h2 {
        max-width: 650px;
        margin: 0 auto 10px;
      }
      .field--name-field-body-text {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
}
