div.entity-paragraphs-item.solution-testimonial {
  max-width: 100%;
  padding: 60px 20px;
  text-align: center;
  > .content {
    max-width: 1010px;
    margin: 0 auto;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .node--testimonial [itemprop="reviewRating"]{
    margin-bottom: 7px;
  }
  .node--testimonial--teaser{
    .node__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      [itemprop="reviewRating"] {
        text-align: center;
        order: 1;
        margin-bottom: 10px;
        .fa-star {
          font-size: 21px;
        }
      }
      [itemprop="description"] {
        order: 2;
      }
      .reviewer {
        order: 3;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .field--name-field-market {
        order: 4;
      }
    }
  }
  .field--name-body {
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    &:after, &:before {
      content: '"';
    }
    * {
      display: inline;
    }
  }
  .field--name-field-icon-file {
    margin-bottom: 20px;
    img, svg {
      //width: 222px;
      width: 111px;
      display: block;
      margin: 0 auto;
    }
  }
  .reviewer {
    * {
      display: inline;
      font-size: 18px;
      font-style: normal;
    }
    .field--name-field-market {
      &:before {
        content: ",";
        margin-left: -4px;
        margin-right: 4px;
      }
    }
  }
  @include breakpoint($tab) {
    text-align: left;
    .node {
      @include flexbox;
      align-items: center;
    }
    h2 {
      font-size: 21px;
      letter-spacing: 2.1px;
    }
    .field--name-body {
      font-size: 26px;
    }
    .field--name-field-icon-file {
      width: 222px;
      flex: 0 0 222px;
      margin: 0;
      margin-right: 35px;
      img, svg {
        width: 222px;
      }
    }
  }
}
