.node--image-gallery{
  .node__title{
    margin-bottom:5%;
  }
  .field--name-field-gallery-images{
    .field-items{
      @include flexbox;
      justify-content: space-around;
      flex-wrap:wrap;
      .field-item{
        display:flex;
        flex-direction:column;
        margin-bottom:5%;
      }
    }
  }
}
