.form-item {
	margin-top: .5em;
	label {
		margin-bottom: .15em;
	}
}

.form-actions {
	margin-top: 1.5em;
}

.form-text,
.form-textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 5px;
	&:focus {
		outline: 2px solid $color-brand-secondary;
	}
}

.form-submit {
	@extend .button;
}