ul {
	list-style-position: inside;
	padding-left: 1.5em;
}

li + li {
	margin-top: .5em;
}

//two column bullet style
.two-column-list {
  @include breakpoint($tab) {
    margin: 20px 0;
    ul {
      @include flexbox;
      @include flex-wrap(wrap);
      li {
        width: 48%;
        margin-right: 10px;
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }
}

//Makes a listing look like a table using flex box
.pseudo-table {
  ul {
  @include flexbox;
  @include flex-wrap(wrap);
  list-style: none;
  margin: 1em -1px;
  padding: 0;
  }
  li {
    margin: 2px 1px 0;
    background: #F2F2F2;
    padding: 10px;
    width: 190px;
  }
}
