body,
input {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $font-body;
	font-size: 16px;
	line-height: (24/16);
}

a {
	text-decoration: none;
	color: $color-brand-secondary;
	&:hover {
		color: $color-brand-secondary-dark;
	}
}

%heading, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-top: 1em;
	margin-bottom: 5px;
	line-height: 1.2;
	font-weight: 600;
	font-family: $font-headings;
}

%h1, h1 {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 0;
	@include breakpoint($tab) {
		font-size: 50px;
	}
}

%h2, h2 {
	font-size: 1.75em;
	@include breakpoint($tab) {
		font-size: 40px;
	}
}

%h3, h3 {
	font-size: 1.25em;
	@include breakpoint($tab) {
		font-size: 25px;
	}
}

p, ul, ol, table, .map-embed {
	margin: 0;
	+ p,
	+ ul,
	+ ol,
	+ table {
		margin-top: 1em;
	}
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 1em auto;
}

blockquote {
	font-size: 1.25em;
	font-style: italic;
	margin: 1em;
	margin-right: 0;
	max-width: 100%;
	border-left: 5px solid $color-brand-primary;
	padding: .5em 0;
	padding-left: 1em;
	+ p,
	+ ul,
	+ ol,
	+ table {
		margin-top: 0;
	}
}

.two-column {
	@include breakpoint($tab) {
		ul {
			@include clearfix;
		}
		li {
			float: left;
			width: 50%;
			padding-right: 20px;
		}
	}
}
