// related packages for services in sidebar
.block--views-packages-services-sidebar {
	.views-row {
		margin: 0;
		border-bottom: 1px solid $color-border;
		h2 {
			padding: 10px 0;
			margin: 0;
		}
		a {
			font-size: 15px;
			font-weight: normal;
			&:before {
				content: "\f0da";
				font-family: 'FontAwesome';
				margin-right: 7px;
			}
		}
	}
}

.block-packages {
	@include box-shadow($shadow);
	background: $color-neutral-lighter;
	border: 1px solid white;
	padding: 20px;
	text-align: center;
	margin: 20px auto 0;
	.block__title {
		margin-top: 0;
		font-weight: 600;
	}
	.view-content {
		margin-top: 20px;
	}
	.links--inline li {
		float: none;
		margin-right: 0;
	}
	.views-row {
		position: relative;
		padding-bottom: 58px;
		.links {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.node-readmore {
		a {
			@extend %button;
			display: inline-block;
		}
	}
	.field--name-field-packages-intro,
	.field--name-field-package-intro {
		margin-bottom: 20px;
		h2:first-child {
			margin-top: 0;
		}
	}
	@include breakpoint($tab) {
		.block__title {
			font-size: 35px;
		}
		.view-content {
			@include clearfix;
			@include flexbox;
			@include align-items(stretch);
			@include justify-content(center);
			margin: 0 auto;
			text-align: center;
		}
		.views-row {
			vertical-align: top;
			text-align: center;
			width: 100%;
			max-width: 340px;
			&:nth-child(even) {
				margin-right: 0;
			}
			+ .views-row {
				margin-top: 0;
				margin-left: percentage(35/715);
			}
		}
	}
}