// front slideshow
.block-special-offers-intro {
	@include front-arrow($color-neutral-lighter, $color-brand-secondary);
	&:before {
		margin-top: -20px;
	}
	max-width: 1040px;
	margin: auto;
	margin-bottom: 30px;
	color: white;
	text-align: center;
	padding-top: 50px;
	.block__title {
		font-size: 50px;
		color: white;
		margin: 0;
		border-bottom: 1px solid rgba(white, .15);
		margin-bottom: 20px;
		&:after {
			display: block;
			width: 100%;
			content: "";
			border-bottom: 1px solid rgba(black, .25);
			padding-top: 15px;
		}
	}
	.block__content {
		max-width: 870px;
		margin: auto;
		padding: 0 20px;
		font-size: 16px;
		line-height: (28/16);
	}
}
.block--views-special-offers-front-slideshow {
	@include flexslider-nav;
	padding: 0 75px;
	padding-bottom: 60px;
	.flex-control-nav {
		bottom: -55px;
	}
	.flex-direction-nav {
		.flex-prev {
			left: -75px;
		}
		.flex-next {
			right: -75px;
		}
	}
	.node--special-offer {
		@include box-shadow($shadow);
		background: white;
		padding: 16px;
		border: 4px dashed $color-brand-primary;
		max-width: 360px;
		margin: auto;
	}
	.field--name-body {
		line-height: (28/17);
	}
	.field--name-field-expiration-date {
		font-size: 15px;
		font-weight: bold;
	}
	@include breakpoint($tab) {
		.node--special-offer {
			@include clearfix;
			max-width: 1040px;
		}
		.node__title {
			margin-top: 1em;
		}
		.field--name-field-image {
			float: left;
			width: percentage(320/1000);
		}
		.node-content-wrap {
			padding-left: percentage(340/1000);
		}
	}
	@include breakpoint($desk) {
		.node__title {
			margin-top: 2em;
			font-size: 30px;
		}
		.field--name-body {
			font-size: 17px;
		}
	}
}

// special offers list page

.not-front {
	.block--views-special-offers-list {
		.views-row {
			background-color: $color-neutral-lightest;
			.node--special-offer {
				@include box-shadow($shadow-even);
				background: white;
				padding: 16px;
				border: 4px dashed $color-brand-primary;
				margin: auto;
				.node__title {
					margin-top: 0;
				}
				
				.field--name-field-expiration-date {
					margin-top: 15px;
					font-weight: bold;
					font-style: italic;
				}
			}
		}
		@include breakpoint($tab) {
			.node--special-offer {
				@include container;
				//padding: 20px;
			}
			.field--name-field-image {
				float: left;
				padding-top: 0;
				width: percentage(235/1000);
				margin-right: 20px;
			}
			.node-content-wrap {
				h2 {
					margin-top: 0;
				}
			}
		}	
	}
}

//sidebar

.block--views-special-offers-sidebar {
	.node--special-offer {
		@include box-shadow($shadow);
		background: white;
		padding: 16px;
		border: 4px dashed $color-brand-primary;
		max-width: 360px;
		margin: auto;
		.node__title {
			margin-top: 0;
		}
		
		.field--name-field-expiration-date {
			margin-top: 15px;
			font-weight: bold;
			font-style: italic;
		}
	}
	
	.block__title {
		display: none;
	}
}

