.block--views-team-list {
	text-align: center;
	.views-row {
		margin-top: 10px;
	}
	.field--name-field-image {
		clear: both;
		float: none;
		width: 100%;
		margin: 0;
	}
	header {
		clear: both;
	}
	@include breakpoint($tab) {
		.views-row {
			@include span(4 of 12);
			&:nth-child(3n) {
				@include omega;
			}
			min-height: 170px;
			margin-bottom: 20px;
		}
	}
}
