// front
.block--views-testimonials-front {
	color: white;
	padding: 20px;
	.field--name-body {
		font-size: 18px;
		font-weight: 600;
		font-style: italic;
		line-height: (38/30);
		margin-top: 10px;
		padding: 0 20px;
		&:before,
		&:after {
			content: "";
		}
		.field__item {
			position: relative;
			&:before,
			&:after {
				font-family: "Georgia";
				font-style: normal;
				font-size: 40px;
				display: block;
				line-height: 40px;
				position: absolute;
			}
			
			&:before {
				content: "\201C";
				top: -20px;
				left: -20px;
	
			}
			
			&:after {
				content: "\201D";
				bottom: -40px;
				right: -20px;
			}
		}
	}
	.field--title {
		font-size: 15px;
		margin-top: 10px;
	}
	@include breakpoint($tab) {
		max-width: 1040px;
		padding: 0 30px 50px;
		.field--name-body {
			font-size: 30px;
			padding: 0 30px;
			.field__item {
				&:before,
				&:after {
					font-size: 65px;
				}
				&:before {
					left: -30px;
					top: -30px;
				}
				
				&:after {
					right: -30px;
					bottom: -60px;
				}
			}
		}
		.field--title {
			margin-top: 45px;
		}
	}
}

// sidebar
.block--views-testimonials-random {
	@include background-image($color-gradient-primary);
	border-radius: 15px;
	padding: 10px 20px 20px 20px;
	color: white;
	.block__title {
		margin: 10px 0;
		color: white;
		font-size: 18px;
	}
	.node__content {
		text-align: center;
		.field--name-body {
			text-align: left;
			margin: 10px 0 15px;
			font-style: italic;
			line-height: 1.4em;
			&:before {
			}
			&:after {
			}
		}
		.field--title {
			text-align: left;
			font-size: 14px;
		}
	}
	
	@include breakpoint($tab) {
		position: relative;
		margin-bottom: 65px;
		&:after {
			content: url('../images/triangle-green.png');
			display: inline-block;
			position: absolute;
			bottom: -35px;
			right: 45px;
		}
	}
}

// localtarget
.block--leadbuilder-views-leadbuilder-views-testimonials {
	@extend .block--views-testimonials-front;
	text-align: center;
	margin: auto;
	.block__title {
		color: inherit;
		font-weight: 600;
		margin-bottom: 10px;
		margin-top: 0;
	}
	@include breakpoint($tab) {
		.block__title {
			font-size: 35px;
		}
	}
	@include breakpoint($desk) {
		.block__title {
			font-size: 45px;
		}
	}
}

// testimonials page

.block--views-testimonials-list {
	.views-row {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $color-border;
		text-align: center;
		.rating {
			color: $color-brand-primary-light;
			text-align: center;
		}
		.field--name-body {
			padding-top: 5px;
			text-align: left;
		}
		.field--title {
			margin-top: 10px;
			font-style: italic;
			font-size: 15px;
			text-align: left;
		}
	}
}




