@charset "UTF-8";
.node-ebooking.processed .panel, .node-ebooking .ebooking_summary {
  margin: 20px 0;
  padding: 40px 20px 60px;
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 1s;
  text-align: center;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2); }
  .node-ebooking.processed .active.panel, .node-ebooking .active.ebooking_summary {
    transform: translateX(0); }
  .node-ebooking.processed .left.panel, .node-ebooking .left.ebooking_summary {
    transform: translateX(-150%); }
  .node-ebooking.processed .right.panel, .node-ebooking .right.ebooking_summary {
    transform: translateX(150%); }
  .node-ebooking.processed .initialize.panel, .node-ebooking .initialize.ebooking_summary {
    transform: translateX(150%);
    transition: transform 0s; }
  .node-ebooking.processed .panel > .fieldset-wrapper, .node-ebooking .ebooking_summary > .fieldset-wrapper {
    max-width: 720px;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .node-ebooking.processed .panel, .node-ebooking .ebooking_summary {
      margin: 20px;
      padding: 55px 20px 85px; } }

.node-ebooking.processed .webform-component-markup[class*="title"] h2, .node-ebooking.processed .webform-component-markup[class*="title"] h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 600; }
  .node-ebooking.processed .webform-component-markup[class*="title"] h2:after, .node-ebooking.processed .webform-component-markup[class*="title"] h3:after {
    content: '';
    display: block;
    width: 115px;
    margin: 10px auto 40px;
    border-top: 5px solid; }
  @media (min-width: 768px) {
    .node-ebooking.processed .webform-component-markup[class*="title"] h2, .node-ebooking.processed .webform-component-markup[class*="title"] h3 {
      font-size: 36px; } }

.node-ebooking.processed .webform-component-optionsmarkup .package.selected:after, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:after {
  font-family: "FontAwesome";
  font-weight: normal;
  content: "";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 18px;
  height: 36px;
  width: 36px;
  border-radius: 50%; }
  .node-ebooking.processed .webform-component-optionsmarkup .package.selected:after > *, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:after > * {
    -ms-flex: 0 1 auto; }

.node-ebooking.processed .webform-component-optionsmarkup, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] {
  margin-top: 40px;
  width: 100%; }
  .node-ebooking.processed .webform-component-optionsmarkup label, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] label {
    width: 100%; }
  .node-ebooking.processed .webform-component-optionsmarkup .form-radios .form-item + .form-item, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .form-radios .form-item + .form-item {
    margin-left: 0; }
  .node-ebooking.processed .webform-component-optionsmarkup .form-radio, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .form-radio {
    display: none; }
  .node-ebooking.processed .webform-component-optionsmarkup .package, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package {
    padding: 40px 20px;
    position: relative;
    cursor: pointer;
    border: 3px solid; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .icon, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .icon {
      margin-bottom: 20px; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .content-wrap, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .content-wrap {
      text-align: left;
      font-size: 16px; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .title, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .title {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 15px; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .price-wrapper, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .price-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-bottom: 15px; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .price-wrapper > *, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .price-wrapper > * {
        -ms-flex: 0 1 auto; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .current-price, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .current-price {
      font-weight: bold;
      margin-bottom: 10px; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .original-price, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .original-price {
      text-decoration: line-through; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .body, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .body {
      margin-bottom: 15px; }
    .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      font-size: 17px;
      font-weight: 600; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points > *, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points > * {
        -ms-flex: 0 1 auto; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points span:before, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points span:before {
        font-family: "FontAwesome";
        font-weight: normal;
        content: "";
        padding-right: 5px; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points span + span, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points span + span {
        margin-top: 10px; }
  @media (min-width: 768px) {
    .node-ebooking.processed .webform-component-optionsmarkup .package, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
          align-items: flex-start;
      padding: 30px 55px 45px; }
      .node-ebooking.processed .webform-component-optionsmarkup .package > *, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package > * {
        -ms-flex: 0 1 auto; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .icon, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .icon {
        margin-right: 20px; }
        .node-ebooking.processed .webform-component-optionsmarkup .package .icon span, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .icon span {
          margin-bottom: 0; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .price-wrapper, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .price-wrapper {
        -ms-flex-direction: row;
            flex-direction: row; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .current-price, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .current-price {
        margin-bottom: 0;
        margin-right: 20px; }
      .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points {
        -ms-flex-direction: row;
            flex-direction: row; }
        .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points span + span, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points span + span {
          margin-top: 0;
          margin-left: 20px; } }

.node-ebooking .l-main {
  max-width: none;
  margin: 0;
  padding: 60px 20px; }

.node-ebooking .l-content {
  max-width: 950px;
  overflow: hidden; }

.node-ebooking .webform {
  padding-top: 60px; }

.node-ebooking .form-item label {
  font-size: 19px; }

.node-ebooking .webform-component .form-type-radio label {
  font-size: 18px; }

.node-ebooking select {
  height: 40px; }

@media (min-width: 768px) {
  .node-ebooking h1.node__title {
    font-size: 2.5em;
    font-weight: 600;
    max-width: 640px;
    margin: 0 auto 25px;
    line-height: 1.1;
    text-align: center; }
  .node-ebooking .l-main {
    padding: 100px 20px 80px; }
    .node-ebooking .l-main .field--name-body {
      margin: 0 auto 90px;
      max-width: 840px; } }

.node-ebooking.processed input:-moz-ui-invalid:not(output),
.node-ebooking.processed select:-moz-ui-invalid:not(output),
.node-ebooking.processed textarea:-moz-ui-invalid:not(output) {
  box-shadow: none; }

.node-ebooking.processed .error input,
.node-ebooking.processed .error select,
.node-ebooking.processed .error textarea {
  box-shadow: 0 0 5px red; }
  .node-ebooking.processed .error input:-moz-ui-invalid:not(output),
  .node-ebooking.processed .error select:-moz-ui-invalid:not(output),
  .node-ebooking.processed .error textarea:-moz-ui-invalid:not(output) {
    box-shadow: 0 0 5px red; }

.node-ebooking.processed .error input[type="radio"] {
  box-shadow: 0 0 6px 1px red;
  border-radius: 100px; }
  .node-ebooking.processed .error input[type="radio"]:-moz-ui-invalid:not(output) {
    box-shadow: 0 0 6px 1px red; }

.node-ebooking.processed .l-content {
  margin-left: auto;
  margin-right: auto; }
  .node-ebooking.processed .l-content:after {
    content: "";
    display: block;
    clear: both; }

.node-ebooking.processed .webform-client-form > div {
  position: relative; }

.node-ebooking.processed .step-number {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.node-ebooking.processed .webform-component-markup {
  font-size: 19px;
  font-weight: bold; }

.node-ebooking.processed .webform-component-markup[class*="title"] {
  margin: 0; }

.node-ebooking.processed fieldset legend {
  text-align: left;
  font-weight: 600; }

.node-ebooking.processed .date-option + .date-option {
  margin-top: 20px; }

.node-ebooking.processed .date-option .fieldset-legend:after {
  content: '*';
  padding-left: 3px;
  font-weight: bold; }

.node-ebooking.processed .date-option .fieldset-wrapper {
  display: -ms-flexbox;
  display: flex; }
  .node-ebooking.processed .date-option .fieldset-wrapper > * {
    -ms-flex: 0 1 auto; }
  .node-ebooking.processed .date-option .fieldset-wrapper > div:nth-of-type(2) {
    width: 30%;
    margin-left: 3%; }
    .node-ebooking.processed .date-option .fieldset-wrapper > div:nth-of-type(2) .form-item, .node-ebooking.processed .date-option .fieldset-wrapper > div:nth-of-type(2).form-item {
      margin-top: 15px; }
    .node-ebooking.processed .date-option .fieldset-wrapper > div:nth-of-type(2) select {
      max-width: none; }
  .node-ebooking.processed .date-option .fieldset-wrapper .webform-component-date {
    width: 67%;
    margin-top: 15px; }

.node-ebooking.processed .date-option .webform-datepicker {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }
  .node-ebooking.processed .date-option .webform-datepicker > * {
    -ms-flex: 0 1 auto; }
  .node-ebooking.processed .date-option .webform-datepicker .form-item {
    width: 47.5%;
    margin: 0; }
    .node-ebooking.processed .date-option .webform-datepicker .form-item + .form-item {
      margin-left: 5%; }
  .node-ebooking.processed .date-option .webform-datepicker .webform-calendar {
    opacity: 0;
    height: 0;
    position: absolute;
    bottom: 0; }

.node-ebooking.processed .webform-component.hidden {
  display: none; }

.node-ebooking.processed .webform-component-select label {
  margin-bottom: 20px; }

.node-ebooking.processed .webform-component-select select {
  max-width: 200px;
  margin: 0 auto; }

.node-ebooking.processed div[class*="if-business"] {
  position: absolute;
  border: solid 4px;
  bottom: 0;
  left: 50%;
  min-width: 90%;
  transform: translateX(-50%);
  padding: 15px;
  font-size: 21px;
  font-weight: 600; }
  .node-ebooking.processed div[class*="if-business"] p {
    line-height: 1.2; }
  .node-ebooking.processed div[class*="if-business"] p + p {
    margin-top: 10px; }
  .node-ebooking.processed div[class*="if-business"] .close-popup {
    position: absolute;
    right: 0;
    top: -5px;
    padding: 10px;
    font-size: 0;
    cursor: pointer; }
    .node-ebooking.processed div[class*="if-business"] .close-popup:after {
      font-family: 'FontAwesome';
      content: '\F00D';
      font-size: 21px; }

.node-ebooking.processed .validation-error {
  position: absolute;
  top: 20px;
  left: 50%;
  min-width: 90%;
  transform: translateX(-50%);
  padding: 25px 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  border: 4px solid; }
  .node-ebooking.processed .validation-error span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    text-align: left; }
    .node-ebooking.processed .validation-error span > * {
      -ms-flex: 0 1 auto; }
    .node-ebooking.processed .validation-error span:before {
      font-family: "FontAwesome";
      font-weight: normal;
      content: "";
      padding-right: 25px;
      font-size: 44px; }

.node-ebooking.processed .button {
  min-width: 180px;
  margin-top: 30px; }

.node-ebooking.processed .basic-form {
  display: block;
  font-size: 19px;
  font-weight: 600;
  margin-top: 40px;
  text-decoration: underline; }

.node-ebooking.processed .form-actions {
  text-align: center;
  margin-top: 30px; }
  .node-ebooking.processed .form-actions input {
    min-width: 200px;
    width: 100%;
    margin: 0 auto; }
    .node-ebooking.processed .form-actions input + input {
      margin-top: 30px; }

.node-ebooking.processed .webform-next {
  display: none;
  margin-left: auto;
  margin-right: auto; }

.node-ebooking.processed .panel-form {
  display: none; }

.node-ebooking.processed .ajax-progress-throbber {
  display: none !important; }

@media (min-width: 768px) {
  .node-ebooking.processed .webform-component-markup[class*="title"] {
    margin: 0; }
  .node-ebooking.processed .webform-component-select label {
    margin-bottom: 50px; }
  .node-ebooking.processed .form-radios {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .node-ebooking.processed .form-radios > * {
      -ms-flex: 0 1 auto; }
    .node-ebooking.processed .form-radios .form-item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .node-ebooking.processed .form-radios .form-item > * {
        -ms-flex: 0 1 auto; }
      .node-ebooking.processed .form-radios .form-item + .form-item {
        margin-left: 15px; }
      .node-ebooking.processed .form-radios .form-item label {
        margin-bottom: 0;
        margin-left: 5px; }
  .node-ebooking.processed .button.button-prev, .node-ebooking.processed .button.inactive {
    margin-right: 40px;
    margin-top: 40px; }
  .node-ebooking.processed .button.button-next {
    margin-top: 40px; }
  .node-ebooking.processed .validation-error {
    top: 40px;
    min-width: 60%;
    padding: 30px;
    font-size: 21px;
    line-height: 29px; }
  .node-ebooking.processed div[class*="if-business"] {
    bottom: 10px;
    min-width: 60%;
    padding: 25px; }
  .node-ebooking.processed .form-actions input {
    width: auto; }
    .node-ebooking.processed .form-actions input + input,
    .node-ebooking.processed .form-actions input + .button {
      margin-left: 40px;
      margin-top: 0; } }

.node-ebooking.processed.basic-form .panel {
  position: relative;
  box-shadow: none;
  padding: 40px 20px; }
  .node-ebooking.processed.basic-form .panel.left, .node-ebooking.processed.basic-form .panel.right {
    transform: translateX(0); }

.node-ebooking.processed.basic-form div[class*="if-business"] {
  position: relative; }

.node-ebooking.processed.basic-form .webform-next {
  display: block; }

.node-ebooking.processed.basic-form .button-prev,
.node-ebooking.processed.basic-form .button-next,
.node-ebooking.processed.basic-form .button.inactive,
.node-ebooking.processed.basic-form .button-checkout,
.node-ebooking.processed.basic-form .step-number,
.node-ebooking.processed.basic-form .basic-form,
.node-ebooking.processed.basic-form .validation-error {
  display: none !important; }

.node-ebooking.processed.basic-form .panel-form {
  display: block;
  font-size: 19px;
  font-weight: 600;
  margin-top: 30px;
  text-decoration: underline;
  text-align: center; }

.node-ebooking .ebooking_summary {
  position: relative;
  font-weight: normal; }
  .node-ebooking .ebooking_summary .webform-component-markup[class*="title"] h2:after, .node-ebooking .ebooking_summary .webform-component-markup[class*="title"] h3:after {
    margin-bottom: 20px; }
  .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] {
    margin-top: 0; }
    .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] > h3 {
      font-size: 21px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 25px; }
  .node-ebooking .ebooking_summary .bullet-points {
    font-size: 17px;
    font-weight: 600; }
    .node-ebooking .ebooking_summary .bullet-points p {
      line-height: 1.2; }
      .node-ebooking .ebooking_summary .bullet-points p + p {
        margin-top: 5px; }
      .node-ebooking .ebooking_summary .bullet-points p:before {
        font-family: "FontAwesome";
        font-weight: normal;
        content: "";
        padding-right: 5px;
        font-size: 24px; }
  .node-ebooking .ebooking_summary .amount-due {
    margin-top: 50px;
    padding: 35px 20px;
    border: solid 3px; }
    .node-ebooking .ebooking_summary .amount-due p:first-of-type {
      font-size: 21px; }
    .node-ebooking .ebooking_summary .amount-due p:nth-of-type(2) {
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      margin-top: 10px; }
    .node-ebooking .ebooking_summary .amount-due .tooltip-icon:after {
      font-family: "FontAwesome";
      font-weight: normal;
      content: "";
      cursor: pointer;
      padding-left: 5px;
      font-style: normal; }
  .node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 720px;
    border: solid 4px;
    padding: 25px;
    margin-top: 0;
    text-align: center; }
    .node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] .close-tooltip {
      position: absolute;
      right: 0;
      top: -5px;
      padding: 10px;
      font-size: 0;
      cursor: pointer; }
      .node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] .close-tooltip:after {
        font-family: 'FontAwesome';
        content: '\F00D';
        font-size: 21px;
        font-weight: bold; }
  .node-ebooking .ebooking_summary .paymethod-select-wrapper {
    text-align: left; }
    .node-ebooking .ebooking_summary .paymethod-select-wrapper .fieldset-legend {
      display: none; }
  .node-ebooking .ebooking_summary fieldset[class*='customer-info'],
  .node-ebooking .ebooking_summary fieldset[class*='service-address'] {
    text-align: left; }
    .node-ebooking .ebooking_summary fieldset[class*='customer-info'] .fieldset-wrapper select,
    .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper select {
      max-width: 100%; }
  .node-ebooking .ebooking_summary .form-actions {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .node-ebooking .ebooking_summary fieldset[class*='customer-info'] .fieldset-wrapper,
    .node-ebooking .ebooking_summary .paymethod-select-wrapper .fieldset-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -10px; }
      .node-ebooking .ebooking_summary fieldset[class*='customer-info'] .fieldset-wrapper > *,
      .node-ebooking .ebooking_summary .paymethod-select-wrapper .fieldset-wrapper > * {
        -ms-flex: 0 1 auto; }
      .node-ebooking .ebooking_summary fieldset[class*='customer-info'] .fieldset-wrapper > .form-item,
      .node-ebooking .ebooking_summary .paymethod-select-wrapper .fieldset-wrapper > .form-item {
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
        width: 50%;
        max-width: 50%;
        padding-left: 10px;
        margin-bottom: 0; }
    .node-ebooking .ebooking_summary fieldset.expiry-date {
      width: 50%;
      padding-left: 10px; }
    .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -10px; }
      .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper > * {
        -ms-flex: 0 1 auto; }
      .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper > .form-item {
        padding-left: 10px;
        width: 100%;
        margin-bottom: 0; }
      .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper div[class*='state'],
      .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper div[class*='zip'] {
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
        width: 50%;
        max-width: 50%; }
      .node-ebooking .ebooking_summary fieldset[class*='service-address'] .fieldset-wrapper label {
        margin-bottom: 20px; } }

.node-ebooking.processed .ebooking_summary, .node-ebooking .ebooking_summary {
  background-color: #fff; }

.node-ebooking.processed .webform-component-markup[class*="title"] h2:after, .node-ebooking.processed .webform-component-markup[class*="title"] h3:after {
  border-top-color: #dddddd; }

.node-ebooking.processed .webform-component-optionsmarkup .package.selected:after, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:after {
  background-color: #000;
  color: #fff; }

.node-ebooking.processed .webform-component-optionsmarkup .package, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package {
  border-color: #f4f4f4;
  background-color: #f4f4f4; }
  .node-ebooking.processed .webform-component-optionsmarkup .package:hover, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:hover, .node-ebooking.processed .webform-component-optionsmarkup .package.selected, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package.selected {
    border-color: #000; }
  .node-ebooking.processed .webform-component-optionsmarkup .package .bullet-points span:before, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .bullet-points span:before {
    color: #3da244; }

.node-ebooking h1.node__title {
  color: #fff; }

.node-ebooking .l-main {
  background-color: #58595b;
  color: #fff; }

.node-ebooking .form-item label {
  color: #000; }

.node-ebooking .date-option .fieldset-legend:after {
  color: #f00; }

.node-ebooking.processed .panel {
  background-color: #fff; }

.node-ebooking.processed div[class*="if-business"] {
  background-color: #f4f4f4; }

.node-ebooking.processed .validation-error {
  background-color: #feefef;
  border-color: #fe2a2a;
  color: #2f2f2f; }
  .node-ebooking.processed .validation-error span:before {
    color: #fe2a2a; }

.node-ebooking.processed .button.inactive {
  background-color: #bebebe; }

.node-ebooking.processed .ebooking_summary {
  color: #000; }

.node-ebooking.basic-form .webform-component-markup {
  color: #000; }

.node-ebooking.basic-form .panel-form {
  color: #fff; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package {
  border-color: #000; }

.node-ebooking .ebooking_summary .bullet-points p:before {
  color: #3da244; }

.node-ebooking .ebooking_summary .amount-due {
  background-color: #ecffe0;
  border-color: #72cf37; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] {
  background-color: #f4f4f4; }
