@mixin container($width:$container) {
  max-width: $width;
  margin: 0 auto;
}

@mixin clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.hidden {
  display: none;
}

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

.l-region--sidebar {
  padding-top: 40px;
  .block {
    + .block {
      margin-top: 2em;
    }
  }
}

.l-page {
  @include flexbox;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  > div {
    width: 100%;
  }
  .l-main {
    flex: 1 1 auto;
  }
}

.l-main {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 20px;
}

@include breakpoint($tab) {
  .l-main {
    @include container;
    @include flexbox;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2em 0;
  }
  .l-content {
    flex: 1 1 auto;
    max-width: $container;
    width: 100%; // IE fix
    margin-left: 20px;
    margin-right: 20px;
  }
  .l-region--sidebar {
    flex: 0 0 30%;
    order: -1;
    max-width: $sidebar;
    margin-left: 20px;
    padding-top: 6px // align top of sidebar with page heading
  }
  .no-sidebar {
    .l-main {
      padding-left: 20px;
      padding-right: 20px;
    }
    .l-content {
      max-width: 850px;
      margin: 0 auto;
    }
  }
}

@include breakpoint($desk) {
  .l-main {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
