// homepage
.block--views-special-offers-front2{
  .view-header{
    h2, h3{
      color: palette(primary, dark);
    }
    p{
      a{
        color: palette(primary, dark);
        &:after{
          color: palette(secondary, light);
        }
        &:hover{
          color: palette(tertiary, dark);
          &:after{
            color: palette(primary, base);
          }
        }
      }
    }
  }
  .view-content{
    .views-row{
      background: palette(white, pure);
      .node{
        border-color: palette(neutral, iron);
        h2{
          color: palette(primary, dark);
        }
        h3{
          color: palette(neutral, mine-shaft);
        }
        .field--name-field-button{
          .button{
            background-color: palette(primary, dark);
            color: palette(white, pure);
          }
        }
        .field--name-field-expiration-date{
          color: #c80108;
        }
      }
    }
  }
}

.block-special-offers-intro {
  $color-block-title: palette(secondary, base);

  .block__title {
    color: $color-block-title;
  }
}

// sidebars
.block--views-special-offers-sidebar-sec, .block--views-096cf025523abc0c052989875f4f93fe{
  .view-content{
    .views-row{
      background: palette(white, pure);
      .node{
        border-color: palette(neutral, iron);
        h2{
          color: palette(primary, dark);
        }
        h3{
          color: palette(neutral, mine-shaft);
        }
        .field--name-field-button{
          .button{
            background-color: palette(primary, dark);
            color: palette(white, pure);
          }
        }
        .field--name-field-expiration-date{
          color: #c80108;
        }
      }
    }
  }
}

//full page listing
.block--views-special-offers-list {
  .node {
    border-color: palette(neutral, mercury);
    .node__title{
      color: palette(secondary, base);
    }
    .field--name-field-button{
      a{
        background: transparent;
        color: palette(primary, base);
        &:after{
          color: palette(secondary, base);
        }
        &:hover{
          color: palette(secondary, base);
          &:after{
            color: palette(primary, base);
          }
        }
      }
    }
  }
}
