.block--nav-submenu {
  background: $color-brand-secondary;
  margin-bottom: 40px;
  &.block.block--menu-block {
    padding: 0;
  }
  .block__title {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .menu-block-wrapper {
    font-weight: 600;
    a {
      color: white;
      display: block;
      padding: 10px 20px;
      &:hover {
        color: $color-brand-tertiary;
      }
    }
    li {
      border-bottom: 1px solid white;
      &:last-child {
        border-bottom: none;
      }
    }
    .active-trail {
      color: $color-brand-tertiary;
    }
    > .menu > li > a {
      &:before {
        @include faicon("\f0a9");
        font-weight: normal;
        margin-right: 5px;
        color: $color-brand-tertiary;
      }
    }
  }
}
