body.admin-menu.adminimal-menu:before  {
  background-color: #333;
  min-height: 60px;
}

body.has-sprowt-dashboard.admin-menu.adminimal-menu:before {
  min-height: auto;
}

#admin-menu {
  z-index: 99999999;
  .dropdown li ul {
    position: fixed;
  }
}
.slicknav_menu {
  position: relative;
  z-index: 999;
}
.tabs {
  display: block;
  width: 100%;
  background-color: #333;
  //margin-top: -32px;
  border-bottom: none;
  //position: fixed;
  z-index: 999;
  margin-bottom: 0;
  li {
    float: none;
    margin-right: 0;
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  li.active a {
    background-color: #454545;
  }
  a {
    background-color: #333;
    color: white;
    font-family: Open Sans, "Segoe UI", "Helvetica", sans-serif;
    &:hover {
      background-color: #333;
      color: white;
      text-decoration: underline;
    }
  }
}
.action-links {
  //position: fixed;
  right: 20px;
  //margin-top: -26px;
  z-index: 999;
  margin-top: 0;
  li {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  a {
    display: block;
    background-color: #333;
    padding: 0.3em 0.8em;
    color: white;
    font-family: Open Sans, "Segoe UI", "Helvetica", sans-serif;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

#admin-menu {
  li {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
}

body.adminimal-menu #admin-menu .admin-menu-search input {
  min-height: 0; //undo stuff
}

@include breakpoint($nav) {
  .tabs {
    position: fixed;
    margin-top: -32px;
    li {
      float: left;
      margin-right: 1em;
    }
  }

  .action-links {
    position: fixed;
    margin-top: -26px;
    a {
      padding: 0;
    }
  }
  body.has-sprowt-dashboard {
    .tabs {
      position: relative;
      margin-top: 0;
    }

    .action-links {
      position: absolute;
      margin-top: -32px;
    }
  }
}