.nav-submenu {
	.menu-block-wrapper > .menu {
		a {
			padding: 10px 0;
		}
		// first level
		> li {
			border-bottom: 1px solid $color-border;
			+ li {
				margin-top: 0px;
			}
		}
		// second level
		> li > .menu {
			margin-bottom: 20px;
			margin-top: -5px;
			> li {
				margin-top: 0;
			}
			> li > a {
				padding: 3px 0 0 20px;
			}
		}
	}
}