.benefits-hero,
.local-target-benefits {

  padding: 20px 20px 40px;
  .view-content {
    max-width: 350px;
    margin: 0 auto;
  }
  .views-row {
    + .views-row {
      margin-top: 30px;
    }
  }
  .node--benefit {
    @include flexbox;
    align-items: center;
    padding: 0 20px;
    transition: .2s ease-in-out;
  }
  .node__title {
    font-size: 21px;
    font-weight: 600;
  }
  .field--name-field-image {
    @include flexbox;
    align-items: center;
    flex: 0 1 65px;
    margin-right: 20px;
    // a > img {
    //   @extend %image-hover;
    // }
  }
  @include breakpoint($tab) {
    padding-bottom: 60px;
    text-align: center;
    .view-content {
       @include container;
       @include flexbox;
       justify-content: space-around;
       flex-wrap: nowrap;
       max-width: 810px;
       position: relative;
       z-index: 99;
    }
    .views-row {
      @include flexbox;
      flex: 0 1 percentage(1/2);
      max-width: 360px;
      width: percentage(1/2);
      padding: 0 20px;
      margin: 0;
      + .views-row {
        margin-top: 0;
      }
    }
    .node--benefit {
      display: block;
      max-width: 250px;
      margin: 0 auto;
      border-width: 1px;
      border-style: solid;
      width: 100%;
      padding: 40px 20px;
    }
    .field--name-field-image {
      justify-content: center;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  @include breakpoint($desk) {
    .views-row {
      flex: 0 1 percentage(1/3);
      padding: 0 10px;
    }
    .node--benefit {
      padding: 50px 20px;
    }
  }
}

.local-target-benefits {
  .field--name-body {
    display: none;
  }
}
