.block--views-locations-list {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  line-height: (22/16);
  .views-row {
    + .views-row {
      margin-top: 30px;
    }
  }
  .node {
    text-align: center;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    margin: 0;
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
  }
  .field-street-address {
    display: block;
  }
  .field-street-address,
  .field-locality, .field-phone-number {
    line-height: 1.5em;
  }
  @include breakpoint($tab) {
    margin-top: 0;
    padding: 0 20px;
    .view-content {
      @include flexbox;
      justify-content: center;
      margin: 0 -10px;
    }
    .views-row {
      padding: 0 10px;
      + .views-row {
        margin-top: 0;
      }
    }
  }
  @include breakpoint($desk) {
    padding-left: 0;
    padding-right: 0;
    .node {
      text-align: left;
    }
  }
}
