// header
.block--logo-block-logo {
  @include flexbox;
  align-items: center;
  padding: 20px;
  // top: 4px; // used to verically center logo
  .block__content {
    margin-right: 100px;
  }
  .mobile-menu-toggle {
    @include flexbox;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    i {
      font-size: 1.6em;
    }
    &.open i:before {
      @include faicon('\F00D');
    }
  }
  .tablet-menu-toggle {
    display: none;
  }
  @include breakpoint($tab) {
    margin-left: percentage(100/1880);
    .block__content {
      margin: 0;
    }
    .mobile-menu-toggle {
      display: none;
    }
    .tablet-menu-toggle {
      @include flexbox;
      align-items: center;
      margin-left: auto;
      font-weight: 600;
      margin-right: percentage(150/1880);
      cursor: pointer;
      i {
        font-size: 1.25em;
        margin-right: 15px;
      }
    }
  }
  @include breakpoint($nav) {
    display: block;
    margin-left: 0;
    padding: 12px 20px;
    .tablet-menu-toggle {
      display: none;
    }
  }
}

// footer
.block--logo {
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
  @include breakpoint($desk) {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
