.block--views-services-all {
  .node__title {
    @extend h3;
  }
}

.not-front {
  .block--views-services-all {
    div.more-link {
      display: none;
    }
  }
}

// homepage service listing
.block--views-services-front-services {
  padding: 20px 20px 40px;
  .view-content {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
        + .more-link {
      text-align: center;
      margin-top: 1.5em;
      a {
        @extend %button;
        max-width: 250px;
        margin: 0 auto;
      }
    }
  }
  .views-row {
    width: 50%;
    padding: 20px;
  }
  .node {
    text-align: center;
  }
  .node__title {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .field--name-field-icon {
    padding-bottom: 15px;
  }
  .field--name-field-icon {
    padding-bottom: 25px;
  }
  .field--name-body {
    display: none;
  }
  @include breakpoint($tab) {
    position: relative;
    .view-content {
      max-width: none;
    }
    .views-row {
      @include flexbox;
      width: 50%;
      padding: 0 15px;
      margin-top: 40px
    }
    .node {
      @include flexbox;
      flex-direction: column;
      padding: 30px 15px 40px;
      border: 1px solid;
    }
    .node__content {
      @include flexbox;
      flex-direction: column;
      flex: 1 1 auto;
    }
    .node__title {
      font-size: 1.1em;
      font-weight: 700;
    }
    .field--name-field-image,
    .field--name-field-icon {
      padding-bottom: 30px;
    }
    .field--name-body {
      @include flexbox;
      flex: 1 1 auto;
      font-size: .9em;
      line-height: 1.6em;
      .field__items {
        @include flexbox;
        flex: 1 1 auto;
        .field__item {
          @include flexbox;
          flex-direction: column;
          flex: 1 1 auto;
          position: relative;
          padding-bottom: 30px;
        }
      }
      .more-link {
        position: relative;
        top: 30px;

        &.more-link {
          max-width: 170px;
          margin: auto auto 0;
        }
      }
    }
  }
  @include breakpoint($desk) {
    padding: 0 10px 40px;
    z-index: 100;
    .views-row {
      width: 25%;
      max-width: 310px;
      margin-top: -360px;
    }
    .node {
      border: none;
      transition: .2s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  @include breakpoint(1220px) {
    .views-row {
      padding: 0 30px;
    }
  }
}

.front--solutions-finder{
  .block--views-services-front-services{
    @include breakpoint($desk){
      padding: 80px 10px 60px;
      .views-row{
        margin-top: 0;
      }
    }
  }
}

// .front {
//   .block--views-services-all {
//     .field--name-field-image {
//       padding-bottom: 20px;
//     }
//     @include breakpoint($tab) {
//       .field--name-field-image {
//         padding-bottom: 0;
//       }
//     }
//   }
// }
