.block--sprowt-settings-sprowt-social-media {
  margin: 20px 0;
  padding: 0 20px;
  font-size: 23px;
  .block__content {
    ul {
      @include flexbox;
      justify-content: center;
    }
    li {
      + li {
        margin-left: .25em;
      }
    }
    a {
      @include flexbox;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      line-height: normal;
      width: 35px;
      height: 35px;
    }
  }
  .social-description {
    display: none;
  }
  @include breakpoint($desk) {
    margin: 0;
    padding: 0;
    .block__content {
      ul {
        justify-content: flex-end;
      }
    }
    .fa {
      font-size: 28px;
    }
  }
}
