%special-offers-sidebar {
  padding: 25px 15px;
  border: 5px dashed;
  .block__title {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
  }
  .node__title {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .node {
    .field--name-field-button {
      margin-top: 1.25em;
    }
  }
  .button {
    width: 100%;
  }
}

.block--views-special-offers-sidebar {
  @extend %special-offers-sidebar;
}

// LTP special offers placed in content with shortcode
.block-shortcode--views-special_offers-ltp_s4 {
  @extend %special-offers-sidebar;
  order: 10;
  margin: 40px 0;
  @include breakpoint($tab) {
    @include clear;
    max-width: 280px;
    float: right;
    margin: 50px 0 40px 40px;
  }
}

.block--views-special-offers-list {
  .views-row {
    + .views-row {
      border-top: 0;
      padding-top: 0;
    }
  }
  .node {
    border: 3px dashed;
    padding: 20px;
    max-width: 600px;
  }
}

// homepage

.block-special-offers-intro {
  max-width: 870px;
  margin: 0 auto;
  padding: 60px 20px 30px;
  text-align: center;
  .block__title {
    @extend h3;
  }
  @include breakpoint($desk) {
    .block__title {
      font-size: 41px;
    }
    .block__content {
      font-size: 22px;
      line-height: (35/22);
    }
  }
}

.block--views-special-offers-front-s4,
.block--views-special-offers-related-s4,
.local-target-special-offer {
  margin: 20px auto 35px;
  border: 3px solid;
  padding: 30px 20px;
  max-width: 700px;
  .offer-headline {
    display: none;
  }
  .node__title {
    font-size: 18px;
    line-height: (26/18);
  }
  .field--name-body {
    font-size: 15px;
    line-height: (26/15);
  }
  .field--name-field-button {
    margin-top: 20px;
  }
  @include breakpoint($tab) {
    padding: 0;
    .node--special-offer {
      @include flexbox;
      width: 100%;
    }
    .offer-headline {
      @include flexbox;
      flex: 1 1 percentage(1/3);
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 30px 20px;
    }
    .field--name-field-offer-headline {
      margin-bottom: .25em;
      font-size: 2.5em;
      font-weight: 900;
      text-transform: uppercase;
    }
    .field--name-field-offer-subheadline {
      font-size: 19px;
      font-weight: 600;
      line-height: 1.1;
    }
    .node__content {
      flex: 1 1 percentage(2/3);
      padding: 30px;
    }
  }
  @include breakpoint($desk) {
    .offer-headline {
      min-width: 280px;
      padding: 30px 10px;
    }
    .field--name-field-offer-headline {
      font-size: 58px;
    }
    .node__content {
      padding: 55px 40px;
    }
  }
}

.block--views-special-offers-related-s4 {
  margin: 60px 20px;
  @include breakpoint($tab) {
    margin: 60px auto;
  }
}

// .block--views-special-offers-front,
// .local-target-special-offer {
//   padding: 0 20px 50px;
//   .block__title {
//     @extend h3;
//     text-transform: uppercase;
//     text-align: center;
//     padding: 40px 0 30px;
//   }
//   .node {
//     border: 5px dashed;
//     padding: 20px;
//     margin-bottom: 20px;
//   }
//   .field--name-body {
//     font-size: 1em;
//   }
//   .button {
//     max-width: 220px;
//   }
//   @include breakpoint($tab) {
//     .block__title {
//       padding: 40px 0 10px;
//     }
//     .view-content {
//       @include flexbox;
//       justify-content: center;
//     }
//     .views-row {
//       @include flexbox;
//     }
//     .node {
//       max-width: 490px;
//       margin: 20px;
//     }
//   }
// }
