.node--image-gallery{
  .node__title{
    text-align:center;
    margin-bottom:5%;
  }
  .field--name-field-gallery-images{
    .field-items{
      @include flexbox;

      flex-wrap:wrap;
      .field-item{
        display:flex;
        flex-direction:column;
        margin: 1.5%;
      }
    }
  }
}
