.l-region--header-second {
	&:before {
		background: palette(white, pure);
	}
}

.block--nav-main {
	@include breakpoint($nav) {
		background: palette(primary, dark);
    border-color: palette(white, pure);
		.menu-block-wrapper {
			a, .nolink {
				color: palette(white, pure);
			}
			// first level
			> .menu > li:hover a,
			> .menu > li:hover .nolink,
			> .menu > li:active a,
			> .menu > li:active .nolink {
				background: palette(secondary, base);
			}
			// second level
			> .menu > li > .menu > li:hover a,
			> .menu > li > .menu > li:hover .nolink,
			> .menu > li > .menu > li:active a,
			> .menu > li > .menu > li:active .nolink
			{
				background: palette(tertiary, base);
			}
			// third level
			> .menu > li > .menu > li > .menu > li:active > a,
			> .menu > li > .menu > li > .menu > li:hover > a {
				background: darken(palette(tertiary, base), 10);
			}
		}
	}
}
