.block--nav-mobile {
  a {
    background: $color-brand-secondary;
    &:hover,
    &.active {
      background: $color-brand-secondary-dark;
    }
  }
  .block__title {
    background: $color-brand-primary;
  }
  .menu {
    background: $color-brand-secondary;
  }
}
