@mixin button-color($bg:palette(primary, base), $fg:palette(white, pure), $bg-hover:palette(primary, dark), $fg-hover:null) {
  background-color: $bg;
  color: $fg;
  &:hover,
  &:focus {
    @if $bg-hover != null {
      background-color: $bg-hover;
    } @else {
      background-color: darken($bg, 10);
    }
    @if $fg-hover != null {
      color: $fg-hover;
    } @else {
      color: $fg;
    }
  }
}
