@import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700";
#dashboards #tab-links {
  position: relative;
  z-index: 1;
  background: #febd1e; }
  #dashboards #tab-links ul {
    padding: 10px 20px;
    max-width: 1210px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    list-style: none; }
    #dashboards #tab-links ul > * {
      -ms-flex: 0 1 auto; }
    #dashboards #tab-links ul li {
      padding: 0 10px; }
      #dashboards #tab-links ul li a {
        color: #181818;
        font-size: 16px;
        font-weight: 600; }
        #dashboards #tab-links ul li a:hover {
          color: #fff; }
  @media (min-width: 768px) {
    #dashboards #tab-links ul li {
      padding: 0 25px; }
      #dashboards #tab-links ul li a {
        font-size: 17px; } }

#dashboards .not-found h1, #dashboards .not-found h2 {
  padding: 10px 20px;
  max-width: 1210px;
  text-align: center;
  margin: 200px auto; }

#dashboards .field-name-body {
  padding: 20px 40px; }
  #dashboards .field-name-body .block > h2,
  #dashboards .field-name-body .block__title {
    font-size: 32px;
    font-weight: bold; }
  #dashboards .field-name-body .view-content {
    max-width: 100%;
    overflow-y: visible;
    overflow-x: scroll; }

.dashboard-page .messages {
  margin: 0; }

.not-logged-in.page-sprowt {
  background: radial-gradient(ellipse at center, #323232 0%, #141414 100%); }
  .not-logged-in.page-sprowt * {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif; }
  .not-logged-in.page-sprowt .l-page {
    background: url("../images/watermark.png") no-repeat;
    background-position: left -515px center;
    background-size: contain; }
    .not-logged-in.page-sprowt .l-page .l-main {
      padding: 200px 20px 50px;
      margin: 0;
      max-width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .not-logged-in.page-sprowt .l-page .l-main .l-content {
        text-align: center; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .block-wrap {
          background: #202020;
          background: linear-gradient(135deg, #2c2c2c 50%, #202020 50%) repeat scroll 0 0;
          box-shadow: 0 20px 15.4px 0.6px rgba(24, 24, 24, 0.2);
          padding: 20px 30px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .logo img {
          width: 200px;
          height: auto; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .logo {
          margin-bottom: 30px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content h2, .not-logged-in.page-sprowt .l-page .l-main .l-content p {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.56;
          text-align: center;
          color: #f3d791; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content h2 {
          margin-top: 0; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .google_button {
          max-height: 80px;
          text-transform: none;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.4;
          text-align: center;
          color: #fff;
          padding: 15px 25px;
          border-radius: 5px;
          background-color: #181818;
          box-shadow: 0 7px 15.4px 0.6px rgba(24, 24, 24, 0.6); }
          .not-logged-in.page-sprowt .l-page .l-main .l-content .google_button span {
            color: #febd1e; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .form-item {
          margin-bottom: 10px;
          margin-top: 1.15em; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content label {
          color: #b8b8b8;
          text-align: left;
          margin: 0 auto 5px;
          font-weight: 500; }
          .not-logged-in.page-sprowt .l-page .l-main .l-content label span {
            color: #febd1e; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content input {
          padding: 15px;
          margin: 0 auto;
          border-radius: 5px;
          box-shadow: 0 7px 15.4px 0.6px rgba(24, 24, 24, 0.6); }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .description {
          padding-top: 5px;
          text-align: left;
          margin: 0 auto;
          color: #a1a1a1; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content ul {
          line-height: 0.75; }
          .not-logged-in.page-sprowt .l-page .l-main .l-content ul li a {
            color: #f3d791;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .form-actions {
          margin-top: 1.15em;
          margin-bottom: 0; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .form-submit {
          max-height: 80px;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.4;
          text-align: center;
          color: #fff;
          padding: 15px 50px;
          border-radius: 5px;
          background-color: #febd1e;
          box-shadow: 0 7px 15.4px 0.6px rgba(24, 24, 24, 0.6); }
  @media (min-width: 768px) {
    .not-logged-in.page-sprowt .l-page .l-main {
      padding: 0 70px; }
      .not-logged-in.page-sprowt .l-page .l-main .l-content {
        max-width: 600px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .block-wrap {
          padding: 40px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content h2, .not-logged-in.page-sprowt .l-page .l-main .l-content p {
          font-size: 18px;
          text-transform: uppercase; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .logo img {
          width: 229px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .google_button {
          padding: 15px 62px;
          width: 435px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content label {
          max-width: 335px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content input {
          width: 335px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .description {
          max-width: 335px; }
        .not-logged-in.page-sprowt .l-page .l-main .l-content .form-submit {
          width: 335px; } }
  @media (min-width: 1024px) {
    .not-logged-in.page-sprowt .l-page .l-main {
      padding: 0 20px; } }

body.has-sprowt-dashboard #sprowt-dashboard-nav {
  background: linear-gradient(to right, #181818, #262626);
  border-bottom: 2px solid rgba(255, 231, 178, 0.6);
  box-shadow: -10px 0 15.4px 0.6px rgba(24, 24, 24, 0.83);
  position: relative;
  z-index: 105;
  padding: 0 20px; }
  body.has-sprowt-dashboard #sprowt-dashboard-nav * {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav *.fa {
      font-family: FontAwesome; }
  body.has-sprowt-dashboard #sprowt-dashboard-nav .logo svg {
    width: 100%;
    height: auto;
    max-width: 227px; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav .logo svg path.cls-1 {
      fill: #fff; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav .logo svg path.cls-2 {
      fill: #febc1f; }
  body.has-sprowt-dashboard #sprowt-dashboard-nav .interior {
    max-width: 1210px;
    height: 110px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-top: 30px; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav .interior > * {
      -ms-flex: 0 1 auto; }
  body.has-sprowt-dashboard #sprowt-dashboard-nav .fa-bars {
    color: #fff;
    font-size: 26px;
    padding: 10px; }
  body.has-sprowt-dashboard #sprowt-dashboard-nav .sprowt-dashboard-nav {
    position: relative; }
  body.has-sprowt-dashboard #sprowt-dashboard-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: end;
        align-items: flex-end;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 88; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav ul > * {
      -ms-flex: 0 1 auto; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav ul li {
      padding: 5px 10px;
      width: 185px;
      text-align: right;
      background: #262626; }
      body.has-sprowt-dashboard #sprowt-dashboard-nav ul li:before {
        display: none; }
      body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a {
        font-size: 17px;
        line-height: 1.65;
        color: #f0f0f0; }
        body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a:hover {
          color: #f3d791; }
        body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a.button {
          text-transform: none;
          font-weight: 400;
          background: transparent;
          border: solid 1px #febd1e;
          border-radius: 10px;
          box-shadow: -10px 0 15.4px 0.6px rgba(26, 31, 34, 0.32);
          color: #fff;
          margin-bottom: 5px; }
          body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a.button:hover {
            color: #f3d791; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav ul li:first-child, body.has-sprowt-dashboard #sprowt-dashboard-nav ul li:last-child {
      border-left: none; }
  @media (min-width: 768px) {
    body.has-sprowt-dashboard #sprowt-dashboard-nav .sprowt-dashboard-nav-mobile-toggle {
      display: none; }
    body.has-sprowt-dashboard #sprowt-dashboard-nav ul {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: row;
          flex-direction: row;
      position: static; }
      body.has-sprowt-dashboard #sprowt-dashboard-nav ul li {
        display: block;
        background: transparent;
        text-align: center;
        width: auto;
        padding: 0 10px;
        border-left: 1px solid #35312e; }
        body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a {
          font-size: 16px; }
          body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a.button {
            padding: 10px 20px;
            margin-bottom: 0; } }
  @media (min-width: 1024px) {
    body.has-sprowt-dashboard #sprowt-dashboard-nav ul li {
      padding: 0 15px; }
      body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a {
        font-size: 17px; }
        body.has-sprowt-dashboard #sprowt-dashboard-nav ul li a.button {
          padding: 10px 30px; } }
