@charset "UTF-8";
.entity-paragraphs-item.solution-annotated-image {
  padding: 30px 20px;
  text-align: center;
  max-width: 100%; }
  .entity-paragraphs-item.solution-annotated-image .paragraphs-items-field-content {
    text-align: left; }
  .entity-paragraphs-item.solution-annotated-image .pointer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-weight: bold;
    color: white;
    background: #c82127;
    border: solid 3px #e0e0e0;
    border-radius: 1000px;
    padding: 0 0 2px;
    text-indent: -1px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    cursor: default; }
    .entity-paragraphs-item.solution-annotated-image .pointer > * {
      -ms-flex: 0 1 auto; }
  .entity-paragraphs-item.solution-annotated-image .field-collection-item-field-annotations {
    position: relative;
    padding-left: 25px; }
    .entity-paragraphs-item.solution-annotated-image .field-collection-item-field-annotations .delta-id {
      position: absolute;
      width: 20px;
      text-align: right;
      left: 0;
      top: 0;
      font-weight: bold; }
      .entity-paragraphs-item.solution-annotated-image .field-collection-item-field-annotations .delta-id:after {
        display: inline;
        content: "."; }
  .entity-paragraphs-item.solution-annotated-image .field--name-field-annotation-label {
    font-weight: bold;
    margin-bottom: 10px; }
  .entity-paragraphs-item.solution-annotated-image .field--name-field-annotations {
    margin: 30px auto 0;
    max-width: 764px; }
    .entity-paragraphs-item.solution-annotated-image .field--name-field-annotations > .field__items .field__item + .field__item {
      margin-top: 20px; }
  .entity-paragraphs-item.solution-annotated-image .field--name-field-image-annotated {
    margin-top: 20px; }
    .entity-paragraphs-item.solution-annotated-image .field--name-field-image-annotated .field__item {
      width: 100% !important;
      max-width: 764px;
      margin: 0 auto;
      border: solid 3px #e0e0e0; }
  @media (min-width: 768px) {
    .entity-paragraphs-item.solution-annotated-image {
      padding: 47px 30px 65px; }
      .entity-paragraphs-item.solution-annotated-image .pointer {
        font-size: 21px;
        height: 51px;
        width: 51px; }
      .entity-paragraphs-item.solution-annotated-image .paragraphs-item-annotated-image > .content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        margin-top: 50px; }
        .entity-paragraphs-item.solution-annotated-image .paragraphs-item-annotated-image > .content > * {
          -ms-flex: 0 1 auto; }
      .entity-paragraphs-item.solution-annotated-image .field--name-field-annotations {
        margin: 0;
        margin-left: 26px;
        width: 415px; }
      .entity-paragraphs-item.solution-annotated-image .field--name-field-image-annotated {
        margin: 0; } }

.block--sprowt-solution-finder-solution-finder {
  max-width: 350px;
  margin: 0 auto;
  margin-top: -70px;
  padding: 30px;
  position: relative;
  z-index: 5;
  background-color: #fefefe;
  border: solid 3px #dfe2e3; }
  .block--sprowt-solution-finder-solution-finder .block__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 580px; }
    .block--sprowt-solution-finder-solution-finder .block__title strong {
      font-weight: 800; }
    .block--sprowt-solution-finder-solution-finder .block__title span {
      font-weight: 700;
      font-style: italic;
      border-bottom: 4px solid #333333; }
  @media (min-width: 560px) {
    .block--sprowt-solution-finder-solution-finder {
      max-width: 520px; } }
  @media (min-width: 768px) {
    .block--sprowt-solution-finder-solution-finder {
      max-width: 680px;
      margin-top: -196px;
      z-index: 5; }
      .block--sprowt-solution-finder-solution-finder .block__title {
        margin: 0 auto 50px; } }
  @media (min-width: 1000px) {
    .block--sprowt-solution-finder-solution-finder {
      max-width: 850px;
      position: relative;
      margin-top: -13%; } }
  @media (min-width: 1024px) {
    .block--sprowt-solution-finder-solution-finder {
      max-width: 1000px;
      margin-top: -150px; }
      .block--sprowt-solution-finder-solution-finder .block__title {
        max-width: 100%; } }

.solution-finder-form .concerns-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .solution-finder-form .concerns-wrapper > * {
    -ms-flex: 0 1 auto; }

.solution-finder-form .concern-wrap {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  min-width: 125px; }
  .solution-finder-form .concern-wrap > * {
    -ms-flex: 0 1 auto; }
  .solution-finder-form .concern-wrap label {
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    width: 100%;
    border: solid 3px transparent;
    text-align: center; }
    .solution-finder-form .concern-wrap label > * {
      -ms-flex: 0 1 auto; }
    .solution-finder-form .concern-wrap label .name {
      max-width: 125px;
      line-height: 1.3; }
    .solution-finder-form .concern-wrap label img, .solution-finder-form .concern-wrap label svg {
      max-height: 45px; }
    .solution-finder-form .concern-wrap label .field--name-field-icon-file {
      margin-bottom: 10px;
      text-align: center; }
    .solution-finder-form .concern-wrap label:hover, .solution-finder-form .concern-wrap label.checked {
      border: solid 3px #dfe2e3;
      box-shadow: 0px 11px 15.5px 2.5px rgba(85, 85, 85, 0.36); }
    .solution-finder-form .concern-wrap label input {
      position: absolute;
      left: -9999;
      top: -9999;
      opacity: 0; }

.solution-finder-form .actions {
  margin-top: 15px; }
  .solution-finder-form .actions .button {
    display: block;
    width: 100%; }
    .solution-finder-form .actions .button + .button {
      margin-top: 15px; }

@media (min-width: 560px) {
  .solution-finder-form .concern-wrap {
    width: 180px;
    margin-right: 10px; }
    .solution-finder-form .concern-wrap label {
      padding: 10px 20px; }
      .solution-finder-form .concern-wrap label .name {
        max-width: 100%; } }

@media (min-width: 768px) {
  .solution-finder-form .concern-wrap {
    -ms-flex-align: start;
        align-items: flex-start;
    width: 290px; }
    .solution-finder-form .concern-wrap label {
      text-align: left;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: start;
          justify-content: flex-start;
      font-size: 19px;
      padding: 10px 40px; }
      .solution-finder-form .concern-wrap label .field--name-field-icon-file {
        margin-right: 10px;
        margin-bottom: 0;
        width: 45px; }
  .solution-finder-form .actions {
    max-width: 640px;
    margin: 15px auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .solution-finder-form .actions > * {
      -ms-flex: 0 1 auto; }
    .solution-finder-form .actions .button {
      width: 48%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .solution-finder-form .actions .button + .button {
        margin-top: 0; } }

@media (min-width: 1000px) {
  .solution-finder-form .concern-wrap {
    width: 300px; } }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .mfp-content {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .mfp-content {
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

.scm-modal-container .mfp-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0; }
  .scm-modal-container .mfp-container > * {
    -ms-flex: 0 1 auto; }
  .scm-modal-container .mfp-container:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.scm-modal-container .mfp-content {
  max-width: 800px;
  height: 100vh;
  max-height: 900px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .scm-modal-container .mfp-content > * {
    -ms-flex: 0 1 auto; }

.scm-modal-container .scm-modal {
  padding: 30px;
  background: white;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  overflow: auto; }
  .scm-modal-container .scm-modal .field label {
    font-size: 1.25rem;
    margin-bottom: 15px; }
  .scm-modal-container .scm-modal .field + .field {
    margin-top: 20px; }

.scm-modal-container header {
  text-align: center;
  margin-bottom: 15px; }
  .scm-modal-container header h2 {
    margin: 0; }

.scm-modal-container .field--name-field-icon-file {
  text-align: center;
  margin-bottom: 15px; }

.scm-modal-container .controls {
  -ms-flex-order: 1;
      order: 1;
  display: -ms-flexbox;
  display: flex; }
  .scm-modal-container .controls > * {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    margin: 0; }

@media (min-width: 768px) {
  .scm-modal-container .mfp-container {
    padding: 20px; }
  .scm-modal-container .scm-modal {
    padding: 50px 80px; } }

@media (min-width: 1200px) {
  .scm-modal-container .mfp-content {
    max-width: 1100px; }
  .scm-modal-container .scm-modal {
    padding: 60px 130px 80px; } }

.entity-paragraphs-item.plan-details {
  padding: 30px 20px;
  background-color: #cb0108;
  text-align: center;
  max-width: 100%; }
  .entity-paragraphs-item.plan-details > .content > h2 {
    font-size: 22.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    font-weight: 600; }
  .entity-paragraphs-item.plan-details > .content > .field--name-field-intro {
    font-size: 36px;
    font-style: italic;
    color: white;
    margin-bottom: 30px;
    font-weight: 600; }
    .entity-paragraphs-item.plan-details > .content > .field--name-field-intro p {
      margin: 0;
      line-height: 1; }
  .entity-paragraphs-item.plan-details .paragraphs-item-body {
    background: white;
    padding: 30px 20px;
    margin-top: 30px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-header {
      font-size: 13.5px;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro .starting-at, .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro strong {
        font-size: 27px;
        margin-bottom: 20px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro p {
        margin: 0; }
    .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-body-text {
      line-height: 1.74;
      font-size: 14.25px;
      margin-bottom: 48px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-call-out {
      padding: 0;
      margin: 0;
      background: none;
      font-weight: bold;
      font-size: 27px;
      color: inherit; }
      .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-call-out em {
        font-weight: 600;
        font-size: 15.75px;
        font-style: italic; }
      .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-call-out p {
        margin: 0;
        line-height: 1; }
  .entity-paragraphs-item.plan-details .paragraphs-item-plan-information {
    background-color: #ffffff;
    box-shadow: 2.1px 23.9px 48.1px 5.9px rgba(0, 0, 0, 0.55);
    border: solid 5px #b2b2b2;
    margin-top: 92px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .content > .field {
      padding-left: 20px;
      padding-right: 20px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .content > .field:first-child {
        padding-top: 20px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .content > .field:last-child {
        padding-bottom: 20px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .header {
      padding: 62px 20px 20px;
      background-color: #43261d;
      color: white;
      position: relative; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .header h2 {
        font-size: 13.5px;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: white; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-icon-file {
      width: 119px;
      top: -63px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-intro {
      font-size: 27px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-intro p {
        margin: 0;
        line-height: 1; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-intro em {
        font-size: 11.25px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .body-content {
      padding: 20px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-body-text {
      font-weight: bold;
      font-size: 18px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-body-text p {
        margin: 0;
        line-height: 1; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features-header {
      font-size: 14.25px;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 30px;
      margin-top: 10px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features {
      margin-bottom: 27px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features .field__items {
        text-align: left;
        display: inline-block; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features .field__item {
        padding-left: 25px;
        position: relative;
        font-size: 15.75px;
        font-weight: bold; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features .field__item:before {
          font-family: FontAwesome;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          font-weight: normal;
          color: #cb0108; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features .field__item + .field__item {
          margin-top: 15px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out {
      margin: 0;
      padding: 0;
      background: none;
      color: inherit;
      font-size: 27px;
      font-weight: bold; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out p {
        line-height: 1;
        margin: 0; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out em {
        font-size: 15.75px;
        font-weight: 600; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        font-size: 21px;
        margin-top: 10px;
        line-height: 1.25; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong > * {
          -ms-flex: 0 1 auto; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong:before, .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong:after {
          font-family: FontAwesome;
          content: "  ";
          font-size: 13.5px;
          display: block; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong:before {
          margin: 0 10px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong:after {
          margin: 0 10px; }
    .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link {
      margin-top: 30px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link.field.field--type-link-field {
        padding: 0; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link a {
        display: block;
        padding: 20px;
        background: #e0e0e0;
        color: #c80108;
        padding-left: 17.84452%;
        padding-right: 17.84452%;
        position: relative;
        font-size: 15.75px;
        font-weight: 600; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link a:before {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 30px;
          height: 30px;
          background: white;
          border-radius: 1000px;
          font-family: FontAwesome;
          font-weight: normal;
          content: "";
          transform: scaleX(-1) translateY(-50%);
          position: absolute;
          top: 50%;
          left: 7.24382%;
          font-size: 22.5px; }
          .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link a:before > * {
            -ms-flex: 0 1 auto; }
  @media (min-width: 572px) {
    .entity-paragraphs-item.plan-details {
      padding-top: 84px;
      padding-bottom: 60px; }
      .entity-paragraphs-item.plan-details > .content > h2 {
        font-size: 30px; }
      .entity-paragraphs-item.plan-details > .content > .field--name-field-intro {
        font-size: 48px;
        margin-bottom: 80px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-body--wrap,
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information--wrap {
        width: 572px;
        margin: 0 auto; }
      .entity-paragraphs-item.plan-details .paragraphs-item-body {
        padding: 83px 30px 107px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-header {
          font-size: 18px;
          margin-bottom: 18px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro {
          font-size: 24px;
          margin-bottom: 30px; }
          .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro .starting-at, .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-intro strong {
            font-size: 36px;
            margin-bottom: 20px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-body-text {
          margin-bottom: 48px;
          font-size: 19px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-call-out {
          font-size: 36px; }
          .entity-paragraphs-item.plan-details .paragraphs-item-body .field--name-field-call-out em {
            font-size: 21px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .header h2 {
        font-size: 18px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-intro {
        font-size: 36px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-intro em {
          display: block;
          margin-top: 10px;
          font-size: 15px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .body-content {
        padding: 33px 30px 20px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-body-text {
        font-size: 24px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features-header {
        font-size: 19px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-plan-features .field__item {
        font-size: 21px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out {
        font-size: 36px;
        margin-bottom: 42px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out em {
          font-size: 21px; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong {
          font-size: 28px; }
          .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong:before, .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-call-out strong:after {
            font-size: 18px; }
      .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link a {
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 21px;
        text-align: left; }
        .entity-paragraphs-item.plan-details .paragraphs-item-plan-information .field--name-field-link a:before {
          width: 46px;
          height: 46px;
          font-size: 30px; } }
  @media (min-width: 1200px) {
    .entity-paragraphs-item.plan-details .field--name-field-content > .field__items {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .entity-paragraphs-item.plan-details .field--name-field-content > .field__items > * {
        -ms-flex: 0 1 auto; }
    .entity-paragraphs-item.plan-details .field--name-field-content .paragraphs-item-plan-information {
      margin-top: 0; }
    .entity-paragraphs-item.plan-details .field--name-field-content > .field__items > .field__item {
      margin: 0; }
      .entity-paragraphs-item.plan-details .field--name-field-content > .field__items > .field__item + .field__item {
        margin-left: 56px; } }

.entity-paragraphs-item.plan-info-concerns {
  padding: 20px 30px;
  max-width: 100%; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .header {
    margin-bottom: 30px; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .header h2 {
      margin: 0;
      margin-bottom: 10px; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-icon-file {
    text-align: center;
    margin: 0 auto 10px;
    width: 117px; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .header-intro {
    text-align: center; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-intro {
    font-style: italic;
    font-weight: 600;
    font-size: 16px; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-intro .concern-names {
      color: #cb0108; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .body-content {
    font-size: 14px; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .body-content h3 {
      font-size: 16px;
      margin-bottom: 10px; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-body-text + .features {
    margin-top: 15px; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-plan-features .field__item {
    position: relative;
    padding-left: 20px;
    font-weight: 600; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-plan-features .field__item:before {
      display: inline-block;
      content: "";
      font-family: FontAwesome;
      color: #cb0108;
      position: absolute;
      left: 0;
      top: 0; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-plan-features .field__item + .field__item {
      margin-top: 10px; }
  .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body {
    box-shadow: 0.6px 7px 21px 0 rgba(0, 0, 0, 0.16);
    border: solid 5px #e0e0e0;
    margin-top: 30px; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .content > .field {
      padding-left: 20px;
      padding-right: 20px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .content > .field:first-child {
        padding-top: 20px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .content > .field:last-child {
        padding-bottom: 20px; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .field--name-field-header {
      text-align: center;
      padding-bottom: 20px;
      background-color: #43261d;
      color: white;
      font-size: 22px;
      text-transform: uppercase; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .field--name-field-intro {
      font-size: 14px;
      font-weight: 600;
      padding-top: 20px;
      margin: 0; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .scm-links {
      margin-top: 30px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .scm-links a {
        display: block;
        padding: 10px 0;
        font-weight: 600;
        font-size: 17px; }
        .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .scm-links a:after {
          margin-left: 5px;
          display: inline-block;
          font-family: FontAwesome;
          content: "";
          color: #cb0108;
          font-weight: normal; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body .scm-links li + li {
        border-top: 2px solid #e6e6e6; }
  @media (min-width: 635px) {
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .header {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .header > * {
        -ms-flex: 0 1 auto; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-icon-file {
      text-align: left;
      margin: 0;
      margin-right: 27px; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .header-intro {
      text-align: left; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .body-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .body-content > * {
        -ms-flex: 0 1 auto; }
    .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-body-text {
      width: 309px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-body-text + .features {
        margin-top: 0;
        margin-left: 10px; } }
  @media (min-width: 768px) {
    .entity-paragraphs-item.plan-info-concerns {
      padding: 42px 30px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-intro {
        font-size: 17px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information .field--name-field-header {
        font-size: 31px; } }
  @media (min-width: 900px) {
    .entity-paragraphs-item.plan-info-concerns {
      max-width: 1147px;
      margin: 0 auto; }
      .entity-paragraphs-item.plan-info-concerns .field--name-field-content > .field__items {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center; }
        .entity-paragraphs-item.plan-info-concerns .field--name-field-content > .field__items > * {
          -ms-flex: 0 1 auto; }
        .entity-paragraphs-item.plan-info-concerns .field--name-field-content > .field__items > .field__item + .field__item {
          margin-left: 32px; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-plan-information--wrap {
        width: 55.36181%; }
      .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body--wrap {
        margin-top: -75px;
        width: 40.80209%; }
        .entity-paragraphs-item.plan-info-concerns .paragraphs-item-body--wrap .paragraphs-item-body {
          margin-top: 0; } }

.parent--node--solution--field-items > div > div {
  padding: 30px 20px;
  max-width: 970px;
  margin: 0 auto; }

body.node-type-solution .scm-modals.hidden {
  display: none; }

body.node-type-solution.admin-menu.adminimal-menu::before {
  background-color: #333;
  min-height: 60px; }

body.node-type-solution .tabs {
  display: block;
  width: 100%;
  background-color: #333;
  border-bottom: none;
  z-index: 999;
  margin-bottom: 0; }
  body.node-type-solution .tabs li {
    float: none;
    margin-right: 0; }
  body.node-type-solution .tabs li.active a {
    background-color: #454545; }
  body.node-type-solution .tabs a {
    background-color: #333;
    color: white;
    font-family: Open Sans, "Segoe UI", "Helvetica", sans-serif; }
    body.node-type-solution .tabs a:hover {
      background-color: #333;
      color: white;
      text-decoration: underline; }

body.node-type-solution .action-links {
  right: 20px;
  z-index: 999;
  margin-top: 0; }
  body.node-type-solution .action-links a {
    display: block;
    background-color: #333;
    padding: 0.3em 0.8em;
    color: white;
    font-family: Open Sans, "Segoe UI", "Helvetica", sans-serif; }
    body.node-type-solution .action-links a:hover {
      color: white;
      text-decoration: underline; }

body.node-type-solution .l-main {
  max-width: 100%;
  margin: 0;
  padding: 0; }

body.node-type-solution .solution--full--header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-size: cover;
  background-position: center; }
  body.node-type-solution .solution--full--header > * {
    -ms-flex: 0 1 auto; }
  body.node-type-solution .solution--full--header .interior {
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.35); }
  body.node-type-solution .solution--full--header .pre-title {
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase; }
  body.node-type-solution .solution--full--header h1 {
    color: white;
    margin: 0;
    margin-bottom: 15px; }
  body.node-type-solution .solution--full--header .post-title, body.node-type-solution .solution--full--header .post-title a {
    color: white;
    opacity: .8;
    font-style: italic; }
  body.node-type-solution .solution--full--header .post-title .learn-more {
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px; }
  body.node-type-solution .solution--full--header .post-title a {
    font-style: normal; }
    body.node-type-solution .solution--full--header .post-title a:after {
      font-family: FontAwesome;
      content: "";
      font-size: 42px; }
    body.node-type-solution .solution--full--header .post-title a:hover {
      color: white;
      opacity: 1; }

@media (min-width: 768px) {
  body.node-type-solution .tabs {
    position: fixed;
    margin-top: -32px; }
    body.node-type-solution .tabs li {
      float: left;
      margin-right: 1em; }
  body.node-type-solution .action-links {
    position: fixed;
    margin-top: -26px; }
    body.node-type-solution .action-links a {
      padding: 0; }
  body.node-type-solution .solution--full--header .interior {
    padding: 70px 30px 65px; }
  body.node-type-solution .solution--full--header h1 {
    margin-bottom: 22px;
    font-size: 71px; }
  body.node-type-solution .pre-title {
    font-size: 30.5px;
    margin-bottom: 15px; }
  body.node-type-solution .post-title .learn-more {
    font-size: 21.1px; } }

.lock-form--wrap > div {
  background-color: #fff; }

.lock-form--wrap .lock-form {
  width: 100%;
  max-width: 100%; }

.lock-form--wrap .content {
  max-width: 1210px;
  margin: 0 auto; }
  .lock-form--wrap .content .node__title {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    max-height: 100px;
    transition: margin 0.5s ease-in-out, max-height 0.5s ease-in-out; }
    @media (min-width: 768px) {
      .lock-form--wrap .content .node__title {
        font-weight: 48px; } }
  .lock-form--wrap .content .field--name-field-header {
    text-align: center;
    max-height: 100px;
    transition: margin 0.5s ease-in-out, max-height 0.5s ease-in-out; }
  .lock-form--wrap .content .field--name-body {
    text-align: center;
    max-height: 100px;
    transition: margin 0.5s ease-in-out, max-height 0.5s ease-in-out; }
  .lock-form--wrap .content .webform-client-form {
    margin-top: 20px;
    transition: margin 0.5s ease-in-out; }
    .lock-form--wrap .content .webform-client-form > div {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .lock-form--wrap .content .webform-client-form .form-item {
      width: 100%;
      margin: 8px 0;
      transition: margin 0.5s ease-in-out; }
      @media (min-width: 768px) {
        .lock-form--wrap .content .webform-client-form .form-item {
          -ms-flex: 1 1 calc(50% - 30px);
              flex: 1 1 calc(50% - 30px);
          margin: 15px 12px; } }
      @media (min-width: 1024px) {
        .lock-form--wrap .content .webform-client-form .form-item {
          -ms-flex: 1;
              flex: 1; } }
    .lock-form--wrap .content .webform-client-form .webform-privacy-policy {
      display: none;
      width: 100%;
      text-align: center; }
    .lock-form--wrap .content .webform-client-form .form-actions {
      margin: 20px 12px;
      text-align: center;
      transition: margin 0.5s ease-in-out; }
    .lock-form--wrap .content .webform-client-form input[type='text'],
    .lock-form--wrap .content .webform-client-form input[type='email'],
    .lock-form--wrap .content .webform-client-form input[type='submit'] {
      padding: 18px 15px;
      border: none;
      border-radius: 0;
      transition: padding 0.5s ease-in-out; }
    .lock-form--wrap .content .webform-client-form input[type='text'],
    .lock-form--wrap .content .webform-client-form input[type='email'],
    .lock-form--wrap .content .webform-client-form input[type='submit'] {
      border: 1px solid rgba(0, 0, 0, 0.1); }
    .lock-form--wrap .content .webform-client-form input[type='submit'] {
      padding: 18px 30px; }

@media (min-width: 768px) {
  .lock-form--wrap.fix-box > div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    transition: padding 0.5s ease-in-out; }
  .lock-form--wrap.shrink-box > div {
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .lock-form--wrap.shrink-box .node__title,
  .lock-form--wrap.shrink-box .field--name-field-header,
  .lock-form--wrap.shrink-box .field--name-body {
    max-height: 0;
    margin: 0;
    overflow: hidden; }
  .lock-form--wrap.shrink-box .webform-client-form {
    margin-top: 0; }
    .lock-form--wrap.shrink-box .webform-client-form .form-item {
      margin-top: 5px;
      margin-bottom: 5px; }
    .lock-form--wrap.shrink-box .webform-client-form .form-actions {
      margin-top: 5px;
      margin-bottom: 12px; }
    .lock-form--wrap.shrink-box .webform-client-form input[type='text'],
    .lock-form--wrap.shrink-box .webform-client-form input[type='email'],
    .lock-form--wrap.shrink-box .webform-client-form input[type='submit'] {
      padding-top: 10px;
      padding-bottom: 10px; } }
