.not-front .l-breadcrumb {
  background: palette(secondary, base);
  color: palette(white, pure);
  padding: 20px;
  a {
    color: inherit;
  }
}

.breadcrumb {
  @include container;
  li {
    display: inline-block;
    &:first-child {
      a {
        font-size: 0;
        &:before {
          @extend .fa;
          @extend .fa-home;
          font-size: 16px;
        }
      }
    }
    + li {
      margin-left: .5em;
      &:before {
        @include faicon("\F105");
        margin-right: .5em;
      }
    }
  }
  @include breakpoint($container) {
    padding: 0 20px;
  }
}
