.block--nav-mobile-utility {
  .menu {
    @include flexbox;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    min-height: 80px;
    transition: transform 0.4s ease-in-out;
    li {
      @include flexbox;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    a {
      @include flexbox;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 15px 5px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  @include breakpoint($tab) {
    display: none;
  }
}

.hidden {
  transform: translateY(-80px);
}
.visible {
  transform: translateY(0);
}

// if logged in position static. This allows the admin menu to be visible. Will not function correctly until logged out.
.logged-in {
  .block--nav-mobile-utility {
    .menu {
      position: static;
    }
  }
}
