.block--nav-utility {
  $color-link-bg: palette(primary, base);
  $color-link-fg: palette(white, pure);

  background: $color-link-bg;
  padding: 10px 0;
  font-weight: 600;
  .menu-block-wrapper {
    a {
      background: $color-link-bg;
      color: $color-link-fg;
      padding: 10px 20px;
    }
  }
  .menu {
    text-align: center;
    li {
      + li {
        margin-top: 1px;
      }
    }
  }
  @include breakpoint($utility) {
    .menu {
      @include flexbox;
      justify-content: center;
      align-items: center;
      li {
        + li {
          margin-top: 0;
        }
        a {
          @include flexbox;
          align-items: center;
          text-transform: uppercase;
        }
        a:before {
          display: inline-block;
          color: palette(white, pure);
          margin-right: 15px;
          font-size: 32px;
        }
        &:nth-child(1) {
          a:before {
            @include faicon($fa-var-mobile);
          }
        }
        &:nth-child(3) {
          a:before {
            @include faicon($fa-var-dollar);
          }
        }
        &:nth-child(2) {
          a:before {
            @include faicon($fa-var-lock);
          }
        }
      }
    }
  }
  @include breakpoint($nav) {
    $color-link-bg: transparent;
    $color-link-fg: #555;
    $color-link-fg-hover: palette(primary, base);
    $color-link-arrow: palette(primary, base);

    background: $color-link-bg;
    padding: 20px;
    .menu-block-wrapper {
      a {
        @include button-color();
        border-radius: 5px;
        text-transform: uppercase;
        padding: 10px 30px;
        font-weight: bold;
        &[href^='tel:'] {
          background: $color-link-bg;
          color: $color-link-fg;
          padding: 0;
          text-transform: none;
          &:before {
            @include faicon("\F105");
            margin-right: .5em;
            color: $color-link-arrow;
          }
          &:hover {
            color: $color-link-fg-hover;
          }
        }
      }
    }
    .menu {
      li {
        + li {
          margin-left: 1em;
        }
        &:nth-child(1n) {
          a {
            font-size: 16px;
          }
          a:before {
            display: none;
          }
          a[href^='tel:']:before {
            display: inline-block;
            @include faicon("\F105");
            margin-right: .5em;
            color: $color-link-arrow;
            font-size: 16px;
          }
        }
      }
    }
  }
}
