* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-body;
  font-size: 17px;
}

a {
  text-decoration: none;
  &:hover {
  }
}

%p {
  line-height: 1.41;
  + %p {
    margin-top: 1em;
  }
}

p, table, ol, ul {
  @extend %p;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      font-family: FontAwesome;
      width: 20px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 2em;
      margin-left: 1.5em;
      content: $fa-var-circle;
      font-size: .3em;
      > ul {
        li {
          &:before {
            content: $fa-var-circle-o;
          }
          > ul {
            li {
              &:before {
                content: $fa-var-dot-circle-o;
              }
            }
          }
        }
      }
    }
  }
}

%body-copy {
  line-height: 1.25;
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  li {
    margin-left: 2em;
    + li {
      margin-top: .5em;
    }
  }
  @include breakpoint($tab) {
    li {
      margin-left: 3em;
      margin-right: 3em;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  font-weight: 600;
  margin-bottom: .25em;
  margin-top: 1em;
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15;
}

h3 {
  font-size: 1.375em;
  line-height: 1.14;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11;
}

blockquote {
  margin: 1em 0;
  margin-left: 1em;
  border-left: 1px solid;
  padding-left: .5em;
  font-size: 1.25em;
  line-height: 1.25;
}

hr {
  margin:1.5em 0;
  width: 100%;
  height: 0;
  border: 0;
  border-bottom: 1px solid;
}

b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

@include breakpoint($tab) {

  %p,
  %body-copy {
    line-height: 1.6;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  h4 {
    font-size: 1.125em;
    line-height: 1.22;
  }

  blockquote {
    font-size: 1.5em;
    line-height: 1.45;
  }

}

@include breakpoint($desk) {

  h1 {
    font-size: 3.25em;
    line-height: 1.05;
  }

  h2 {
    font-size: 2.375em;
  }

  h3 {
    font-size: 1.75em;
  }

}