.captcha{
  padding: 25px 0;
  legend{
    display: none;
  }
  .fieldset-description{
    font-weight: 600;
    padding-bottom: 10px;
  }
}

// front only
.front {
  .captcha {
    .g-recaptcha {
      display: flex !important;
      justify-content: center !important;
    }
  }
}

// sidebar captcha
.l-region--sidebar {
  .captcha{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-left: -20px;
    .g-recaptcha {
      transform: scale(.75);
    }
  }
}