.paragraphs-item-landing-page-header-footer {
  text-align: center;
  padding: 30px 20px;
  font-size: 19px;
  a {
    font-weight: bold;
  }

  a > img {
    @extend %image-hover;
  }

  .field--name-field-landing-page-logo {
    margin-bottom: 10px;
    img {
      max-width: 220px;
      height: 100%;
      width: 100%;
    }
  }

}

.l-header .paragraphs-item-landing-page-header-footer {
  .field--name-field-cta-text {
    margin: 0 auto;
    max-width: 270px;
  }
}

@include breakpoint($tab) {
  .paragraphs-item-landing-page-header-footer {
    padding: 36px 30px;
    font-size: 26px;
    .field--name-field-landing-page-logo {
      margin-bottom: 30px;
      img {
        max-width: 300px;
        height: auto;
      }
    }
  }

  .l-header .paragraphs-item-landing-page-header-footer {
    text-align: left;
    .content {
      @include flexbox;
      justify-content: space-between;
      align-items: center;
      max-width: 1170px;
      margin: 0 auto;
    }

    .field--name-field-cta-text {
      text-align: center;
      min-width: 350px;
      margin-left: auto;
      margin-right: 0;
      //text-align: right;
    }

    .field--name-field-landing-page-logo {
      margin: 0;
      margin-right: 20px;
    }
  }

  .l-footer .paragraphs-item-landing-page-header-footer {
    padding: 60px 30px 70px;
  }
}

@include breakpoint($desk) {
  .paragraphs-item-landing-page-header-footer {
    .field--name-field-landing-page-logo {
      img {
        max-width: 400px;
      }
    }
  }

  .l-header .paragraphs-item-landing-page-header-footer {
    .field--name-field-cta-text {
      min-width: 525px;
      margin-left: auto;
      margin-right: 0;
      text-align: right;
    }
  }

  .l-footer .paragraphs-item-landing-page-header-footer {
    padding: 70px 30px 80px;
  }
}
