.paragraphs-item-landing-page-testimonial {
  text-align: center;
  > .content {
    margin: 0 auto;
    max-width: 820px;
  }
  .person-wrap {
    @include flexbox;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
    font-style: italic;
    .field--name-field-market {
      font-size: 0;
      &:before {
        content: ",";
        margin-right: 5px;
        font-size: 15px;
      }
      * {
        font-size: 15px;
        display: inline-block;
      }
    }
    .field--title {
      @include flexbox;
      justify-content: center;
    }
  }

  .field--name-field-header {
    font-size: 24px;
    margin: 0;
  }

  div[itemprop="reviewRating"] {
    margin: 15px auto 20px;
    font-size: 18px;
  }

  .field--name-body {
    font-size: 22px;
    .field__item {
      & > *:first-child:before, & > *:last-child:after {
        display: inline;
        content: '"';
      }
      & > *:first-child:before {
        content: "\201C";
      }
      & > *:last-child:after {
        content: "\201D";
      }
    }
  }

  @include breakpoint($tab) {
    padding: 60px 30px 65px;
    .field--name-body {
      font-size: 26px;
    }
  }

}