.l-content {
	background: white;
	padding: 20px;
	@include breakpoint($tab) {
		padding: 29px percentage(65/935);
	}
}

.front {
	.l-content {
		padding: 50px 20px;
		background-color: $color-brand-secondary;
		width: 100%;
	}
	.l-main {
		max-width: none;
	}
 p {
		max-width: 840px;
		margin: 0 auto;
	}
	.block-views-services-all {
		max-width: 1040px;
		margin: 0 auto;
	}
}
