.l-region--sidebar {
	.block {
		background: white;
		padding: 20px;
		margin-top: 2px;
		&:first-child {
			margin-top: 20px;
		}
	}
	@include breakpoint($tab) {
		background: white;
		margin-left: 2px;
		.block {
			margin-top: 0;
			padding: 35px 20px;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				border-bottom: 2px solid $color-body-bg;
			}
			+ .block {
				border-top: 2px solid $color-body-bg;
			}
		}
	}
}