// branding

$color-brand-primary: #ffea00; // yellow
$color-brand-primary-dark: #ffde00;

$color-brand-secondary: #038500; // green
$color-brand-secondary-dark: darken($color-brand-secondary, 10);

$color-brand-tertiary: #e50101; // red

// $color-brand-quaternary: ;
// $color-brand-quinary: ;
// $color-brand-senary: ;
// $color-brand-septenary: ;
// $color-brand-octonary: ;
// $color-brand-nonary: ;
// $color-brand-denary: ;

$color-neutral-1: #eee;

// gradients

$gradient-primary: linear-gradient($color-brand-primary, $color-brand-primary-dark);
$gradient-dark: linear-gradient(black, #333);

// base

$color-body-bg: $color-brand-primary;
$color-body-text: #333;

$color-link: $color-brand-secondary;
$color-link-hover: $color-brand-secondary-dark;

$color-headings: $color-body-text;

// front

$color-front-content-bg: #f2f2f2;

//black
$color-black: #000000;

//package page table
$color-package-table-header-1: $color-brand-secondary;
$color-package-table-header-2: $color-brand-primary;
