// breakpoints
$tab: 768px;
$nav-stacked: $tab;
$nav: 1220px;
$desk: 1024px;

$layout-width: 1213px;

$layout-tablet-sidebar: percentage(1/3);
$layout-tablet-widebar: percentage(2/3);

$layout-desktop-sidebar: percentage(275px/$layout-width);
$layout-desktop-widebar: percentage(938px/$layout-width);
