.node-type-page.section-special-offers.enhanced .l-main, .node-type-page.section-coupons.enhanced .l-main {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.node-type-page.section-special-offers.enhanced .node--page, .node-type-page.section-coupons.enhanced .node--page {
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }
  .node-type-page.section-special-offers.enhanced .node--page .node__title, .node-type-page.section-coupons.enhanced .node--page .node__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    letter-spacing: .4px; }
  .node-type-page.section-special-offers.enhanced .node--page .field--name-field-subtitle, .node-type-page.section-coupons.enhanced .node--page .field--name-field-subtitle {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px; }
  .node-type-page.section-special-offers.enhanced .node--page .field--name-body, .node-type-page.section-coupons.enhanced .node--page .field--name-body {
    margin-bottom: 45px; }

@media (min-width: 768px) {
  .node-type-page.section-special-offers.enhanced .l-main, .node-type-page.section-coupons.enhanced .l-main {
    max-width: 1250px;
    margin-top: 2em;
    margin-bottom: 2em; }
  .node-type-page.section-special-offers.enhanced .l-content, .node-type-page.section-coupons.enhanced .l-content {
    max-width: 1250px; }
  .node-type-page.section-special-offers.enhanced .node--page .node__title, .node-type-page.section-coupons.enhanced .node--page .node__title {
    font-size: 36px; } }

@media (min-width: 1024px) {
  .node-type-page.section-special-offers.enhanced .l-main, .node-type-page.section-coupons.enhanced .l-main {
    padding: 0 5px;
    margin-top: 3em;
    margin-bottom: 3em; }
  .node-type-page.section-special-offers.enhanced .node--page .node__title, .node-type-page.section-coupons.enhanced .node--page .node__title {
    font-size: 42px; } }

.block--views-special-offers-all-enhanced .block__title, .block--views-3a8319097bcee7958bed28c69e6f77ee .block__title {
  display: none; }

.block--views-special-offers-all-enhanced .view, .block--views-3a8319097bcee7958bed28c69e6f77ee .view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .block--views-special-offers-all-enhanced .view > *, .block--views-3a8319097bcee7958bed28c69e6f77ee .view > * {
    -ms-flex: 0 1 auto; }

.block--views-special-offers-all-enhanced .view-content, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .block--views-special-offers-all-enhanced .view-content > *, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content > * {
    -ms-flex: 0 1 auto; }
  .block--views-special-offers-all-enhanced .view-content .views-row, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content .views-row {
    margin: 0 auto 20px; }

@media (min-width: 768px) {
  .block--views-special-offers-all-enhanced .view-content, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content {
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0 30px; }
    .block--views-special-offers-all-enhanced .view-content .views-row, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content .views-row {
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
      margin: 0 12px 20px; } }

@media (min-width: 1024px) {
  .block--views-special-offers-all-enhanced .view-content, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content {
    margin: 0;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .block--views-special-offers-all-enhanced .view-content .views-row, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content .views-row {
      -ms-flex: 1 0 31.33%;
          flex: 1 0 31.33%;
      max-width: 389px; } }

.block--views-special-offers-all-enhanced .view-filters, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters {
  margin-bottom: 60px; }
  .block--views-special-offers-all-enhanced .view-filters .views-exposed-widgets, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-exposed-widgets {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .block--views-special-offers-all-enhanced .view-filters .views-exposed-widgets > *, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-exposed-widgets > * {
      -ms-flex: 0 1 auto; }
  .block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid > *, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid > * {
      -ms-flex: 0 1 auto; }
    .block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid label, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid label {
      -ms-flex-order: 1;
          order: 1;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      padding: 5px 0;
      padding-right: 7px; }
    .block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid .views-widget, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid .views-widget {
      -ms-flex-order: 3;
          order: 3;
      padding: 5px 0; }
      .block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid .views-widget select, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid .views-widget select {
        border-radius: 0 !important;
        border: solid 3px;
        font-size: 16px;
        font-weight: 600;
        height: 45px;
        width: 275px; }
    .block--views-special-offers-all-enhanced .view-filters .views-widget-filter-field_services_tid .description, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-widget-filter-field_services_tid .description {
      -ms-flex-order: 2;
          order: 2;
      font-size: 18px;
      line-height: 1.5;
      padding: 5px 0;
      padding-right: 20px; }
  .block--views-special-offers-all-enhanced .view-filters .views-submit-button input, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-submit-button input {
    margin: 0;
    padding: 10px 30px; }

.node--special-offer--tertiary-teaser {
  box-shadow: 0px 5px 17px 3px rgba(51, 51, 51, 0.2);
  position: relative; }
  .node--special-offer--tertiary-teaser .offer-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }
  .node--special-offer--tertiary-teaser .field--name-field-featured-icon {
    position: absolute;
    top: -40px;
    right: -20px; }
  .node--special-offer--tertiary-teaser .node__content {
    padding: 55px 35px 45px;
    outline: 5px dashed;
    outline-offset: -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center; }
    .node--special-offer--tertiary-teaser .node__content > * {
      -ms-flex: 0 1 auto; }
  .node--special-offer--tertiary-teaser h2 {
    font-size: 47px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.5px;
    margin: 0 0 10px; }
  .node--special-offer--tertiary-teaser h3 {
    overflow: visible;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.24;
    letter-spacing: 0.1px;
    margin: 0 auto 15px; }
  .node--special-offer--tertiary-teaser .field--name-body {
    margin-bottom: 15px; }
  .node--special-offer--tertiary-teaser .field--name-field-button {
    width: 100%;
    max-width: 210px;
    margin: 0 auto 15px;
    text-align: center; }
    .node--special-offer--tertiary-teaser .field--name-field-button .button {
      padding: 13px 30px; }
  .node--special-offer--tertiary-teaser .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 25px; }
    .node--special-offer--tertiary-teaser .logo > * {
      -ms-flex: 0 1 auto; }
    .node--special-offer--tertiary-teaser .logo img {
      max-width: 210px;
      height: auto;
      width: 100%; }
  .node--special-offer--tertiary-teaser .field--name-field-expiration-date {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .node--special-offer--tertiary-teaser .field--name-field-expiration-date > * {
      -ms-flex: 0 1 auto; }
  @media (min-width: 1024px) {
    .node--special-offer--tertiary-teaser h2 {
      font-size: 58px; }
    .node--special-offer--tertiary-teaser h3 {
      font-size: 21px; } }

.block--views-special-offers-front-enhanced, .block--views-4af2dddc855c0a4c641c4e54be140c8d {
  max-width: 850px;
  margin: 0 auto;
  padding: 35px 0; }
  .block--views-special-offers-front-enhanced .block__title, .block--views-4af2dddc855c0a4c641c4e54be140c8d .block__title {
    display: none; }
  .block--views-special-offers-front-enhanced .view, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .block--views-special-offers-front-enhanced .view > *, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view > * {
      -ms-flex: 0 1 auto; }
  .block--views-special-offers-front-enhanced .view-content, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .block--views-special-offers-front-enhanced .view-content > *, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content > * {
      -ms-flex: 0 1 auto; }
    .block--views-special-offers-front-enhanced .view-content .views-row, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content .views-row {
      margin: 0 auto 20px; }
  @media (min-width: 768px) {
    .block--views-special-offers-front-enhanced .view-content, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content {
      -ms-flex-direction: row;
          flex-direction: row;
      margin: 0 30px; }
      .block--views-special-offers-front-enhanced .view-content .views-row, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content .views-row {
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
        margin: 0 12px 20px; } }
  @media (min-width: 1024px) {
    .block--views-special-offers-front-enhanced .view-content, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content {
      margin: 0;
      -ms-flex-pack: start;
          justify-content: flex-start; }
      .block--views-special-offers-front-enhanced .view-content .views-row, .block--views-4af2dddc855c0a4c641c4e54be140c8d .view-content .views-row {
        -ms-flex: 1 0 31.33%;
            flex: 1 0 31.33%;
        max-width: 389px; } }

.block--views-special-offers-all-enhanced .view-content .views-row, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-content .views-row {
  background: #fff; }

.block--views-special-offers-all-enhanced .view-filters .views-submit-button input, .block--views-3a8319097bcee7958bed28c69e6f77ee .view-filters .views-submit-button input {
  border-color: !important; }

.node--special-offer--tertiary-teaser .node__content {
  outline-color: #d4d7d9; }

.node--special-offer--tertiary-teaser h3 {
  color: #333333; }

.node--special-offer--tertiary-teaser .field--name-field-button .button {
  color: #fff; }

.node--special-offer--tertiary-teaser .field--name-field-expiration-date {
  color: #c80108; }

.node--special-offer--tertiary-teaser.featured-offer .node__content {
  outline-color: rgba(255, 255, 255, 0.5); }

.node--special-offer--tertiary-teaser.featured-offer h2 {
  color: #fff; }

.node--special-offer--tertiary-teaser.featured-offer h3 {
  color: rgba(255, 255, 255, 0.9); }

.node--special-offer--tertiary-teaser.featured-offer .field--name-body {
  color: #fff; }

.node--special-offer--tertiary-teaser.featured-offer .field--name-field-button .button {
  background-color: #fff; }

.node--special-offer--tertiary-teaser.featured-offer .field--name-field-expiration-date {
  color: #fff; }
