.l-header {
  @include container;
  width: 100%;
  z-index: 100;
  margin-top: 55px;
  @include breakpoint($tab) {
    margin-top: 0;
  }
}
.l-region--header-first {
  @include flexbox;
  flex-direction: column;
  @include breakpoint($nav) {
    @include container;
    @include clear;
    display: block;
    .block--logo-block-logo {
      float: left;
    }
    .block--nav-utility,
    .block--nav-main {
      float: right;
      margin-top: 15px;
    }
  }
}

// if logged in remove margin top
.logged-in {
  .l-header {
    margin-top: 0;
  }
}
