.block--nav-main-menu {
	display: none;
	@include breakpoint($nav-stacked) {
		font-weight: 600;
		line-height: normal;
		white-space: nowrap;
		position: relative;
		z-index: 51; // on top of contextual links
		&,
		.block__content,
		.menu-block-wrapper {
			@include flexbox;
			@include align-items(stretch);
			width: 100%;
		}
		.menu-block-wrapper {
			> .menu {
				@include flexbox;
				width: 100%;
			}
			> .menu > li {
				@include flexbox;
				@include align-items(center);
				@include background-image($gradient-primary);
				@include flex(1 0 auto);
				border-right: 1px solid $color-brand-primary;
				border-left: 1px solid $color-brand-primary-dark;
				position: relative;
			}
			> .menu > li:hover {
				background: $color-brand-primary-dark;
			}
			> .menu > li > a {
				display: block;
				color: black;
				padding: 15px;
				text-align: center;
				width: 100%;
				&:before {
					@include faicon("\F0DA");
					margin-right: 5px;
				}
			}
			> .menu > li > .menu {
				display: none;
				background: $color-brand-primary-dark;
				position: absolute;
				left: 0;
				top: 100%;
				min-width: 100%;
			}
			> .menu > li:hover > .menu {
				display: block;
			}
			> .menu > li > .menu > li {
				position: relative;
				> {
					a, .nolink {
						display: block;
						color: black;
						font-size: 15px;
						font-weight: normal;
						padding: 10px 15px;
						padding-right: 30px;
					}
					.nolink {
						cursor: default;
					}
				}
			}
			> .menu > li > .menu > li:hover > {
				a, .nolink {
					background: $color-brand-secondary;
					color: white;
				}
			}
			> .menu > li > .menu > li > .menu {
				display: none;
				position: absolute;
				left: 100%;
				top: 0;
			}
			> .menu > li > .menu > li:hover > .menu {
				display: block;
			}
			> .menu > li > .menu > li > .menu > li > {
				a {
					display: block;
					background: $color-brand-secondary;
					color: white;
					padding: 10px 15px;
					font-weight: normal;
					&:hover {
						background: $color-brand-secondary-dark;
					}
				}
			}
		}
	}
	@include breakpoint($nav) {
		width: auto;
		> .menu > li > a {
			padding: 33px 15px;
		}
	}
}