.block--nav-mobile {
	background: black;
	font-size: 18px;
	a {
		display: block;
		background: black;
		color: $color-brand-primary;
		font-weight: bold;
		padding: 10px 20px;
	}
	.block__title {
		background: $color-brand-primary;
		margin: 0;
		text-align: right;
		padding: 10px 20px;
		cursor: pointer;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		&:after {
			@include faicon('\f0c9');
			margin-left: 5px;
		}
	}
	.menu {
		list-style: none;
		margin: 0;
		padding: 10px 0;
		li {
			margin: 0;
			padding: 0;
		}
	}
	@include breakpoint($nav-stacked) {
		display: none !important; //override any javascript
	}
}