// .menu-name-menu-mobile-callout {
//   margin-bottom: 20px;
//   background: $color-brand-primary-dark;
//   padding: 35px 20px;
//   .block__title {
//     display: none;
//   }
//   .menu {
//     margin: 0;
//     padding: 0;
//   }
//   .leaf {
//     background: $color-brand-primary;
//     border: solid;
//     border-width: 3px;
//     // border-color: $color-brand-quaternary;
//     list-style: none;
//     + .leaf {
//       margin-top: 11px;
//     }
//   }
//   a {
//     &.menu_icon {
//       display: block;
//       background-position: 5px center;
//       padding-right: 30px;
//       padding-left: 55px;
//       min-height: 60px;
//       line-height: 63px;
//       white-space: nowrap;
//       color: #000;
//       font-weight: bold;
//       text-transform: uppercase;
//       margin-left: 17px;
//     }
//   }
//   @include breakpoint(470px) {
//     a {
//       &.menu_icon {
//         padding-left: 86px;
//         font-size: 24px;
//       }
//     }
//   }
//   @include breakpoint($tab) {
//     display: none;
//   }
// }

.menu-name-menu-mobile-callout {
background: $gradient-dark;
padding: 35px 20px;
margin-top: -20px;
.menu {
  margin: 0;
  padding: 0;
}
.leaf {
  background: $gradient-primary;
  list-style: none;
  + .leaf {
    margin-top: 11px;
  }
}
a {
  &.menu_icon {
    @include flexbox;
    align-items: center;
    border: 3px solid palette(quaternary, base);
    background-position: 20px center;
    padding: 20px;
    padding-right: 30px;
    padding-left: 75px;
    height: auto;
    min-height: 60px;
    color: $color-black;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@include breakpoint(470px) {
  a {
    &.menu_icon {
      padding-left: 86px;
      font-size: 24px;
    }
  }
}
@include breakpoint($tab) {
  display: none;
}
}
