.block--nav-submenu {
	@include background-image($gradient-dark);
	color: white;
	.block__title {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.menu-block-wrapper {
		font-weight: 600;
		a {
			color: $color-brand-primary;
			display: block;
			&:hover {
				color: white;
			}
		}
		> .menu > li + li {
			margin-top: 10px;
		}
		> .menu > li > a {
			&:before {
				@include faicon("\F0DA");
				margin-right: 5px;
			}
		}
	}
}