.front{
  .l-region--preface-second{
    position: relative;
    z-index: 5;
  }

  .l-region--preface-fourth{
    padding: 60px 20px;
    margin: 0 auto;
    position: relative;
    @include breakpoint($tab){
      padding: 60px 20px 40px;
    }
    @include breakpoint($desk){
      padding: 50px 0;
    }
  }
}

.front, .node-type-localtarget{
  .preface-third-wrap{
    padding: 40px 20px 375px;
    overflow: hidden;
    // background-image: url('../images/benefits-bg-mobile.jpg');
    // background-position-x: -50%;
    // background-position-y: 100%;
    // background-repeat: no-repeat;
    .benefits-wrapper{
      max-width: $container;
      margin: 0 auto;
    }
    .l-region--preface-third{
      max-width: $tab;
    }
    @include breakpoint($tab){
      padding: 60px 20px 40px;
      background-image: none;
      .l-region--preface-third{
        margin: 0 auto;
      }
    }
    @include breakpoint($desk){
      padding: 90px 20px;
      // background-image: url('../images/benefits-bg.jpg');
      // background-position: center right;
      // background-repeat: no-repeat;
      .l-region--preface-third{
        margin: 0;
      }
    }
  }
}

.front.front--solutions-finder{
  .preface-third-wrap{
    padding: 40px 20px 375px;
    overflow: hidden;
    // background-image: url('../images/benefits-bg-mobile.jpg');
    // background-position-x: -50%;
    // background-position-y: 100%;
    // background-repeat: no-repeat;
    .benefits-wrapper{
      max-width: $container;
      margin: 0 auto;
    }
    .l-region--preface-third{
      max-width: $tab;
    }
    @include breakpoint($tab){
      padding: 60px 20px 40px;
      background-image: none;
    }
    @include breakpoint($desk){
      margin-top: -90px;
      padding: 180px 20px 90px;
      // background-image: url('../images/benefits-bg.jpg');
      // background-position: bottom right;
      // background-repeat: no-repeat;
    }
  }
}
