.front .l-wrap--postscript-first {
  position: relative;
  .l-background--postscript-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }
  .l-region--postscript-first {
    padding: 40px 20px;
  }
  @include breakpoint($tab) {
    .l-region--postscript-first {
      padding: 80px 20px 70px;
    }
  }
  @include breakpoint($desk) {
    .l-region--postscript-first {
      padding: 110px 20px 100px;
    }
  }
}

.front .l-region--postscript-second {
  @include breakpoint($container){
    @include flexbox;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
  }
}
