.block--sprowt-settings-sprowt-copyright {
  // padding: 40px 20px;
  font-size: 12px;
  text-align: center;
  .block__content{
    text-align: center;
    font-size: 14px;
    line-height: 2.36;
    letter-spacing: .1px;
  }
  @include breakpoint($tab){
    max-width: 560px;
    margin: 0 auto;
  }
  @include breakpoint($desk) {
    max-width: 100%;
    margin: 0;
    text-align: left;
  }
}
