//Confirm what format the Hero needs to be and ensure conflicting styling is commented out for both Front page and LTP pages.


// Use this styling when NO solutions finder on Front
.front{
  .bean-hero{
    $overlay-opacity: 0.6; // opacity percentage as a decimal (0 - 1), use zero for no overlay;

  	text-align: center;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	.content-wrap {
  		position: relative;
  		min-height: 360px;
      text-align: center;
      &:before {
  			content: '';
  			position: absolute;
  			top: 0;
  			left: 0;
  			width: 100%;
  			height: 100%;
  			opacity: $overlay-opacity;
  		}
  	}
  	.content{
      max-width: 800px;
      width: 100%;
      padding: 50px 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
  	}
  	.block__title {
  		font-size: 40px;
  		font-weight: 700;
  		line-height: 1;
  		letter-spacing: .6px;
  		text-transform: capitalize;
  	}
  	.field--name-field-subtitle{
  		font-size: 20px;
  		font-weight: 700;
  		line-height: 1.15;
  		letter-spacing: .3px;
  		margin: 0;
  	}
  	.field--name-field-body-text{
  		padding-top: 20px;
  		text-transform: uppercase;
  		font-size: 21px;
  		font-weight: 700;
  		letter-spacing: 1.6px;
  		line-height: 1.95;
      margin-top: 20px;
  	}
  	.button {
  		margin: 20px auto 0;
  		max-width: 310px;
  		width: 100%;
  	}
  	@include breakpoint($tab) {
  		.content-wrap {
  			min-height: 400px;
  		}
  		.content {
        padding: 100px 25px;
  			&:after{
  				font-size: 39px;
  			}
  		}
  		.block__title {
  			font-size: 48px;
  		}
  		.field--name-field-subtitle{
  			font-size: 24px;
  		}
  	}
  	@include breakpoint($desk) {
      .content-wrap {
  			min-height: 520px;
  		}
  		.content{
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
  		}
  		.block__title {
  			font-size: 56px;
  		}
  		.field--name-field-subtitle{
  			font-size: 26px;
  		}
  	}
  }
}

// Use this styling when NO solutions finder on LTP
// .node-type-localtarget{
//   .bean-hero{
//     $overlay-opacity: 0.6; // opacity percentage as a decimal (0 - 1), use zero for no overlay;
//
//   	text-align: center;
//   	background-position: center center;
//   	background-repeat: no-repeat;
//   	background-size: cover;
//   	.content-wrap {
//   		position: relative;
//   		min-height: 360px;
//       text-align: center;
//       &:before {
//   			content: '';
//   			position: absolute;
//   			top: 0;
//   			left: 0;
//   			width: 100%;
//   			height: 100%;
//   			opacity: $overlay-opacity;
//   		}
//   	}
//   	.content{
//       max-width: 800px;
//       padding: 50px 25px;
//   		margin: 0 auto;
//       position: relative;
//   	}
//   	.block__title {
//   		font-size: 40px;
//   		font-weight: 700;
//   		line-height: 1;
//   		letter-spacing: .6px;
//   		text-transform: capitalize;
//   	}
//   	.field--name-field-subtitle{
//   		font-size: 20px;
//   		font-weight: 700;
//   		line-height: 1.15;
//   		letter-spacing: .3px;
//   		margin: 0;
//   	}
//   	.field--name-field-body-text{
//   		padding-top: 20px;
//   		text-transform: uppercase;
//   		font-size: 21px;
//   		font-weight: 700;
//   		letter-spacing: 1.6px;
//   		line-height: 1.95;
//       margin-top: 20px;
//   	}
//   	.button {
//   		margin: 20px auto 0;
//   		max-width: 310px;
//   		width: 100%;
//   	}
//   	@include breakpoint($tab) {
//   		.content-wrap {
//   			min-height: 400px;
//   		}
//   		.content {
//         padding: 100px 25px;
//   			&:after{
//   				font-size: 39px;
//   			}
//   		}
//   		.block__title {
//   			font-size: 48px;
//   		}
//   		.field--name-field-subtitle{
//   			font-size: 24px;
//   		}
//   	}
//   	@include breakpoint($desk) {
//       .content-wrap {
//   			min-height: 520px;
//   		}
//   		.content{
//         padding: 0;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translateY(-50%) translateX(-50%);
//   		}
//   		.block__title {
//   			font-size: 56px;
//   		}
//   		.field--name-field-subtitle{
//   			font-size: 26px;
//   		}
//   	}
//   }
// }

// //Use this styling if using the Solutions Finder on Front
// .front.front--solutions-finder{
//   .bean-hero{
//     text-align: center;
//     background-image: url('../images/hero-bg-pattern.png');
//     background-size: contain;
//     background-repeat: repeat;
//   	.content-wrap {
//   		position: relative;
//   		min-height: 360px;
//       text-align: center;
//   	}
//   	.content{
//       max-width: 800px;
//   		margin: auto;
//   		position: relative;
//       top: auto;
//       left: auto;
//       transform: none;
//   		padding: 40px 15px 0px;
//   		z-index: 10;
//   		&:after{
//   			border-radius: 100%;
//   			padding: 3px 5px;
//   			@include faicon('\f01a');
//   			font-size: 34px;
//   			line-height: .93;
//   			position: relative;
//   			top: 18px;
//   		}
//   	}
//   	.block__title {
//       font-size: 20px;
//   		font-weight: 700;
//   		line-height: 1.37;
//   		letter-spacing: .3px;
//       text-transform: capitalize;
//   	}
//   	.field--name-field-subtitle{
//       font-size: 34px;
//   		font-weight: 800;
//   		line-height: 1;
//   		letter-spacing: normal;
//   		margin: 0;
//   	}
//   	.field--name-field-body-text{
//       margin-top: 20px;
//   		text-transform: uppercase;
//   		font-size: 21px;
//   		font-weight: 700;
//   		letter-spacing: 1.6px;
//   		line-height: 1.95;
//   	}
//   	.button {
//   		display: none;
//   	}
//   	@include breakpoint($tab) {
//   		.content-wrap {
//   			min-height: 490px;
//   		}
//   		.content {
//         padding: 85px 25px;
//   			&:after{
//   				font-size: 39px;
//   			}
//   		}
//   		.block__title {
//   			font-size: 21px;
//   		}
//   		.field--name-field-subtitle{
//   			font-size: 42px;
//   		}
//       .field--name-field-body-text{
//         font-size: 18px;
//       }
//   	}
//   	@include breakpoint($desk) {
//       .content-wrap {
//   			min-height: 520px;
//   		}
//   		.content{
//         padding: 80px 25px 30px;
//   			&:after{
//   				font-size: 44px;
//   			}
//   		}
//   		.block__title {
//   			font-size: 26px;
//   		}
//   		.field--name-field-subtitle{
//   			font-size: 66px;
//   		}
//       .field--name-field-body-text{
//         padding-top: 20px;
//         font-size: 21px;
//       }
//   	}
//   }
// }

//Use this styling if using the Solutions Finder on LTP
.node-type-localtarget.ltp--solutions-finder{
  .bean-hero{
    text-align: center;
    background-image: url('../images/hero-bg-pattern.png');
    background-size: contain;
    background-repeat: repeat;
  	.content-wrap {
  		position: relative;
  		min-height: 360px;
      text-align: center;
  	}
  	.content{
      max-width: 800px;
  		margin: auto;
  		position: relative;
  		padding: 40px 15px 0px;
  		z-index: 10;
  		&:after{
  			border-radius: 100%;
  			padding: 3px 5px;
  			@include faicon('\f01a');
  			font-size: 34px;
  			line-height: .93;
  			position: relative;
  			top: 18px;
  		}
  	}
  	.block__title {
      font-size: 20px;
  		font-weight: 700;
  		line-height: 1.37;
  		letter-spacing: .3px;
      text-transform: capitalize;
  	}
  	.field--name-field-subtitle{
      font-size: 34px;
  		font-weight: 800;
  		line-height: 1;
  		letter-spacing: normal;
  		margin: 0;
  	}
  	.field--name-field-body-text{
      margin-top: 20px;
  		text-transform: uppercase;
  		font-size: 21px;
  		font-weight: 700;
  		letter-spacing: 1.6px;
  		line-height: 1.95;
  	}
  	.button {
  		display: none;
  	}
  	@include breakpoint($tab) {
  		.content-wrap {
  			min-height: 490px;
  		}
  		.content {
        padding: 85px 25px;
  			&:after{
  				font-size: 39px;
  			}
  		}
  		.block__title {
  			font-size: 21px;
  		}
  		.field--name-field-subtitle{
  			font-size: 42px;
  		}
      .field--name-field-body-text{
        font-size: 18px;
      }
  	}
  	@include breakpoint($desk) {
      .content-wrap {
  			min-height: 475px;
  		}
  		.content{
        padding: 80px 25px 30px;
  			&:after{
  				font-size: 44px;
  			}
  		}
  		.block__title {
  			font-size: 26px;
  		}
  		.field--name-field-subtitle{
  			font-size: 66px;
  		}
      .field--name-field-body-text{
        padding-top: 20px;
        font-size: 21px;
      }
  	}
  }
}
