.benefits-hero {
  .node__title {
    color: $color-brand-tertiary;
    a {
      color: $color-brand-tertiary;
      &:hover {
        background: $color-brand-tertiary-dark;
      }
    }
  }
  .button {
    background: $color-brand-tertiary;
    &:hover {
      background: $color-brand-tertiary-dark;
    }
  }
}

// Local Target Benefits
.block--sprowt-views-sprowt-views-lt-benefits {
  @extend .benefits-hero;
}
