// Homepage CTA in postscript
.block--leadbuilder-block-cta-leadbuilder-block-cta-5 {
  a {
    &.button {
      background: $color-brand-tertiary;
      &:hover {
        background: $color-brand-tertiary-dark;
      }
    }
  }
}

// Sidebar CTA
.l-region--sidebar .block--leadbuilder-block-cta {
  &.primary {
    background: $color-brand-primary;
    a.button {
      background: $color-brand-secondary;
      &:hover {
        background: $color-brand-secondary-dark;
      }
    }
  }
  &.secondary {
    background: $color-brand-secondary;
    a.button {
      background: $color-brand-tertiary;
      color: black;
      &:hover {
        background: $color-brand-tertiary-dark;
      }
    }
  }
}
