.block--views-special-offers-front-slideshow {
  .node--special-offer {
    border-color: $color-brand-primary;
  }
  .node__title {
    background: $color-brand-primary;
  }
  .field--name-body {
    h2 {
      color: $color-brand-secondary;
    }
  }
  .field--name-field-button {
    a {
      background: $color-brand-secondary;
      &:hover {
        background: $color-brand-secondary-dark;
      }
    }
  }
}

.block--views-special-offers-list {
  .node__title {
    background: $color-brand-primary;
  }
  .field--name-body {
    h2 {
      color: $color-brand-secondary;
    }
  }
  a.button {
    background: $color-brand-secondary;
    &:hover {
      background: $color-brand-secondary-dark;
    }
  }
}


// Coupons on local target pages
.block--views-special-offers-related {
  @extend .block--views-special-offers-front-slideshow;
}
