@mixin front-arrow($bg, $fg) {
	position: relative;
	&:before {
		border: 50px solid transparent;
		border-width: 30px 50px;
		border-top-color: $bg;
		position: absolute;
		width: 100px;
		top: 0;
		left: 50%;
		margin-left: -50px;
		content: "";
		// font-family: "FontAwesome";
		// font-size: 27px;
		// content: "\f01a";
		// color: $fg;
	}
}