.l-header {
  background: palette(white, pure);
  text-align: center;
}

.front {
  .l-region--header-second {
    .block--nav-header {
      display: none;
    }
    @include breakpoint($tab) {
      .block--nav-header {
        display: block;
        margin-top: 0;
      }
    }
  }
}

.l-region--header-second {
  padding: 30px 20px;
  @include breakpoint($tab) {
    @include flexbox;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    margin: 0 auto;
  }
}
