div.entity.solution-body {
  h2 {
      color: palette(secondary, base);
  }
  > .content {
    > .field--name-field-intro h2 {
      color: palette(tertiary, base);
    }
  }
  .field--name-field-body-text {
    h4 {
      color: palette(tertiary, base);
      a {
        color: palette(tertiary, base);
        &:hover {
          color: palette(secondary, base);
        }
      }
    }
    a {
      color: palette(secondary, base);
      &:hover {
        color: palette(primary, base);
      }
    }
    a.button {
      color: palette(white, pure);
      &:hover {
        color: palette(white, pure);
      }
    }
  }
}
