div.entity-paragraphs-item.cta {
    background-color: #f2f2f2;
    color: palette(neutral, gallery);
    .field--name-field-header {
        color: palette(tertiary, base);
    }

    em {
        color: palette(tertiary, base);
        a {
            color: palette(secondary, base);
            &:hover {
                color: palette(tertiary, base);
            }
        }
    }
}
