.block--nav-main-menu {
  display: none;
  @include breakpoint($nav) {
    display: block;
    z-index: 51;
    background: palette(primary, base);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    .block__content {
      @include container;
    }
    a,
    .nolink {
      display: block;
      padding: 15px 20px;
      white-space: nowrap;
      font-size: 15px;
      font-weight: 600;
      color: palette(white, pure);
      text-align: center;
    }
    li {
      position: relative;
      z-index: 5;
      cursor: pointer;
      &:hover {
        > .menu {
          display: block;
          position: absolute;
          min-width: 100%;
        }
        a,
        .nolink {
          background: palette(tertiary, base);
        }
      }
    }
    .menu {
      .menu {
        display: none;
        a,
        .nolink {
          text-align: left;
        }
      }
      .active-trail {
        > a {
          color: palette(primary, light);
        }
      }
    }
    .expanded {
      li {
        > .menu {
          top: 0;
          left: 100%;
        }
        &:hover {
          a,
          .nolink {
            background: palette(secondary, base);
          }
        }
      }
      .expanded {
        li {
          &:hover {
            a {
              background: darken(palette(secondary, base), 10);
            }
          }
        }
      }
    }
    .menu-block-wrapper {
      > .menu {
        @include flexbox;
        justify-content: center;
        > li {
          flex: 1 1 auto;
          &:last-child {
            > .menu {
              > li {
                > .menu {
                  right: 100%;
                  left: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
