.block--nav-callout {
  background: palette(white, base);
  padding: 35px 20px;
  .menu {
    margin: 0;
    padding: 0;
  }
  .leaf {
    background: palette(secondary, base);
    list-style: none;
    + .leaf {
      margin-top: 11px;
    }
  }
  a {
    &.menu_icon {
      @include flexbox;
      align-items: center;
      border: 3px solid palette(quaternary, base);
      background-position: 20px center;
      padding: 20px;
      padding-right: 30px;
      padding-left: 75px;
      height: auto;
      min-height: 60px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  @include breakpoint(470px) {
    a {
      &.menu_icon {
        padding-left: 86px;
        font-size: 24px;
      }
    }
  }
  @include breakpoint($tab) {
    display: none;
  }
}
