@mixin faicon($icon) {
  font-family: "FontAwesome";
  font-weight: normal;
  content: $icon;
}

@mixin flexbox {
  display: flex;
  > * {
    -ms-flex: 0 1 auto;
  }
}

@mixin container($width:$container) {
  max-width: $width;
  margin: 0 auto;
}

@mixin clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

%image-hover {
  transition: 0.2s ease-out;
  &:hover {
    transform: scale(0.95);
  }
}
