@mixin container($width:$container) {
  max-width: $width;
  margin: 0 auto;
}

@mixin clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

.l-region--sidebar {
  .block {
    + .block {
      margin-top: 2em;
    }
  }
}

.l-page {
  @include flexbox;
  flex-direction: column;
  min-height: 100vh;
  > div {
    width: 100%;
  }
  .l-main {
    flex: 1 1 auto;
  }
}

.l-main {
  margin-top: 1em;
  margin-bottom: 1em;
}

@include breakpoint($tab) {
  .l-main {
    @include container;
    @include flexbox;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .l-content,
  .l-region--sidebar {
    flex: 1 1 auto;
  }
  .l-content {
    max-width: $content;
    margin-left: 20px;
    margin-right: 20px;
  }
  .l-region--sidebar {
    order: -1;
    max-width: $sidebar;
  }
  .no-sidebar {
    .l-content {
      margin: 0 auto;
    }
  }
}

@include breakpoint($desk) {
  .l-main {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
