.block--views-special-offers-list {
  .node__title {
    background: $color-brand-primary;
  }
  .field--name-body {
    h2 {
      color: $color-brand-secondary;
    }
  }
  a.button {
    background: $color-brand-secondary;
    &:hover {
      background: $color-brand-secondary-dark;
    }
  }
}
