// Map on front page
.block-areas-map {
  .intro {
    color: $color-brand-primary-light;
  }
}

// List of Service Area Links
.service-area-links-front {
  .block__content {
    ul {
      a {
        &:before {
          color: $color-brand-secondary;
        }
        &:hover {
          color: $color-brand-primary-light;
        }
      }
    }
  }
}
