// Sidebar
.block--views-testimonials-random {
  background: $color-brand-primary;
  &:after {
    border-bottom-color: $color-brand-primary;
  }
}

// Main list
.block--views-testimonials-list {
  color: $color-brand-primary;
}
