%block--grid {
  $block-padding-vert: 30px;
  $block-padding-horiz: 0;

  $grid-spacing: 20px;
  $image-padding: 15px;

  $node-padding: 20px;

  $image-width: 320px;

  padding: $block-padding-vert $block-padding-horiz;
  text-align: center;
  .views-row {
    max-width: $image-width;
    margin: 0 auto;
    + .views-row {
      margin-top: $grid-spacing;
    }
  }
  .node__title {
    font-size: 1.325em;
  }
  .node__content {
    padding: $node-padding;
  }
  .field--name-body {
    font-size: .95em;
  }
  .field--name-field-image {
    img {
      width: 100%;
    }
  }
  .more-link {
    align-self: center;
  }
  @include breakpoint($tab) {
    text-align: left;
    .view-content {
      @include flexbox;
      flex-wrap: wrap;
      margin: -($grid-spacing/2);
    }
    .views-row {
      @include flexbox;
      margin: 0;
      max-width: percentage(1/2);
      padding: $grid-spacing/2;
      flex: 1 1 percentage(1/2);
      + .views-row {
        margin: 0;
      }
    }
    .more-link {
      align-self: flex-start;
    }
  }
  @include breakpoint($desk) {
    .views-row {
      max-width: percentage(1/3);
      flex: 1 1 percentage(1/3);
    }
  }
}

.block--grid {
  @extend %block--grid;
}

@media print {
  %block--grid {
    text-align: left;
    .views-row {
      max-width: none;
    }
    .node {
      border: .3pt solid;
    }
  }
}
