.block--nav-main {

  $color-toggle-bg: palette(secondary, base);
  $color-toggle-fg: palette(white, pure);

  $color-link-bg: palette(neutral, limed-spruce);
  $color-link-fg: #fff;
  $color-link-border: palette(neutral, river-bed);

  $color-child-bg: palette(neutral, outer-space);

  $color-link-arrow: palette(primary, base);

  .menu-block-wrapper {
    a, .nolink {
      background-color: $color-link-bg;
      color: $color-link-fg;
      &.open {
        background-color: $color-child-bg;
      }
    }
    > .menu > li {
      border-bottom-color: $color-link-border;
    }
    .active,
    .active-trail {
      color: $color-link-arrow;
    }
  }
  &.menu-processed {
    .expanded,
    .leaf {
      .menu {
        a, .nolink {
          background-color: $color-child-bg;
        }
      }
    }
    .menu-child-toggle {
      background-color: $color-child-bg;
      &:after {
        color: $color-link-arrow;
      }
    }
  }

  @include breakpoint($tab) {
    $color-toggle-fg: palette(neutral, gray-chateau);

    background-color: $color-link-bg;
    &.menu-processed {
      .block__title {
        background-color: $color-link-bg;
        &:after {
          color: $color-toggle-fg;
          border-color: $color-link-border;
        }
      }
    }
  }
  @include breakpoint($nav) {

    $color-link-bg: palette(white, pure);
    $color-link-bg-hover: palette(white, pure);
    $color-link-fg: palette(primary, base);
    $color-link-fg-hover: palette(primary, dark);
    $color-link-drop: palette(primary, base);
    $color-link-drop-hover: palette(primary, dark);

    $color-child-border: palette(neutral, alto); // color of top border of 2nd level menu

    $color-child-bg: palette(white, pure);
    $color-child-bg-hover: palette(primary, base);
    $color-child-fg: palette(neutral, xanadu);
    $color-child-fg-hover: palette(white, pure);

    $color-third-bg: palette(primary, base);
    $color-third-bg-hover: palette(primary, dark);
    $color-third-fg: $color-child-bg;
    $color-third-fg-hover: $color-child-fg-hover;

    background-color: transparent;
    .menu-block-wrapper {
      a {
        background-color: $color-link-bg;
        color: $color-link-fg;
      }
      > .menu { // first level
        > li {
          background-color: $color-link-bg;
        }
        > li.expanded > a {
          &:after {
            color: $color-link-drop;
          }
        }
        > li:hover > a {
          background-color: $color-link-bg-hover;
          color: $color-link-fg-hover;
          &:after {
            color: $color-link-drop-hover;
          }
        }
        > li.active > a,
        > li.active-trail > a {
          color: $color-link-fg;
          &:hover {
            color: $color-link-fg-hover;
          }
        }
      }
      > .menu > li:hover > .menu { // second level
        > li + li {
          border-top-color: $color-child-border;
        }
        > li > a {
          background-color: $color-child-bg;
          color: $color-child-fg;
          &:hover,
          &.active,
          &.active-trail {
            background-color: $color-child-bg-hover;
            color: $color-child-fg-hover;
          }
        }
        > li > .nolink {
          background-color: $color-child-bg;
          color: $color-child-fg;
          &:hover {
            background-color: $color-child-bg-hover;
            color: $color-child-fg-hover;
          }
        }
        > li:hover > a,
        > li:hover > .nolink {
          background-color: $color-child-bg-hover;
          color: $color-child-fg-hover;
        }
      }
      > .menu > li > .menu > li:hover > .menu { // third level
        > li > a {
          background-color: $color-third-bg;
          color: $color-third-fg;
          &:hover,
          &.active {
            background-color: $color-third-bg-hover;
            color: $color-third-fg-hover;
          }
        }
        > li > .nolink {
          background-color: $color-third-bg;
          color: $color-third-fg;
        }
      }
    }
  }
}
