div.accordion {
  .accordion-header {
    @include flexbox;
    align-items: center;
    cursor: pointer;
    padding: 20px 10px 20px 30px;
    margin-top: 2px;
    font-size: 1em;
    line-height: 1.4;
    position: relative;
    transition: background-color 0.2s;
    &:before {
      @include faicon('\F105');
      position: absolute;
      left: 15px;
      font-weight: 700;
      transition: transform 0.2s;
    }
    &.open {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  .accordion-content {
    padding: 20px;
  }
}
