div.accordion .accordion-header {
  background-color: #fcfcfc;
  color: #239343; }
  div.accordion .accordion-header.open {
    background-color: #dddddd; }

a {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; }

.button {
  background-color: #239343;
  color: #fff; }
  .button:hover, .button:focus {
    background-color: #00591d;
    color: #fff; }

@media print {
  .button, .node--teaser .field--name-body .field__item > .more-link,
  .node--alt-teaser .field--name-body .field__item > .more-link, input[type=submit] {
    background-color: transparent !important;
    color: blue !important; } }

.node--teaser .field--name-body .field__item > .more-link,
.node--alt-teaser .field--name-body .field__item > .more-link {
  background-color: #239343;
  color: #fff; }
  .node--teaser .field--name-body .field__item > .more-link:hover, .node--teaser .field--name-body .field__item > .more-link:focus,
  .node--alt-teaser .field--name-body .field__item > .more-link:hover,
  .node--alt-teaser .field--name-body .field__item > .more-link:focus {
    background-color: #00591d;
    color: #fff; }

.flexslider {
  background-color: transparent; }

input, textarea, select {
  background-color: #fff;
  border-color: #e1e1e1 !important; }
  input:focus, textarea:focus, select:focus {
    border-color: #707972; }

input[type=submit] {
  background-color: #239343;
  color: #fff; }
  input[type=submit]:hover, input[type=submit]:focus {
    background-color: #00591d;
    color: #fff; }

table {
  background-color: #ddd; }

th {
  background-color: #00591d;
  color: #fff; }

td {
  background-color: #fff; }

body {
  color: #58595b; }

a {
  color: #239343; }
  a:hover {
    color: #00591d; }

h1 {
  color: #373d38; }

h2 {
  color: #373d38; }

h3 {
  color: #373d38; }

h4 {
  color: #373d38; }

blockquote {
  border-left-color: #239343; }

hr {
  border-bottom-color: #dddddd; }

.two-column {
  background-color: #fcfcfc;
  border-color: #eaeaea; }
  .two-column li:before {
    color: #239343; }

.block--grid .node {
  background-color: #f4f4f4; }

.block--list .views-row + .views-row {
  border-top-color: #e1e1e1; }

.block--views-affiliates-list {
  background-color: #fff; }
  .block--views-affiliates-list .block__title {
    color: #373d38; }

.benefits-hero,
.local-target-benefits {
  background-color: transparent; }
  .benefits-hero .node__title,
  .local-target-benefits .node__title {
    color: #373d38; }
    .benefits-hero .node__title a,
    .local-target-benefits .node__title a {
      color: #373d38; }
      .benefits-hero .node__title a:hover,
      .local-target-benefits .node__title a:hover {
        color: #239343; }
  .benefits-hero .field--name-field-icon,
  .local-target-benefits .field--name-field-icon {
    border-color: #239343;
    background-color: #239343; }

.block--sprowt-settings-sprowt-copyright {
  color: #707972; }
  .block--sprowt-settings-sprowt-copyright a {
    color: #707972; }
    .block--sprowt-settings-sprowt-copyright a:hover {
      color: #00591d; }

.l-region--postscript-third .block--sprowt-block-cta {
  background-color: #f5c505;
  color: #fff; }
  .l-region--postscript-third .block--sprowt-block-cta a {
    color: inherit; }
  .l-region--postscript-third .block--sprowt-block-cta .node__title {
    color: inherit; }
  .l-region--postscript-third .block--sprowt-block-cta .button {
    background-color: #fff;
    color: #239343; }
    .l-region--postscript-third .block--sprowt-block-cta .button:hover, .l-region--postscript-third .block--sprowt-block-cta .button:focus {
      background-color: #239343;
      color: #fff; }

.block--form-sidebar {
  border-color: #f4f4f4;
  background-color: #fff;
  color: #707972; }
  .block--form-sidebar .block__title {
    color: #373d38; }
  .block--form-sidebar label {
    color: #707972; }

.local-target-webform {
  background-color: #3a4648; }
  .local-target-webform .block__content {
    color: #eee; }
  .local-target-webform .node__title {
    color: #fff; }

.block--webform-front .webform-component-markup {
  color: #00591d; }

.block--webform-front .form-item input,
.block--webform-front .form-item select {
  background-color: #f3f3f3; }

.block--webform-front .form-item input::-webkit-input-placeholder {
  color: #58595b; }

.block--webform-front .form-item input::-moz-placeholder {
  color: #58595b; }

.block--webform-front .form-item input:-ms-input-placeholder {
  color: #58595b; }

.block--webform-front .form-item input:-moz-placeholder {
  color: #58595b; }

.block--webform-front .form-item select {
  color: #58595b; }

.block--webform-front .webform-submit {
  background-color: #fff;
  color: #239343;
  border-color: #239343 !important; }
  .block--webform-front .webform-submit:hover, .block--webform-front .webform-submit:focus {
    background-color: #239343;
    color: #fff; }

.block--views-localtarget-map-reviews .view-content {
  box-shadow: 0 9px 7.4px 0.6px rgba(13, 14, 13, 0.13); }

.block--views-localtarget-map-reviews h2 {
  background-color: #f5c505;
  color: #fff; }

.block--views-localtarget-map-reviews h3:before {
  color: #f5c505; }

.block--views-localtarget-map-reviews .location-content {
  background-color: #fff; }

.block--views-localtarget-map-reviews .reviews-links {
  background-color: #239343; }
  .block--views-localtarget-map-reviews .reviews-links a {
    color: #fff; }
    .block--views-localtarget-map-reviews .reviews-links a:hover {
      color: #f5c505; }
  .block--views-localtarget-map-reviews .reviews-links .field__item:before {
    color: #f5c505; }
  .block--views-localtarget-map-reviews .reviews-links .field__item + .field__item {
    border-top-color: #00591d; }

.block--views-locations-list {
  color: #239343; }
  .block--views-locations-list a {
    color: inherit; }
    .block--views-locations-list a:hover {
      color: inherit; }
  .block--views-locations-list h2 {
    color: #239343; }
  @media (min-width: 768px) {
    .block--views-locations-list .field-street-address,
    .block--views-locations-list .field-locality, .block--views-locations-list .field-phone-number {
      border-left-color: #239343; } }

.block--logo-block-logo .mobile-menu-toggle i {
  color: #239343; }

@media (min-width: 768px) {
  .block--logo-block-logo .tablet-menu-toggle {
    color: #555555; }
    .block--logo-block-logo .tablet-menu-toggle i {
      color: #239343; } }

.block-areas-map {
  background-color: #00591e; }
  .block-areas-map .block__title {
    color: #fff; }
  .block-areas-map .block__content {
    color: #eee; }
    .block-areas-map .block__content iframe {
      box-shadow: 0 6px 12px 1px rgba(0, 0, 0, 0.35); }
  .block-areas-map ul a {
    color: #fff; }
    .block-areas-map ul a:hover {
      color: #f5c505; }
  .block-areas-map ul a::before {
    color: #f5c505; }

.block--views-packages-services .block__title,
.block--views-packages-localtarget .block__title {
  background-color: #239343;
  color: #fff; }

.block--views-packages-services .view-content,
.block--views-packages-localtarget .view-content {
  border-color: #f4f4f4; }

.block--views-packages-services .views-row-odd,
.block--views-packages-localtarget .views-row-odd {
  background-color: #f4f4f4; }

.block--views-packages-services .views-row-even,
.block--views-packages-localtarget .views-row-even {
  background-color: white; }

.block--views-packages-services .node__title a,
.block--views-packages-localtarget .node__title a {
  color: #239343; }
  .block--views-packages-services .node__title a:hover,
  .block--views-packages-localtarget .node__title a:hover {
    color: #f5c505; }

.block--views-packages-services .field--name-body .field__item .more-link,
.block--views-packages-localtarget .field--name-body .field__item .more-link {
  background-color: #239343;
  color: #fff; }
  .block--views-packages-services .field--name-body .field__item .more-link:hover,
  .block--views-packages-localtarget .field--name-body .field__item .more-link:hover {
    background-color: #f5c505; }

.block--views-packages-services.block--grid .view-content,
.block--views-packages-localtarget.block--grid .view-content {
  background-color: #f4f4f4; }

.block--views-packages-services.block--grid .node,
.block--views-packages-localtarget.block--grid .node {
  background-color: transparent; }

.block--views-team-list .node {
  background-color: transparent; }

.block--views-team-list .field--name-field-image img {
  background-color: #fff;
  border-color: #eee; }

.block--services-intro {
  color: #fff; }
  .block--services-intro h2, .block--services-intro h3, .block--services-intro h4 {
    color: #fff; }
    .block--services-intro h2 em, .block--services-intro h3 em, .block--services-intro h4 em {
      color: #f5c505; }
  .block--services-intro a {
    color: #fff; }
    .block--services-intro a:hover, .block--services-intro a:after {
      color: #f5c505; }

.block--views-services-front-4-secondary {
  color: #ebe0b5; }
  .block--views-services-front-4-secondary .node {
    background-color: #636553; }
  .block--views-services-front-4-secondary .node__title a {
    color: #fff; }
    .block--views-services-front-4-secondary .node__title a:hover {
      color: #f5c505; }
  @media (min-width: 1024px) {
    .block--views-services-front-4-secondary .node:after {
      background: linear-gradient(transparent 0%, transparent 10%, #00591d 90%, #00591d 100%); } }

.front .block--views-services-all .view-content + .more-link a {
  background-color: #239343;
  color: #fff; }
  .front .block--views-services-all .view-content + .more-link a:hover, .front .block--views-services-all .view-content + .more-link a:focus {
    background-color: #00591d;
    color: #fff; }

.front .block--views-services-all .views-row {
  border-color: #ebe0b5; }

.front .block--views-services-all .node__title a {
  color: #fff; }
  .front .block--views-services-all .node__title a:hover {
    color: #239343; }

.front .block--views-services-all .field--name-body {
  color: #fff; }

.block--views-slideshow-front .node--slide,
.block--views-slideshow-localtarget .node--slide {
  background-color: #636553; }

.block--views-slideshow-front .slide-image:before,
.block--views-slideshow-localtarget .slide-image:before {
  background-color: #151616; }

.block--views-slideshow-front .node__title,
.block--views-slideshow-localtarget .node__title {
  color: #fff; }

.block--views-slideshow-front .flex-direction-nav a:before,
.block--views-slideshow-localtarget .flex-direction-nav a:before {
  color: rgba(255, 255, 255, 0.7); }

.block--views-slideshow-front .field--name-body,
.block--views-slideshow-localtarget .field--name-body {
  color: #fff; }
  .block--views-slideshow-front .field--name-body a,
  .block--views-slideshow-localtarget .field--name-body a {
    color: #fff; }
    .block--views-slideshow-front .field--name-body a:hover,
    .block--views-slideshow-localtarget .field--name-body a:hover {
      color: #f5c505; }
    .block--views-slideshow-front .field--name-body a:after,
    .block--views-slideshow-localtarget .field--name-body a:after {
      color: #f5c505; }
    .block--views-slideshow-front .field--name-body a.button:hover,
    .block--views-slideshow-localtarget .field--name-body a.button:hover {
      color: #fff; }

.block--views-special-offers-sidebar,
.block--views-special-offers-related-2 {
  background-color: #fff;
  border-color: #f4f4f4; }
  .block--views-special-offers-sidebar .block__title,
  .block--views-special-offers-related-2 .block__title {
    color: #373d38; }
  .block--views-special-offers-sidebar .views-row,
  .block--views-special-offers-related-2 .views-row {
    border-color: #f4f4f4; }
  .block--views-special-offers-sidebar .node__title,
  .block--views-special-offers-related-2 .node__title {
    color: #239343; }
  .block--views-special-offers-sidebar .node__content,
  .block--views-special-offers-related-2 .node__content {
    color: #707972; }

.block--views-special-offers-list .node {
  border-color: #dddddd; }

.block--views-special-offers-front-s4 {
  background-color: #f5c505; }
  .block--views-special-offers-front-s4 .node {
    background-color: #fff;
    box-shadow: 0 11px 16.4px 1.6px rgba(1, 2, 2, 0.18); }
    .block--views-special-offers-front-s4 .node:after {
      background-color: #239343;
      color: #fff;
      box-shadow: 0 2px 3.6px 0.4px rgba(1, 2, 2, 0.33); }
  .block--views-special-offers-front-s4 .button {
    background-color: transparent;
    color: #239343; }
    .block--views-special-offers-front-s4 .button:hover {
      color: #00591d; }

.block--views-special-offers-front .block__title,
.local-target-special-offer .block__title {
  color: #f5c505; }

.block--views-special-offers-front .node,
.local-target-special-offer .node {
  background-color: #fff;
  border-color: #239343; }

.block--testimonials-sidebar, .block--views-testimonials-random {
  background-color: #fff;
  border-color: #f4f4f4; }
  .block--testimonials-sidebar .block__title, .block--views-testimonials-random .block__title {
    color: #373d38; }
  .block--testimonials-sidebar .node__content, .block--views-testimonials-random .node__content {
    color: #707972; }
  .block--testimonials-sidebar .fa-star, .block--views-testimonials-random .fa-star {
    color: #239343; }

.block--views-testimonials-front-alt-teaser,
.local-target-testimonial {
  background-color: #fff;
  border-top-color: #f5c505;
  box-shadow: 0 15px 27.2px 4.8px rgba(0, 0, 0, 0.28); }
  .block--views-testimonials-front-alt-teaser .rating,
  .local-target-testimonial .rating {
    color: #239343; }

.block--views-testimonials-front .block__content {
  color: #f5c505; }

.block--views-testimonials-front .rating {
  color: #239343; }

.block--views-testimonials-front .field--title,
.block--views-testimonials-front .field--name-field-market {
  font-size: 15px; }

.field--name-field-call-out {
  background-color: #239343;
  color: #fff; }
  .field--name-field-call-out h1, .field--name-field-call-out h2, .field--name-field-call-out h3, .field--name-field-call-out h4, .field--name-field-call-out h5 {
    color: #fff; }
  .field--name-field-call-out .button {
    background-color: #fff;
    color: #239343; }
    .field--name-field-call-out .button:hover, .field--name-field-call-out .button:focus {
      background-color: #00591d;
      color: #fff; }

.field--name-field-display-title {
  color: #373d38; }

.not-front .l-breadcrumb {
  background-color: #00591d;
  color: #fff; }
  .not-front .l-breadcrumb a {
    color: inherit; }
    .not-front .l-breadcrumb a:hover {
      color: #c2c2c2; }
  .not-front .l-breadcrumb li:last-of-type {
    color: #c2c2c2; }

.block--nav-main .menu-block-wrapper a, .block--nav-main .menu-block-wrapper .nolink {
  background-color: #394548;
  color: #fff; }
  .block--nav-main .menu-block-wrapper a.open, .block--nav-main .menu-block-wrapper .nolink.open {
    background-color: #303739; }

.block--nav-main .menu-block-wrapper > .menu > li {
  border-bottom-color: #4a595d; }

.block--nav-main .menu-block-wrapper .active,
.block--nav-main .menu-block-wrapper .active-trail {
  color: #239343; }

.block--nav-main.menu-processed .expanded .menu a, .block--nav-main.menu-processed .expanded .menu .nolink,
.block--nav-main.menu-processed .leaf .menu a,
.block--nav-main.menu-processed .leaf .menu .nolink {
  background-color: #303739; }

.block--nav-main.menu-processed .menu-child-toggle {
  background-color: #303739; }
  .block--nav-main.menu-processed .menu-child-toggle:after {
    color: #239343; }

@media (min-width: 768px) {
  .block--nav-main {
    background-color: #394548; }
    .block--nav-main.menu-processed .block__title {
      background-color: #394548; }
      .block--nav-main.menu-processed .block__title:after {
        color: #9ca2a4;
        border-color: #4a595d; } }

@media (min-width: 1030px) {
  .block--nav-main {
    background-color: transparent; }
    .block--nav-main .menu-block-wrapper a {
      background-color: #fff;
      color: #6a6a6a; }
    .block--nav-main .menu-block-wrapper > .menu > li {
      background-color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li.expanded > a:after {
      color: #239343; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > a {
      background-color: #fff;
      color: #239343; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > a:after {
        color: #00591d; }
    .block--nav-main .menu-block-wrapper > .menu > li.active > a,
    .block--nav-main .menu-block-wrapper > .menu > li.active-trail > a {
      color: #239343; }
      .block--nav-main .menu-block-wrapper > .menu > li.active > a:hover,
      .block--nav-main .menu-block-wrapper > .menu > li.active-trail > a:hover {
        color: #239343; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu {
      border-top-color: #fff;
      background-color: #fff; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a {
        background-color: #fff;
        color: #6a6a6a; }
        .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a:hover, .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a.active, .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a.active-trail {
          background-color: #fff;
          color: #239343; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > .nolink {
        background-color: #fff;
        color: #6a6a6a; }
        .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > .nolink:hover {
          background-color: #fff;
          color: #239343; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li:hover > a,
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li:hover > .nolink {
        background-color: #fff;
        color: #239343; }
    .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu {
      background-color: #fff; }
      .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a {
        background-color: #fff;
        color: #6a6a6a; }
        .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a:hover, .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a.active {
          background-color: #fff;
          color: #239343; }
      .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > .nolink {
        background-color: #fff;
        color: #6a6a6a; }
    .block--nav-main .menu-block-wrapper > .menu > li > .menu > li.first:hover > .menu {
      border-top-color: #fff; } }

.block--nav-mobile-utility .menu li.first {
  background-color: #3a4648; }

.block--nav-mobile-utility .menu li.last {
  background-color: #239343; }

.block--nav-mobile-utility .menu a {
  color: #fff; }
  .block--nav-mobile-utility .menu a[href^='tel:']:before {
    color: #239343; }

.block--nav-utility-footer .menu li:nth-of-type(odd) {
  background-color: #3a4648; }

.block--nav-utility-footer .menu li:nth-of-type(even) {
  background-color: #516164; }

.block--nav-utility-footer .menu li a {
  color: #fff; }

.block--nav-submenu {
  background-color: #fff; }
  .block--nav-submenu .menu-block-wrapper > .menu > li + li {
    border-top-color: #f4f4f4; }
  .block--nav-submenu .menu-block-wrapper > .menu > li a,
  .block--nav-submenu .menu-block-wrapper > .menu > li .nolink {
    color: #292929;
    border-left-color: #fff; }
    .block--nav-submenu .menu-block-wrapper > .menu > li a:before,
    .block--nav-submenu .menu-block-wrapper > .menu > li .nolink:before {
      color: #239343; }
    .block--nav-submenu .menu-block-wrapper > .menu > li a:hover,
    .block--nav-submenu .menu-block-wrapper > .menu > li .nolink:hover {
      border-left-color: #239343; }
  .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail {
    background-color: #f4f4f4; }
    .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail a,
    .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail .nolink {
      border-left-color: #239343; }
  .block--nav-submenu .menu-block-wrapper > .menu .menu {
    background-color: #fcfcfc; }
    .block--nav-submenu .menu-block-wrapper > .menu .menu li a,
    .block--nav-submenu .menu-block-wrapper > .menu .menu li .nolink {
      color: #707972; }
      .block--nav-submenu .menu-block-wrapper > .menu .menu li a:hover,
      .block--nav-submenu .menu-block-wrapper > .menu .menu li .nolink:hover {
        color: #292929; }
    .block--nav-submenu .menu-block-wrapper > .menu .menu li.active a {
      color: #373d38; }

.block--nav-utility {
  background-color: #239343; }
  .block--nav-utility .menu-block-wrapper a {
    background-color: #239343;
    color: #fff; }
  @media (min-width: 768px) {
    .block--nav-utility .menu li a:before {
      color: #fff; } }
  @media (min-width: 1030px) {
    .block--nav-utility {
      background-color: transparent; }
      .block--nav-utility .menu-block-wrapper a {
        background-color: #239343;
        color: #fff; }
        .block--nav-utility .menu-block-wrapper a:hover, .block--nav-utility .menu-block-wrapper a:focus {
          background-color: #00591d;
          color: #fff; }
        .block--nav-utility .menu-block-wrapper a[href^='tel:'] {
          background-color: transparent;
          color: #239343; }
          .block--nav-utility .menu-block-wrapper a[href^='tel:']:before {
            color: #239343; }
          .block--nav-utility .menu-block-wrapper a[href^='tel:']:hover {
            color: #00591d; }
      .block--nav-utility .menu li:nth-child(1n) a[href^='tel:']:before {
        color: #239343; } }

.node-ebooking.processed .webform-component-markup[class*="title"] h2, .node-ebooking.processed .webform-component-markup[class*="title"] h3 {
  color: #f5c505; }

.node-ebooking.processed .webform-component-optionsmarkup .package.selected:after, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:after {
  background-color: #f5c505; }

.node-ebooking.processed .webform-component-optionsmarkup .package:hover, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package:hover, .node-ebooking.processed .webform-component-optionsmarkup .package.selected, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package.selected {
  border-color: #f5c505;
  background-color: white; }

.node-ebooking.processed .webform-component-optionsmarkup .package .current-price, .node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package .current-price {
  color: #f5c505; }

.node-ebooking .l-main {
  background-color: #f5c505; }

.node-ebooking.processed .step-number {
  color: #239343; }

.node-ebooking.processed div[class*="if-business"] {
  border-color: #f5c505; }
  .node-ebooking.processed div[class*="if-business"] .close-popup {
    color: #f5c505; }

.node-ebooking.processed .basic-form {
  color: #ebe0b5; }
  .node-ebooking.processed .basic-form:hover {
    color: #f5c505; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="review"] > h3 {
  color: #f5c505; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="review"] .package {
  border-color: #f5c505;
  background-color: white; }

.node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] {
  border-color: #f5c505; }
  .node-ebooking .ebooking_summary .webform-component-markup[class*="tooltip"] .close-tooltip {
    color: #f5c505; }

.front .l-main {
  background-color: #fff; }
  .front .l-main .node--page--full h1 {
    color: #373d38; }
  .front .l-main .node--page--full .field--name-body {
    color: #373d38; }

.block--views-localtarget-value-prop .node {
  background-color: #636553; }

.block--views-localtarget-value-prop .slide-image-background:before {
  background-color: #151616; }

.block--views-localtarget-value-prop .field--name-field-display-title {
  color: #fff; }

.block--views-localtarget-value-prop .field--name-field-intro {
  color: #fff; }

.block--views-localtarget-value-prop a {
  color: #fff; }
  .block--views-localtarget-value-prop a:after {
    color: #f5c505; }
  .block--views-localtarget-value-prop a:hover {
    color: #f5c505; }

.node-type-localtarget .l-region--preface-third {
  background-color: #636553; }

.block--views-package-comparison-hero .node {
  background-color: #636553; }

.block--views-package-comparison-hero .slide-image-background:before {
  background-color: #151616; }

.node-type-package-comparison .field--name-field-packages header,
.bean-package-comparison .field--name-field-packages header {
  background-color: #239343; }

.node--package-comparison--teaser table thead th[scope=col],
.bean-package-comparison-table table thead th[scope=col] {
  color: #239343; }

.block--views-package-comparison-cta .button {
  background-color: #f5c505;
  color: #fff; }
  .block--views-package-comparison-cta .button:hover, .block--views-package-comparison-cta .button:focus {
    background-color: #ebe0b5;
    color: #fff; }

.node--profile--full .field--name-field-image img {
  background-color: #fff;
  border-color: #eee; }

.node--profile--full .flippy {
  border-top-color: #eee; }

.l-footer-wrap {
  border-top-color: #f5c505; }

@media (min-width: 1030px) {
  .l-header {
    border-bottom-color: #f5c505; } }

.l-region--postscript-first {
  background-color: #f4f4f4; }

.front .l-region--postscript-first {
  background-color: #636553; }

.front .l-region--postscript-second {
  background-color: #fff; }

.front .l-region--preface-third {
  background-color: #00591d; }

.l-region--preface-fourth {
  background-color: #f4f4f5; }
