.benefits-hero,
.local-target-benefits {
   $color-bg: palette(neutral, wild-sand);
   $color-border: palette(white, pure);
   $color-title: palette(primary, base);
   $color-title-hover: palette(secondary, base);

   background-color: $color-bg;

   .node__title {
      color: $color-title;
      a {
        color: $color-title;
        &:hover {
          color: $color-title-hover;
        }
      }
   }
   .field--name-field-image {
      img {
         border-color: $color-border;
         background-color: $color-border;
      }
   }
}


.front--solutions-finder, .ltp--solutions-finder{
  .block--views-benefits-front, .local-target-benefits{
    background-color: palette(white, pure);
  }
}
