.block--views-team-list.block--grid {
  .view-content{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .views-row{
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .node {
      text-align: center;
      margin: 0 auto;
    }
  .field--name-field-image {
    img {
      @extend %image-hover;
      width: auto;
      border-radius: 50%;
      border: 2px solid;
    }
  }
  .node__title {
    @extend h3;
  }
  .field--name-body {
    .more-link {
      &.more-link {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
