.block--views-services-all {
  .node__title {
    @extend h3;
  }
}

.not-front {
  .block--views-services-all {
    div.more-link {
      display: none;
    }
  }
}

// homepage service intro

.service-intro {
    margin: 0 auto;
    max-width: 850px;
    padding: 50px 30px 30px;
    text-align: center;
    h2 {
      @extend h3;
      @extend %primary-border;
      line-height: 1.7;
      margin-bottom: 20px;
    }
}

// homepage service listing

.block--views-services-front-all-quaternary {
  max-width: 1040px;
  margin: 0 auto;
  padding: 15px 0 0;
  .view-content {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
    }
    + .more-link {
      text-align: center;
      a{
        @extend %button;
        max-width: 225px;
        margin: 30px auto;
      }
    }
  }
  .views-row {
    position: relative;
    z-index: 50;
    &:nth-of-type(n+2) {
      border-top: 2px solid;
    }
  }
  .node {
    @include flexbox;
    flex-direction: column;
    text-align: center;
    max-width: 260px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  .field--name-field-icon {
    margin-bottom: 13px;
  }
  .node__title {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .field--name-body {
    font-size: 0.95em;
    padding-bottom: 25px;
    padding-left:10px;
    padding-right:10px;
  }
  .read-more {
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 600;
    &:after {
      @include faicon('\F105');
      font-size: 1.1em;
      font-weight: 600;
      padding-left: 8px;
    }
  }
  @include breakpoint($tab) {
    .view-content {
      @include flexbox;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .views-row {
      width: 50%;
      &:nth-of-type(2) {
        border-top: none;
      }
      &:nth-of-type(even) {
        border-left: solid 2px;
      }
    }
  }
  @include breakpoint($desk) {
    $transition: .5s ease-in-out;
    padding-bottom: 70px;
    .view-content {
      + .more-link a {
        margin-bottom: 0;
      }
    }
    .views-row {
      width: 25%;
      overflow: hidden;
      &:before {
        width: 125px;
      }
      &:after {
        height: 125px;
      }
      &:nth-of-type(n+2) {
        border-top: none;
      }
      &:nth-of-type(n+5) {
        border-top: 2px solid;
      }
      &:nth-of-type(even) {
        border-left: 2px solid;
      }
      &:nth-of-type(3n) {
        border-left: 2px solid;
      }
    }
    .field--name-field-icon {
      @include flexbox;
      justify-content: center;
      align-items: flex-end;
      transition: $transition;
      position: absolute;
      height: 60px;
      top: 55px;
      width: 100%;
    }
    .node__title {
      transition: $transition;
      position: absolute;
      top: 130px;
      width: 100%;
    }
    .node__content {
      opacity: 0;
      transition: $transition;
      position: absolute;
      top: 85px;
      transform: translateY(100px);
    }
    .node {
      padding: 0;
      height: 100%;
      min-height: 220px;
      transition: $transition;
      overflow: hidden;
      &:hover {
        .field--name-field-icon {
          opacity: 0;
        }
        .node__title {
          transform: translateY(-85px);
        }
        .node__content {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
