.block--sprowt-settings-sprowt-social-media {
  margin: 20px 0;
  padding: 0 20px;
  font-size: 23px;
  .block__content {
    ul {
      @include flexbox;
      justify-content: center;
    }
    li {
      + li {
        margin-left: .25em;
      }
    }
    a {
      @include flexbox;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      border-radius: 50%;
      line-height: normal;
      width: 45px;
      height: 45px;
    }
  }
  .social-description {
    display: none;
  }
}
