%special-offers-sidebar {
  padding: 25px 15px;
  border: 5px dashed;
  .block__title {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
  }
  .node__title {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .node {
    .field--name-field-button {
      margin-top: 1.25em;
    }
  }
  .button {
    width: 100%;
  }
}

.block--views-special-offers-sidebar {
  @extend %special-offers-sidebar;
}

.block--views-special-offers-list {
  .views-row {
    + .views-row {
      border-top: 0;
      padding-top: 0;
    }
  }
  .node {
    border: 3px dashed;
    padding: 20px;
    max-width: 600px;
  }
}

// homepage

.block-special-offers-intro {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 20px 30px;
  text-align: center;
  .block__title {
    @extend h3;
    @extend %primary-border;
  }
}

.block--views-special-offers-front-slideshow,
.local-target-special-offer-slideshow {
    padding: 0 20px 50px;
    .block__title {
      @extend h3;
      text-transform: uppercase;
      text-align: center;
      padding: 40px 0 30px;
    }
  .slides {
    @include flexbox;
    align-items: center;
  }
  .node {
    max-width: 300px;
    margin: 0 auto 20px;
    border: 3px dashed;
    padding: 20px;
  }
  .image-wrap {
    @include flexbox;
    justify-content: center;
    padding-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .node__title {
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .field--name-body {
    font-size: 0.925em;
    padding-bottom: 20px;
    p {
      line-height: 1.8;
    }
  }
  .button {
    display: inline-block;
    text-align: left;
    padding: 0;
    font-size: 1.1em;
    font-weight: 600;
    &:after {
      @include faicon("\f105");
      font-size: 1.2em;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  @include breakpoint($tab) {
    .block__title {
      padding: 40px 0 10px;
    }
    .node {
      @include flexbox;
      max-width: 710px;
      margin: 0 auto;
      padding: 10px;
      min-height: 200px;
      // background: white
    }
    .coupon-wrap {
      @include flexbox;
      align-items: center;
    }
    .image-wrap {
      align-items: center;
      flex: 1 0 auto;
      padding: 0;
    }
    .node__title {
      margin-bottom: 5px;
    }
    .node__content {
      padding-left: 40px;
      padding-right: 20px;
    }
  }
}



.block--views-special-offers-front,
.local-target-special-offer {
  padding: 0 20px 50px;
  .block__title {
    @extend h3;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 30px;
  }
  .node {
    border: 3px dashed;
    padding: 20px;
    margin-bottom: 20px;
  }
  .field--name-body {
    font-size: 1em;
  }
  .button {
    max-width: 220px;
  }
  @include breakpoint($tab) {
    .block__title {
      padding: 40px 0 10px;
    }
    .view-content {
      @include flexbox;
      justify-content: center;
    }
    .views-row {
      @include flexbox;
    }
    .node {
      max-width: 490px;
      margin: 20px;
    }
  }
}
