.block--sprowt-block-cta {
	.l-region--postscript-third & {
		.block__content {
			background: palette(secondary, base);
      color: palette(white, pure);
    }
    @include breakpoint($tab) {
  		.block__content {
  			background-image: $design-contact-bg;
      }
    }
    @include breakpoint($desk) {
			background-image: $design-border-bg;
    }
  }
}
