//front

.form-text,
.form-textarea {
    &:focus {
        box-shadow: 0 0 5px rgba(palette(secondary, base), .25);
        border-color: palette(secondary, base);
    }
}

.form-submit {
    @extend .button;
}

//sidebar

.block--multiblock-2 {
    .block__title {
        color: palette(primary, dark);
    }
}
