.node--profile--full {
	.field--name-field-position {
		font-size: 21px;
		margin-bottom: 20px;

	}
	.field--type-image {

	}
	@include breakpoint($tab) {
		.field--type-image {
			float: left;
			margin: 0 20px 20px 0;			
		}	
	}
}