// homepage service listing
.block--views-services-front-services {
  .view-content {
    + .more-link {
      a {
        @include button-color;
      }
    }
  }
  @include breakpoint($tab) {
    .node {
      background-color: palette(white, pure);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      border-color: palette(neutral, wild-sand);
    }
  }
  @include breakpoint($desk) {
    background-color: palette(secondary, base);
    .node {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      &:hover {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

//with solutions finder
.front--solutions-finder{
  .l-region--preface-second{
    background-color: palette(neutral, gallery)
  }
  .block--views-services-front-services{
    background-color: palette(neutral, gallery);
  }
}

// .front {
//   .block--views-services-all {
//     $color-border: palette(secondary, light);
//     $color-services-body: palette(white, pure);
//
//     $color-title: palette(white, pure);
//     $color-title-hover: palette(primary, base);
//
//     $color-button-bg: palette(primary, base);
//     $color-button-bg-hover: palette(primary, dark);
//     $color-button-fg: palette(white, pure);
//     $color-button-fg-hover: palette(white, pure);
//
//     .views-row {
//       border-color: $color-border;
//     }
//     .node__title {
//       a {
//         color: $color-title;
//         &:hover {
//           color: $color-title-hover;
//         }
//       }
//     }
//     .more-link {
//       &.more-link {
//         background-color: $color-button-bg;
//         color: $color-button-fg;
//         &:hover {
//           background-color: $color-button-bg-hover;
//           color: $color-button-fg-hover;
//         }
//       }
//     }
//     .field--name-body {
//       color: $color-services-body;
//     }
//   }
// }
