.l-content {
  a {
    color: $color-body-link;
    &:hover {
      color: $color-brand-primary-dark;
    }
  }
  .button {
    color: white;
    &:hover {
      color: white;
      background: $color-brand-primary-dark;
    }
  }
}
