.nav-header {
	color: $color-brand-secondary;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	.block__content {
		li + li {
			margin-top: 5px;
		}
	}
	@include breakpoint($nav) {
		text-align: right;
		margin-top: -5px;
		padding: 0;
		.block__content {
			li + li {
				margin-top: 0;
			}
		}
	}
}