body,
input {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $font-body;
}

a {
	text-decoration: none;
}

%heading {
	margin: 0;
	margin-bottom: 5px;
	line-height: 1.2;
	font-weight: bold;
	font-family: $font-headings;
}

h1, h2, h3, h4, h5, h6 {
	@extend %heading;
}

%h1, h1 {
	font-size: 2em;
}

%h2, h2 {
	font-size: 1.5em;
}

%p {
	margin: 0;
	+ %p {
		margin-top: 1em;
	}
}

p, ul, ol, table, blockquote {
	@extend %p;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 1em auto;
}

blockquote {
	font-size: 1.25em;
	font-style: italic;
	margin: 0 auto;
	padding: 10px 40px;
	max-width: 100%;
}

.two-column {
	@include breakpoint($tab) {
		ul {
			@include clearfix;
		}
		li {
			float: left;
			width: 50%;
			padding-right: 20px;
			margin-top: .5em;
		}
	}
}
