.benefits-hero,
.local-target-benefits {
   $color-bg: palette(neutral, wild-sand);
   $color-border: palette(white, pure);
   $color-title: palette(primary, base);
   $color-title-hover: palette(secondary, base);

   background: $color-bg;
   padding: 20px 20px 40px;
   text-align: center;
   .view-content {
      flex-wrap: nowrap;
      max-width: 1160px;
      position: relative;
      z-index: 100;
   }
   .views-row {
    max-width: 360px;
    margin: 0 auto 20px;
  }
   .node__title {
      font-size: 1.325em;
      font-weight: 600;
      color: $color-title;
      a {
        color: $color-title;
        &:hover {
          color: $color-title-hover;
        }
      }
   }
   .field--name-field-image {
      margin-bottom: 20px;
      img {
         border-radius: 50%;
         border: 2px solid $color-border;
         background-color: $color-border;
      }
      a > img {
        @extend %image-hover;
      }
   }
   @include breakpoint($tab) {
      .view-content {
         @include container;
         @include flexbox;
         justify-content: space-around;
         margin-top: -110px;
      }
      .views-row {
        flex: 0 1 percentage(1/2);
        width: percentage(1/2);
        padding: 0 20px;
        margin: 0;
      }
   }
   @include breakpoint($desk) {
      .views-row {
        flex: 0 1 percentage(1/3);
        width: percentage(1/3);
      }
      .node__title {
        font-size: 1.5em;
      }
    }
}
