.benefits-hero,
.local-target-benefits {

   padding: 20px 20px 40px;
   text-align: center;
   .view-content {
      flex-wrap: nowrap;
      max-width: 1160px;
      position: relative;
      z-index: 99;
   }
   .views-row {
    max-width: 360px;
    margin: 0 auto 20px;
  }
   .node__title {
      font-size: 1.325em;
      font-weight: 600;
   }
   .field--name-field-image,
   .field--name-field-icon {
      margin-bottom: 20px;
      img {
         border-radius: 50%;
         border: 2px solid;
      }
      a > img {
        @extend %image-hover;
      }
   }
   @include breakpoint($tab) {
      .view-content {
         @include container;
         @include flexbox;
         justify-content: space-around;
         margin-top: -110px;
      }
      .views-row {
        flex: 0 1 percentage(1/2);
        width: percentage(1/2);
        padding: 0 20px;
        margin: 0;
      }
   }
   @include breakpoint($desk) {
      .views-row {
        flex: 0 1 percentage(1/3);
        width: percentage(1/3);
      }
      .node__title {
        font-size: 1.5em;
      }
    }
}


//when solutions finder on
.front--solutions-finder, .ltp--solutions-finder{
  .block--views-benefits-front, .local-target-benefits{
    padding: 50px 20px 40px;
    @include breakpoint($tab){
      padding: 160px 20px 40px;
    }
    @include breakpoint($desk){
      padding: 160px 20px 40px;
    }
  }
}
