.block--form-sidebar {
  $color-bg: palette(white, pure);
  $color-border: palette(neutral, wild-sand);
  $color-title: palette(secondary, base);
  $color-text: palette(neutral, xanadu);

  $border-width: 2px;

  border: $border-width solid $color-border;
  background: $color-bg;
  color: $color-text;
  padding: 30px 20px;
  .block__title {
    color: $color-title;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1em;
  }
  .form-row {
    @include breakpoint($tab) {
      .fieldset-wrapper {
        display: block;
        > .form-item {
          margin-bottom: 0;
          + .form-item {
            margin-left: 0;
          }
        }
      }
    }
  }
  label {
    color: $color-text;
  }
  input {
    width: 100%;
  }
  .form-actions {
    margin: 1.5em auto 0;
  }

  @include breakpoint($tab) {
    .block__title {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}

// local target page form

.local-target-webform {
  //$color-bg: palette(secondary, base);
  $color-bg: palette(neutral, cool-gray);
  $color-title: palette(white, pure);
  $color-body: palette(white, base);

  background: $color-bg;
  .block__content {
    max-width: 850px;
    margin: 0 auto;
    padding: 40px 20px;
    color: $color-body;
  }
  .node__title {
    color: $color-title;
    text-align: center;
  }
  .field--name-body {
    margin-bottom: 30px;
    text-align: center;
  }
  .form-item {
    margin-top: 10px;
  }
  .form-actions {
    text-align: center;
    .form-submit {
      min-width: 220px;
      margin-top: 20px;
    }
  }
}
