// header
.block--logo-block-logo {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 4px; // used to verically center logo
}

// footer
.block--logo {
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
  @include breakpoint($desk) {
    text-align: left;
  }
}
