%package-list {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  .block__title {
    padding: 15px;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  .view-content {
    border: 2px solid;
    border-top: 0;
  }
  .views-row {
    + .views-row {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  .node-wrap {
    padding: 30px 30px 40px;
    &.highlighted {
      position: relative;
      box-shadow: 0 0 23.5px 3.5px rgba(0, 0, 0, 0.2);
    }
  }
  .node {
    display: block;
  }
  .icon-wrap {
    @include flexbox;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    margin: 0 auto;
  }
  .content-wrap {
    margin-top: 20px;
    text-align: center;
  }
  .node__title {
    text-transform: uppercase;
    margin: 0;
  }
  .node__content {
    padding: 15px 0 0;
    text-align: left;
  }
  .field--name-body {
    margin-top: 20px;
    p + p {
      margin-top: 0;
    }
    .field__item {
      .more-link {
        @extend %button;
        display: block;
        max-width: 220px;
        margin: 20px auto 0;
      }
    }
  }
  .field--name-field-highlight-icon {
    position: absolute;
    top: -25px;
    right: -50px;
    max-width: 100px;
  }
  @include breakpoint($tab) {
    .node__title {
      font-size: 1.5em;
    }
    .field--name-body {
      font-size: 1.15em;
    }
  }
  @include breakpoint($desk) {
    width: 100%;
    .node-wrap {
      padding: 40px 20px 30px;
    }
    .node {
      @include flexbox;
    }
    .icon-wrap {
      flex: 0 0 25%;
      max-width: none;
      margin: 0;
    }
    .content-wrap {
      text-align: left;
      margin: 0 20px;
    }
    .field--name-body {
      .field__item {
        .more-link {
          margin-left: 0;
        }
      }
    }
    .field--name-field-highlight-icon {
      @include flexbox;
      align-items: center;
      position: relative;
      right: auto;
      top: auto;
      margin-right: 0;
      margin-left: auto;
      max-width: none;
    }
  }
}

%package-grid {
  $column-count: 2;
  .view-content {
    padding: 30px;
  }
  .views-row {
    padding: 0;
    + .views-row {
      margin-top: 30px;
    }
  }
  .icon-wrap {
    flex-direction: column;
  }
  .node__title {
    padding-left: 0;
    padding-top: 20px;
  }
  .node__content {
    text-align: center;
  }
  .field--name-body {
    .field__item {
      @include flexbox;
      .more-link {
        margin: 20px auto 0;
      }
    }
  }
  @include breakpoint($tab) {
    .view-content {
      display: block;
      margin: 0;
      padding: 40px 40px 50px;
    }
    .views-row {
      padding: 20px 0;
      margin: 0 auto;
      max-width: 300px;
      + .views-row {
        margin-top: 0;
      }
    }
  }
  @include breakpoint($desk) {
    .view-content {
      @include flexbox;
    }
    .views-row {
      max-width: percentage(1/$column-count);
      padding: 20px;
    }
  }
}

%package-grid-override {
  .view-content {
    display: block;
    margin: 0;
  }
  .views-row {
    display: block;
    max-width: none;
    padding: 0;
  }
}

.block--views-packages-services,
.block--views-packages-localtarget {
  @extend %package-list;
}

.block--views-packages-services.block--grid,
.block--views-packages-localtarget.block--grid {
  @extend %package-grid-override;
}
