.block--views-services-all {
  .node__title {
    @extend h3;
  }
}

.not-front {
  .block--views-services-all {
    div.more-link {
      display: none;
    }
  }
}



// homepage and service page service listing

.front, .not-front {
  .block--views-services-all {
    .field--name-field-image,
    .field--name-field-icon {
      padding-bottom: 20px;
      img {
        border: 2px solid;
        border-radius: 50%;
      }
    }
    .view-content {
      + .more-link {
        text-align: center;
        margin-top: 60px;
        a {
          @extend %button;
          max-width: 225px;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    @include breakpoint($tab) {
      .field--name-field-image,
      .field--name-field-icon {
        padding-bottom: 0;
        padding-right: 40px;
      }
    }
  }
}
