.block--views-slideshow-front,
.block--views-slideshow-localtarget {
	$overlay-opacity: 0.3; // opacity percentage as a decimal (0 - 1), use zero for no overlay;

	text-align: center;
	.node--slide {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.slide-image {
		position: relative;
		min-height: 383px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: $overlay-opacity;
		}
	}
	.node__title {
		margin-bottom: 5px;
	}
	.flexslider:hover .flex-direction-nav a {
		opacity: 1;
	}
	.flexslider .slides {
		width: 100%;
	}
	.button {
		margin: 0 auto;
		max-width: 240px;
		width: 100%;
	}
	.field--name-body {
		margin-top: 0px;
	}
	.slide-content {
		max-width: 800px;
		margin: auto;
		padding: 80px 25px 30px;
		position: relative;
	}
	.field--name-body {
		font-size: 1.15em;
	}

	@include breakpoint($tab) {
		.slide-image {
			min-height: 520px;
		}
		.slide-content {
			padding-top: 100px;
		}
		.node__title {
			font-size: 2.5em;
		}
		.field--name-body {
			font-size: 19px;
			font-weight: 600;
		}
	}
	@include breakpoint($desk) {
		.node__title {
			line-height: 52px;
			font-size: 3.3em;
		}
	}
}
