.block--nav-mobile {
  font-size: 18px;
  color: white;
  a {
    display: block;
    background: $color-brand-secondary;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    &:hover,
    &.active {
      background: $color-brand-secondary-dark;
    }
  }
  .block__title {
    background: $color-brand-primary;
    color: white;
    margin: 0;
    text-align: right;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    &:after {
      @include faicon('\f0c9');
      margin-left: 5px;
    }
  }
  .menu {
    background: $color-brand-secondary;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: right;
    li {
      margin: 0;
      padding: 0;
    }
  }
  @include breakpoint($tab) {
    display: none !important; //override any javascript
  }
}
