//local target full node
.node-type-localtarget{
	.l-content{
        max-width: 1100px;
        margin: auto;
        padding: 0 30px;
		.block__content{
			max-width: $content;
		}
		.field--name-field-display-title{
			font-size: 42px;
			font-weight: 700;
			line-height: 1.1;
			letter-spacing: .4px;
			margin-top: 0;
		}
		h2{
			font-size: 32px;
			font-weight: 700;
			line-height: 1.12;
			margin-top: 38px;
		}
		h3{
			font-weight: 700;
			font-size: 28px;
			line-height: 1.25;
		}
		h4{
			font-size: 24px;
			font-weight: 700;
			line-height: 1.25;
		}
		.field--name-field-call-out{
      margin-top: 55px;
      padding: 50px 25px;
      background-image: url('../images/bg-webform.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
			.field__items{
				max-width: 700px;
			}
      h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: .3em;
				margin-top: 0;
      }
      p{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
      }
    }
	}
}

//local content
.block--views-localtarget-ltp-local{
	padding: 60px 30px;
	.view-display-id-ltp_local{
		max-width: 1100px;
		margin: 0 auto;
	}
	.node--localtarget--quaternary-teaser{
		@include flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.field--name-field-image{
			padding-bottom: 15px;
			img{
				border: solid 3px;
				height: auto;
			}
		}
		.teaser-content{
			h1{
				text-align: center;
				font-size: 42px;
				font-weight: 700;
				line-height: 1.1;
				letter-spacing: .4px;
			}
			.field--name-field-local-content{
				text-align: center;
				p{
					font-size: 18px;
					line-height: 1.67;
				}
			}
		}
	}
	@include breakpoint($tab){
		.node--localtarget--quaternary-teaser{
			.field--name-field-image{
				img{
					min-width: 370px;
				}
			}
		}
	}
	@include breakpoint($desk){
		.node--localtarget--quaternary-teaser{
			flex-direction: row-reverse;
			.field--name-field-image{
				padding-bottom: 0;
			}
			.teaser-content{
                flex: 1 1 auto;
				padding-right: 35px;
				h1{
					text-align: left;
				}
				.field--name-field-local-content{
					text-align: left;
				}
			}
		}
	}
}

//other services sidebar
.ltp_other_services{
  padding: 35px 30px;
	.view-header{
		padding-bottom: 15px;
		h4{
			font-size: 17px;
			font-weight: 600;
			line-height: 2.13;
			letter-spacing: .4px;
			text-transform: uppercase;
			text-align: center;
		}
		p{
			font-size: 18px;
			line-height: 1.44;
		}
	}
	.view-content{
		.views-row{
			padding: 10px 0;
			&:last-of-type{
				padding-bottom: 0;
			}
		}
		a{
			font-size: 18px;
			line-height: 1.44;
			&:before{
				@include faicon('\f138');
				padding-right: 10px;
			}
		}
	}
}

.node--localtarget--hero {
    padding: 60px 30px;
    @include flexbox;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    header {
        max-width: 670px;
        text-align: center;
    }
    @include breakpoint($tab) {
        padding: 80px 30px 30px;
    }


    &.content-left,
    &.content-right {
        header {
            max-width: 1100px;
            @include breakpoint($tab) {
                @include flexbox;
                justify-content: flex-start;
                text-align: left;
                .content {
                    width: 50%;
                }
            }
        }
    }
    &.content-right {
        header {
            @include breakpoint($tab) {
                justify-content: flex-end;
                text-align: right;
            }
        }
    }
}

.node-type-localtarget.has-solution-finder {
    .node--localtarget--hero {
        padding-bottom: 100px;
        @include breakpoint($tab) {
            padding-bottom: 260px;
        }
    }
}

.not-front.node-type-localtarget .preface-third-wrap {
    padding: 0;
    .benefits-wrapper {
        margin: 0;
        max-width: 100%;
    }
    .l-region--preface-third {
        max-width: 100%;
    }

    .block--webform {
        border: none;
        padding: 30px;
        max-width: 100%;
        .block__title {
            @extend h3;
            margin: 0 auto 20px;
            padding: 0;
        }

        .block__content {
            padding: 0;
        }
        .webform-client-form {
            max-width: 100%;
        }
        .ltp-free-quote-form {
            .webform-privacy-policy {
                margin-top: 1em;
                text-align: center;
            }
        }
    }

    @include breakpoint($tab) {
        .block--webform {
            border: none;
            padding: 30px;
            max-width: 100%;
        }
        .ltp-free-quote-form {
            > div {
                @include flexbox;
                flex-wrap: wrap;
                justify-content: center;
                margin-left: -10px;
                margin-top: -20px;
                > .form-item {
                    @include flexbox;
                    margin: 0;
                    margin-top: 20px;
                    margin-left: 10px;
                    width: 180px;
                    &.webform-component--zip-code {
                        width: 120px;
                    }
                    input {
                        padding: 15px 10px;
                    }
                }
                > .form-actions {
                    @include flexbox;
                    padding: 0;
                    margin: 0;
                    margin-top: 20px;
                    margin-left: 10px;
                    width: 100px;
                    input {
                        margin: 0;
                        width: 100%;
                        min-width: 100%;
                        padding: 15px 10px;
                    }
                }
                > .webform-privacy-policy {
                    width: 100%;
                }
            }
        }
    }
}
