.node--testimonial {
  [itemprop="reviewRating"] {
    font-size: 18px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    // text-align: center;
  }
  .field--name-body {
    margin-bottom: 1em;
  }
  .field--name-field-market,
  .field--title {
    @extend %field--meta;
    margin-top: .5em;
  }
}
