.form-item {
  margin-top: .5em;
  label {
    margin-bottom: .15em;
  }
}

.form-actions {
  margin-top: 1.5em;
}

.form-text,
.form-textarea {
  width: 100%;
}

.form-submit {
  @extend %button;
}

.l-region--sidebar {
  .block--webform {
    input {
      min-width: 100%;
    }
    .webform-client-form {
      margin-top: 20px;
    }
    .block__title {
      text-align: center;
    }
  }
}
