table {
  border-collapse: separate;
  border-spacing: 1px;
  border: none;
  margin: 20px 0;
}

td,
th {
  padding: 1em;
}

th {
  background: $color-brand-primary;
  color: white;
  font-weight: bold;
}

td {
  vertical-align: top;
}
tr:nth-child(odd) {
  background: #f7f7f7;
}
tr:nth-child(even) {
  background: #eee;
}

td.table-compare-check {
  text-align: center;
  &:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 18px;
    color: $color-brand-primary-dark;
  }
}
