%ebooking-panel-title {
  color: palette(secondary, base);
}

%ebooking-selected-package {
  &:after {
    background-color: palette(secondary, base);
  }
}

// package styling - this will likely change once we pull in packages as nodes
%ebooking-package {
  .package {
    &:hover,
    &.selected {
      border-color: palette(secondary, base);
      background-color: lighten(palette(secondary, base), 65);
    }
    &.selected {
      &:after {
        @extend %ebooking-selected-package;
      }
    }
    .current-price {
      color: palette(secondary, base)
    }
  }
} // end package styling


.node-ebooking {
  .l-main {
    background-color: palette(secondary, base);
  }
}

.node-ebooking.processed {
  .step-number {
    color: palette(primary, base);
  }
  .webform-component-markup[class*="title"] {
    h2, h3 {
      @extend %ebooking-panel-title;
    }
  }
  div[class*="if-business"] {
    border-color: palette(secondary, base);
    .close-popup {
      color: palette(secondary, base);
    }
  }
  .basic-form {
    color: palette(secondary, light);
    &:hover {
      color: palette(secondary, base);
    }
  }
  // package styling - this will likely change once we pull in packages as nodes
  .webform-component-optionsmarkup {
    @extend %ebooking-package;
  }
}

// ebooking checkout page
.node-ebooking .ebooking_summary {
  .webform-component-markup[class*="review"] {
    @extend %ebooking-package;
    > h3 {
      color: palette(secondary, base);
    }
    .package {
      @extend %ebooking-selected-package;
      border-color: palette(secondary, base);
      background-color: lighten(palette(secondary, base), 65);
    }
  }
  .webform-component-markup[class*="tooltip"] {
    border-color: palette(secondary, base);
    .close-tooltip {
      color: palette(secondary, base);
    }
  }
}
