.block--views-localtarget-value-prop {
  $color-image-bg: palette(secondary, base);
	$color-text: palette(white, pure);

  .node {
		background-color: $color-image-bg;
  }
	.slide-image-background {
		&:before {
			background-color: #216e83; // this color is used as a color-module place holder
		}
	}
  .field--name-field-display-title {
    color: $color-text;
  }
  .field--name-field-intro {
		color: $color-text;
	}
}
