.block--menu-menu-ctm-utility-menu{
  display: none;
  .block__title{
    display: none;
  }
  .menu{
    padding-right: 45px;
    @include flexbox;
    flex-direction: column;
    align-items: center;
    li{
      @include flexbox;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a, .nolink{
        font-size: 25px;
        font-weight: 800;
        line-height: 1.0;
        text-align: center;
      }
      .nolink{
        padding-left: 7px;
        font-size: 21px;
      }
    }
  }
  @include breakpoint($tab){
    display: block;
    .menu {
      align-items: flex-end;
      padding-right: 0;
      li {
        a {
          font-size: 24px;
        }
        .nolink{
          margin-top: 5px;
          margin-bottom: 10px;
          font-size: 24px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
      .ctm-wrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
        li {
          &:nth-child(2) {
            .nolink {
              font-style: italic;
            }
          }
        }
      }
    }
  }
  @include breakpoint($desk){
    .menu{
      li {
        a {
          font-size: 32px;
        }
        .nolink{
          margin-top: 5px;
        }
      }
    }
  }
}
