.block--nav-main {
  $padding-link: 15px 20px;
  $padding-left: 60px; // for JS menu

  // order: -1;
  .block__title {
    display: none;
  }
  .menu-block-wrapper {
    a, .nolink {
      padding: $padding-link;
    }
    > .menu > li {
      border-bottom: 1px solid;
    }
    .nolink {
      display: block;
    }

    > .menu > li > a,
    > .menu > li > .nolink {
      font-weight: 700;
    }
  }
  .menu {
    .menu {
      display: none;
    }
  }
  &.menu-processed {
    .block__content {
      display: none;
    }
    .expanded,
    .leaf {
      position: relative;
      .menu {
        > li > a,
        > li > .nolink {
          padding: 5px 20px 5px 30px;
        }
        > li:last-of-type > a,
        > li:last-of-type > .nolink {
          padding-bottom: 30px;
        }
        > li > .menu > li > a,
        > li > .menu > li > .nolink {
          padding-left: 50px;
        }

        > li > .menu > li:last-of-type > a {
          padding-bottom: 5px;
        }
      }
    }
    .menu-child-toggle {
      height: 100%; // iphone 6 landscape fix
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0;
      &:after {
        @include faicon("\F107");
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  @include breakpoint($tab){
    $border-width: 0;
    $padding-top-link: 22px 20px;
    $padding-link: 22px 20px;
    $padding-link-top: 7px; // top padding of 1st level menu items

    position: relative;
    right: 10px;
    transform: translateX(0);
    width: 100%;
    .block__content {
      display: block !important; // override js
    }
    .menu-block-wrapper {
      a, .nolink {
        border: 0;
        line-height: 1;
        padding: $padding-top-link;
      }
      > .menu { // first level
        @include flexbox;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        > li {
          border-bottom: none;
        }
        > li > a {
          font-size: 16px;
          font-weight: 600;
          text-transform: capitalize;
          text-align: center;
          &:first-child {
            padding-bottom: 20px;
          }
        }
        > li.expanded > a {
          &:first-child {
            &:after {
              @include faicon('\f107');
              margin-left: 5px;
              font-weight: bold;
            }
          }
        }
      }
      > .menu > li:hover > .menu { // second level
        display: block !important; // override JS
        position: absolute;
        min-width: 180px;
        z-index: 52;
        // border-top: $border-width solid;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        text-transform: uppercase;
        font-weight: 600;
        > li > a {
          white-space: nowrap;
          padding: $padding-link;
        }
        > li > .nolink {
          white-space: nowrap;
          padding: $padding-link;
        }
      }
      > .menu > li:last-child:hover > .menu {
        right: 0;
      }
      > .menu > li > .menu > li:hover > .menu { // third level
        display: block !important; // overide js
        position: absolute;
        left: 100%;
        top: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        z-index: 52;
        > li > a {
          white-space: nowrap;
          padding: $padding-link;
        }
        > li > .nolink {
          white-space: nowrap;
          padding: $padding-link;
        }
      }
      > .menu > li > .menu > li.first:hover > .menu {
        border-top: $border-width solid;
        top: $border-width;
      }
      > .menu > li:last-child > .menu > li:hover > .menu {
        right: 100%;
        left: auto;
      }
    }
    &.menu-processed {
      .block__title {
        display: none;
      }
      .menu-child-toggle {
        display: none;
      }
      .expanded,
      .leaf {
        a:first-child {
          padding: 17px 5px;
        }
      }
    }
  }
  @include breakpoint($desk){
    $border-width: 0;
    $padding-top-link: 22px 20px;
    $padding-link: 22px 20px;
    $padding-link-top: 7px; // top padding of 1st level menu items

    position: relative;
    top: 0;
    right: 0;
    transform: translateX(0);
    width: 100%;
    .block__content {
      display: block !important; // override js
    }
    .menu-block-wrapper {
      a, .nolink {
        border: 0;
        line-height: 1;
        padding: $padding-top-link;
      }
      > .menu { // first level
        @include flexbox;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        > li {
          border-bottom: none;
          &:last-child a {
            padding-right: 20px;
          }
          @include breakpoint(1240px) {
            &:last-child a {
              padding-right: 0;
            }
          }
        }
        > li > a {
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          &:first-child {
            padding-bottom: 25px;
            padding-top: 25px;
          }
        }
      }
      > .menu > li:hover > .menu { // second level
        display: block !important; // override JS
        position: absolute;
        top: 69px;
        min-width: 180px;
        z-index: 52;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        text-transform: uppercase;
        font-weight: 600;
        > li > a {
          white-space: nowrap;
          padding: $padding-link;
        }
        > li > .nolink {
          white-space: nowrap;
          padding: $padding-link;
        }
      }
      > .menu > li:last-child:hover > .menu {
        right: 0;
      }
      > .menu > li > .menu > li:hover > .menu { // third level
        display: block !important; // overide js
        position: absolute;
        left: 100%;
        top: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        z-index: 52;
        > li > a {
          white-space: nowrap;
          padding: $padding-link;
        }
        > li > .nolink {
          white-space: nowrap;
          padding: $padding-link;
        }
      }
      > .menu > li > .menu > li.first:hover > .menu {
        border-top: $border-width solid;
        top: $border-width;
      }
      > .menu > li:last-child > .menu > li:hover > .menu {
        right: 100%;
        left: auto;
      }
    }
    &.menu-processed {
      .block__title {
        display: none;
      }
      .menu-child-toggle {
        display: none;
      }
      .expanded,
      .leaf {
        a:first-child {
          padding: 0 8px 22px;
        }
      }
    }
  }
  @include breakpoint(1125px) {
    &.menu-processed {
      .expanded,
      .leaf {
        a:first-child {
          padding: 0 20px 22px;
        }
      }
    }
  }
}


//footer menu
.footer-menu{
  display: none;
  max-width: 857px;
  @include breakpoint($tab){
    display: block;
    padding: 25px 50px;
    .block__title{
      display: none;
    }
    .menu{
      @include flexbox;
      flex-wrap: wrap;
      li{
        flex: 1 0 33%;
        width: 190px;
        max-width: 190px;
        min-width: 190px;
        a{
          font-size: 16px;
          font-weight: 600;
          line-height: 2.06;
          letter-spacing: .2px;
          &:before{
            @include faicon('\f0da');
            font-size: 17px;
            padding-right: 7px;
          }
        }
      }
    }
  }
  @include breakpoint($desk){
    .menu{
      li{
        max-width: 25%;
        flex: 1 0 25%;
        width: 150px;
        min-width: 0;
      }
    }
  }
}
