.block--nav-utility {
  display: none;
  font-weight: 600;
  .menu-block-wrapper {
    a {
      padding: 10px 20px;
    }
  }
  .menu {
    text-align: center;
    li {
      + li {
        margin-top: 1px;
      }
    }
  }
  @include breakpoint($tab) {
    display: block;
    .menu-block-wrapper {
      a {
        padding: 25px 30px;
      }
    }
    .menu {
      @include flexbox;
      justify-content: center;
      align-items: center;
      li {
        + li {
          margin-top: 0;
        }
        a {
          @include flexbox;
          align-items: center;
          text-transform: none;
          line-height: 1;
          padding: 15px 25px;
          border-radius: 25px;
        }
        a:before {
          display: inline-block;
          margin-right: 5px;
          font-size: 16px;
        }
        &:nth-child(1) {
          a:before {
            @include faicon('\f05d');
          }
        }
        &:nth-child(2) {
          margin-left: 10px;
          a:before {
            @include faicon($fa-var-lock);
          }
        }
      }
    }
  }
  @include breakpoint($desk) {
    .menu-block-wrapper {
      a {
        text-transform: none;
        font-weight: bold;
        &[href^='tel:'] {
          padding: 0;
          text-transform: none;
          &:before {
            @include faicon("\F105");
            margin-right: .5em;
          }
        }
      }
    }
    .menu {
      margin: 10px 0;
      li {
        &:nth-child(1n) {
          a {
            font-size: 17px;
            text-transform: none;
          }
          a:before {
            font-size: 18px;
            margin-right: 7px;
          }
          a[href^='tel:']:before {
            display: inline-block;
            @include faicon("\F105");
            margin-right: .5em;
            font-size: 16px;
          }
        }
      }
    }
  }
}
