.not-front .block--views-blog-list {
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    .views-row {
        background: $color-front-content-bg;
        width: 80%;
        max-width: 320px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(black, .35);
        padding: 10px 10px 80px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    
    .field--name-field-image {
        margin-bottom: 25px;
    }
    
    .node.contextual-links-region {
        position: static;
    }
    
    .node__title {
        margin: 0 0 15px;
        line-height: 1em;
        a {
            color: black;
            &:hover {
                color: $color-link-hover;
            }
        }
    }
    
    .node__submitted {
        font-size: 15px;
        font-style: italic;
        margin-bottom: 5px;
    }
    
    .node__content {
        width: percentage(275/320);
        margin: 0 auto;
    }
    
    .more-link {
        @extend .button;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
        max-width: 166px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        color: $color-body-text;
    }
    
    .pager {
        margin-top: 20px;
        font-size: 16px;
    }
    
    @include breakpoint($tab) {
        text-align: left;
        .node__title {
            font-size: 25px;
        }
        .view-content {
            display: block;
            margin: 0 auto;
            .views-row {
                margin: 0 0 20px 0;
                padding: 10px;
                width: 100%;
                max-width: 100%;
                &:last-child {
                    margin: 0;
                }
            }
        }
        
        .node__title {
            margin-bottom: 5px;
        }
        
        .field--name-field-image {
            margin: 0;
            margin-right: percentage(20/800);
            width: percentage(300/800);
            & + .node__content {
                width: percentage(480/800);
            }
        }
        
        .more-link {
            margin: 0;
            margin-top: 20px;
            position: static;
        }
        
        .node__content {
            width: 100%;
            margin: 0;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
        }
        
        .node {
            @include flexbox;
        }
    }
}