.front-form-intro {
    text-align: center;
    color: $color-brand-primary;
    .block__title {
        margin-top: 0;
        color: white;
    }
    
    a {
        color: $color-brand-primary;
        &:hover {
            color: $color-link-hover;
        }
    }
    
    @include breakpoint($tab) {
        font-size: 35px;
        .block__title {
            font-size: 50px;
        }
    }
}

.front-form {
    max-width: 665px;
    margin: 20px auto 0;
    .form-actions {
        text-align: center;
        margin-bottom: 0;
        .webform-submit {
            @extend .button;
            border: none;
        }
    }
    
    .form-item {
        input, textarea {
            color: $color-body-text;
        }
    }
    
    @include breakpoint($tab) {
        form > div {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            .form-item {
                @include flex(0 0 percentage(325/665));
                margin: 0 0 12px;
                &.webform-component-textarea {
                    @include flex(0 0 100%);
                }
                input, textarea {
                    line-height: 25px;
                    font-size: 25px;
                    padding: 10px;
                }
            }
            
            .form-actions {
                @include flex(0 0 100%);
                margin: 8px 0 0;
            }
        }
    }
}