.block--logo-block-logo {
	padding: 10px 20px;
	text-align: center;
	img {
		vertical-align: middle;
	}
	@include breakpoint($nav) {
		@include flexbox;
		@include align-items(center);
	}
}

.block--logo-footer {
	text-align: center;
	padding: 20px;
	.block__content {
		max-width: 252px;
		margin: auto;
	}
	@include breakpoint($tab) {
		text-align: left;
		.block__content {
			margin: 0;
		}
	}
}