.block-areas-map {
    text-align: center;
    .block__title {
        margin-top:0;
    }
    
    ul {
        list-style: none;
        text-align: left;
        margin: 0 -10px 10px 0;
        padding: 0;
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
        li {
            margin: 10px 10px 0 0;
            
        }
        a {
            color: $color-body-text;
            font-weight: bold;
            &:before {
                font-family: FontAwesome;
                content: $fa-var-caret-right;
                color: $color-brand-primary;
                margin-right: 3px;
            }
            &:hover {
                color: $color-link-hover;
            }
        }
    }
    
    @include breakpoint($tab) {
        font-size: 19px;
        .block__title {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 10px;
            line-height: 1em;
        }
        .intro {
            width: 75%;
            margin: 0 auto;
            overflow: hidden;
            margin-bottom: 15px;
        }
        ul{
            @include justify-content(flex-start);
            margin: 0 -10px;
            li {
                width: 20%;
                margin-left: 0;
                margin-right: 0;
                padding: 0 10px;
            }
            a {
                font-size: 22px;
                font-weight: 400;
            }
        }
        .map-embed {
            padding-bottom: percentage(490/1170);
        }
    }
}