.l-region--header-first {
	@include container;
	background: white;
	padding: 20px 0;
	@include breakpoint($tab) {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		padding: 0;
	}
	@include breakpoint($nav-stacked) {
		@include flex-wrap(wrap);
		.block--logo-block-logo {
			@include flex-order(1);
		}
		.block--nav-header {
			@include flex-order(2);
		}
		.block--nav-main-menu {
			@include flex-order(3);
		}
	}
	@include breakpoint($nav) {
		@include flex-wrap(nowrap);
		@include align-items(stretch);
		@include border-radius(5px);
		margin-top: 10px;
		.block--nav-header {
			@include flex-order(3);
		}
		.block--nav-main-menu {
			@include flex-order(2);
		}
	}
}

//Front header
.front .l-header {
	background-size: cover;
	padding-bottom: 50px;
	@include breakpoint($tab) {
		padding-bottom: 145px;
	}
}
