.block--views-blog-list {
	.views-row {
		border-bottom: 1px solid $color-border;
		margin-bottom: 35px;
  	padding-bottom: 35px;
		.node__submitted {
			font-style: italic;
			margin-bottom: 10px;
		}
		.field--name-field-image {
			img {
				width: 100%;
			}
		}
		.node__links {
			margin-top: 15px;
			a {
				@extend %button;
			}
		}
	}
	@include breakpoint($tab) {
		.views-row {
			margin-bottom: 30px;
			.field--name-field-image {
				float: left;
				padding-top: 5px;
				width: percentage(235/1000);
			}
			.node__content {
				padding-left: percentage(265/1000);
			}
		}
	}
}

// localtarget
.block-articles {
	.block__title {
		font-weight: 600;
	}
	.field--name-field-image {
		display: none;
	}
	.node__title {
		font-weight: 600;
	}
	.node__submitted {
		font-style: italic;
		margin-bottom: 10px;
		font-size: 15px;
	}
	.field--name-body {
		font-size: 15px;
		line-height: (24/15);
	}
	@include breakpoint($tab) {
		.block__title {
			font-size: 35px;
			text-align: center;
		}
		.views-row {
			+ .views-row {
				padding-top: 20px;
				border-top: 1px solid $color-body-divider;
			}
		}
		.node__title {
			margin-top: 0;
		}
		.node--blog {
			@include clearfix;
		}
		.field--name-field-image {
			display: block;
			float: left;
			width: percentage(220/785);
		}
		.node__content {
			padding-left: percentage(240/785);
		}
	}
}

// related blogs
.block--views-blog-related {
	text-align: center;
	.views-row {
		margin-top: 20px;
	}
}