.block--sprowt-settings-sprowt-copyright {
	font-size: 13px;
	color: $color-brand-primary-darker;
	a {
		color: $color-brand-primary-darker;
		&:hover {
			color: darken($color-brand-primary-darker, 10);
		}
	}
}