.block--views-gallery-grid {
	.views-row {
		ul {
			padding: 0;
			list-style: none;
		}
	}
	@include breakpoint($desk) {
		.views-row {
			width: percentage(277.5/1170);
			margin-right: percentage(20/1170);
			&:nth-child(2n) {
				width: percentage(277.5/1170);
				margin-right: percentage(20/1170);
			}
			&:nth-child(3n) {
				float: left;
				margin-right: percentage(20/1170);
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}

.node--gallery--full {
	.field--type-image {
		.field__item {
			margin-top: 20px;			
		}
	}
	@include breakpoint($tab) {
		.field--type-image {
			.field__item {
				float: left;
				width: percentage(277.5/1170);
				margin-right: percentage(20/1170);
				&:nth-child(2n) {
					width: percentage(277.5/1170);
					margin-right: percentage(20/1170);
				}
			}
		}
	}
	@include breakpoint($desk) {
		.field--type-image {
			.field__item {
				float: left;
				width: percentage(277.5/1170);
				margin-right: percentage(20/1170);
				&:nth-child(2n) {
					width: percentage(277.5/1170);
					margin-right: percentage(20/1170);
				}
				&:nth-child(3n) {
					float: left;
					margin-right: percentage(20/1170);
				}
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}
	}
}