// Related service areas on services

.block--views-localtarget-list {
	padding-bottom: 20px;
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	h2.block__title {
		text-align: left;
		margin-bottom: 10px;
	}
	.block__content {
		.views-row {
			margin: 5px 0;
			a {
				&:before {
					content: "\f0da";
					font-family: 'FontAwesome';
					margin-right: 7px;
				}
			}
		}
	}
}