// front
.block--views-slideshow-front {
	@include flexslider-nav;
	.flex-control-nav {
		bottom: 55px;
	}
	.node__title {
		margin-top: 0;
	}
	.node__title,
	.field--name-body {
		@include text-shadow($shadow);
		color: white;
	}
	.button {
		@include box-shadow($shadow);
		font-size: 17px;
		padding: 9px 50px 11px;
	}
	@include breakpoint($tab) {
		.node__title {
			font-size: 55px;
		}
		.node__content {
			padding: 100px 0;
			height: 450px;
			max-width: 830px;
			margin: auto;
		}
		.field--name-body {
			font-size: 22px;
			line-height: (29/22);
		}
	}
}

// localtarget
.block--views-slideshow-localtarget {
	@extend .block--views-slideshow-front;
	text-align: center;
	.node__content {
		padding: 20px;
	}
	@include breakpoint($tab) {
		.node__content {
			padding: 100px 0;
		}
	}
}