.field--name-field-image-annotated .field__item {
  position: relative;
  max-width: 100%;
}

.field--name-field-image-annotated .field__item img {
  display: block;
  width: 100%;
}

.field--name-field-image-annotated .pointer {
  display: inline-block;
  position: absolute;
}