// breakpoints
$tab: 768px;
$nav: 1024px;
$desk: 1024px;
$super: 1400px;

$layout-width: 1210px;

$layout-tablet-sidebar: percentage(360px/$layout-width);
$layout-tablet-widebar: percentage(850px/$layout-width);

$layout-desktop-sidebar: percentage(275px/$layout-width);
$layout-desktop-widebar: percentage(935px/$layout-width);
