.node-type-localtarget {
  .block--views-slideshow-localtarget {
    .button {
      background: $color-brand-secondary;
      &:hover {
        background: $color-brand-secondary-dark;
      }
    }
  }
  // Testimonials
  .l-region--preface-second {
    background: $color-brand-primary;
  }
}
