.node--package--full {
	.pricing-table {
		tr:first-child {
			th {
				background: $color-package-table-header-1;
			}
		}
		tr:nth-child(2) {
			th {
				background: $color-package-table-header-2;
			}
		}
	}
}
