@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800";
.node--concern--alt-teaser {
  margin: 20px;
  max-width: 130px; }
  .node--concern--alt-teaser .field--name-field-icon-file {
    margin: 0 auto;
    height: 112px;
    width: 112px;
    border-radius: 100%; }
    .node--concern--alt-teaser .field--name-field-icon-file .field__item {
      height: 112px;
      width: 112px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      .node--concern--alt-teaser .field--name-field-icon-file .field__item > * {
        -ms-flex: 0 1 auto; }
    .node--concern--alt-teaser .field--name-field-icon-file svg {
      max-height: 80px;
      width: 55% !important; }
  .node--concern--alt-teaser .node__title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: .1px;
    text-align: center; }
  @media (min-width: 768px) {
    .node--concern--alt-teaser {
      margin: 20px auto; } }
  @media (min-width: 1024px) {
    .node--concern--alt-teaser {
      margin: 0 auto; } }

.node--concern--teaser {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px; }
  .node--concern--teaser > * {
    -ms-flex: 0 1 auto; }
  .node--concern--teaser .field--name-field-icon-file {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 100%; }
    .node--concern--teaser .field--name-field-icon-file .field__item {
      height: 150px;
      width: 150px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      .node--concern--teaser .field--name-field-icon-file .field__item > * {
        -ms-flex: 0 1 auto; }
    .node--concern--teaser .field--name-field-icon-file svg {
      max-height: 80px;
      width: 45% !important; }
  .node--concern--teaser .content {
    text-align: center;
    padding-top: 15px; }
    .node--concern--teaser .content .node__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25; }
    .node--concern--teaser .content .field--name-body {
      font-size: 18px;
      line-height: 1.67; }
  @media (min-width: 768px) {
    .node--concern--teaser {
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .node--concern--teaser .content {
        text-align: left;
        margin-left: 20px; } }
  @media (min-width: 1024px) {
    .node--concern--teaser .content {
      max-width: 800px;
      padding-top: 0; } }

.block--views-ref-seas-blocks-seasonal-block {
  background-image: url("../images/bg-texture.png");
  padding: 15px 15px 65px;
  text-align: center; }
  .block--views-ref-seas-blocks-seasonal-block .block__title {
    max-width: 1210px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 3px;
    text-transform: uppercase; }
    .block--views-ref-seas-blocks-seasonal-block .block__title:before {
      font-family: "FontAwesome";
      font-weight: normal;
      content: "";
      font-weight: 400;
      padding-right: 7px; }
    .block--views-ref-seas-blocks-seasonal-block .block__title:after {
      font-family: "FontAwesome";
      font-weight: normal;
      content: "";
      font-weight: 400;
      padding-left: 7px; }
  .block--views-ref-seas-blocks-seasonal-block .block__content {
    max-width: 1210px;
    margin: 0 auto; }
  .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-body-text {
    margin-bottom: 25px; }
    .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-body-text p {
      font-size: 18px;
      line-height: 1.67; }
  .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns {
    border: solid 3px; }
    .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items {
      max-width: 725px;
      margin: 0 auto;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center; }
      .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items > * {
        -ms-flex: 0 1 auto; }
      .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser {
        margin: 20px;
        max-width: 130px; }
        .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file {
          margin: 0 auto;
          height: 112px;
          width: 112px;
          border-radius: 100%;
          transition: background-color 0.3s; }
          .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file .field__item {
            height: 112px;
            width: 112px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center; }
            .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file .field__item > * {
              -ms-flex: 0 1 auto; }
          .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file svg {
            max-height: 90px;
            width: 65% !important; }
            .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file svg .cls-1 {
              transition: fill 0.3s; }
        .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .node__title {
          font-size: 21px;
          font-weight: 600;
          line-height: 1.36;
          letter-spacing: .1px;
          text-align: center;
          transition: color 0.3s; }
  @media (min-width: 768px) {
    .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns {
      padding: 50px 40px 40px; }
      .block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser {
        margin: 0 auto; } }

.node--concern--alt-teaser .field--name-field-icon-file svg .cls-1 {
  fill: #fff; }

.node--concern--teaser .field--name-field-icon-file svg .cls-1 {
  fill: #fff; }

.block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser .field--name-field-icon-file {
  background-color: transparent; }

.block--views-ref-seas-blocks-seasonal-block .bean-sesonal .field--name-field-concerns .field__items .node--concern--secondary-teaser:hover .field--name-field-icon-file svg .cls-1 {
  fill: #fff; }

.node-type-concern .node--concern--full .header-bar h2 {
  padding: 0 20px 50px;
  max-width: 1210px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase; }

.node-type-concern .node--concern--full h1, .node-type-concern .node--concern--full .field__label {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: .4px; }

.node-type-concern .node--concern--full h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 5px; }

.node-type-concern .node--concern--full .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px; }
  .node-type-concern .node--concern--full .header > * {
    -ms-flex: 0 1 auto; }
  .node-type-concern .node--concern--full .header .field--name-field-icon-file {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 100%; }
    .node-type-concern .node--concern--full .header .field--name-field-icon-file .field__item {
      height: 150px;
      width: 150px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      .node-type-concern .node--concern--full .header .field--name-field-icon-file .field__item > * {
        -ms-flex: 0 1 auto; }
    .node-type-concern .node--concern--full .header .field--name-field-icon-file svg {
      max-height: 80px;
      width: 45% !important; }
  .node-type-concern .node--concern--full .header .header-content {
    text-align: center;
    padding-top: 15px; }
    .node-type-concern .node--concern--full .header .header-content .field--name-field-intro {
      text-align: left;
      font-size: 18px;
      line-height: 1.67; }

.node-type-concern .node--concern--full .node__content {
  margin-top: 20px; }

.node-type-concern .node--concern--full .field__label {
  margin-top: 1.1em;
  margin-bottom: .5em; }

.node-type-concern .node--concern--full .field--name-field-call-out {
  margin-top: 55px;
  padding: 50px 25px; }
  .node-type-concern .node--concern--full .field--name-field-call-out h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .3em; }
  .node-type-concern .node--concern--full .field--name-field-call-out h3, .node-type-concern .node--concern--full .field--name-field-call-out p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33; }

@media (min-width: 768px) {
  .node-type-concern .node--concern--full .header-bar h2 {
    font-size: 50px; }
  .node-type-concern .node--concern--full h1, .node-type-concern .node--concern--full .field__label {
    font-size: 38px; }
  .node-type-concern .node--concern--full h2 {
    font-size: 28px; }
  .node-type-concern .node--concern--full .header {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .node-type-concern .node--concern--full .header .field--name-field-icon-file {
      -ms-flex: 1 0 18%;
          flex: 1 0 18%; }
    .node-type-concern .node--concern--full .header .header-content {
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
      text-align: left;
      margin-left: 20px; }
  .node-type-concern .node--concern--full .node__content {
    margin-top: 30px; } }

@media (min-width: 1024px) {
  .node-type-concern .node--concern--full .header-bar h2 {
    font-size: 60px; }
  .node-type-concern .node--concern--full h1, .node-type-concern .node--concern--full .field__label {
    font-size: 42px;
    line-height: 1; }
  .node-type-concern .node--concern--full h2 {
    font-size: 32px; }
  .node-type-concern .node--concern--full .header .header-content {
    max-width: 800px;
    padding-top: 0; } }

.node-type-concern .node--concern--full .header .field--name-field-icon-file svg .cls-1 {
  fill: #fff; }

.node-type-concern .node--concern--full .field--name-field-call-out h2, .node-type-concern .node--concern--full .field--name-field-call-out h3 {
  color: #373d38; }

.node-type-concern .node--concern--full .field--name-field-call-out p {
  color: #373d38; }

.sidebar .block--views-learning-center-issue-links {
  padding: 40px;
  text-align: center; }
  .sidebar .block--views-learning-center-issue-links h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: .97;
    letter-spacing: 1px;
    margin: 0 auto 20px; }
    .sidebar .block--views-learning-center-issue-links h3 span {
      display: block;
      font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
      font-size: 17px;
      font-weight: 600;
      line-height: 2.13;
      letter-spacing: .4px;
      text-transform: uppercase; }
  .sidebar .block--views-learning-center-issue-links .views-row {
    font-size: 18px;
    font-weight: 600;
    line-height: 2; }

.sidebar .block--views-learning-center-issue-links h3 {
  color: #fff; }
  .sidebar .block--views-learning-center-issue-links h3 span {
    color: #eee; }

.sidebar .block--views-learning-center-issue-links a {
  color: #fff; }

.not-front.node-type-issue .l-main {
  margin-bottom: 75px; }

.not-front.node-type-issue .node--issue--full .node-title .node__title {
  padding: 0 20px 50px;
  max-width: 1210px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase; }

.not-front.node-type-issue .node--issue--full h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: .4px; }

.not-front.node-type-issue .node--issue--full h2, .not-front.node-type-issue .node--issue--full h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px; }

.not-front.node-type-issue .node--issue--full .body-content .field--name-body p {
  font-size: 18px;
  line-height: 1.67; }

.not-front.node-type-issue .node--issue--full .body-content .field--name-body img {
  max-width: 360px;
  height: auto;
  margin: 20px; }

.not-front.node-type-issue .node--issue--full .identifications {
  margin-top: 60px; }
  .not-front.node-type-issue .node--issue--full .identifications .field-collection-container {
    border-bottom: none;
    margin-bottom: 0; }
  .not-front.node-type-issue .node--issue--full .identifications .field--name-field-identification-title {
    margin-bottom: 2px; }
    .not-front.node-type-issue .node--issue--full .identifications .field--name-field-identification-title .field__item {
      padding: 25px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
      text-align: center; }
  .not-front.node-type-issue .node--issue--full .identifications .field-collection-view {
    padding: 2px 0;
    margin: 0;
    border-bottom: none; }
  .not-front.node-type-issue .node--issue--full .identifications .field-collection-container .entity-field-collection-item > .content {
    display: -ms-flexbox;
    display: flex; }
    .not-front.node-type-issue .node--issue--full .identifications .field-collection-container .entity-field-collection-item > .content > * {
      -ms-flex: 0 1 auto; }
    .not-front.node-type-issue .node--issue--full .identifications .field-collection-container .entity-field-collection-item > .content .field--name-field-indentification-label {
      margin-right: 4px;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
      padding: 25px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5; }
    .not-front.node-type-issue .node--issue--full .identifications .field-collection-container .entity-field-collection-item > .content .field--name-field-identification-description {
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
      padding: 20px 25px 20px 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5; }

@media (min-width: 768px) {
  .not-front.node-type-issue .l-main {
    margin-bottom: 100px; }
  .not-front.node-type-issue .node--issue--full .node-title .node__title {
    font-size: 50px; }
  .not-front.node-type-issue .node--issue--full h1 {
    font-size: 38px; }
  .not-front.node-type-issue .node--issue--full h2, .not-front.node-type-issue .node--issue--full h3 {
    font-size: 28px; }
  .not-front.node-type-issue .node--issue--full .identifications .field-collection-container > .content .field--name-field-indentification-label {
    -ms-flex: 1 1 35%;
        flex: 1 1 35%;
    padding: 25px 40px; }
  .not-front.node-type-issue .node--issue--full .identifications .field-collection-container > .content .field--name-field-identification-description {
    -ms-flex: 1 1 65%;
        flex: 1 1 65%; } }

@media (min-width: 1024px) {
  .not-front.node-type-issue .node--issue--full .node-title .node__title {
    font-size: 60px; }
  .not-front.node-type-issue .node--issue--full h1 {
    font-size: 42px;
    line-height: 1.2; }
  .not-front.node-type-issue .node--issue--full h2, .not-front.node-type-issue .node--issue--full h3 {
    font-size: 32px; } }

.not-front.node-type-issue .node--issue--full .identifications .field--name-field-identification-title .field__item {
  color: #fff; }

.node-type-page.page-node-42 .node--page--full {
  max-width: 750px;
  margin: 0 auto;
  text-align: center; }
  .node-type-page.page-node-42 .node--page--full h1 {
    font-size: 28px; }
  .node-type-page.page-node-42 .node--page--full .field--name-field-intro {
    max-width: 700px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 auto; }
  .node-type-page.page-node-42 .node--page--full .node__content {
    margin-top: 20px; }
    .node-type-page.page-node-42 .node--page--full .node__content .pest-tool {
      font-size: 19px; }
      .node-type-page.page-node-42 .node--page--full .node__content .pest-tool .carat-link {
        font-weight: 600; }
        .node-type-page.page-node-42 .node--page--full .node__content .pest-tool .carat-link:after {
          font-family: "FontAwesome";
          font-weight: normal;
          content: "";
          padding-left: 5px; }

@media (min-width: 768px) {
  .node-type-page.page-node-42 .node--page--full h1 {
    font-size: 30px; }
  .node-type-page.page-node-42 .node--page--full .node__content {
    margin-top: 30px; } }

@media (min-width: 1024px) {
  .node-type-page.page-node-42 .l-main {
    margin-top: 175px; }
  .node-type-page.page-node-42 .node--page--full h1 {
    font-size: 32px; }
  .node-type-page.page-node-42 .node--page--full .node__content {
    margin-top: 35px; } }

.block--views-learning-center-learning-list {
  max-width: 1000px;
  margin: 40px auto 0; }
  .block--views-learning-center-learning-list .view-learning-center .views-row {
    padding: 40px 0;
    border-bottom: solid 4px; }
    .block--views-learning-center-learning-list .view-learning-center .views-row:last-of-type {
      border-bottom: none; }
  .block--views-learning-center-learning-list .issue-wrap {
    max-width: 800px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center; }
    .block--views-learning-center-learning-list .issue-wrap > * {
      -ms-flex: 0 1 auto; }
    .block--views-learning-center-learning-list .issue-wrap > div {
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
      max-width: 266px; }
      .block--views-learning-center-learning-list .issue-wrap > div .views-field a {
        font-size: 17px;
        line-height: 1.76; }
        .block--views-learning-center-learning-list .issue-wrap > div .views-field a:before {
          font-family: "FontAwesome";
          font-weight: normal;
          content: "";
          padding-right: 7px; }
  @media (min-width: 768px) {
    .block--views-learning-center-learning-list .issue-wrap {
      margin-left: 24%;
      text-align: left; } }
  @media (min-width: 1024px) {
    .block--views-learning-center-learning-list .issue-wrap {
      margin-left: 20%; } }

.page-node-37.section-learning-center .l-content {
  max-width: 100%; }
  .page-node-37.section-learning-center .l-content .node--page--full {
    text-align: center; }
    .page-node-37.section-learning-center .l-content .node--page--full h1 {
      text-align: center; }

.page-node-37.section-learning-center aside {
  display: none; }
