// branding

$color-brand-primary: green;
$color-brand-secondary: orange;
$color-brand-tertiary: purple;
// $color-brand-quaternary: ;
// $color-brand-quinary: ;
// $color-brand-senary: ;
// $color-brand-septenary: ;
// $color-brand-octonary: ;
// $color-brand-nonary: ;
// $color-brand-denary: ;

// base

$color-body-bg: #f9f9f9;
$color-body-text: #222;

$color-link: $color-brand-primary;
$color-link-hover: $color-brand-secondary;

$color-headings: $color-brand-tertiary;

// buttons

$color-button-text: white;
$color-button-primary-bg: $color-brand-primary;
$color-button-secondary-bg: $color-brand-secondary;
