// breakpoints
$tab: 768px;
$nav: $tab;
$desk: 1024px;

$layout-width: 1000px;

$layout-tablet-sidebar: percentage(320/1000);
$layout-tablet-widebar: percentage(660/1000);

$layout-desktop-sidebar: percentage(235/1000);
$layout-desktop-widebar: percentage(745/1000);
