// see variables/layout

body {
	background-color: $color-brand-primary;
	margin: 0;
	padding: 0;
	@include breakpoint($nav) {
		background: $color-brand-primary url("../images/bg-header.png") top center no-repeat;
		background-size: 100% auto;
	}
}

@mixin container {
	max-width: $layout-width;
	margin: 0 auto;
}

.l-main {
	@include drop-shadow;
}

.l-content {
	background: white;
	padding: 20px;
	a:hover {
		text-decoration: underline;
	}
	.button:hover {
		text-decoration: none;
	}
}

@include breakpoint($tab) {
	.l-page {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(flex-start);
		min-height: 100vh;
	}
	.l-main {
		@include container;
		@include flexbox;
		@include align-items(stretch);
		@include justify-content(space-between);
		@include flex(1 0 auto);
		width: 100%;
	}
	.l-content:not(:only-child) {
		width: $layout-tablet-widebar;
		@include flex(1 1 auto);
	}
	.l-region--sidebar {
		width: $layout-tablet-sidebar;
	}
	.l-footer {
		// @include align-self(flex-end);
		width: 100%;
	}
	// .no-sidebars {
	// 	.l-content {
	// 		width: 100%;
	// 	}
	// }
}

@include breakpoint($desk) {
	.l-content {
		padding: 50px 65px;
		&:not(:only-child) {
			width: $layout-desktop-widebar;
		}
	}
	.l-region--sidebar {
		width: $layout-desktop-sidebar;
	}
}