.l-footer{
  .footer-wrap{
    background-color: palette(secondary, light);
  }
  .l-region--footer-third{
    background-color: palette(secondary, base);
  }
  .l-region--footer-fourth{
    background: palette(secondary, light);
  }
}
