%ebooking-panel-colors { // style for ebooking panels
  background-color: palette(white, pure);
}

%ebooking-panel-title-colors {
  &:after {
    border-top-color: palette(neutral, alto);
  }
}

%ebooking-selected-package-colors {
  &:after {
    background-color: palette(black, pure);
    color: palette(white, pure);
  }
}

// package styling - this will likely change once we pull in packages as nodes
%ebooking-package-colors {
  .package {
    border-color: palette(neutral, wild-sand);
    background-color: palette(neutral, wild-sand);
    &:hover,
    &.selected {
      border-color: palette(black, pure);
    }
    &.selected {
      &:after {
        @extend %ebooking-selected-package-colors;
      }
    }
    .bullet-points {
      span {
        &:before {
          color: #3da244;
        }
      }
    }
  }
} // end package styling


.node-ebooking {
  h1.node__title {
    color: palette(white, pure);
  }
  .l-main {
    background-color: palette(neutral, abbey);
    color: palette(white, pure);
  }
  .form-item {
    label {
      color: palette(black, pure);
    }
  }
  .date-option {
    .fieldset-legend:after {
      color: #f00;
    }
  }
}

.node-ebooking.processed {
  .panel {
    background-color: palette(white, pure);
  }
  .webform-component-markup[class*="title"] {
    h2, h3 {
      @extend %ebooking-panel-title-colors;
    }
  }
  div[class*="if-business"] {
    background-color: palette(neutral, wild-sand);
  }
  .validation-error {
    background-color: #feefef;
    border-color: #fe2a2a;
    color: #2f2f2f;
    span {
      &:before {
        color: #fe2a2a;
      }
    }
  }
  .button {
    &.inactive {
      background-color: #bebebe;
    }
  }
  // package styling - this will likely change once we pull in packages as nodes
  .webform-component-optionsmarkup {
    @extend %ebooking-package-colors;
  }
  .ebooking_summary {
    @extend %ebooking-panel-colors;
    color: palette(black, pure);
  }
}

.node-ebooking.basic-form {
  .webform-component-markup {
    color: palette(black, pure);
  }
  .panel-form {
    color: palette(white, pure);
  }
}

.node-ebooking .ebooking_summary {
  @extend %ebooking-panel-colors;
  .webform-component-markup[class*="review"] {
    @extend %ebooking-package-colors;
    .package {
      @extend %ebooking-selected-package-colors;
      border-color: palette(black, pure);
    }
  }
  .bullet-points {
    p {
      &:before {
        color: #3da244;
      }
    }
  }
  .amount-due {
    background-color: #ecffe0;
	  border-color: #72cf37;
  }
  .webform-component-markup[class*="tooltip"] {
    background-color: palette(neutral, wild-sand);
  }
}
