.block--views-blog-list {
  margin-top: 40px;
  .views-row + .views-row {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid #eee;
  }
  .field--name-field-image {
    display: none;
    img {
      border-radius: 110px;
    }
  }
  .node__title {
    font-size: 24px;
  }
  .more-link {
    color: white;
    max-width: 220px;
    margin-top: 30px;
    text-align: center;
    &:hover {
      color: white;
    }
  }
  @include breakpoint($tab) {
    .node--blog--teaser {
      @include flexbox;
      align-items: center;
      > * {
        flex: 1 1 auto; //necessary for IE10
      }
    }
    .field--name-field-image {
      display: block;
      min-width: percentage(215/805);
      margin-right: 40px;
    }
  }
}
