.node__links {
    display: none;
}
.block--views-team-list {
    margin-top: 30px;
    text-align: center;
    .field--name-field-image {
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 4px rgba(black, .3);
        margin-bottom: 20px;
        img {
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .views-row {
        margin-top: 25px;
        border-bottom: 1px solid palette(white, base);
        padding: 0 10px 25px 10px;
        text-align: center;
    }
    .node__title {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 25px;
    }

    .field--name-field-position {
        .field__items {
        font-style: italic;
        font-size: 15px;
        line-height: 21px;
        margin-top: 15px;
    }
    }
    .field--type-text-with-summary {
        display: none;
    }
    .node-readmore {
        display: none;
    }
    @include breakpoint($tab) {
        .view-content {
            @include flexbox;
            margin: 0 -10px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .views-row {
            margin: 30px 10px 0 10px;
            width: 45%;
        }
        .node__title {
            font-size: 21px;
        }
    }
    @include breakpoint($desk) {
        .views-row {
            width: 29%;
        }
    }
}
