.block--views-slideshow-front,
.block--views-slideshow-localtarget {
    @include block-slideshow(transparent, palette(white, pure), transparent, palette(white, pure));
    text-align: center;
    padding: 30px 20px;
    .node__title {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: .2em;
        color: palette(white, pure);
        a {
            color: inherit;
        }
    }
    .field--name-body {
        color: palette(white, pure);
        line-height: 1.4;
        font-weight: 400;
    }
    @include breakpoint($tab) {
        padding: 50px 20px;
        .node {
            max-width: 830px;
            margin: 0 auto;
            font-size: 19px;
            line-height: (27/19);
        }
        .node__title {
            font-size: 55px;
            font-weight: bold;
            line-height: (60/55);
        }
    }
    @include breakpoint($desk) {
        padding: 80px 20px;
    }
}
