//interior page
.node--testimonial--alt-teaser {
	background: palette(tertiary, base);
	text-align: center;
	padding: 45px 20px 0 20px;
	.field--name-body {
		color: palette(white, pure);
		font-size: 17px;
		font-weight: 500;
		line-height: 1.5;
		font-style: italic;
		margin: 15px 0;
	}
	.name-market-wrap {
		color: palette(white, pure);
		font-size: 15px;
		margin-top: 10px;
		div {
			display: inline;
		}
	}
	.fa-star {
		font-size: 22px;
		color: palette(secondary, base);
	}
	.field--image {
		margin-top: 30px;
		img {
			display: block;
			margin: 0 auto;
			vertical-align: middle;
		}
	}
}

.block--views-testimonials-front,
.block--sprowt-views-sprowt-views-testimonials {
	background: palette(black, medium);
	padding: 30px 20px;
	text-align: center;
	.fa-star {
		font-size: 28px;
		color: palette(secondary, base);
	}
	.node {
		max-width: 790px;
		margin: 0 auto;
	}
	.field--name-body {
		font-size: 23px;
		font-weight: 500;
		font-style: italic;
		line-height: (33/23);
		p:first-child {
			&:before {
				content: "\0022";
			}
		}
		p:last-child {
			&:after {
				content: "\201D";
			}
		}
	}
	.field--title {
		margin-top: 10px;
		font-size: 15px;
	}
	.name-market-wrap {
		margin-top: 10px;
		div {
			display: inline;
		}
	}
	@include breakpoint($tab) {
		padding: 50px 20px;
	}
}
