// Homepage webform section

.front {
  .l-region--postscript-third {
    background: palette(tertiary, base);
    padding: 60px 0 80px;
  }
}

.block--block-5 {
  max-width: 660px;
  margin: 0 auto;
  text-align: center;
  h2 {
    margin: 15px 0;
    color: white;
    font-size: 47px;
    line-height: 50px;
    font-weight: 800;
  }
  p,
  a {
    color: palette(secondary, base);
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.block--webform-client-block-34,
.webform-client-form-33,
.not-front .webform-client-form-34,
.webform-client-form-35,
.webform-client-form-77,
.webform-client-form-130 {
  margin: 40px auto 20px;
  padding: 0 20px;
  .form-actions {
    margin-top: 35px;
    text-align: center;
  }
  label {
    color: white;
    font-weight: normal;
  }
  @include breakpoint(850px) {
    max-width: 660px;
    padding: 0;
    .webform-component-textfield,
    .webform-component-email {
      float: left;
      margin-right: 20px;
      width: 48%;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

// Main conact form
.webform-client-form-33,
.webform-client-form-35,
.not-front .webform-client-form-34,
.webform-client-form-77,
.webform-client-form-130 {
  label {
    color: black;
    font-weight: 600;
  }
  @include breakpoint(850px) {
    max-width: 100%;
  }
}

// Sidebar contact form
.block--multiblock-2,
.block--multiblock-3 {
  margin: 30px 0;
  padding: 20px;
  .block__title {
    text-align: center;
    font-size: 24px;
  }
  .webform-client-form-34 {
    margin-top: 10px;
    .webform-component-textfield,
    .webform-component-email {
      width: 100%;
      margin: 10px 0;
    }
    .webform-component-textarea {
      clear: both;
    }
  }
  @include breakpoint(850px) {
    margin-top: 0;
  }
}
