.block--views-localtarget-value-prop {
	$color-text: palette(white, pure);

  .node {
		background-color: $color-overlay; // this color is used as a color-module place holder
	}
	.node__content {
		text-shadow: 0px 1px 8px rgba(0,0,0,0.4);
	}
	.slide-image-background {
		&:before {
			background-color: $color-overlay; // this color is used as a color-module place holder
		}
	}
  .field--name-field-display-title {
    color: $color-text;
  }
  .field--name-field-intro {
		color: $color-text;
	}
}
