// header
.block--cta-header {
	padding: 20px 20px 15px 20px;
	padding-top: 0;
	font-family: $font-headings;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	p + p {
		font-size: 28px;
		margin-top: 0;
		@include breakpoint($desk) {
			font-size: 29px;
		}
	}
	@include breakpoint($tab) {
		text-align: left;
		padding: 20px;
		padding-left: 0;
	}
}

// footer

.block--leadbuilder-block-cta {
	.l-region--postscript-third & {
		.block__content {
			background: $color-brand-secondary;
			color: white;
			padding: 30px;
			text-align: center;
		}
		a {
			color: inherit;
		}
		.button {
			margin-left: 1em;
			padding-bottom: 10px;
			padding-top: 10px;
		}
		@include breakpoint($tab) {
			z-index: 51;
			position: relative;
			.block__content {
				@include flexbox;
				justify-content: center;
				align-items: center;
				min-height: 220px;
				background-image: $design-contact-bg;
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: 100% auto;
				font-family: $font-headings;
				font-weight: bold;
				text-transform: uppercase;
			}
			.node__title {
				font-size: 47px;
				margin-bottom: 20px;
			}
			.field--name-body {
				font-size: 27px;
				h3, p {
					display: inline;
				}
			}
			.button {
				padding-left: 55px;
				padding-right: 55px;
			}
		}
		@include breakpoint($desk) {
			background: $design-border-bg center top no-repeat;
			background-size: 100% auto;
			padding-top: 100px;
			margin-top: -100px;
		}
		@include breakpoint($super) {
			padding-top: 195px;
			margin-top: -195px;
		}
	}
}

//font cta footer
.front {
	.block--leadbuilder-block-cta {
		h3 {
			font-size: 27px;
		}
		.block__content {
			padding-bottom: 0;
		}
	}
}

//bottom of service node

.field--name-field-call-out {
	color: white;
	background: $color-brand-primary;
	margin-top: 30px;
	padding: 25px 60px 30px;
	text-align: center;
	.button {
		&:hover {
			color: white !important;
		}
	}
}
