.block--views-locations-list {
	padding: 0 20px;
	font-size: 15px;
	.node--address-line {
		div {
			display: inline;
		}
	}
	.field--name-field-locality {
		.field-item:after {
			content: ",";
		}
	}
}