.block--views-slideshow-front {
	text-align: center;
	padding: 20px 20px 40px;

	li.flex-active-slide {
		margin-top: 0;
	}
	.node__title {
		margin: 0;
		color: white;
		a {
			color: white;
		}
	}
	.field--name-body {
		color: white;
		font-size: 17px;
		line-height: 27px;
		margin: 10px 5px 20px;
	}
	.button {
		margin-top: 15px;
		&:hover {
			color: white;
		}
	}
	.flex-direction-nav {
		a {
			font-size: 0;
			width: 40px;
			height: 55px;
			&:before {
				font-size: 40px;
			}
		}
		.flex-prev {
			left: -20px;
		}
		.flex-next {
			right: -18px;
		}
	}
	@include breakpoint($tab) {
		.flex-direction-nav {
			.flex-prev {
				left: 0px;
			}
			.flex-next {
				right: 0px;
				text-align: right;
			}
			a {
				height: 55px;
			}
		}
		.node {
			max-width: 870px;
			margin: 0 auto;
			font-size: 20px;
			line-height: 1.5em;
		}

		.node__title {
			font-size: 50px;
			font-weight: bold;
			line-height: 1em;
		}
	}
	@include breakpoint($desk) {
		min-height: 330px;
	}
}

.block--views-slideshow-front,
.block--views-slideshow-localtarget {
	padding: 20px;
	.flex-direction-nav {
		.flex-prev {
			left: -20px;
			&:before {
			  @include faicon($fa-var-angle-left);
			}
		}
		.flex-next {
			right: -18px;
			&:before {
			  @include faicon($fa-var-angle-right);
			}
		}
	}
	.flex-control-paging {
		display: none;
	}
	@include breakpoint($tab) {
		.flex-direction-nav {
			.flex-prev {
				left: 0;
			}
			.flex-next {
				right: 0;
				text-align: right;
			}
		}
	}
}
