.block--social-media {
	padding: 20px;
	font-size: 28px;
	.block__content {
		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		ul {
			@include flexbox;
			justify-content: center;
		}
	}
	.social-description {
		display: none;
	}
	@include breakpoint($tab) {
		.block__content {
			li + li {
				margin-left: 15px;
			}
		}
	}
}
