.block--views-testimonials-random {
	.rating {
		font-size: 21px;
	}
	.field--name-body {
		color: $color-brand-primary-dark;
		font-size: 17px;
		line-height: (25/17);
	}
	.field--title {
		font-size: 14px;
	}
}

.block--views-testimonials-front {
	@include container;
	max-width: 830px;
	text-align: center;
	color: white;
	.field--name-body {
		p {
			font-size: 23px;
			line-height: 33px;
			margin: 10px 0;
		}
	}
	.testimonial-meta {
		margin-top: 15px;
		font-style: normal;
		font-size: 15px;
	}
	.field--title {
		margin-top: 5px;
	}
}

.block--sprowt-views-sprowt-views-testimonials {
	@extend .block--views-testimonials-front;
}

.node--testimonial {
	font-size: 30px;
}
