.l-header {
  background: white;
}

.l-region--header-second {
  @include container;
  padding: 15px 20px;
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}

.l-region--header-third {
  background: url("../images/header-bg.jpg") $color-brand-primary center / cover;
}
