.l-region--postscript-first {
  background: #4a4a4a;
  padding: 40px 20px;
}

.l-region--postscript-second {
  background: $color-brand-primary;
  padding: 30px 20px;
}

.l-region--postscript-third {
  background: $color-brand-secondary;
  padding: 20px;
}
