.l-region--sidebar {
  background: #f8f8f8;
  font-size: 15px;
  padding: 50px 0;
  .block {
    padding: 20px;
  }
  .block__title {
    font-size: 22px;
    line-height: (28/22);
    color: #525252;
  }
}
