.field--name-field-seo-title {
  color: $color-brand-primary-darkest;
  font-family: $font-body;
  font-weight: 600;
  font-size: 31px;
  line-height: (35/31);
  margin-bottom: 10px;
  h1 {
    font-weight: 600;
    font-size: 31px;
    line-height: (35/31);
  }
  @include breakpoint($tab) {
    font-size: 38px;
    line-height: (45/38);
    h1 {
      font-size: 38px;
      line-height: (45/38);
    }
  }
}
