.node-type-page.section-special-offers.enhanced{
  .node--page{
    .node__title{
      color: palette(primary, dark);
    }
  }
}

.block--views-special-offers-all-enhanced{
  .view-content{
    .views-row{
      background: palette(white, pure);
    }
  }
}

.block--views-special-offers-all-enhanced{
  .view-filters{
    .views-widget-filter-field_services_tid{
      label{
        color: palette(primary, dark);
      }
    }
    .views-submit-button{
      input{
        border-color: palette(primary, base) !important;
      }
    }
  }
}

.node--special-offer--tertiary-teaser{
  .node__content{
    outline-color: palette(neutral, iron);
  }
  h2{
    color: palette(primary, dark);
  }
  h3{
    color: palette(neutral, mine-shaft);
  }
  .field--name-field-button{
    .button{
      background-color: palette(primary, dark);
      color: palette(white, pure);
    }
  }
  .field--name-field-expiration-date{
    color: #c80108;
  }
}

.node--special-offer--tertiary-teaser.featured-offer{
  .node__content{
    background-color: palette(primary, dark);
    outline-color: rgba(palette(white, pure), .5);
  }
  h2{
    color: palette(white, pure);
  }
  h3{
    color: rgba(palette(white, pure), .9);
  }
  .field--name-body{
    color: palette(white, pure);
  }
  .field--name-field-button{
    .button{
      background-color: palette(white, pure);
      color: palette(primary, dark);
    }
  }
  .field--name-field-expiration-date{
    color: palette(white, pure);
  }
}
