// brand colors

$color-brand-primary: #66aa08; // Green
$color-brand-primary-light: #8cc63e; // Light Green
$color-brand-primary-dark: #61a702; // Dark Green
$color-brand-primary-darker: #3b6601; // Darkest Green

$color-brand-secondary: #0a529c; //Blue
$color-brand-secondary-dark: #094179; // Dark Blue 

$color-neutral: #6e6e6e;
$color-neutral-light: #848484;
$color-neutral-lighter: #f3f3f3;
$color-neutral-lightest: #f3f3f3;
$color-neutral-dark: #484848;

// gradients

$color-gradient-primary: linear-gradient($color-brand-primary-light, $color-brand-primary);
$color-gradient-secondary: linear-gradient($color-brand-secondary, $color-brand-secondary-dark);
$color-gradient-neutral-dark: linear-gradient($color-neutral, $color-neutral-dark);
$color-gradient-neutral: linear-gradient($color-neutral-light, $color-neutral);

// typography

$color-body-bg: $color-neutral-lighter;
$color-body-text: #333;
$color-body-link: $color-brand-primary;
$color-body-link-hover: $color-brand-primary-dark;
$color-body-divider: #e4e4e4;

// buttons

$color-button-bg: $color-gradient-primary;
$color-button-text: white;
$color-button-hover-bg: $color-brand-primary-dark;

// borders

$color-border: $color-body-divider;