body {
  color: palette(neutral, abbey);
}

a {
  color: palette(primary, base);
  &:hover {
    color: palette(secondary, base);
  }
}

h1 {
  color: $color-title-default;
}

h2 {
  color: palette(black, base);
}

h3 {
  color: palette(black, base);
}

h4 {
  color: palette(black, base);
}

blockquote {
  border-left-color: palette(primary, base);
}

hr {
  border-bottom-color: palette(neutral, alto);
}
