.l-footer{
  .footer-wrap{
    background-color: palette(primary, base);
  }
  .l-region--footer-third{
    background-color: palette(primary, base);
  }
  .l-region--footer-fourth{
    background-color: palette(primary, base);
  }
}
