.l-header{
  .header-first-wrap{
    background-color: palette(primary, base);
  }
  .header-fourth-wrap{
    background: palette(secondary, base);
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.26);
  }
}
