.block--menu-menu-ctm-utility-menu{
  .menu{
    li{
      &:first-of-type{
        .nolink{
          color: palette(secondary, base);
        }
      }

      a{
        color: palette(tertiary, base);
        &:hover{
          color: palette(secondary, base);
        }
      }
    }
  }
}
