.block--views-gallery-grid {
	text-align: center;
	img {
		vertical-align: middle;
	}
	.view-content {
		@include clearfix;
	}
	.views-row {
		@include span(6 of 12);
		&:nth-child(2n) {
			@include omega;
		}
		+ .views-row {
			margin-top: 0;
		}
	}
	@include breakpoint($desk) {
		.views-row {
			@include span(4 of 12);
			&:nth-child(2n) {
				@include span(4 of 12);
			}
			&:nth-child(3n) {
				@include omega;
			}
		}
	}
}