.block--views-team-list {
	.views-row {
		@include container;
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
		.field--name-field-image {
			margin-bottom: 10px;
			img {
				width: 100%;
			}
		}
		.node__title {
			margin-bottom: 0px;
		}
		.field--name-field-position {
			font-weight: bold;
		}
		.field--name-body {
			margin: 10px 0;
		}
		.node-readmore a {
			@extend %button;
		}
	}
	@include breakpoint($tab) {
		.field--name-field-image {
			@include span(3 of 9);
			margin-bottom: 0;
			padding-top: 5px;
		}
		.node-content-wrap {
			@include span(6 of 9);
			@include omega;
		}
	}
}