@mixin block-slideshow($bg-arrow, $fg-arrow, $bg-arrow-hover, $fg-arrow-hover, $offset:0) {
  padding: 20px;
  .flexslider {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    &:hover {
      .flex-prev,
      .flex-next {
        @include flexbox;
        opacity: 1;
      }
    }
  }
  .slides {
    @include flexbox;
    align-items: center;
    > li {
      max-width: 100%;
    }
  }
  .flex-control-nav {
    a {
      @include flexbox;
      text-shadow: none;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding-bottom: 2px;
      background: $bg-arrow;
      opacity: 1;
      width: 50px;
      height: 50px;
      color: $fg-arrow;
      font-size: 0;
      &:hover {
        background: $bg-arrow-hover;
        color: $fg-arrow-hover;
      }
      &:before {
        font-size: 50px;
      }
      &.flex-prev {
        left: $offset;
        padding-right: 5px;
        &:before {
          @include faicon("\F104");
        }
      }
      &.flex-next {
        right: $offset;
        padding-left: 5px;
        &:before {
          @include faicon("\F105");
        }
      }
    }
  }
}
