.block--views-markets-list {
	.view-content {
		margin-top: 0;
	}
	.views-row {
		+ .views-row {
			margin-top: 0;
		}
	}
}

// Homepage

.block--views-markets-block-1 {
	@include container;
	text-align: center;
	li {
		list-style-type: none;
	}
	@include breakpoint($tab) {
		.block__content {
			margin: 0 auto;
			.views-row {
				@include span(5 of 10);
				margin-top: 20px;
			}
			.views-row-even {
				margin-right: 0;
			}
			.node__title {
				float: left;
			}
			.field--name-field-image {
				float: left;
				margin-right: 20px;
			}
		}
	}
}