.block--sprowt-settings-sprowt-social-media {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-left: 5px;
			&:first-child {
				margin-left: 0;
			}
			.twitter {
			}
			
			.facebook {
			}
			
			.gplus {
			}
			
			.linkedin {
			}
		}
	}
}