
// Sidebar Testimonials Block

.block--views-testimonials-random {
	.field--name-body {
		margin-bottom: 10px;
	}
}


// Font Page Testimonials

.block--views-testimonials-front {
	.node__content {
		text-align: center;
	}
	.testimonial-review-rating {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.field--name-body {
		font-size: 35px;
		position: relative;
		&:before,
		&:after {
			font-size: 60px;
			position: absolute;
		}
		&:before {
			content: "\201C";
			left: -10px;
			top: -35px;
		}
		&:after {
			content: "\201D";
			right: -10px;
			bottom: -60px;
		}
	}
	.field--title {
		margin-top: 25px;
		font-size: 18px;
	}
	@include breakpoint($tab) {
		max-width: 745px;
		margin: 0 auto;
	}
}