$design-hero-bg: url("../images/bg-mountains.png"); // front, localtarget (1400x576)
$design-border-bg: url("../images/border-grass.png"); // global (1400x201)
$design-arrow-bg: url("../images/bg-special-offers.png"); // front, localtarget (1400x208)
$design-contact-bg: url("../images/bg-pines.png"); // front, cta (1400x207)
$design-map-bg: url("../images/map-pattern.png"); // front (75x170)
