.front {
    background: $color-body-bg;

    .l-content {
        background: $color-front-content-bg;
        max-width: 100%;
        width: 100%;
    }

    .node--full {
        text-align: center;
        font-size: 19px;
        .field--name-field-display-title {
            margin-top: 0;
        }
        .node__content {
            max-width: 800px;
            margin: 0 auto;
        }
    }
}
