.not-front.node-type-profile {
    .l-content .field--name-field-image {
        max-width: 300px;
        margin: 0 auto 20px;
    }
    
    .field--name-field-position {
        font-style: italic;
        margin-bottom: 15px;
        margin-top: -10px;
        font-size: 26px;
    }
    
    h1 {
        margin-bottom: 0px;
    }
    
    @include breakpoint($tab) {
        .l-content .field--name-field-image {
            float: left;
            margin-right: 20px;
        }
        .node__content {
            &:after {
                content: " ";
                display: block;
                clear: both;
            }
        }
    }
}