%special-offers-sidebar {
  $color-bg: palette(white, pure);
  $color-border: palette(neutral, wild-sand);
  $color-block-title: palette(secondary, base);
  $color-offer-title: palette(primary, base);
  $color-offer-body: palette(neutral, xanadu);

  background-color: $color-bg;
  border-color: $color-border;
  .block__title {
    color: $color-block-title;
  }
  .node__title {
    color: $color-offer-title;
  }
  .node__content {
    color: $color-offer-body;
  }
}

.block--views-special-offers-sidebar {
  @extend %special-offers-sidebar;
}

.block--views-special-offers-list {
  .node {
    border-color: palette(neutral, alto);
  }
}

// homepage

.block-special-offers-intro {
  $color-block-title: palette(black, base);

  .block__title {
    color: $color-block-title;
  }
}

.block--views-special-offers-front,
.local-target-special-offer,
.block--views-special-offers-ltp-slideshow {
  $color-bg: palette(white, pure);
  $color-block-title: palette(black, base);
  $color-node-title: palette(primary, base);
  $color-border: palette(neutral, alto);
  $color-link: palette(black, base);
  $color-pointer: palette(secondary, base);
  $color-banner-bg: palette(secondary, base);
  $color-banner-fg: palette(white, pure);

  .block__title {
    color: $color-block-title;
  }
  .node {
    background-color: $color-bg;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    &:after {
      background-color: $color-banner-bg;
      color: $color-banner-fg;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    }
  }
  .node__title {
    color: $color-node-title;
  }
  .coupon-wrap {
    border-color: $color-border;
    &:before {
      background-color: $color-bg;
    }
  }
  .button {
    background-color: transparent;
    color: $color-link;
    &:after {
      color: $color-pointer;
    }
    &:hover {
      color: $color-pointer;
    }
  }
}
