%button {
  border-radius: 5px;
  background: $color-brand-primary;
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: (18/15);
  border: 0;
  outline: 0;
  &:hover {
    text-decoration: none;
    color: white;
    background: $color-brand-primary-dark;
  }
}

.button {
  @extend %button;
}

.more-link {
  @extend %button;
  background: $color-brand-secondary;
  display: block;
  &:hover {
    background: $color-brand-secondary-dark;
  }
}
