.menu-name-menu-mobile-callout {
  background: $color-brand-primary-mega-dark;
  padding: 35px 20px;
  .menu {
    margin: 0;
    padding: 0;
  }
  .leaf {
    background: #FFFFFF;
    list-style: none;
    + .leaf {
      margin-top: 11px;
    }
  }
  a {
    &.menu_icon {
      @include flexbox;
      align-items: center;
      border: 3px solid $color-brand-quaternary-border;
      background-position: 20px center;
      padding: 20px;
      padding-right: 30px;
      padding-left: 75px;
      height: auto;
      min-height: 60px;
      color: $color-black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  @include breakpoint(470px) {
    a {
      &.menu_icon {
        padding-left: 86px;
        font-size: 24px;
      }
    }
  }
  @include breakpoint($tab) {
    display: none;
  }
}
