.block--nav-submenu {
    .block__title {
        color: $color-brand-primary-dark;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .menu-block-wrapper {
        font-size: 13px;
        > .menu > li + li {
            margin-top: 15px;
        }
        > .menu > li > a {
            font-weight: bold;
            text-transform: uppercase;
            &:before {
                @include faicon('\f0da');
                color: $color-brand-tertiary;
                margin-right: 5px;
            }
        }
        .menu {
            .menu {
                a {
                    padding-left: 10px;
                    color: $color-brand-secondary;
                }
            }
        }
    }
}