.benefits-hero,
.local-target-benefits {

   padding: 40px 20px 30px;
   .view-content {
    max-width: 1160px;
    position: relative;
    z-index: 99;
   }
   .views-row {
    @include flexbox;
    justify-content: center;
    margin: 0 auto 30px;
  }
  .node {
    @include flexbox;
    padding: 30px 40px 55px 65px;
    margin-left: -50px;
    max-width: 350px;
  }
   .field--name-field-icon,
   .field--name-field-image {
    align-self: center;
    z-index: 1;
    flex: 0 0 auto;
    img {
       border-radius: 50%;
       border: 2px solid;
       min-width: 98px;
       max-width: 98px;
    }
    a > img {
      @extend %image-hover;
    }
   }
   .node__title {
      font-size: 1.325em;
      font-weight: 600;
   }
   .field--name-body {
     font-size: 0.95em;
     p {
       line-height: 1.7;
     }
   }
   .read-more {
     display: inline-block;
     padding-top: 19px;
     text-transform: uppercase;
     font-weight: 600;
     &:after {
       @include faicon('\F105');
       padding-left: 10px;
       font-style: 1.3em;
       font-weight: 700;
     }
   }
 @include breakpoint($tab) {
    .block__content {
      margin-top: -165px;
    }
    .view-content {
      @include flexbox;
      flex: 0 1 auto;
      justify-content: space-around;
      align-items: stretch;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      > * {
        flex: 0 1 100%;
      }
    }
    .views-row {
      flex-direction: column;
      + .views-row {
        padding-left: 10px;
      }
    }
    .node {
      flex: 1 1 auto;
      padding: 60px 20px;
      margin-left: 0;
      margin-top: -50px;
      max-width: 350px;
    }
  }
   @include breakpoint($desk) {
     .node {
       align-items: initial;
       padding: 60px 35px 55px 65px;
       margin-left: -50px;
       margin-top: 0px;
       max-width: 350px;
     }
     .view-content {
       @include flexbox;
       justify-content: space-around;
       align-items: initial;
       max-width: 1280px;
       margin-left: auto;
       margin-right: auto;
     }
     .views-row {
       flex-direction: row;
     }
   }
}

//when solutions finder on
.front--solutions-finder, .ltp--solutions-finder{
  .block--views-benefits-front, .local-target-benefits{
    padding: 50px 20px 40px;
    @include breakpoint($tab){
      padding: 200px 20px 30px;
    }
    @include breakpoint($desk){
      padding: 220px 20px 30px;
    }
  }
}
