%special-offers-sidebar {
  padding: 25px 15px;
  border: 5px dashed;
  .block__title {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
  }
  .node__title {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .node {
    .field--name-field-button {
      margin-top: 1.25em;
    }
  }
  .button {
    width: 100%;
  }
}

.block--views-special-offers-sidebar {
  @extend %special-offers-sidebar;
}

.block--views-special-offers-list {
  .views-row {
    + .views-row {
      border-top: 0;
      padding-top: 0;
    }
  }
  .node {
    border: 3px dashed;
    padding: 20px;
    max-width: 600px;
  }
}

// homepage

.block-special-offers-intro {
  max-width: 700px;
  margin: 0 auto;
  padding: 45px 20px 30px;
  text-align: center;
  @include breakpoint($desk) {
    .block__title {
      font-size: 2.5em;
    }
  }
}

.block--views-special-offers-front,
.local-target-special-offer,
.block--views-special-offers-ltp-slideshow {
  padding: 0 20px 50px;
  .block__title {
    text-align: center;
    padding: 40px 0 30px;
  }
  .node {
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    &:after {
      content: "Special";
      display: block;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      padding: 7px;
      width: 200px;
      top: 25px;
      right: -48px;
      transform: rotate(45deg);
    }
  }
  .coupon-wrap {
    border: 3px dashed;
    padding: 20px;
    &:before {
      content: url('../images/scissors.png');
      position: absolute;
      top: 4px;
      left: 34%;
    }
  }
  .logo-wrap {
    @include flexbox;
    padding-bottom: 20px;
    max-width: 250px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .node__title {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
  }
  .field--name-body {
    font-size: 0.925em;
    padding-bottom: 20px;
  }
  .button {
    display: inline-block;
    text-align: left;
    padding: 0;
    font-size: 1em;
    &:after {
      @include faicon("\f105");
      font-size: 1.2em;
      font-weight: 700;
      margin-left: 5px;
    }
  }
  @include breakpoint($tab) {
    .block__title {
      font-size: 2.5em;
      padding: 40px 0 10px;
    }
    .node {
      max-width: 835px;
      margin: 0 auto;
    }
    .coupon-wrap {
      @include flexbox;
      align-items: center;
      padding: 40px 60px 40px 40px;
    }
    .logo-wrap {
      align-items: center;
      flex: 1 0 auto;
      padding: 0;
    }
    .node__content {
      padding-left: 40px;
    }
  }
}

















// end
