.top-wrap {
  &:after {
    content: " ";
    display: table;
    height: 0;
    clear: both;
  }
}

.all-filter-wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: solid 1px #eee;
  margin-bottom: 15px;
  &:after {
    content: " ";
    display: table;
    height: 0;
    clear: both;
  }
}

.filters {
  display: flex;
  align-items: flex-end;
  button {
    margin-left: 10px;
  }
}

#current-filters {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter-tag {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  .remove-tag {
    padding: 2px;
    &:hover {
      text-decoration: none;
    }
  }
}

.filter-select {
  margin-bottom: 10px;
  width: 100%;
}

.filter-wrap {
  .title {
    display: none;
  }
}


.filter-val {
  display: flex;
  align-items: flex-end;
  .date-type {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}


.custom-range {
  display: flex;
  label:first-child {
    margin-right: 10px;
  }
}

.totals {
  float: right;
}