$fontDir: '../resources/assets/fonts';

@font-face {
  font-family: 'icomoon';
  src:  url($fontDir + '/icomoon.eot?867rek');
  src:  url($fontDir + '/icomoon.eot?867rek#iefix') format('embedded-opentype'),
  url($fontDir + '/icomoon.ttf?867rek') format('truetype'),
  url($fontDir + '/icomoon.woff?867rek') format('woff'),
  url($fontDir + '/icomoon.svg?867rek#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%angie {
  content: "\e901";
}
%yp {
  content: "\e900";
}
%bbb {
  content: "\e906";
}
%gplus {
  content: "\ea88";
}
%facebook {
  content: "\ea90";
}
%yelp {
  content: "\ead7";
}
%custom {
  content: "\f044";
}

.review-boost-review-links-wrap {
  overflow: hidden;
}

.review-boost-review-links {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  // margin-right: -10px;
  // margin-top: -15px;
  margin-bottom: 15px;
  list-style: none;
  > * {
    flex: 0 1 auto;
    margin-top: 15px;
    margin-right: 10px;
    list-style: none;
  }
  // a { //original styling - just icons
  //   display: block;
  //   &:before {
  //     @extend %icon;
  //     @extend %custom;
  //     display: inline-block;
  //     font-size: 32px;
  //     height: 32px;
  //     overflow: hidden;
  //     margin-right: 5px;
  //   }
  // }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border: 3px solid;
    border-radius: 5px;
    &:before {
      @extend %icon;
      @extend %custom;
      display: inline-block;
      font-size: 25px;
      line-height: 1;
      overflow: hidden;
      margin-right: 5px;
    }
    &:after{
      content: "Leave us a review!";
      margin-left: 10px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .facebook,
  .gplus,
  .yelp,
  .bbb,
  .angie,
  .yp {
    a {
      span {
        display: none;
      }
      &:before {
        margin-right: 0;
      }
    }
  }

  .facebook a:before {
    @extend %facebook;
  }
  .gplus a:before {
    @extend %gplus;
  }
  .yelp a:before {
    @extend %yelp;
  }
  .bbb a:before {
    @extend %bbb;
  }
  .angie a:before {
    @extend %angie;
  }
  .yp a:before {
    @extend %yp;
    position: relative;
    top:-5px;
    font-size: 45px;
    height: 40px;
  }
}

//email landing page styling
body.page-customer-survey{
  h1{
    margin-bottom: 1em !important;
  }
  p{
    font-size: 18px;
    line-height: 1.35;
  }
  span.co-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
  }
}
