a {
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; }

.button {
  background-color: #3da244;
  color: #fff; }
  .button:hover, .button:focus {
    background-color: #245927;
    color: #fff; }

@media print {
  .button, .node--teaser .field--name-body .field__item > .more-link,
  .node--alt-teaser .field--name-body .field__item > .more-link, input[type=submit] {
    background-color: transparent !important;
    color: blue !important; } }

.node--teaser .field--name-body .field__item > .more-link,
.node--alt-teaser .field--name-body .field__item > .more-link {
  background-color: #3da244;
  color: #fff; }
  .node--teaser .field--name-body .field__item > .more-link:hover, .node--teaser .field--name-body .field__item > .more-link:focus,
  .node--alt-teaser .field--name-body .field__item > .more-link:hover,
  .node--alt-teaser .field--name-body .field__item > .more-link:focus {
    background-color: #245927;
    color: #fff; }

.flexslider {
  background-color: transparent; }

input, textarea, select {
  background-color: #fff;
  border-color: #e1e1e1 !important; }
  input:focus, textarea:focus, select:focus {
    border-color: #707972; }

input[type=submit] {
  background-color: #3da244;
  color: #fff; }
  input[type=submit]:hover, input[type=submit]:focus {
    background-color: #245927;
    color: #fff; }

table {
  background-color: #ddd; }

th {
  background-color: #f3ba0d;
  color: #fff; }

td {
  background-color: #fff; }

body {
  color: #58595b; }

a {
  color: #3da244; }
  a:hover {
    color: #f3ba0d; }

h1 {
  color: #58595b; }

h2 {
  color: #333333; }

h3 {
  color: #333333; }

h4 {
  color: #333333; }

blockquote {
  border-left-color: #3da244; }

hr {
  border-bottom-color: #dddddd; }

.block--grid .node {
  background-color: #f4f4f4; }

.block--list .views-row + .views-row {
  border-top-color: #e1e1e1; }

.block--views-affiliates-list {
  background-color: #fff; }
  .block--views-affiliates-list .block__title {
    color: #58595b; }

.benefits-hero,
.local-target-benefits {
  background-color: transparent; }
  .benefits-hero .node--benefit,
  .local-target-benefits .node--benefit {
    border-color: #f5c533; }
    .benefits-hero .node--benefit:hover,
    .local-target-benefits .node--benefit:hover {
      background-color: #f5c533;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
  .benefits-hero .node__title,
  .local-target-benefits .node__title {
    color: #fff; }
    .benefits-hero .node__title a,
    .local-target-benefits .node__title a {
      color: #fff; }
      .benefits-hero .node__title a:hover,
      .local-target-benefits .node__title a:hover {
        color: #fff; }
  .benefits-hero .field--name-field-image img,
  .local-target-benefits .field--name-field-image img {
    border-color: #f5c533;
    background-color: #f5c533; }

.block--sprowt-settings-sprowt-copyright {
  color: #707972; }
  .block--sprowt-settings-sprowt-copyright a {
    color: inherit; }
    .block--sprowt-settings-sprowt-copyright a:hover {
      color: #58595b; }

.l-region--postscript-fourth .block--sprowt-block-cta {
  background-color: #f3ba0d;
  color: #fff; }
  .l-region--postscript-fourth .block--sprowt-block-cta a {
    color: inherit; }
  .l-region--postscript-fourth .block--sprowt-block-cta .node__title {
    color: inherit; }
  .l-region--postscript-fourth .block--sprowt-block-cta .button {
    background-color: #fff;
    color: #3da244; }
    .l-region--postscript-fourth .block--sprowt-block-cta .button:hover, .l-region--postscript-fourth .block--sprowt-block-cta .button:focus {
      background-color: #3da244;
      color: #fff; }

.block--form-sidebar {
  border-color: #f4f4f4;
  background-color: #fff;
  color: #707972; }
  .block--form-sidebar .block__title {
    color: #58595b; }
  .block--form-sidebar label {
    color: #707972; }

.local-target-webform {
  background-color: #3a4648; }
  .local-target-webform .block__content {
    color: #eee; }
  .local-target-webform .node__title {
    color: #fff; }

.block--views-localtarget-map-reviews h2 {
  background-color: #f3ba0d;
  color: #fff; }

.block--views-localtarget-map-reviews h3:before {
  color: #3da244; }

.block--views-localtarget-map-reviews .location-content {
  background-color: #fff; }

.block--views-localtarget-map-reviews .reviews-links {
  background-color: #fff; }
  .block--views-localtarget-map-reviews .reviews-links .field__item:before {
    color: #f3ba0d; }
  .block--views-localtarget-map-reviews .reviews-links .field__item + .field__item {
    border-top-color: #dddddd; }

.block--views-locations-list {
  color: inherit; }
  .block--views-locations-list a {
    color: inherit; }
    .block--views-locations-list a:hover {
      color: inherit; }
  .block--views-locations-list h2 {
    color: inherit; }
  @media (min-width: 768px) {
    .block--views-locations-list .field-street-address,
    .block--views-locations-list .field-locality, .block--views-locations-list .field-phone-number {
      border-left-color: transparent; } }

.block--logo-block-logo .mobile-menu-toggle i {
  color: #3da244; }

@media (min-width: 768px) {
  .block--logo-block-logo .tablet-menu-toggle {
    color: #555555; }
    .block--logo-block-logo .tablet-menu-toggle i {
      color: #3da244; } }

.block-areas-map {
  background-color: transparent; }
  .block-areas-map .block__title {
    color: #fff; }
  .block-areas-map .block__content {
    color: #eee; }
    .block-areas-map .block__content a {
      color: #fff; }
      .block-areas-map .block__content a:hover {
        color: #3da244; }
  .block-areas-map a.region {
    color: #f5c533; }
    .block-areas-map a.region:before {
      color: #f5c533; }
    .block-areas-map a.region:hover {
      color: #fff; }

.block--views-packages-services .block__title {
  background-color: #3da244;
  color: #fff; }

.block--views-packages-services .view-content {
  border-color: #f4f4f4; }

.block--views-packages-services .views-row-odd {
  background-color: #f4f4f4; }

.block--views-packages-services .views-row-even {
  background-color: white; }

.block--views-packages-services .node__title a {
  color: #3da244; }
  .block--views-packages-services .node__title a:hover {
    color: #f3ba0d; }

.block--views-packages-services .field--name-body .field__item .more-link {
  background-color: #3da244;
  color: #fff; }
  .block--views-packages-services .field--name-body .field__item .more-link:hover {
    background-color: #f3ba0d; }

.block--views-packages-services.block--grid .view-content {
  background-color: #f4f4f4; }

.block--views-packages-services.block--grid .node {
  background-color: transparent; }

.block--views-team-list .node {
  background-color: transparent; }

.block--views-team-list .field--name-field-image img {
  background-color: #fff;
  border-color: #eee; }

.block--views-services-front-services .view-content + .more-link a {
  background-color: #3da244;
  color: #fff; }
  .block--views-services-front-services .view-content + .more-link a:hover, .block--views-services-front-services .view-content + .more-link a:focus {
    background-color: #245927;
    color: #fff; }

@media (min-width: 768px) {
  .block--views-services-front-services .node {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-color: #f4f4f4; } }

@media (min-width: 1024px) {
  .block--views-services-front-services .node {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
    .block--views-services-front-services .node:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); } }

.block--views-slideshow-front .slides,
.block--views-slideshow-localtarget .slides {
  background-color: rgba(0, 0, 0, 0.75); }

.block--views-slideshow-front .slide-image:before,
.block--views-slideshow-localtarget .slide-image:before {
  background-color: #151616; }

.block--views-slideshow-front .node__title,
.block--views-slideshow-localtarget .node__title {
  color: #fff; }

.block--views-slideshow-front .flex-direction-nav a:before,
.block--views-slideshow-localtarget .flex-direction-nav a:before {
  color: rgba(255, 255, 255, 0.7); }

.block--views-slideshow-front .field--name-body,
.block--views-slideshow-localtarget .field--name-body {
  color: #fff; }

.block--views-slideshow-front .button,
.block--views-slideshow-localtarget .button {
  background-color: #f3ba0d;
  color: #fff; }
  .block--views-slideshow-front .button:hover, .block--views-slideshow-front .button:focus,
  .block--views-slideshow-localtarget .button:hover,
  .block--views-slideshow-localtarget .button:focus {
    background-color: #c3950a;
    color: #fff; }

.block--sprowt-settings-sprowt-social-media .block__content a {
  background: transparent;
  color: #3da244; }
  .block--sprowt-settings-sprowt-social-media .block__content a:hover {
    color: #245927; }

.block--views-special-offers-sidebar, .block-shortcode--views-special_offers-ltp_s4 {
  background-color: #fff;
  border-color: #f4f4f4; }
  .block--views-special-offers-sidebar .block__title, .block-shortcode--views-special_offers-ltp_s4 .block__title {
    color: #58595b; }
  .block--views-special-offers-sidebar .node__title, .block-shortcode--views-special_offers-ltp_s4 .node__title {
    color: #3da244; }
  .block--views-special-offers-sidebar .node__content, .block-shortcode--views-special_offers-ltp_s4 .node__content {
    color: #707972; }

.block-shortcode--views-special_offers-ltp_s4 .block__title {
  color: #707972; }

.block--views-special-offers-list .node {
  border-color: #dddddd; }

.block-special-offers-intro .block__title {
  color: inherit; }

.block--views-special-offers-front-s4,
.block--views-special-offers-related-s4,
.local-target-special-offer {
  background: #fff;
  border-color: #e1e1e1;
  box-shadow: 0 11px 35px rgba(0, 0, 0, 0.2); }
  .block--views-special-offers-front-s4 .node__title,
  .block--views-special-offers-related-s4 .node__title,
  .local-target-special-offer .node__title {
    color: #3da244; }
  .block--views-special-offers-front-s4 .button,
  .block--views-special-offers-related-s4 .button,
  .local-target-special-offer .button {
    background-color: #f3ba0d;
    color: #fff; }
    .block--views-special-offers-front-s4 .button:hover, .block--views-special-offers-front-s4 .button:focus,
    .block--views-special-offers-related-s4 .button:hover,
    .block--views-special-offers-related-s4 .button:focus,
    .local-target-special-offer .button:hover,
    .local-target-special-offer .button:focus {
      background-color: #c3950a;
      color: #fff; }
  .block--views-special-offers-front-s4 .offer-headline,
  .block--views-special-offers-related-s4 .offer-headline,
  .local-target-special-offer .offer-headline {
    background: #3da244;
    color: #fff; }

.block--testimonials-sidebar, .block--views-testimonials-random {
  background-color: #fff;
  border-color: #f4f4f4; }
  .block--testimonials-sidebar .block__title, .block--views-testimonials-random .block__title {
    color: #58595b; }
  .block--testimonials-sidebar .node__content, .block--views-testimonials-random .node__content {
    color: #707972; }
  .block--testimonials-sidebar .fa-star, .block--views-testimonials-random .fa-star {
    color: #3da244; }

.block--views-testimonials-front,
.block--views-testimonials-front-s4,
.local-target-testimonial {
  background: #fff; }
  .block--views-testimonials-front .rating,
  .block--views-testimonials-front-s4 .rating,
  .local-target-testimonial .rating {
    color: #3da244; }
  .block--views-testimonials-front .field--title:before,
  .block--views-testimonials-front-s4 .field--title:before,
  .local-target-testimonial .field--title:before {
    color: #3da244; }

.local-target-testimonial {
  background-color: #eaeaea; }
  .local-target-testimonial .block__content {
    color: #333333; }
  @media (min-width: 768px) {
    .local-target-testimonial {
      background-color: #fcfcfc; } }

.field--name-field-call-out {
  padding: 20px;
  background-color: #f3ba0d;
  color: #fff; }
  .field--name-field-call-out h1, .field--name-field-call-out h2, .field--name-field-call-out h3, .field--name-field-call-out h4, .field--name-field-call-out h5 {
    color: #fff; }

.not-front .l-breadcrumb {
  background-color: #f3ba0d;
  color: #fff; }
  .not-front .l-breadcrumb a {
    color: inherit; }
    .not-front .l-breadcrumb a:hover {
      color: #e6e6e6; }

.block--nav-main .menu-block-wrapper a, .block--nav-main .menu-block-wrapper .nolink {
  background-color: #394548;
  color: #fff; }
  .block--nav-main .menu-block-wrapper a.open, .block--nav-main .menu-block-wrapper .nolink.open {
    background-color: #303739; }

.block--nav-main .menu-block-wrapper > .menu > li {
  border-bottom-color: #4a595d; }

.block--nav-main .menu-block-wrapper .active,
.block--nav-main .menu-block-wrapper .active-trail {
  color: #3da244; }

.block--nav-main.menu-processed .expanded .menu a, .block--nav-main.menu-processed .expanded .menu .nolink,
.block--nav-main.menu-processed .leaf .menu a,
.block--nav-main.menu-processed .leaf .menu .nolink {
  background-color: #303739; }

.block--nav-main.menu-processed .menu-child-toggle {
  background-color: #303739; }
  .block--nav-main.menu-processed .menu-child-toggle:after {
    color: #3da244; }

@media (min-width: 768px) {
  .block--nav-main {
    background-color: #394548; }
    .block--nav-main.menu-processed .block__title {
      background-color: #394548; }
      .block--nav-main.menu-processed .block__title:after {
        color: #9ca2a4;
        border-color: #4a595d; } }

@media (min-width: 1030px) {
  .block--nav-main {
    background-color: transparent; }
    .block--nav-main .menu-block-wrapper a {
      background-color: #fff;
      color: #3da244; }
    .block--nav-main .menu-block-wrapper > .menu > li {
      background-color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li.expanded > a:after {
      color: #3da244; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > a {
      background-color: #fff;
      color: #245927; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > a:after {
        color: #245927; }
    .block--nav-main .menu-block-wrapper > .menu > li.active > a,
    .block--nav-main .menu-block-wrapper > .menu > li.active-trail > a {
      color: #3da244; }
      .block--nav-main .menu-block-wrapper > .menu > li.active > a:hover,
      .block--nav-main .menu-block-wrapper > .menu > li.active-trail > a:hover {
        color: #245927; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li + li {
      border-top-color: #dddddd; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a {
      background-color: #fff;
      color: #707972; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a:hover, .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a.active, .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > a.active-trail {
        background-color: #3da244;
        color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > .nolink {
      background-color: #fff;
      color: #707972; }
      .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li > .nolink:hover {
        background-color: #3da244;
        color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li:hover > a,
    .block--nav-main .menu-block-wrapper > .menu > li:hover > .menu > li:hover > .nolink {
      background-color: #3da244;
      color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a {
      background-color: #3da244;
      color: #fff; }
      .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a:hover, .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > a.active {
        background-color: #245927;
        color: #fff; }
    .block--nav-main .menu-block-wrapper > .menu > li > .menu > li:hover > .menu > li > .nolink {
      background-color: #3da244;
      color: #fff; } }

.block--nav-mobile-utility .menu li.first {
  background-color: #3a4648; }

.block--nav-mobile-utility .menu li.last {
  background-color: #3da244; }

.block--nav-mobile-utility .menu a {
  color: #fff; }
  .block--nav-mobile-utility .menu a[href^='tel:']:before {
    color: #3da244; }

.block--nav-utility-footer .menu li:nth-of-type(odd) {
  background-color: #3a4648; }

.block--nav-utility-footer .menu li:nth-of-type(even) {
  background-color: #516164; }

.block--nav-utility-footer .menu li a {
  color: #fff; }

.block--nav-submenu {
  background-color: #fff; }
  .block--nav-submenu .menu-block-wrapper > .menu > li + li {
    border-top-color: #f4f4f4; }
  .block--nav-submenu .menu-block-wrapper > .menu > li a,
  .block--nav-submenu .menu-block-wrapper > .menu > li .nolink {
    color: #292929;
    border-left-color: #fff; }
    .block--nav-submenu .menu-block-wrapper > .menu > li a:before,
    .block--nav-submenu .menu-block-wrapper > .menu > li .nolink:before {
      color: #3da244; }
    .block--nav-submenu .menu-block-wrapper > .menu > li a:hover,
    .block--nav-submenu .menu-block-wrapper > .menu > li .nolink:hover {
      border-left-color: #3da244; }
  .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail {
    background-color: #f4f4f4; }
    .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail a,
    .block--nav-submenu .menu-block-wrapper > .menu > li.active-trail .nolink {
      border-left-color: #3da244; }
  .block--nav-submenu .menu-block-wrapper > .menu .menu {
    background-color: #fcfcfc; }
    .block--nav-submenu .menu-block-wrapper > .menu .menu li a,
    .block--nav-submenu .menu-block-wrapper > .menu .menu li .nolink {
      color: #707972; }
      .block--nav-submenu .menu-block-wrapper > .menu .menu li a:hover,
      .block--nav-submenu .menu-block-wrapper > .menu .menu li .nolink:hover {
        color: #292929; }
    .block--nav-submenu .menu-block-wrapper > .menu .menu li.active a {
      color: #373d38; }

.block--nav-utility {
  background-color: #3da244; }
  .block--nav-utility .menu-block-wrapper a {
    background-color: #3da244;
    color: #fff; }
  @media (min-width: 768px) {
    .block--nav-utility .menu li a:before {
      color: #fff; } }
  @media (min-width: 1030px) {
    .block--nav-utility {
      background-color: transparent; }
      .block--nav-utility .menu-block-wrapper li:nth-of-type(2n) a {
        background-color: #f3ba0d;
        color: #fff; }
        .block--nav-utility .menu-block-wrapper li:nth-of-type(2n) a:hover, .block--nav-utility .menu-block-wrapper li:nth-of-type(2n) a:focus {
          background-color: #c3950a;
          color: #fff; }
      .block--nav-utility .menu-block-wrapper li:nth-of-type(3n) a {
        background-color: #3da244;
        color: #fff; }
        .block--nav-utility .menu-block-wrapper li:nth-of-type(3n) a:hover, .block--nav-utility .menu-block-wrapper li:nth-of-type(3n) a:focus {
          background-color: #245927;
          color: #fff; }
      .block--nav-utility .menu-block-wrapper a[href^='tel:'] {
        background-color: transparent;
        color: #333333; }
        .block--nav-utility .menu-block-wrapper a[href^='tel:']:hover {
          color: #3da244; } }

.front .l-region--preface-third {
  background-color: #fff; }
  @media (min-width: 1024px) {
    .front .l-region--preface-third {
      background-color: #f3ba0d; } }

.front .l-main {
  background-color: #f3ba0d; }
  .front .l-main .node--page--full .node__title {
    color: #fff; }
  .front .l-main .node--page--full .field--name-body {
    color: #333333; }

.block--views-localtarget-value-prop .node {
  background-color: #151616; }

.block--views-localtarget-value-prop .slide-image-background:before {
  background-color: #151616; }

.block--views-localtarget-value-prop .field--name-field-display-title {
  color: #fff; }

.block--views-localtarget-value-prop .field--name-field-intro {
  color: #fff; }

.block--views-localtarget-value-prop .button {
  background-color: #f3ba0d;
  color: #fff; }
  .block--views-localtarget-value-prop .button:hover, .block--views-localtarget-value-prop .button:focus {
    background-color: #c3950a;
    color: #fff; }

.node-type-localtarget .l-region--preface-second {
  background-color: #f3ba0d; }

.node-type-localtarget .l-region--preface-third {
  background-image: -webkit-linear-gradient(top, #f3ba0d 50%, #fff 50%);
  background-image: linear-gradient(to bottom, #f3ba0d 50%, #fff 50%); }

.node-type-localtarget .l-region--preface-fourth {
  background-color: #f4f4f4; }

.node-type-localtarget .l-main {
  background-color: #fff; }

.block--views-localtarget-title-s4 h1 {
  color: #333333; }

.node--profile--full .field--name-field-image img {
  background-color: #fff;
  border-color: #eee; }

.node--profile--full .flippy {
  border-top-color: #eee; }

.l-footer-wrap {
  background: #fff; }

.l-region--footer-second {
  background: #f4f4f4;
  border-color: #e1e1e1; }

.l-region--header-first {
  background-color: #f4f4f4;
  border-bottom-color: #e1e1e1; }

.l-region--postscript-first {
  background-color: #f3ba0d; }

.l-wrap--postscript-second {
  background-color: #245927; }

.front .l-region--postscript-third {
  background: #f4f4f4; }
