// neutral names should come from [name that color](http://chir.ag/projects/name-that-color/)

$COLORS: (
  black: (
    base: #353639,
    pure: #000,
  ),
  white: (
    base: #eee,
    pure: #fff,
  ),
  neutral: (
    xanadu: #707972,
    wild-sand: #f4f4f4,
    mine-shaft: #333333,
    alabaster: #fcfcfc,
    lunar-green: #373d38,
    abbey: #58595b,
    alto: #d1d1d1,
    mercury: #e1e1e1,
    cool-gray: #3a4648,
    emperor: #555555,
    limed-spruce: #394548,
    outer-space: #303739,
    river-bed: #4a595d,
    gray-chateau: #9ca2a4,
    haze: #eaebeb, //lt gray bg
    gallery: #f0f0f0, //gray bg
    iron: #e0e0e1,
    pampas: #f9f8f6,
  ),
  primary: ( //green
    base: #1c7e54,
    dark: #1d5f47,
    light: #38b88a,
  ),
  secondary: ( //green-black
    base: #202624,
    light: #2e3834,
  ),
  tertiary: ( //yellow
    dark: #e89e00,
    base: #fbe23c,
    light: #fff4a9,
  ),
);

$color-map-bg: #f4f4f5; // unique color used so bg can be changed with color picker


@function palette($color: primary, $tone: base) {
  // Return warning if color is invalid
  @if not map-has-key($COLORS, $color) {
    @warn "There is no color '#{$color}'";
    @return null;
  }

  // Grab color tones for given color
  $color-tones: map-get($COLORS, $color);
  // Return warning if color tone is invalid
  @if not map-has-key($color-tones, $tone) {
    @warn "There is no '#{$tone}' tone of the color '#{$color}'";
    @return null;
  }

  // Return the proper shade
  @return map-get($color-tones, $tone);
}
