.section-media-library .l-main {
  max-width: 100%;
  padding: 0; }

.section-media-library .l-content {
  max-width: 100%; }
  .section-media-library .l-content .block--system-main {
    padding: 0 20px; }
  .section-media-library .l-content div.block + div.block {
    padding: 60px 20px; }
  .section-media-library .l-content div.block .block__content, .section-media-library .l-content div.block .block__title {
    max-width: 1210px;
    margin: 0 auto; }
  .section-media-library .l-content div.block .block__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .1px;
    text-align: center;
    margin-bottom: 35px; }

.section-media-library .node--page {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; }
  .section-media-library .node--page h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: .4px; }
  .section-media-library .node--page h4 {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5; }
  .section-media-library .node--page .flex {
    margin-top: 45px; }
    .section-media-library .node--page .flex .button {
      min-width: 245px;
      width: 100%; }
    @media (min-width: 768px) {
      .section-media-library .node--page .flex {
        -ms-flex-direction: column;
            flex-direction: column; }
        .section-media-library .node--page .flex p + p {
          margin-top: 1em; } }
    @media (min-width: 800px) {
      .section-media-library .node--page .flex {
        -ms-flex-direction: row;
            flex-direction: row; }
        .section-media-library .node--page .flex p + p {
          margin-top: 0; } }

.section-media-library .l-content div.block:nth-of-type(3) {
  background-color: #f3f3f3; }

.section-media-library .l-content div.block .block__title {
  color: #292929; }

.section-media-library .node--page .flex .button {
  background-color: #e1e1e1;
  border-color: #e1e1e1; }
  .section-media-library .node--page .flex .button:hover {
    color: #fff; }
