.front {
  .l-main {
    $color-bg: palette(secondary, light);
    $color-block-title: palette(white, pure);
    $color-body: palette(white, pure);

    background: $color-bg;
    .node--page--full {
      h1 {
        color: $color-block-title;
      }
      .field--name-body {
        color: $color-body;
        h3{
          color: $color-body;
        }
      }
    }
    .l-content{
      .block--system-main{
        .node__title, .field--name-field-display-title{
          color: $color-block-title;
        }
      }
    }
  }
}
