.node-type-page.page-node-42{
  .node--page--full{
    h1{
      color: palette(primary, base);
    }
    .field--name-field-intro{
      color: palette(secondary, light);
    }
  }
}

.block--views-learning-center-learning-list{
  .view-learning-center{
    .views-row{
      border-color: palette(neutral, mercury);
    }
  }
}
