.block--bean-google-reviews-block {
  .field--name-field-rating {
    color: palette(white, pure);
  }
  .fa-star {
    color: #ffcc00;
  }
  .field--name-field-review-count-text {
      color: palette(white, pure);
  }
}
