//front Benefits intro
.front{
  .block--bean-benefits-intro-block-front{
    .content{
      .field--name-field-h1-title {
        color: palette(tertiary, base);
      }
    }
  }
}

.block--views-benefits-front,
.local-target-benefits {
   $color-bg: transparent;
   $color-border: palette(white, pure);
   $color-title: palette(tertiary, base);

   background-color: $color-bg;

   .node__title {
      color: $color-title;
      a {
        color: $color-title;
      }
   }
   .field--name-field-image {
      img {
         border-color: $color-border;
         background-color: $color-border;
      }
   }
}

//Benefits bean list
.node--benefit--alt-teaser{
  .node__content{
    .node__title, .field--name-body{
      color: palette(secondary, light);
    }
  }
}
