.block--views-locations-list {
  .node--location--teaser{
    h2{
      color: palette(white, pure);
    }
    .node__content{
      color: palette(white, pure);
      color: palette(white, pure);
    }
    .field-phone-number{
      color: palette(white, pure);
      a{
        color: palette(white, pure);
        &:hover{
          color: palette(secondary, base);
        }
        &:before{
          color: palette(white, pure);
        }
      }
    }
  }
}
