// homepage service listing

.front {
  .block--views-services-all, .block--views-services-all-mobile {
    $color-border: palette(secondary, light);
    $color-services-body: palette(black, base);

    $color-title: palette(tertiary, base);
    $color-title-hover: palette(primary, base);

    .block__title {
      color: palette(tertiary, base);
    }
    h3 {
      color: palette(tertiary, base)
    }
    .view-services > .more-link {
      a {
        background-color: palette(secondary, base);
        color: #fff;
        &:hover {
          background-color: palette(primary, base);
          color: palette(white, pure);
        }
      }
    }

    .view-content {
      .views-row{
        .node--service--teaser, .node--service--alt-teaser{
          background-color: transparent;
          .field--name-field-icon{
            background-color: palette(white, pure);
          }
          .node__title {
            a {
              color: #515151;
              &:hover {
                color: palette(secondary, base);
              }
            }
          }
          .field--name-body {
            color: $color-services-body;
            .more-link{
              background-color: transparent;
              color: #515151;
              &:after{
                color: palette(secondary, base);
              }
              &:hover{
                color: palette(secondary, base);
                &:after{
                  color: palette(primary, dark);
                }
              }
            }
          }
          @include breakpoint($tab) {
            transition: .3s;
            &:hover {
              background-color: palette(white, pure);
              border: solid 4px #65a43c;
              cursor: pointer;
              .field--name-field-icon{
                background-color: palette(secondary, base);
              }
            }
          }
        }
      }
    }

  }
}

//our services listing
.block--views-services-our-services{
  .view-content{
    .views-row{
      border-color: palette(neutral, haze)
    }
  }
}

.node--service--quinary-teaser{
  .field--name-field-icon{
    background: transparent;
    border: 2px solid #5d9732;
  }
  .node__title {
    a {
      color: palette(tertiary, base);
      &:hover {
        color: palette(secondary, base);
      }
    }
  }
  .field--name-body {
    .more-link{
      color: palette(primary, base);
      &:after{
        color: palette(secondary, base);
      }
      &:hover{
        color: palette(secondary, base);
      }
    }
  }
}
