.block--sprowt-settings-sprowt-social-media {
  .block__content {
    a {
      color: palette(secondary, base);
      i{
        background-color: transparent;
      }
      &:hover{
        color: palette(white, pure);
      }
    }
  }
}
