.tech-form{
  .l-main{
    margin-top:2em;
  }
  .l-breadcrumb{
    display:none;
  }
  .block--logo-block-logo{
    display:none;
  }
  .webform-privacy-policy{
    display:none;
  }
  .block--nav-mobile-utility{
    display:none;
  }
  .block--nav-utility-footer{
    display:none;
  }
  .block--nav-main{
    display:none;
  }
  .block--nav-utility{
    display:none;
  }
  .node-title{
    display:none !important;
  }
  .not-front.node-type-webform .node--webform--full .node-title{
    display:none !important;
  }
  .block--bean-utility-header-review-score{
    display:none !important;
  }
  .block--bean-google-reviews-block{
    display:none !important;
  }
  @include breakpoint($desk){
    .l-region--header-first{
      padding:0;
    }
  }
}

.node-title{
  display:none !important;
}
.not-front.node-type-webform .node--webform--full .node-title{
  display:none !important;
}