table {
	border-collapse: separate;
	border-spacing: 1px;
	border: none;
	margin: 20px 0;
}

td,
th {
	padding: 1em;
}

th {
	background-color: palette(primary, base);
	color: white;
	font-weight: bold;

}

td {
	vertical-align: top;
}

tr:nth-child(odd) {
	background-color: #f7f7f7;
}

tr:nth-child(even) {
	background-color: #eee;
}

td.table-compare-check {
	text-align: center;
	&:before {
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 18px;
		color: palette(tertiary, base);
	}
}
