%button {
  display: block;
  font: inherit;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  border: 0;
  border-radius: 4px;
  outline: 0;
  line-height: normal;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint($tab) {
    display: inline-block;
  }
}

.button {
  @extend %button;
}

@media print {
  %button {
    display: inline-block;
    padding: 0;
  }
}
