.l-footer {
	background: $color-brand-primary;
	color: white;
	border-top: 2px solid white;
	text-align: center;
	a {
		color: inherit;
	}
}

.l-region--footer-second {
	@include breakpoint($tab) {
		@include flexbox;
		justify-content: center;
		max-width: 660px + 40;
		padding: 0 20px;
		margin: 0 auto;
		.block {
			@include flexbox;
			align-items: center;
			padding: 15px 20px;
		}
		.block--views-locations-list {
			order: 1;
			justify-content: flex-start;
			padding-left: 0;
			width: percentage(170/660);
			text-align: left;
		}
		.block--logo-footer {
			order: 2;
			justify-content: center;
			border-color: white;
			border-style: solid;
			border-width: 0 2px;
			width: percentage(320/660);
			img {
				max-width: 95%;
			}
		}
		.block--sprowt-settings-sprowt-social-media {
			order: 3;
			justify-content: flex-end;
			padding-right: 0;
			width: percentage(170/660);
		}
	}
}

.l-region--footer-third {
	background: $color-brand-primary-dark;
	border-top: 2px solid white;
}
