.form-item {
  margin-top: .5em;
  label {
	  margin-bottom: .15em;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=color],
  textarea {
  	background: white;
  	border: 1px solid #ddd;
  	padding: .4em .6em .6em;
  	color: $color-body-text;
  }
	.description {
		color: #666;
		font-style: italic;
		margin-top: .5em;
	}
}

.form-actions {
	margin-top: 1.5em;
	text-align: center;
}

.form-text,
.form-textarea {
  width: 100%;
	background: white;
	border: 1px solid #ddd;
		&:focus {
		box-shadow: 0 0 5px rgba($color-brand-secondary, .25);
		border-color: $color-brand-secondary;
		outline: 0;
	}
	.l-content & {
		width: 100%;
	}
}

.form-submit {
  @extend %button;
	min-width: 220px;
}
