table {
	border-collapse: separate;
	border-spacing: 1px;
	border: none;
  width: 100% !important; // override ckeditor styles
}

td,
th {
	padding: 10px 15px;
}

th {
	font-weight: bold;
  font-family: $font-headings;
  text-transform: uppercase;
  background: $color-brand-primary;
  color: white;
}

td {
	vertical-align: top;
  background: #f4f4f4;
  font-size: 14px;
}
