.field--name-field-call-out {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(black, .35);
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    
    h2, h3, h4, h5, h6 {
        line-height: 1em;
        &:first-child {
            margin-top: 0;
        }
    }
    
    p:not(:first-child) {
        .button {
            margin-top: 10px;
        }
    }
    
    .button {
        text-decoration: none;
        &:not(:first-child){
            margin-top: 10px;
        }
        &:hover {
            text-decoration: none;
        }
    }
}