%block--testimonials-sidebar {
  $color-bg: palette(white, pure);
  $color-border: palette(neutral, wild-sand);
  $color-title: palette(black, pure);
  $color-stars: palette(primary, base);
  $color-body: palette(neutral, xanadu);

  background-color: $color-bg;
  border-color: $color-border;
  .block__title {
    color: $color-title;
  }
  .node__content {
    color: $color-body;
  }
  .fa-star {
    color: $color-stars;
  }
}

.block--testimonials-sidebar {
  @extend %block--testimonials-sidebar;
}

.block--views-testimonials-random {
  @extend %block--testimonials-sidebar;
}

// Front page testimonial

.block--views-testimonials-front,
.local-target-testimonial {
  $color-bg: palette(black, pure);
  $color-title: palette(white, base);
  $color-star: palette(primary, base);
  $color-market: palette(neutral, concrete);

  background-color: $color-bg;
  .block__content {
    color: $color-title;
  }
  .rating {
    color: $color-star;
  }
  .field--title,
  .field--name-field-market {
    font-size: 15px;
    color: $color-market;
  }
}
