.l-header {
  z-index: 100;
  margin-top: 80px;
  @include breakpoint($tab) {
    @include flexbox;
    flex-direction: column;
    margin-top: 0;
  }
}

.l-region--header-second {
  @include flexbox;
  flex-direction: column;
  @include breakpoint($tab) {
    order: -1;
  }
  @include breakpoint($nav) {
    @include container;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    order: 0;
    width: 100%;
  }
}

// if logged in remove margin top
.logged-in {
  .l-header {
    margin-top: 0;
  }
}
