.block--views-video-library-media-library .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px; }
  .block--views-video-library-media-library .view-content > * {
    -ms-flex: 0 1 auto; }
  .block--views-video-library-media-library .view-content .views-row {
    padding: 0 10px 30px;
    text-align: center; }

.block--views-video-library-media-library .view-footer {
  text-align: center;
  margin: 0 auto; }

@media (min-width: 768px) {
  .block--views-video-library-media-library .view-content .views-row {
    padding: 0 10px 50px; } }

@media (min-width: 1024px) {
  .block--views-video-library-media-library .view-content {
    -ms-flex-pack: start;
        justify-content: flex-start; } }

.node--video--teaser {
  max-width: 375px; }
  .node--video--teaser .field--name-field-video {
    border: solid 3px; }
  .node--video--teaser .field--name-field-video-title {
    padding: 5px 10px 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.1px; }
  .node--video--teaser .video-modal .play-button i {
    font-size: 42px;
    padding-bottom: 5px; }
  @media (min-width: 768px) {
    .node--video--teaser {
      max-width: 340px; }
      .node--video--teaser .field--name-field-video-title {
        padding: 10px 15px 0; } }
  @media (min-width: 1024px) {
    .node--video--teaser {
      max-width: 375px; }
      .node--video--teaser .field--name-field-video-title {
        padding: 20px 15px 0; } }

.block--views-video-library-all-videos {
  padding-top: 10px; }
  .block--views-video-library-all-videos .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 10px; }
    .block--views-video-library-all-videos .view-content > * {
      -ms-flex: 0 1 auto; }
    .block--views-video-library-all-videos .view-content .views-row {
      padding: 0 10px 30px;
      text-align: center; }
  @media (min-width: 768px) {
    .block--views-video-library-all-videos .view-content .views-row {
      padding: 0 10px 50px; } }
  @media (min-width: 1024px) {
    .block--views-video-library-all-videos .view-content {
      -ms-flex-pack: start;
          justify-content: flex-start; } }

.node--video--teaser .field--name-field-video {
  border-color: #ebebeb; }
