.node--package--full {
	.field--type-image {
		.field__item {
			+ .field__item {
				margin-top: 30px;
			}
		}
		img {
			max-width: 100%;
			@include flexbox;
			margin: auto;
		}
	}
	th {
		text-align: center;
	}
	td {
		font-size: 15px;
	}
	.pricing-table {
		tr:first-child {
			th {
				background: $color-package-table-header-1;
				font-size: 17px;
			}
		}
		tr:nth-child(2) {
			th {
				background: $color-package-table-header-2;
				font-size: 16px
			}
		}
	}
}
