.block-areas-map {
	max-width: 1170px;
	margin: 20px auto;
	padding-bottom: 65px;
	.intro {
		padding-bottom: 20px;
		max-width: 830px;
		margin: 0 auto;
		p {
			padding: 20px 0;
		}
	}
	.block__title {
		text-align: center;
		color: white;
		font-size: 47px;
		line-height: 55px;
	}
	.block__content {
		text-align: center;
		font-size: 17px;
		color: white;
		ul {
			list-style: none;
			text-align: left;
			margin: 0 -10px 10px 0;
			padding: 0;
			@include flexbox;
			flex-wrap: wrap;
			justify-content: center;
			li {
				margin: 10px 10px 0 0;
				font-size: 19px;
				color: white;
			}
			a {
				font-size: 19px;
				color: white;
				font-weight: normal;
				&:before {
					@include faicon("\f041");
					color: red;
					font-weight: normal;
					margin-right: 5px;
				}
				&:hover {
					color: $color-brand-primary-light;
				}
			}
		}
	}
	@include breakpoint($tab) {
		ul {
			justify-content: flex-start;
			margin: 0 -10px;
			li {
				width: 25%;
				margin-left: 0;
				margin-right: 0;
				padding: 0 10px;
			}
			a {
				font-size: 22px;
				font-weight: 400;
			}
		}
	}
}

.block--block-6 { // @TODO update class name
	max-width: 830px;
	margin: 0;
	@include breakpoint($tab) {
		.map-embed {
			padding-bottom: percentage(490/1170);
		}
	}
}

.map-embed {
	position: relative;
	padding-bottom: 440px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: none;
	}
}

.block--system-main { // @TODO make this more specific
	.media_embed {
		margin-bottom: 20px;
	}
}
