.block--views-affiliates-list {
	background: $color-neutral-1;
	padding: 30px 0;
	text-align: center;
	.field--name-field-image {
		margin: 0;
		vertical-align: middle;
	}
	.views-row {
		+ .views-row {
			margin-top: 20px;
		}
	}
	@include breakpoint($tab) {
		.view-content {
			@include flexbox;
			align-items: center;
			justify-content: center;
		}
		.views-row {
			width: 20%;
			margin: 0;
			+ .views-row {
				padding-left: 10px;
				margin-top: 0;
			}
		}
	}
	@include breakpoint($desk) {
		padding: 30px 20px;
		margin: auto;
		.view-content {
			max-width: 930px;
			margin: 0 auto;
		}
		.views-row {
			width: 100%;
			margin: 0 25px;
			padding: 0;
		}
	}
}
