.block--logo-block-logo {
  text-align: center;
  padding-top: 10px;
  @include breakpoint($tab) {
    text-align: left;
    float: left;
    max-width: 50%;
  }
  @include breakpoint($nav) {
    max-width: 100%;
  }
}
