.block--sprowt-settings-sprowt-social-media {
  margin-top: 5px;
  .block__content {
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      @include flexbox;
      justify-content: center;
    }
    li + li {
      margin-left: 12px;
    }
  }
  .fa {
    @include flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $color-brand-primary;
    font-size: 27px;
    width: 47px;
    height: 47px;
    color: white;
  }
  .social-description {
    display: none;
  }
  @include breakpoint($tab) {
    @include flexbox;
    align-items: center;
    justify-content: flex-end;
    float: right;
    width: percentage(200/870);
    margin-top: 0;
  }
}
