// Front page testimnonial
.block--views-testimonials-front {
  @include container;
  max-width: 830px;
  text-align: center;
  color: white;
  .field--name-body {
    font-size: 24px;
    line-height: (33/24);
    p {
      margin: 10px 0;
    }
  }
  .field--title,
  .field--name-field-market {
    display: inline-block;
    font-style: italic;
  }
  .field--title {
    &:after {
      content: ", ";
    }
  }
}

// Local Target
.block--sprowt-views-sprowt-views-testimonials {
  @extend .block--views-testimonials-front;
}

// Sidebar
.block--views-testimonials-random {
  border-radius: 20px;
  background: $color-brand-primary;
  margin: 20px 20px 40px;
  color: white;
  text-align: center;
  position: relative;
  &:after {
    transform: rotate(-45deg);
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    border: (64px/2) solid transparent;
    border-bottom: (64px/2) solid $color-brand-primary;
    position: absolute;
    right: 55px;
    bottom: (-64px/2);
  }
  &.block.block--views {
    padding: 30px 0;
  }
  h2.block__title {
    font-size: 20px;
    text-align: center;
    color: inherit;
    margin-bottom: 10px;
  }
  .field--name-body {
    font-style: italic;
    font-size: 16px;
    line-height: (21/16);
    text-align: left;
    padding: 10px 20px 15px;
  }
  .field--title,
  .field--name-field-market {
    font-size: 13px;
    padding: 0 20px;
    text-align: left;
  }
}

// Main list
.block--views-testimonials-list {
  color: $color-brand-primary;
  text-align: center;
  margin: 30px 0;
  .views-row + .views-row {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  .field--name-body {
    padding: 10px 0;
    color: #333;
  }
  .field--name-field-market {
    font-style: italic;
  }
}
