.not-front.node-type-issue{
  .node--issue--full{
    .node-title{
      // background-color: palette(neutral, gallery);
      // background: -webkit-linear-gradient(118deg, palette(neutral, gallery) 55%, palette(neutral, mercury) 55%) repeat scroll 0 0;
      // background: -moz-linear-gradient(118deg, palette(neutral, gallery) 55%, palette(neutral, mercury) 55%) repeat scroll 0 0;
      // background: linear-gradient(118deg, palette(neutral, gallery) 55%, palette(neutral, mercury) 55%) repeat scroll 0 0;
      .node__title{
        color: palette(primary, base);
      }
    }
    h1{
      color: palette(black, base);
    }
    h2{
      color: palette(black, base);
    }
    h3, .field--name-field-subtitle{
      color: palette(black, base);
    }
    .field--name-body{
      h2{
        color: palette(black, base);
      }
    }
    .body-content{
      .field--name-body{
        p{
          color: palette(black, base);
        }
      }
    }
    .identifications{
      .field--name-field-identification-title{
        background: palette(secondary, base);
        .field__item{
          color: palette(white, pure);
        }
      }
      .field-collection-container{
        .entity-field-collection-item{
          >.content{
            .field--name-field-indentification-label{
              color: palette(black, base);
              background-color: palette(neutral, mercury);
            }
            .field--name-field-identification-description{
              color: palette(black, base);
              background-color: palette(neutral, gallery);
            }
          }
        }
      }
    }
  }
}
