// Contact Form

.page-node-5 {
	.webform-client-form-5 > div {
		input {
			height: 45px;
		}
		.webform-component-radios {
			.form-type-radio {
				display: inline;
				margin-right: 20px;
			}
		}
		@include breakpoint($tab) {
			//.webform-client-form-171 > div {
				@include container;
				padding-left: 0;
				padding-right: 0;
				.webform-component {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(6),
					&:nth-child(7) {
						@include span(4 of 8);
					}
					&:nth-child(2),
					&:nth-child(4),
					&:nth-child(7) {
						@include omega;
					}
					&:nth-child(5),
					&:nth-child(8) {
						clear: both;
					}
				}
			//}
		}
	}
}

// Get an estimate form


.page-node-6 {
	.webform-client-form-6 > div {
		input {
			height: 45px;
		}
		@include breakpoint($tab) {
			//.webform-client-form-171 > div {
				@include container;
				padding-left: 0;
				padding-right: 0;
				.webform-component {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(6),
					&:nth-child(7) {
						@include span(4 of 8);
					}
					&:nth-child(2),
					&:nth-child(4),
					&:nth-child(7) {
						@include omega;
					}
					&:nth-child(5),
					&:nth-child(8) {
						clear: both;
					}
				}
			//}
		}
	}
}

// Refer a friend form

.page-node-10 {
	.webform-client-form-10 > div {
		input {
			height: 45px;
		}
		@include breakpoint($tab) {
			//.webform-client-form-171 > div {
				@include container;
				padding-left: 0;
				padding-right: 0;
				.webform-component {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(6),
					&:nth-child(7) {
						@include span(4 of 8);
					}
					&:nth-child(2),
					&:nth-child(4),
					&:nth-child(7) {
						@include omega;
					}
					&:nth-child(5),
					&:nth-child(8) {
						clear: both;
					}
				}
			//}
		}
	}
}
