// order colors within palettes from lightest to darkest
// use [name that color](http://chir.ag/projects/name-that-color/) for the neutral palette

$palettes: (
  primary: ( // light green
    base: #008349,
    light: #c5f48e,
  ),
  secondary: ( // orange
    base: #ff9600,
  ),
  tertiary: ( // dark green
    base: #00522e,
    darker-base: #003b21,
  ),
  quaternary: ( // red-orange
    base: #f26222,
    dark: #d72220,
  ),
  white: (
    pure: #fff,
    base: #eee,
  ),
  black: (
    base: #333,
    pure: #000,
    light: #f4f4f4,
    medium: #e6e6e6,
    dark: #434343,
  ),
  neutral: (
    dove-gray: #717171,
    white-smoke: #f6f6f6,
    mercury: #e4e4e4,
    mine-shaft: #333333,
    desert-storm: #e8e8e7,
    silver-chalice: #a0a0a0,
  ),
);

@function palette($palette, $tone: base) {
  @return map-get(map-get($palettes, $palette), $tone);
}
